@import "../core";

.menu-list {
    --pd: 1.8rem;

    display: flex;
    margin-left: calc(var(--pd) * -1);
    margin-right: calc(var(--pd) * -1);
    height: 100%;



    @include max(1400px) {
        --pd: 1.6rem;

    }

    @include max(1300px) {
        --pd: 1.4rem;

    }

    .menu-item {
        height: 100%;
        position: relative;




        // &-svg {
        // 	position: absolute;
        // 	top: 55%;
        // 	left: 50%;
        // 	transform: translate(-50%, -50%);
        // 	width: 105%;
        // 	height: 100%;

        // 	svg {
        // 		width: 100%;
        // 		height: 100%;
        // 		object-fit: cover;
        // 		stroke-dasharray: 1000;
        // 		/* Set a large enough value */
        // 		stroke-dashoffset: 1000;
        // 		transition: 1s linear;
        // 	}
        // }

       


        &.current-menu-item {

            // &::before {
            // 	clip-path: circle(100% at 50% 50%);
            // }

            .menu-link {
                color: $color-second;
                font-weight: 700;
                // &::before {
                // 	width: calc(100% - (var(--pd) * 2));

                // }
            }
        }



        @include hover {

            .menu-item-svg {
                svg {
                    stroke-dashoffset: 0;
                }
            }

            .menu-link {
                color: $color-second;
                // &::before {
                // 	width: calc(100% - (var(--pd) * 2));

                // }
            }

            &::before {
                clip-path: circle(100% at 50% 50%);
            }

        }

        &.dropdown {
            @include hover {
                &>.menu-list {
                    transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: visible;
                }

                &>.menu-mega {
                    transform: translate(-50%, 0%);
                    opacity: 1;
                    pointer-events: visible;
                    visibility: visible;
                }
            }

            &>.menu-list {
                position: absolute;
                top: calc(100% + 0.1rem);
                left: var(--pd);
                min-width: 18rem;
                flex-direction: column;
                background: $color-white;
                box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
                margin: unset;
                height: unset;
                transition: 0.3s linear;
                transform: translateY(10%);
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                border-radius: var(--radius04);
                // max-height: 20vh;
                // overflow-y: auto;

                &::before {
                    content: "";
                    width: 100%;
                    height: 4rem;
                    position: absolute;
                    background: transparent;
                    top: -2rem;
                    left: 0;
                }

                .menu-item {

                    &::before {
                        display: none !important;
                    }

                    &.current-menu-item {
                        .menu-link {
                            // background: $color-pri;
                            color: $color-second !important;
                        }
                    }

                    @include hover {
                        &>.menu-link {
                            // background: $color-pri;
                            color: $color-second !important;
                        }
                    }

                    &.dropdown {
                        @include hover {
                            &>.menu-list {
                                transform: translateX(0%) translateY(0);
                            }
                        }

                        &>.menu-list {
                            position: absolute;
                            top: 0;
                            left: calc(100% + 0.1rem);
                            min-width: 18rem;
                            flex-direction: column;
                            background: $color-white;
                            box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
                            margin: unset;
                            height: unset;
                            transform: translateX(5%) translateY(0);

                            .menu-item {
                                &::before {
                                    display: none !important;
                                }

                                &.current-menu-item {
                                    .menu-link {
                                        background: $color-pri;
                                        color: $color-white !important;
                                    }
                                }

                                @include hover {
                                    &>.menu-link {
                                        // background: $color-pri;
                                        color: $color-second !important;
                                    }
                                }

                                &:not(:last-child) {
                                    border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
                                }

                                .menu-link {
                                    padding: 1rem 0.8rem;
                                    color: $color-text;

                                    &::before {
                                        display: none;
                                    }


                                }

                                &.dropdown {
                                    @include hover {
                                        &>.menu-list {
                                            transform: translateX(0%) translateY(0);
                                        }
                                    }

                                    &>.menu-list {
                                        position: absolute;
                                        top: 0;
                                        left: calc(100% + 0.1rem);
                                        min-width: 18rem;
                                        flex-direction: column;
                                        background: $color-white;
                                        box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
                                        margin: unset;
                                        height: unset;
                                        transform: translateX(5%) translateY(0);

                                        .menu-item {
                                            &::before {
                                                display: none !important;
                                            }

                                            &.current-menu-item {
                                                .menu-link {
                                                    // background: $color-pri;
                                                    color: $color-second !important;
                                                }
                                            }

                                            @include hover {
                                                .menu-link {
                                                    // background: $color-pri;
                                                    color: $color-second !important;

                                                }
                                            }

                                            &:not(:last-child) {
                                                border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
                                            }

                                            .menu-link {
                                                padding: 1rem 0.8rem;
                                                color: $color-text;

                                                &::before {
                                                    display: none;
                                                }


                                            }

                                            &.dropdown {}
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
                    }

                    .menu-link {
                        padding: 1rem 0.8rem;
                        color: $color-text;
                        width: 100%;
                        justify-content: space-between;

                        &::before {
                            display: none;
                        }

                        @include hover {
                            color: $color-pri;
                        }
                    }
                }
            }


        }

        .menu-link {
            height: 100%;
            display: flex;
            align-items: center;
            column-gap: 0.4rem;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            padding-left: var(--pd);
            padding-right: var(--pd);
            text-transform: uppercase;
            color: $color-white;
            @include fz-16;
            position: relative;
            font-weight: 500;
            transition: 0.3s linear;
            white-space: nowrap;

            // @include hover {
            // 	&::before {
            // 		transform: translateX(-50%) scale(1);

            // 	}
            // }

            &::before {
                display: none;

            }
        }
    }
}

.menu-ic {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0.25rem;

    @include max(1200px) {
        width: 2.4rem;
        height: 2.4rem;
        margin-top: 0;
    }

    i {
        @include fz-14;

        @include max(1200px) {
            transition: 0.2s linear;

        }
    }

    &.actived {
        i {
            transform: rotate(-180deg);
        }
    }

}


.menu_mb {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 38rem;
    height: 100dvh;
    box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
    background: $color-white;
    z-index: 3001;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.8s ease;
    // display: none;

    @include max(600px){
        max-width: unset;
        width: 100%;
    }

    // @include max(1200px) {
    //     display: block;
    // }

    &.showed {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transform: translateX(0);

        &~.menu_mb--modal {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }

    }

    @include max(800px) {
        width: 50%;
    }

    @include max(600px) {
        width: 70%;
    }

    @include max(460px) {
        width: 100%;
    }

    &--top {

    }

    &--logo {
        max-width: 20rem;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--columnContent24);


        img {
            width: 100%;
            height: 100% !important;
            object-fit: contain;
            filter: brightness(0) saturate(100%) invert(20%) sepia(42%) saturate(1503%) hue-rotate(116deg) brightness(89%) contrast(107%);
        }
    }

    &--ex {
        position: absolute;
        top: var(--rowContent2);
        right: var(--rowContent2);
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;

        @include hover {
            i {
                color: $color-pri
            }
        }

        i {
            @include fz-24;
            color: $color-text;
            transition: 0.3s linear;
        }

    }

    &--wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    &--nav {
        height: 100%;
        .menu-list {
            padding: var(--rowContent16) var(--columnContent24);
            display: flex;
            flex-direction: column;
            margin: 0;
            // max-height: 80vh;
            overflow-y: auto;
            height: unset;
            row-gap: var(--rowContent16);

            &::-webkit-scrollbar {
                width: 0.3rem;
            }

            .menu-item {
                height: unset;
                display: flex;
                flex-direction: column;
                border-bottom: unset !important;


                &::before {
                    display: none !important;
                }

                // &:not(:last-child) {
                //     border-bottom: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
                // }

                &.current-menu-item {
                    .menu-link {
                        background: $color-gray;

                        &::before {
                            display: none;
                        }

                        color: $color-pri;
                    }
                }

                .menu-link {
                    color: $color-text2 !important;
                    padding: 1rem;
                    width: 100%;
                    justify-content: space-between;
                    font-weight: 500;
                    @include fz-16;
                    display: flex;
                    align-items: center;
                    transition: 0.3s linear;

                    @include hover {
                        background: $color-gray !important;
                        color: $color-pri !important;
                    }
                }

                .menu-ic {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // right: 1.2rem;
                    i {
                        @include fz-14;
                    }
                }

                &.dropdown>.menu-list {
                    height: unset;
                    min-width: unset;
                    transform: unset;
                    opacity: 1;
                    pointer-events: visible;
                    visibility: visible;
                    // padding-left: 2.4rem;
                    background: unset;
                    box-shadow: unset;
                    position: relative;
                    left: unset;
                    top: unset;
                    transform: unset;
                    transition: unset;
                    // margin-bottom: 1rem;
                    display: none;
                    padding: 0 2.4rem;
                    // &::before {
                    //     content: "";
                    //     width: 0.1rem;
                    //     height: 100%;
                    //     position: absolute;
                    //     left: 1.2rem;
                    //     background: rgba($color: #000000, $alpha: 0.1);
                    // }

                    .menu-item {
                        height: unset;

                        &::before {
                            display: none !important;
                        }


                        &.current-menu-item {
                            .menu-link {
                                background: $color-gray !important;
                                color: $color-pri !important;
                            }
                        }

                        .menu-link {
                            color: $color-text2 !important;
                            padding: 0.8rem;
                            @include fz-14;
                            height: unset;


                            @include hover {
                                color: $color-pri !important;
                                background: $color-gray !important;

                            }

                        }

                        &.dropdown {
                            &.dropdown>.menu-list {
                                height: unset;
                                min-width: unset;
                                transform: unset;
                                opacity: 1;
                                pointer-events: visible;
                                visibility: visible;
                                padding: 0rem 1.6rem;
                                background: unset;
                                box-shadow: unset;
                                position: relative;
                                left: unset;
                                top: unset;
                                transform: unset;
                                transition: unset;
                                // margin-bottom: 1rem;
                                display: none;

                                // &::before {
                                //     content: "";
                                //     width: 0.1rem;
                                //     height: 100%;
                                //     position: absolute;
                                //     left: 0rem;
                                //     background: rgba($color: #000000, $alpha: 0.1);
                                // }

                                .menu-item {
                                    height: unset;

                                    // &::before {
                                    //     display: none !important;
                                    // }

                                    &.current-menu-item {
                                        .menu-link {
                                            background: $color-gray !important;
                                            color: $color-pri !important;
                                        }
                                    }

                                    .menu-link {
                                        color: $color-black;
                                        font-weight: 400;
                                        padding: 0.6rem;
                                        @include fz-14;
                                        height: unset;

                                        @include hover {
                                            color: $color-pri !important;
                                        }

                                    }

                                    &.dropdown {
                                        &.dropdown>.menu-list {
                                            height: unset;
                                            min-width: unset;
                                            transform: unset;
                                            opacity: 1;
                                            pointer-events: visible;
                                            visibility: visible;
                                            padding-left: 1rem;
                                            background: unset;
                                            box-shadow: unset;
                                            position: relative;
                                            left: unset;
                                            top: unset;
                                            transform: unset;
                                            transition: unset;
                                            // margin-bottom: 1rem;
                                            display: none;

                                            // &::before {
                                            //     content: "";
                                            //     width: 0.1rem;
                                            //     height: 100%;
                                            //     position: absolute;
                                            //     left: 0rem;
                                            //     background: rgba($color: #000000, $alpha: 0.1);
                                            // }


                                            .menu-item {
                                                height: unset;

                                                &::before {
                                                    display: none !important;
                                                }

                                                &.current-menu-item {
                                                    .menu-link {
                                                        background: $color-gray !important;
                                                        color: $color-pri !important;
                                                    }
                                                }

                                                .menu-link {
                                                    color: $color-text2;
                                                    font-weight: 400;
                                                    padding: 0.6rem 0;
                                                    @include fz-14;
                                                    height: unset;

                                                    @include hover {
                                                        background: $color-gray !important;
                                                        color: $color-pri !important;
                                                    }

                                                }

                                                &.dropdown {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--btn {
        .btn {
            width: 100%;
            border-radius: 0;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            padding: 0 1.2rem;
        }
    }

    &--info {

        &-title {
            display: flex;
            flex-direction: column;
            // row-gap: var(--rowContent0);

            .note-md {
                @include fz-24;
            }
        }


        &-item {
            padding: var(--columnContent24);
            display: flex;
            flex-direction: column;
            row-gap: var(--rowContent12);
            border-top: 0.1rem solid rgba($color: #000000, $alpha: 0.1);

            &:last-child{
                padding: unset;
                border: unset;
            }

            .btn{
                width: 100%;
                display: none;

                @include max(600px){
                    display: block;
                }
            }
        }

        

        .address_item--content {
            justify-content: start;
            flex-wrap: nowrap;

           

           
        }
    }

    &--modal {
        position: fixed;
        background: rgba($color: #000000, $alpha: 0.6);
        top: 0;
        left: 0;
        z-index: 3000;
        height: 100%;
        width: 100%;
        transition: 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .social_img {
        background: $color-pri;

        @include hover {
            background: $color-black;

            img{
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(183deg) brightness(111%) contrast(101%);
            }

        }

        // box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.5);
    }

    .address_list {
        row-gap: var(--rowContent12);

    }

    .address_item {
        .note-md{
            color: $color-text;
            font-weight: 700;
        }
        &--content {
            .note-sm {
                @include fz-16;
            }
        }
    }

    .address_link {
        @include fz-16;
        color: $color-text;

    }
}

.social {
    &_list {
        display: flex;
        column-gap: var(--columnContent16);
    }

    &_item {}

    &_link {}

    &_img {
        width: 4rem;
        height: 4rem;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        background: $color-second;

        transition: 0.3s linear;



        @include max(1200px) {
            width: 3.6rem;
            height: 3.6rem;
        }

        @include max(800px) {
            width: 3.2rem;
            height: 3.2rem;
        }

        @include max(600px) {
            width: 2.8rem;
            height: 2.68rem;
        }

        @include hover {

            background: $color-white;

            img{
                filter: brightness(0) saturate(100%)
            }

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s linear;

            filter: brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(0%) hue-rotate(198deg) brightness(102%) contrast(101%);
        }
    }
}

.address {
    &_list {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent16);
    }

    &_item {
        // display: flex;
        // flex-direction: column;
        // row-gap: 0.4rem;
        display: inline;

        .note-md{
            @include fz-14;
            display: inline;
            color: $color-white;
            font-weight: 400;
        }

        &--content {
            display: flex;
            // align-items: start;
            column-gap: 0.4rem;
            // flex-wrap: wrap;
            // justify-content: center;
            // .note-text {
            // 	color: $color-white;
            // 	white-space: nowrap;
            // 	font-weight: 500;
            // 	position: relative;
            // 	// top: -0.2rem;
            // 	display: block;
            // 	flex-shrink: 0;
            // 	@include fz-16;

            // 	@include max(600px) {
            // 		top: 0;
            // 	}


            // }

            display: inline;

            @include hover {
                .address_link {
                    color: $color-white;
                }

                .address_item--ic {
                    // img {
                    //     filter: brightness(0) saturate(100%) invert(34%) sepia(33%) saturate(2780%) hue-rotate(342deg) brightness(99%) contrast(97%);
                    // }
                }
            }

            .note-sm {
                display: inline;
                flex-shrink: 0;
                white-space: nowrap;
                color: $color-text;

                @include max(600px) {
                    font-size: 1.2rem;
                }
            }

            .address_link{
                &:not(:first-child){
                    padding-left: 1.1rem;
                    position: relative;

                    &::before{
                        content: "-";
                        position: absolute;
                        top: 45%;
                        transform: translateY(-50%);
                        left: 0;
                        color: $color-white;
                    }
                }
            }
        }


        &--ic {
            width: 1.6rem;
            height: 1.6rem;
            margin-top: 0.5rem;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            // @include max(1200px) {
            //     width: 4rem;
            //     height: 4rem;
            // }

            // @include max(800px){
            // 	width: 3.6rem;
            // 	height: 3.6rem;
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }

    &_link {
        @include fz-14;
        color: $color-gray;
        font-weight: 400;
        display: inline !important;

        &.map {
            color: #2759D4;
            text-decoration: underline;
        }

        @include hover {
            color: $color-second !important;
            // text-decoration: underline;
            // text-underline-position: under;
        }


    }

    a {
        transition: unset !important;

        @include hover {
            color: $color-second !important;
            // text-decoration: underline;
            // text-underline-position: under;
        }
    }
}

.menu-mega {
    position: fixed;
    top: var(--size-hd);
    left: 50%;
    // transform: translateX(-50%);
    // max-width: 121.6rem;
    max-width: 156rem;
    width: 100%;
    padding: 4rem;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
    z-index: 1000;
    background: $color-white;
    border-bottom-left-radius: var(--radius20);
    border-bottom-right-radius: var(--radius20);
    overflow: hidden;
    transform: translate(-50%, 5%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s linear;
    min-height: 65svh;

    @include max(1600px) {
        max-width: 140rem;
    }

    @include max(1440px) {
        max-width: 95%;
    }

    &-modal {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - var(--size-hd));
        background: rgba($color: #000000, $alpha: 0.5);
        pointer-events: none;
        z-index: -2;
    }

    &-wrap {}

    &-lf {
        width: 25%;

        &-wrap {
            border-right: 0.1rem solid #E2E8F0;
            height: 100%;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: var(--rowContent8);
            max-height: 65svh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        &-item {
            &-wrap {
                display: flex;
                flex-direction: column;
                row-gap: var(--rowContent16);
            }

            &-list {
                display: flex;
                flex-direction: column;
                row-gap: var(--rowContent16);

            }

            &-item {
                &.actived {
                    .menu-mega-lf-item-link {
                        color: $color-pri
                    }
                }

            }

            &-link {
                @include fz-16;
                color: $color-text2;
                width: 100%;
                display: block;
            }
        }

        &-wrap {}
    }

    &-rt {
        width: 100%;
        flex: 1;

        &-list {
            padding-right: 1rem;
            max-height: 65svh;
            overflow-y: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 0.5rem;
                border-radius: 5rem;

                overflow: hidden;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5rem;
                overflow: hidden;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5rem;

                overflow: hidden;

            }

        }

        &-item {
            display: none;

            @keyframes anHienMenuMega {
                0% {
                    transform: translateY(1%);
                    opacity: 0;
                }

                50% {
                    transform: translateY(0.5%);
                    opacity: 0.5;
                }

                100% {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }

            &.showed {
                display: block;
                opacity: 0;
                transform: translateY(1%);
                animation: anHienMenuMega 0.4s linear 0.2s forwards;
            }

            &-list {
                row-gap: var(--rowContent24);

                &.d-wrap {
                    margin-left: -1.2rem;
                    margin-right: -1.2rem;


                }
            }

            &-item {
                &.d-item {
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                }

                .tour_content {
                    display: none;
                }


                .tour_btn {

                    .btn {
                        @include hover {
                            background: $color-pri;
                        }

                    }
                }

            }


        }

    }
}