extends layout/layout
block vars
    -title = 'Giá trị'
    -mainClass = ''
    -bodyClass = ''
    -hdClass = ''

block container
    .banner_main
        .banner_main--bg
            .banner_main--img
                +img("bngt.png")
            .banner_main--tt
                span.line-tt
                span.line-tt
                span.line-tt
                span.line-tt
        .container
            .banner_main--wrap
                .banner_main--box
                    .banner_main--box-top
                        .banner_main--logo
                            +img("logoBn.svg")
                        p.note-banner Chào Mừng Bạn Đến Với Regiis Suites
                        h1.title-lg.cl-white.fl-sec.t-center.t-up GIÁ TRỊ
                    .banner_main--box-bottom
                        +breadcrumbs("Home","","GIÁ TRỊ")
    section.valueAb
        .valueAb_wrap
            .valueAb_list
                .valueAb_item.ani
                    .container
                        .valueAb_item--wrap
                            .valueAb_item--lf
                                .valueAb_item--lf-wrap
                                    .box-title2
                                        .box-title2-box
                                            .box-title2-ic
                                                +img("ictl.svg")
                                            p.note-sm.cl-pri.t-up giá trị độc tôn
                                        h2.title-md.cl-black.fl-sec.t-up 
                                            |Nơi tinh hoa 
                                            br
                                            |hội tụ
                                        p.note-text.cl-second REGIIS – Legend Suites là thương hiệu tiên phong và số một về dịch vụ quản lý và khai thác căn hộ dịch vụ hạng sang tại Việt Nam. Chúng tôi cam kết mang đến cho quý khách trải nghiệm sống thượng lưu, đẳng cấp và riêng biệt
                            .valueAb_item--rt
                                .valueAb_item--rt-wrap
                                    .valueAb_item--img
                                        +img("v1.png")
                .valueAb_item.ani
                    .container
                        .valueAb_item--wrap
                            .valueAb_item--lf
                                .valueAb_item--lf-wrap
                                    .box-title2
                                        .box-title2-box
                                            .box-title2-ic
                                                +img("ictl.svg")
                                            p.note-sm.cl-pri.t-up giá trị độc tôn
                                        h2.title-md.cl-black.fl-sec.t-up 
                                            |Bản giao hưởng 
                                            br
                                            |Kiến trúc
                                        p.note-text.cl-second REGIIS – Legend Suites là thương hiệu tiên phong và số một về dịch vụ quản lý và khai thác căn hộ dịch vụ hạng sang tại Việt Nam. Chúng tôi cam kết mang đến cho quý khách trải nghiệm sống thượng lưu, đẳng cấp và riêng biệt
                            .valueAb_item--rt
                                .valueAb_item--rt-wrap
                                    .valueAb_item--img
                                        +img("v2.png")
                .valueAb_item.ani
                    .container
                        .valueAb_item--wrap
                            .valueAb_item--lf
                                .valueAb_item--lf-wrap
                                    .box-title2
                                        .box-title2-box
                                            .box-title2-ic
                                                +img("ictl.svg")
                                            p.note-sm.cl-pri.t-up giá trị độc tôn
                                        h2.title-md.cl-black.fl-sec.t-up 
                                            |Trải nghiệm  
                                            br
                                            |Đẳng cấp
                                        p.note-text.cl-second REGIIS – Legend Suites là thương hiệu tiên phong và số một về dịch vụ quản lý và khai thác căn hộ dịch vụ hạng sang tại Việt Nam. Chúng tôi cam kết mang đến cho quý khách trải nghiệm sống thượng lưu, đẳng cấp và riêng biệt
                            .valueAb_item--rt
                                .valueAb_item--rt-wrap
                                    .valueAb_item--img
                                        +img("v3.png")
                .valueAb_item.ani
                    .container
                        .valueAb_item--wrap
                            .valueAb_item--lf
                                .valueAb_item--lf-wrap
                                    .box-title2
                                        .box-title2-box
                                            .box-title2-ic
                                                +img("ictl.svg")
                                            p.note-sm.cl-pri.t-up giá trị độc tôn
                                        h2.title-md.cl-black.fl-sec.t-up 
                                            |Dịch vụ
                                            br
                                            |Hoàng gia
                                        p.note-text.cl-second REGIIS – Legend Suites là thương hiệu tiên phong và số một về dịch vụ quản lý và khai thác căn hộ dịch vụ hạng sang tại Việt Nam. Chúng tôi cam kết mang đến cho quý khách trải nghiệm sống thượng lưu, đẳng cấp và riêng biệt
                            .valueAb_item--rt
                                .valueAb_item--rt-wrap
                                    .valueAb_item--img
                                        +img("v4.png")
                .valueAb_item.ani
                    .container
                        .valueAb_item--wrap
                            .valueAb_item--lf
                                .valueAb_item--lf-wrap
                                    .box-title2
                                        .box-title2-box
                                            .box-title2-ic
                                                +img("ictl.svg")
                                            p.note-sm.cl-pri.t-up giá trị độc tôn
                                        h2.title-md.cl-black.fl-sec.t-up 
                                            |Thiết kế
                                            br
                                            |Nội thất thông minh
                                        p.note-text.cl-second REGIIS – Legend Suites là thương hiệu tiên phong và số một về dịch vụ quản lý và khai thác căn hộ dịch vụ hạng sang tại Việt Nam. Chúng tôi cam kết mang đến cho quý khách trải nghiệm sống thượng lưu, đẳng cấp và riêng biệt
                            .valueAb_item--rt
                                .valueAb_item--rt-wrap
                                    .valueAb_item--img
                                        +img("v5.png")