<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>about</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-content"> 
          <div class="container">
            <div class="header-content-wrap">
              <div class="header-content-lf">
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div><a class="header-logo" href=""><span class="header-logo-img-1"><img src="./assets/images/logoHD.svg" alt=""/></span><span class="header-logo-img-2"><img src="./assets/images/logoHD.svg" alt=""/></span></a>
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item dropdown current-menu-item"><a class="menu-link" href="">sản phẩm</a>
                      <div class="mega-menu"> 
                        <div class="container">
                          <div class="mega-menu-wrap">
                            <div class="mega-menu-list"> 
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 1/2</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 3/4</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM FULLFACE</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Giới thiệu</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Trợ giúp</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-content-rt">
                <div class="header-box">
                  <div class="header-box-item btn-search">
                    <div class="header-ic search"><img src="./assets/images/search.svg" alt=""/>
                    </div>
                  </div>
                  <div class="header-box-item user">
                    <div class="header-ic"> <img src="./assets/images/user.svg" alt=""/>
                    </div>
                    <div class="header-ic-img"> <img src="./assets/images/at3.png" alt=""/>
                    </div>
                    <div class="header-user"> 
                      <ul class="header-user-list no-login"> 
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng nhập</a></li>
                      </ul>
                      <ul class="header-user-list login">
                        <li class="header-user-item"> <a class="header-user-link" href="">Thông tin tài khoản</a></li>
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng xuất</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header-box-item cart btn-cart">
                    <div class="header-ic"><span class="sl">0</span><img src="./assets/images/shopping.svg" alt=""/>
                    </div>
                    <div class="header-cart">
                      <ul class="header-cart-list"> 
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">350.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm thể thao</p>
                                <p class="note-text fw-7">Falcon F05</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">380.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm 1/2</p>
                                <p class="note-text fw-7">Falcon City</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                      </ul>
                      <div class="header-cart-total"> 
                        <div class="header-cart-total-box"> 
                          <p class="note-sm cl-pri fw-7 t-up">730.000VND</p>
                          <p class="note-sm cl-pri fw-7 t-up">TỔNG CỘNG</p>
                        </div><a class="note-mn cl-text t-center" href="">Thanh toán </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-search">
      <div class="container">
        <div class="header-search-wrap">
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times"></i></span>
        </div>
        <div class="result-search">
          <div class="result-search-wrap"> 
            <ul class="result-search-list d-wrap">
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-search"></div>
    <div class="cartBox">
      <div class="cartBox_wrap">
        <div class="cartBox_ex"> <i class="fas fa-times"></i></div>
        <div class="cartBox_box">
          <div class="cartBox_top"> 
            <p class="title-sm3 cl-text fw-9 fl-sec t-up t-center">GIỎ HÀNG</p>
          </div>
          <div class="cartBox_center"> 
            <div class="cartBox_list">
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black" selected>Đen bóng</option>
                          <option value="red">Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s" selected>Size S</option>
                          <option value="m">Size M</option>
                          <option value="l">Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black">Đen bóng</option>
                          <option value="red" selected>Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s">Size S</option>
                          <option value="m">Size M</option>
                          <option value="l" selected>Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cartBox_bottom"> 
          <div class="cartBox_total"> 
            <div class="cartBox_total--wrap"> 
              <p class="note-md cl-text fw-8">Tổng tiền </p>
              <p class="note-md cl-pri fw-8">730.000 VND</p>
            </div>
            <p class="note-sm cl-text3">*Chưa bao gồm phí vận chuyển</p>
          </div><a class="btn cl-3" href=""><span class="btn-text">THANH TOÁN</span></a>
        </div>
      </div>
    </div>
    <div class="cartBox_modal"></div>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SẢN PHẨM</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">GIỚI THIỆU</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">TRỢ GIÚP</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <div class="menu-lh-title t-up">ĐỊA CHỈ LIÊN HỆ</div>
            <div class="note-title cl-prit-up">CÔNG TY TNHH QUỐC TẾ FALCON VIỆT NAM</div>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   79/71/15 Đường Số 4, Bình Hưng Hoà, Bình Tân, Thành phố Hồ Chí Minh              </a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Falconhelmets@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/Phone.svg" alt=""/></span><a class="link-address" href="">
                   0945 555 017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <div class="result-search-mb rs-mb"> 
      <div class="result-search-mb-wrap"> 
        <div class="result-search-mb-box"> 
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="result-search-mb-view">       
          <ul class="result-search-mb-list d-wrap">
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></div>
          </ul>
        </div>
      </div>
    </div>
    <div class="result-mobi-modal"></div>
    <main class="main">
      <section class="about_banner">
        <div class="about_banner--bg"> <img src="./assets/images/abbgf.png" alt=""/>
        </div>
        <div class="container"> 
          <div class="about_banner--wrap"> 
            <div class="about_banner--content" data-aos="fade-right"> 
              <h1 class="title-sm3 fw-9 cl-white t-up fl-sec">FALCON - NÓN BẢO HIỂM CHO HÀNH TRÌNH AN TOÀN.</h1>
              <p class="note-text cl-white">Falcon Helmets, thương hiệu nón bảo hiểm ra đời với sứ mệnh và mục tiêu bảo vệ người dùng Việt. Với Falcon, chúng tôi luôn mong muốn cho người dùng những trải nghiệm mới mẻ về nón bảo hiểm.</p>
              <p class="note-text cl-white">Biểu tượng của Falcon Helmets được lấy cảm hứng từ hình ảnh của những chú chim ưng dũng mãnh, thể hiện một tinh thần mạnh mẽ, tự do và luôn khát khao chinh phục mọi thử thách. Bên cạnh đó, sự kết hợp của màu đỏ nhiệt huyết, sống hết mình với đam mê đã gợi lên sức sống năng động của thương hiệu. Chúng tôi luôn là người đồng hành với những chuyến phiêu lưu và hành trình của bạn. </p><strong class="fw-7 cl-pri">Vậy chúng tôi có những tố chất gì để có thể là người bạn đồng hành đáng tin cậy?</strong>
            </div>
          </div>
        </div>
      </section>
      <section class="about"> 
        <div class="container"> 
          <div class="about_wrap"> 
            <div class="about_list">
              <div class="about_item item-ani"> 
                <div class="about_item--wrap d-wrap"> 
                  <div class="about_item--lf d-item d-2">
                    <div class="about_item--lf-wrap"> 
                      <div class="about_item--img"> <img src="./assets/images/abct1.png" alt=""/>
                      </div>
                    </div>
                  </div>
                  <div class="about_item--rt d-item d-2">
                    <div class="about_item--rt-wrap">
                      <div class="about_item--content"> 
                        <h2 class="title-sm cl-text fw-7 fl-sec t-up">TÍNH NĂNG ƯU VIỆT TẠO NÊN NHỮNG  TRẢI NGHIỆM MỚI MẺ</h2>
                        <p class="note-text">Nhằm mang dến những trải nghiệm mới mẻ cho người dùng nón bảo hiểm, Falcon nghiên cứu và tích hợp những tính năng hữu ích, thân thiện và tiện lợi.</p>
                        <ul> 
                          <li>Vượt trội hơn so với những chiếc nón bảo hiểm thông thường, Falcon được trang bị hệ thống tăng chỉnh kích thước hiện đại. Nút xoay 360 độ dễ dàng thao tác, chỉ cần vặn nhẹ sang trái hoặc phải bạn đã có thể điều chỉnh sao cho nón bảo hiểm ôm sát và vừa vặn với vòng đầu.</li>
                          <li>Khe lấy gió: Việt Nam là quốc gia có khí hậu nhiệt đới ẩm gió mùa, do đó nhiệt độ sẽ ở mức cao. Vì thế, nón bảo hiểm của Falcon được thiết kế với các khe lấy gió giúp đảm bảo sự thông thoáng, giữ da đầu luôn thoáng mát.</li>
                          <li>Tháo rời để vệ sinh: Ngoại trừ các cấu trúc cốt lõi như vỏ nón và xốp nón, Falcon được thiết kế với các cấu trúc có thể tháo rời. Bạn hoàn toàn có thể tháo rời lớp lót nón để vệ sinh, hoặc thay thế các phụ kiện khi gặp sự cố hư hỏng.</li>
                        </ul>
                        <p class="note-text">Ngoài ra, mỗi dòng nón sẽ có những tính chất và các tính năng riêng biệt. Để khám phá chi tiết hơn, hãy tham khảo tại phần sản phẩm chi tiết.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="about_item item-ani"> 
                <div class="about_item--wrap d-wrap"> 
                  <div class="about_item--lf d-item d-2">
                    <div class="about_item--lf-wrap"> 
                      <div class="about_item--img"> <img src="./assets/images/abct2.png" alt=""/>
                      </div>
                    </div>
                  </div>
                  <div class="about_item--rt d-item d-2">
                    <div class="about_item--rt-wrap">
                      <div class="about_item--content"> 
                        <h2 class="title-sm cl-text fw-7 fl-sec t-up">VẬT LIỆU CHẾ TẠO NÓN CÓ KHẢ NĂNG BẢO VỆ CAO</h2>
                        <p class="note-text">Quy trình sản xuất nón bảo hiểm được kiểm soát nghiêm ngặt. Mỗi dòng nón đều vượt qua những kiểm định chất lượng khắt khe. Các tiêu chuẩn chất lượng thường gặp: CE En 1078, QCVN 2:2008/BKHCN,… Nguyên vật liệu sản xuất được lựa chọn kỹ lưỡng, đáp ứng yêu cầu cao về khả năng bảo vệ. Do đó, người dùng hoàn toàn có thể an tâm về chất lượng của những chiếc nón bảo hiểm Falcon.</p>
                        <ul> 
                          <li>Vỏ nón: Tuỳ theo từng mục đích sử dụng mà mỗi dòng nón sẽ có phần vỏ sẽ có chất liệu khác nhau. Thông thường, Falcon sẽ lựa chọn 2 vật liệu chính là nhựa ABS và nhựa PC. Phần vỏ này có tác dụng chống chịu va đập và hạn chế sự tác động của các vật gây chấn thương khi xảy ra va chạm.</li>
                          <li>Xốp EPS: phần xốp phía trong nón sẽ đóng vai trò hấp thu và phân tán ngoại lực, triệt tiêu lực va chạm đến mức tối đa. Phần xốp nón được nén với tỷ trọng cao, tạo thành 1 kết cấu vững chắc, nâng cao khả năng bảo vệ của nón. </li>
                          <li>Phần lót nón: Là phần vải lót phía bên trong của nón. Độ dày được thiết kế dựa trên những thuộc tính của từng dòng nón khác nhau. Tuy nhiên, lót nón đều có điểm chung là tạo sự êm ái và cảm giác dễ chịu cho người đội. Điều này đòi hỏi khả năng thấm hút mồ hôi của vải cao, giảm thiểu các bệnh lý về da đầu trong trường hợp sử dụng nón quá lâu.</li>
                        </ul>
                        <p class="note-text">Trên đây là những cấu trúc cốt lõi và cơ bản của nón bảo hiểm. Những thành phần này đóng vai trò vô cùng quan trọng trong việc bảo vệ người dùng trong các hoạt động di chuyển cũng như vận động thể thao. Thấu hiểu điều này, Falcon luôn tuân thủ các nguyên tắc sản xuất và giá trị cốt lõi của mình. Tự tin là người bạn đồng hành đáng tin cậy trong cuộc sống của bạn.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="about_item item-ani"> 
                <div class="about_item--wrap d-wrap"> 
                  <div class="about_item--lf d-item d-2">
                    <div class="about_item--lf-wrap"> 
                      <div class="about_item--img"> <img src="./assets/images/abct3.png" alt=""/>
                      </div>
                    </div>
                  </div>
                  <div class="about_item--rt d-item d-2">
                    <div class="about_item--rt-wrap">
                      <div class="about_item--content"> 
                        <h2 class="title-sm cl-text fw-7 fl-sec t-up">CHÍNH SÁCH BẢO HÀNH CỦA FALCON</h2>
                        <p class="note-text">Các sản phẩm nón bảo hiểm chính hãng của Falcon Helmets được bảo hành trong thời gian 12 tháng kể từ ngày mua. Các điều kiện bảo hành được đề cập chi tiết tại trang web của Falcon. Liên hệ Falcon Helmets hoặc đến trực tiếp cửa hàng chính hãng để  được tư vấn về chính sách bảo hành của Falcon Helmets. </p>
                        <p class="note-text">
                           Tham khảo chi tiết về chính sách bảo hành của Falcon: <a class="cl-pri fw-7" href="">Tại đây.</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="about_item item-ani"> 
                <div class="about_item--wrap d-wrap"> 
                  <div class="about_item--lf d-item d-2">
                    <div class="about_item--lf-wrap"> 
                      <div class="about_item--img"> <img src="./assets/images/abct4.png" alt=""/>
                      </div>
                    </div>
                  </div>
                  <div class="about_item--rt d-item d-2">
                    <div class="about_item--rt-wrap">
                      <div class="about_item--content"> 
                        <h2 class="title-sm cl-text fw-7 fl-sec t-up">THIẾT KẾ ĐA DẠNG MẪU MÃ, NHIỀU SỰ LỰA CHỌN</h2>
                        <p class="note-text">Falcon Helmet cung cấp cho bạn nhiều sự lựa chọn về mẫu mã cũng như thiết kế. Nhiều hơn 1 sự lựa chọn, chúng tôi phát triển đa dạng dòng sản phẩm: nón bảo hiểm 1/2, 3/4, Fullface,…</p>
                        <ul> 
                          <li>1/2: Dòng nón bảo hiểm với thiết kế che phủ 1/2 vùng đầu của người dùng. Dòng nón này có ưu điểm về mặt trọng lượng, thời trang và sự thông thoáng. Được đánh giá cao về mặt thẩm mỹ và mức độ tiện dụng nên mẫu nón này rất được sử dụng và vô cùng thông dụng.</li>
                          <li>3/4: Loại nón che khoảng 3/4 vùng đầu của người đội. Đa phần sẽ che cả đầu, phía sau đầu và phần tai. Khả năng bảo vệ của dòng nón bảo hiểm này cao hơn so với 1/2 nhưng về sự thông thoáng thì lại kém hơn.</li>
                          <li>Fullface: Được sử dụng nhiều ở những cuộc đua với tốc độ cao, fullface có thiết kế che phủ gần như toàn bộ vùng đầu người dùng. Với những chuyến đi đường dài, khoảng cách xa, mẫu nón fullface được tin dùng bởi khả năng bảo vệ cao hơn so với các loại khác.</li>
                        </ul>
                        <p class="note-text">Tuỳ thuộc vào nhu cầu, sở thích bạn có thể tự do lựa chọn những mẫu nón bảo hiểm tại Falcon Helmets. Với mức giá hợp lý, Falcon sẽ mang lại cho bạn những chiếc nón bảo hiểm đạt chuẩn chất lượng, an toàn, thời trang và phù hợp nhất với bạn.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-wrap">
        <div class="footer-top">
          <div class="container"> 
            <div class="footer-top-wrap d-wrap"> 
              <div class="footer-top-lf d-item d-2"> 
                <div class="footer-top-lf-wrap">
                  <p class="node-md cl-white fw-7 t-up">ĐĂNG NHẬP ĐỂ NHẬN ƯU ĐÃI</p>
                  <div class="sign_form">
                    <form action="">
                      <div class="sign_form--wrap"> 
                        <div class="sign_form--list"> 
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip custom-ip">
                                <input id="email" type="text" placeholder="*Tên đăng nhập hoặc email">
                              </div>
                            </div>
                          </div>
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip pass custom-ip">
                                <input class="password" id="pass" type="password" placeholder="*Mật khẩu"><span class="form-ip-ic hidden-pass"><i class="fal fa-eye-slash"></i></span><span class="form-ip-ic show-pass"><i class="fal fa-eye"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sign_control">
                          <div class="sign_cs"> 
                            <label class="sign_cs--label">
                              <input type="checkbox"><span class="box"></span><span class="note-sm cl-white">
                                 Đồng ý với <a href="">Chính sách Quyền riêng tư  </a>của chúng tối</span>
                            </label>
                          </div>
                        </div>
                        <div class="sign_btn">
                          <button class="btn"> <span class="btn-text">Đăng Nhập</span>
                          </button>
                          <button class="btn cl-2"> <span class="btn-text">ĐĂNG KÝ</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="footer-top-rt d-item d-2">
                <div class="footer-top-rt-wrap"> 
                  <div class="footer-top-rt-list"> 
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">SẢN PHẨM</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 1/2</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 3/4</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm Fullface</a></li>
                        <li class="menu-item"> <a class="menu-link">Phụ kiện</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">GIỚI THIỆU</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Về Falcon</a></li>
                        <li class="menu-item"> <a class="menu-link">Giá trị cốt lõi</a></li>
                        <li class="menu-item"> <a class="menu-link">Blog</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">TRỢ GIÚP</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Liên hệ</a></li>
                        <li class="menu-item"> <a class="menu-link">Đăng ký đại lý</a></li>
                        <li class="menu-item"> <a class="menu-link">Chính sách khách hàng</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">CỬA HÀNG</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Tìm cửa hàng</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center"> 
          <div class="container"> 
            <div class="footer-center-wrap"> 
              <div class="footer-center-img"> <img src="./assets/images/bct.png" alt=""/>
              </div>
              <ul class="social-mb-list"> 
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic3.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic1.svg" alt=""/></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="footer-bottom-wrap">
              <ul class="footer-bottom-list">
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">FALCON HELMET</a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Email: falconsport@gmail.com </a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Hotline: (+84) 89 89 86 038</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">039 525 42 46</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/scrollFullPage/fullPage.min.js"></script>
    <script src="./assets/library/magnify/magnify.min.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>