<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CHÍNH SÁCH ĐẠI LÝ</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="bg-gray">
    <header class="header">
      <div class="header-wrap">
        <div class="header-content"> 
          <div class="container">
            <div class="header-content-wrap">
              <div class="header-content-lf">
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div><a class="header-logo" href=""><span class="header-logo-img-1"><img src="./assets/images/logoHD.svg" alt=""/></span><span class="header-logo-img-2"><img src="./assets/images/logoHD.svg" alt=""/></span></a>
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item dropdown current-menu-item"><a class="menu-link" href="">sản phẩm</a>
                      <div class="mega-menu"> 
                        <div class="container">
                          <div class="mega-menu-wrap">
                            <div class="mega-menu-list"> 
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 1/2</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 3/4</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM FULLFACE</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Giới thiệu</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Trợ giúp</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-content-rt">
                <div class="header-box">
                  <div class="header-box-item btn-search">
                    <div class="header-ic search"><img src="./assets/images/search.svg" alt=""/>
                    </div>
                  </div>
                  <div class="header-box-item user">
                    <div class="header-ic"> <img src="./assets/images/user.svg" alt=""/>
                    </div>
                    <div class="header-ic-img"> <img src="./assets/images/at3.png" alt=""/>
                    </div>
                    <div class="header-user"> 
                      <ul class="header-user-list no-login"> 
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng nhập</a></li>
                      </ul>
                      <ul class="header-user-list login">
                        <li class="header-user-item"> <a class="header-user-link" href="">Thông tin tài khoản</a></li>
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng xuất</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header-box-item cart btn-cart">
                    <div class="header-ic"><span class="sl">0</span><img src="./assets/images/shopping.svg" alt=""/>
                    </div>
                    <div class="header-cart">
                      <ul class="header-cart-list"> 
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">350.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm thể thao</p>
                                <p class="note-text fw-7">Falcon F05</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">380.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm 1/2</p>
                                <p class="note-text fw-7">Falcon City</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                      </ul>
                      <div class="header-cart-total"> 
                        <div class="header-cart-total-box"> 
                          <p class="note-sm cl-pri fw-7 t-up">730.000VND</p>
                          <p class="note-sm cl-pri fw-7 t-up">TỔNG CỘNG</p>
                        </div><a class="note-mn cl-text t-center" href="">Thanh toán </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-search">
      <div class="container">
        <div class="header-search-wrap">
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times"></i></span>
        </div>
        <div class="result-search">
          <div class="result-search-wrap"> 
            <ul class="result-search-list d-wrap">
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-search"></div>
    <div class="cartBox">
      <div class="cartBox_wrap">
        <div class="cartBox_ex"> <i class="fas fa-times"></i></div>
        <div class="cartBox_box">
          <div class="cartBox_top"> 
            <p class="title-sm3 cl-text fw-9 fl-sec t-up t-center">GIỎ HÀNG</p>
          </div>
          <div class="cartBox_center"> 
            <div class="cartBox_list">
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black" selected>Đen bóng</option>
                          <option value="red">Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s" selected>Size S</option>
                          <option value="m">Size M</option>
                          <option value="l">Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black">Đen bóng</option>
                          <option value="red" selected>Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s">Size S</option>
                          <option value="m">Size M</option>
                          <option value="l" selected>Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cartBox_bottom"> 
          <div class="cartBox_total"> 
            <div class="cartBox_total--wrap"> 
              <p class="note-md cl-text fw-8">Tổng tiền </p>
              <p class="note-md cl-pri fw-8">730.000 VND</p>
            </div>
            <p class="note-sm cl-text3">*Chưa bao gồm phí vận chuyển</p>
          </div><a class="btn cl-3" href=""><span class="btn-text">THANH TOÁN</span></a>
        </div>
      </div>
    </div>
    <div class="cartBox_modal"></div>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SẢN PHẨM</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">GIỚI THIỆU</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">TRỢ GIÚP</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <div class="menu-lh-title t-up">ĐỊA CHỈ LIÊN HỆ</div>
            <div class="note-title cl-prit-up">CÔNG TY TNHH QUỐC TẾ FALCON VIỆT NAM</div>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   79/71/15 Đường Số 4, Bình Hưng Hoà, Bình Tân, Thành phố Hồ Chí Minh              </a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Falconhelmets@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/Phone.svg" alt=""/></span><a class="link-address" href="">
                   0945 555 017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <div class="result-search-mb rs-mb"> 
      <div class="result-search-mb-wrap"> 
        <div class="result-search-mb-box"> 
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="result-search-mb-view">       
          <ul class="result-search-mb-list d-wrap">
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></div>
          </ul>
        </div>
      </div>
    </div>
    <div class="result-mobi-modal"></div>
    <main class="main pt">
      <section class="layoutG"> 
        <div class="container"> 
          <div class="layoutG_wrap d-wrap"> 
            <div class="layoutG_lf d-item"> 
              <div class="layoutG_lf--wrap">
                <div class="layoutG_lf--content">
                  <div class="cs_wrap"> 
                    <h2 class="title-sm fw-7 fl-sec t-up cl-text">CHÍNH SÁCH ĐẠI LÝ</h2>
                    <div class="cs_content">
                      <p class="note-text fw-7">Điều kiện trở thành đại lý của Falcon Helmet</p>
                      <p class="note-text cl-text">Để trở thành đại lý của Falcon Helmet nhà bán hàng cần đáp ứng các tiêu chí sau đây:</p>
                      <p class="note-text">Có giấy chứng nhận đăng ký kinh doanh theo pháp luật của Việt nam.</p>
                      <p class="note-text">Đang hoạt động kinh doanh trong các lĩnh vực liên quan như: nón bảo hiểm, phụ kiện thể thao, các sản phẩm có liên quan đển thể thao, phương tiện di chuyển, thời trang,…</p>
                      <p class="note-text">Có địa điểm kinh doanh ổn định và nằm ở khu vực mà Falcon Helmet mong muốn mở đại lý.</p>
                      <p class="note-text">Nhà bán hàng phải có báo cáo tài chính lành mạnh và có năng lực tài chính tốt. Có hoạt động thị trường và quan hệ khách hàng tốt trong phạm vi thị trường do đơn vị đó quản lý.</p>
                      <p class="note-text">Các trường hợp chưa đủ các điều kiện trên nhưng có mong muốn và thuộc khu chưa vực có đại lý thì Falcon cũng có thể xem xét trở thành đại lý.</p><br>
                      <p class="note-text fw-7">Các trường hợp được bảo hành</p>
                      <p class="note-text">Sản phẩm chính hãng được mua tại Falcon Helmet hoặc các đại lý chính hãng của thương hiệu Falcon còn thời hạn bảo hành.</p>
                      <p class="note-text">Sản phẩm gặp sự cố hư hỏng được xác định do lỗi của nhà sản xuất và vẫn còn thời gian bảo hành: các phụ kiện nón (dây nón, khóa nón, lớp lót, nút xoay điều chỉnh,…)</p><br>
                      <p class="note-text fw-7">Thủ tục đăng ký trở thành đại lý của Falcon Helmet</p>
                      <p class="note-text">Nhà bán hàng đủ điều kiện hoặc có mong muốn trở thành đại lý của Falcon thì liên hệ với chúng tôi thông qua hotline: (+84) 862 140 699.</p>
                      <p class="note-text">Hoặc điền thông tin vào mẫu đơn đăng ký tại đây.</p>
                      <p class="note-text">Sau khi nhận được form đăng ký từ nhà bán hàng, Falcon sẽ phản hồi trong vòng 3-5 ngày làm việc.</p><br>
                      <p class="note-text fw-7">Các chính sách bán hàng dành cho đại lý của Falcon helmet</p>
                      <p class="note-text">Đại lý cần bán đúng mức giá mà Falcon cung cấp. Giá niêm yết sẽ được công ty công bố và thông báo đến đại lý bằng văn bản.</p><br>
                      <p class="note-text fw-7">Quyền lợi của đại lý</p>
                      <p class="note-text">Được hỗ trợ hình ảnh bán hàng.</p>
                      <p class="note-text">Thông tin về Đại lý được đưa lên website và các tài liệu quảng cáo của Falcon Helmet.</p>
                      <p class="note-text">Được cung cấp tài liệu quảng cáo, giới thiệu sản phẩm, tài liệu kỹ thuật, catalogue.</p>
                      <p class="note-text">Thường xuyên được cập nhật thông tin về công nghệ mới, sản phẩm mới.</p>
                      <p class="note-text">Được hưởng chính sách bảo hành ưu đãi của Falcon Helmet.</p><br>
                      <p class="note-text fw-7">Trách nhiệm của đại lý</p>
                      <p class="note-text">Tổ chức trưng bày, giới thiệu sản phẩm.</p>
                      <p class="note-text">Dành một phần diện tích nhất định để trưng bày và giới thiệu hàng hóa (nếu có cửa hàng trưng bày) hoặc trưng bày trên website, các trang bán hàng trực tuyến của Đại lý.</p>
                      <p class="note-text">Thông báo cho công ty về tình hình tiêu thụ, biến động giá, phản ánh của khách về chất lượng sản phẩm.</p>
                      <p class="note-text">Thực hiện đúng các điều khoản theo hợp đồng đại lý và hợp đồng mua hàng.</p>
                      <p class="note-text">Không được công bố trên phương tiện thông tin đại chúng giá bán thấp hơn giá bán lẻ của công niêm yết trên toàn quốc.</p>
                      <p class="note-text">Hàng năm Falcon sẽ tổng hợp doanh số mua hàng, đánh giá các hoạt động kinh doanh, các hoạt động phát triển thị trường để xem xét và quyết định về việc có tiếp tục duy trì quan hệ đại lý hoặc có thể chấm dứt quan hệ đại lý.</p><br>
                      <p class="note-text fw-7">Nguyên tắc hợp tác và phát triển</p>
                      <p class="note-text">Falcon Helmet và đại lý hợp tác trên nguyên tắc bình đẳng đôi bên cùng có lợi, mọi mâu thuẫn phát sinh trong quá trình hợp tác đều phải được giải quyết trên nguyên tắc tự nguyện hòa giải. Trong trường hợp hai bên không thống nhất được thì mâu thuẫn sẽ được đưa ra giải quyết tại Tòa Án Kinh Tế – Tòa Án Nhân Dân thành phố Hồ Chí Minh, quyết định của tòa án là quyết định cuối cùng, bên thua kiện sẽ chịu mọi chi phí.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="layoutG_rt d-item"> 
              <div class="layoutG_rt--wrap">
                <h2 class="title-sm fw-7 fl-sec t-up cl-text">ĐĂNG KÝ ĐẠI LÝ</h2>
                <div class="layoutG_rt--content">
                  <div class="sign_cs"> 
                    <div class="sign_cs--form"> 
                      <form action="">
                        <div class="sign_cs--form-wrap"> 
                          <div class="sign_cs--list d-wrap"> 
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="name">Tên khách hàng</label>
                                </div>
                                <div class="form-ip-ip">
                                  <input id="name" type="text" placeholder="Thêm tên">
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="phone">Số điện thoại</label>
                                </div>
                                <div class="form-ip-ip">
                                  <input id="phone" type="text" placeholder="Thêm số điện thoại">
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="email">Email</label>
                                </div>
                                <div class="form-ip-ip">
                                  <input id="email" type="text" placeholder="Thêm email">
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="store">Tên cửa hàng</label>
                                </div>
                                <div class="form-ip-ip">
                                  <input id="store" type="text" placeholder="Thêm tên cửa hàng">
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="address">Địa chỉ cửa hàng</label>
                                </div>
                                <div class="form-ip-ip">
                                  <input id="address" type="text" placeholder="Thêm địa chỉ">
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item"> 
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="img">Hình ảnh sản phẩm</label>
                                </div>
                                <div class="sign_cs--upload free-slide2">
                                  <div class="sign_cs--upload-list d-wrap"> 
                                    <div class="swiper mySwiper"> 
                                      <div class="swiper-wrapper"> 
                                        <div class="swiper-slide d-item">
                                          <div class="sign_cs--upload-item btn-upload"> 
                                            <input class="fileUpload" type="file"><img class="img-src" src="./assets/images/uploadCs.png" alt="" accept="image/png, image/gif, image/jpeg ,image/svg">
                                          </div>
                                        </div>
                                        <div class="swiper-slide d-item">
                                          <div class="sign_cs--upload-item btn-upload"> 
                                            <input class="fileUpload" type="file"><img class="img-src" src="./assets/images/uploadCs.png" alt="" accept="image/png, image/gif, image/jpeg ,image/svg">
                                          </div>
                                        </div>
                                        <div class="swiper-slide d-item">
                                          <div class="sign_cs--upload-item btn-upload"> 
                                            <input class="fileUpload" type="file"><img class="img-src" src="./assets/images/uploadCs.png" alt="" accept="image/png, image/gif, image/jpeg ,image/svg">
                                          </div>
                                        </div>
                                        <div class="swiper-slide d-item">
                                          <div class="sign_cs--upload-item btn-upload"> 
                                            <input class="fileUpload" type="file"><img class="img-src" src="./assets/images/uploadCs.png" alt="" accept="image/png, image/gif, image/jpeg ,image/svg">
                                          </div>
                                        </div>
                                        <div class="swiper-slide d-item">
                                          <div class="sign_cs--upload-item btn-upload"> 
                                            <input class="fileUpload" type="file"><img class="img-src" src="./assets/images/uploadCs.png" alt="" accept="image/png, image/gif, image/jpeg ,image/svg">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="swiper-scrollbar"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="sign_cs--item d-item">
                              <div class="form-ip">
                                <div class="form-ip-label">
                                  <label for="note">Thông tin bảo hành</label>
                                </div>
                                <div class="form-ip-ip">
                                  <textarea id="note" type="text" placeholder="Vấn đề bảo hành"></textarea>
                                </div>
                              </div>
                            </div>
                          </div><a class="btn" href=""><span class="btn-text">ĐĂNG KÝ BẢO HÀNH</span></a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="popup_main popup-form" data-popup-id="popup-store-success">
        <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
        <div class="popup_main--wrap">
          <div class="popup_main--content">
            <div class="popup_main--alert"><span class="ic"> <img src="./assets/images/successIc.svg" alt=""/></span>
              <p class="title-sm4 fl-sec fw-9 cl-text t-center t-up">THÀNH CÔNG</p>
              <div class="popup_main--alert-content"> 
                <p class="note-text fw-7 cl-text t-center">Chúng tôi sẽ sớm xử lý yêu cầu của bạn qua email</p>
                <p class="note-text cl-text t-center">Mong sớm có thể trở thành đối tác với bạn!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup_main--modal popup-modal"></div>
    </main>
    <footer class="footer">
      <div class="footer-wrap">
        <div class="footer-top">
          <div class="container"> 
            <div class="footer-top-wrap d-wrap"> 
              <div class="footer-top-lf d-item d-2"> 
                <div class="footer-top-lf-wrap">
                  <p class="node-md cl-white fw-7 t-up">ĐĂNG NHẬP ĐỂ NHẬN ƯU ĐÃI</p>
                  <div class="sign_form">
                    <form action="">
                      <div class="sign_form--wrap"> 
                        <div class="sign_form--list"> 
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip custom-ip">
                                <input id="email" type="text" placeholder="*Tên đăng nhập hoặc email">
                              </div>
                            </div>
                          </div>
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip pass custom-ip">
                                <input class="password" id="pass" type="password" placeholder="*Mật khẩu"><span class="form-ip-ic hidden-pass"><i class="fal fa-eye-slash"></i></span><span class="form-ip-ic show-pass"><i class="fal fa-eye"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sign_control">
                          <div class="sign_cs"> 
                            <label class="sign_cs--label">
                              <input type="checkbox"><span class="box"></span><span class="note-sm cl-white">
                                 Đồng ý với <a href="">Chính sách Quyền riêng tư  </a>của chúng tối</span>
                            </label>
                          </div>
                        </div>
                        <div class="sign_btn">
                          <button class="btn"> <span class="btn-text">Đăng Nhập</span>
                          </button>
                          <button class="btn cl-2"> <span class="btn-text">ĐĂNG KÝ</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="footer-top-rt d-item d-2">
                <div class="footer-top-rt-wrap"> 
                  <div class="footer-top-rt-list"> 
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">SẢN PHẨM</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 1/2</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 3/4</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm Fullface</a></li>
                        <li class="menu-item"> <a class="menu-link">Phụ kiện</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">GIỚI THIỆU</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Về Falcon</a></li>
                        <li class="menu-item"> <a class="menu-link">Giá trị cốt lõi</a></li>
                        <li class="menu-item"> <a class="menu-link">Blog</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">TRỢ GIÚP</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Liên hệ</a></li>
                        <li class="menu-item"> <a class="menu-link">Đăng ký đại lý</a></li>
                        <li class="menu-item"> <a class="menu-link">Chính sách khách hàng</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">CỬA HÀNG</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Tìm cửa hàng</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center"> 
          <div class="container"> 
            <div class="footer-center-wrap"> 
              <div class="footer-center-img"> <img src="./assets/images/bct.png" alt=""/>
              </div>
              <ul class="social-mb-list"> 
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic3.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic1.svg" alt=""/></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="footer-bottom-wrap">
              <ul class="footer-bottom-list">
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">FALCON HELMET</a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Email: falconsport@gmail.com </a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Hotline: (+84) 89 89 86 038</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">039 525 42 46</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/scrollFullPage/fullPage.min.js"></script>
    <script src="./assets/library/magnify/magnify.min.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>