<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ĐƠN HÀNG</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body class="bg-gray">
    <header class="header">
      <div class="header-wrap">
        <div class="header-content"> 
          <div class="container">
            <div class="header-content-wrap">
              <div class="header-content-lf">
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div><a class="header-logo" href=""><span class="header-logo-img-1"><img src="./assets/images/logoHD.svg" alt=""/></span><span class="header-logo-img-2"><img src="./assets/images/logoHD.svg" alt=""/></span></a>
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item dropdown current-menu-item"><a class="menu-link" href="">sản phẩm</a>
                      <div class="mega-menu"> 
                        <div class="container">
                          <div class="mega-menu-wrap">
                            <div class="mega-menu-list"> 
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 1/2</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM 3/4</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                              <div class="mega-menu-item">
                                <div class="mega-menu-item-des"> 
                                  <p class="title-mn fw-7 fl-sec t-up">NÓN BẢO HIỂM FULLFACE</p><a class="title-link" href="">Xem thêm... </a>
                                </div>
                                <div class="mega-menu-item-list d-wrap">
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                  <div class="mega-menu-item-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Giới thiệu</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Trợ giúp</a>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="">item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="header-content-rt">
                <div class="header-box">
                  <div class="header-box-item btn-search">
                    <div class="header-ic search"><img src="./assets/images/search.svg" alt=""/>
                    </div>
                  </div>
                  <div class="header-box-item user">
                    <div class="header-ic"> <img src="./assets/images/user.svg" alt=""/>
                    </div>
                    <div class="header-ic-img"> <img src="./assets/images/at3.png" alt=""/>
                    </div>
                    <div class="header-user"> 
                      <ul class="header-user-list no-login"> 
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng nhập</a></li>
                      </ul>
                      <ul class="header-user-list login">
                        <li class="header-user-item"> <a class="header-user-link" href="">Thông tin tài khoản</a></li>
                        <li class="header-user-item"> <a class="header-user-link" href="">Đăng xuất</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="header-box-item cart btn-cart">
                    <div class="header-ic"><span class="sl">0</span><img src="./assets/images/shopping.svg" alt=""/>
                    </div>
                    <div class="header-cart">
                      <ul class="header-cart-list"> 
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">350.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm thể thao</p>
                                <p class="note-text fw-7">Falcon F05</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                        <li class="header-cart-item"> <a class="header-cart-item-link" href=""> 
                            <div class="header-cart-item-lf"> 
                              <p class="note-sm fw-5">380.000VND</p>
                            </div>
                            <div class="header-cart-item-rt"> 
                              <div class="header-cart-item-info"> 
                                <p class="note-mn">Nón bảo hiểm 1/2</p>
                                <p class="note-text fw-7">Falcon City</p>
                              </div>
                              <div class="header-cart-item-img"> <img src="./assets/images/mnc1.png" alt=""/>
                              </div>
                            </div></a></li>
                      </ul>
                      <div class="header-cart-total"> 
                        <div class="header-cart-total-box"> 
                          <p class="note-sm cl-pri fw-7 t-up">730.000VND</p>
                          <p class="note-sm cl-pri fw-7 t-up">TỔNG CỘNG</p>
                        </div><a class="note-mn cl-text t-center" href="">Thanh toán </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-search">
      <div class="container">
        <div class="header-search-wrap">
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times"></i></span>
        </div>
        <div class="result-search">
          <div class="result-search-wrap"> 
            <ul class="result-search-list d-wrap">
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-search"></div>
    <div class="cartBox">
      <div class="cartBox_wrap">
        <div class="cartBox_ex"> <i class="fas fa-times"></i></div>
        <div class="cartBox_box">
          <div class="cartBox_top"> 
            <p class="title-sm3 cl-text fw-9 fl-sec t-up t-center">GIỎ HÀNG</p>
          </div>
          <div class="cartBox_center"> 
            <div class="cartBox_list">
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black" selected>Đen bóng</option>
                          <option value="red">Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s" selected>Size S</option>
                          <option value="m">Size M</option>
                          <option value="l">Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cartBox_item"> 
                <div class="cartBox_item--wrap"> 
                  <div class="cartBox_item--lf">
                    <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                    </div>
                  </div>
                  <div class="cartBox_item--rt"> 
                    <div class="cartBox_item--rt-top"> 
                      <div class="cartBox_item--rt-title"> 
                        <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                        <p class="note-md fw-8 cl-text">Falcon F05</p>
                      </div>
                      <div class="cartBox_item--rt-price"> 
                        <div class="price">
                          <p class="price-sale">380.000VND</p>
                          <p class="price-normal">300.000 VND</p>
                        </div>
                      </div>
                    </div>
                    <div class="cartBox_item--rt-bottom"> 
                      <div class="cartBox_item--rt-quantity"> 
                        <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                            <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
                      </div>
                      <div class="cartBox_item--rt-op"> 
                        <select class="js-op" name="color">
                          <option value="black">Đen bóng</option>
                          <option value="red" selected>Đỏ</option>
                          <option value="yellow">Vàng</option>
                          <option value="blue">Xanh dương </option>
                        </select>
                        <select class="js-op" name="size">
                          <option value="s">Size S</option>
                          <option value="m">Size M</option>
                          <option value="l" selected>Size L</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cartBox_bottom"> 
          <div class="cartBox_total"> 
            <div class="cartBox_total--wrap"> 
              <p class="note-md cl-text fw-8">Tổng tiền </p>
              <p class="note-md cl-pri fw-8">730.000 VND</p>
            </div>
            <p class="note-sm cl-text3">*Chưa bao gồm phí vận chuyển</p>
          </div><a class="btn cl-3" href=""><span class="btn-text">THANH TOÁN</span></a>
        </div>
      </div>
    </div>
    <div class="cartBox_modal"></div>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SẢN PHẨM</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">GIỚI THIỆU</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">TRỢ GIÚP</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3                </a></li>
            </ul>
          </li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <div class="menu-lh-title t-up">ĐỊA CHỈ LIÊN HỆ</div>
            <div class="note-title cl-prit-up">CÔNG TY TNHH QUỐC TẾ FALCON VIỆT NAM</div>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   79/71/15 Đường Số 4, Bình Hưng Hoà, Bình Tân, Thành phố Hồ Chí Minh              </a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Falconhelmets@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/Phone.svg" alt=""/></span><a class="link-address" href="">
                   0945 555 017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <div class="result-search-mb rs-mb"> 
      <div class="result-search-mb-wrap"> 
        <div class="result-search-mb-box"> 
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="result-search-mb-view">       
          <ul class="result-search-mb-list d-wrap">
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Nón bảo hiểm thể thao</span><span class="note-text fw-7 cl-text">Falcon F05</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Giải trẻ xe đua xe đạp trẻ cấp</span></span></a></div>
            <div class="result-search-mb-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span><span class="mega-menu-rt-info"><span class="note-mn t-up cl-text">Tin tức</span><span class="note-text fw-7 cl-text">Sử dụng nón bảo hiểm đúng cách khi đi xe máy </span></span></a></div>
          </ul>
        </div>
      </div>
    </div>
    <div class="result-mobi-modal"></div>
    <main class="main pt">
      <section class="layoutG"> 
        <div class="container"> 
          <div class="layoutG_wrap d-wrap"> 
            <div class="layoutG_lf d-item"> 
              <div class="layoutG_lf--wrap">
                <h2 class="title-sm fw-7 cl-text fl-sec t-up">THÔNG TIN ĐƠN HÀNG</h2>
                <div class="layoutG_lf--content"> 
                  <div class="order_info"> 
                    <ul class="order_info--list"> 
                      <li class="order_info--item"> 
                        <p class="note-text title fw-7 cl-text">Tên người nhận</p>
                        <p class="note-text text cl-gray5">Thêm tên người nhận</p>
                      </li>
                      <li class="order_info--item"> 
                        <p class="note-text title fw-7 cl-text">Số điện thoại</p>
                        <p class="note-text text cl-gray5">Thêm số điện thoại</p>
                      </li>
                      <li class="order_info--item"> 
                        <p class="note-text title fw-7 cl-text">Địa chỉ giao hàng</p>
                        <p class="note-text text cl-gray5">Thêm địa chỉ</p>
                      </li>
                    </ul><a class="cl-pri t-center note-text popup-btn" href="" data-popup="popup-delivery">Cập nhật</a>
                  </div>
                  <div class="order_ip"> 
                    <div class="order_form"> 
                      <div class="order_form--list d-wrap"> 
                        <div class="order_form--item d-item">
                          <div class="form-ip">
                            <div class="form-ip-label">
                              <label for="code">Mã giảm giá</label>
                            </div>
                            <div class="form-ip-ip">
                              <input id="code" type="text" placeholder="Điền mã giảm giá">
                            </div>
                          </div>
                        </div>
                        <div class="order_form--item d-item">
                          <div class="form-ip">
                            <div class="form-ip-label">
                              <label for="=">Hình thức vận chuyển</label>
                            </div>
                            <div class="form-ip-op">
                              <select class="js-op" data-placeholder="Hình thức vận chuyển">
                                <option></option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="order_form--item d-item">
                          <div class="form-ip">
                            <div class="form-ip-label">
                              <label for="=">Hình thức thanh toán</label>
                            </div>
                            <div class="form-ip-op">
                              <select class="js-op" data-placeholder="Hình thức thanh toán">
                                <option></option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="order_form--item d-item">
                          <div class="form-ip">
                            <div class="form-ip-label">
                              <label for="note">Ghi chú</label>
                            </div>
                            <div class="form-ip-ip">
                              <textarea id="note" type="text" placeholder="Thêm ghi chú"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="order_cs"> 
                      <div class="order_cs--content"> 
                        <p class="note-text fw-7">1. Chính sách vận chuyển:</p>
                        <p class="note-text">Vận chuyển nhanh: Hình thức vận chuyển khắp các tỉnh thành trên toàn quốc</p>
                        <p class="note-text">Vận chuyển hoả tốc: Chỉ áp dụng tại khu vực TP. HCM</p>
                        <p class="note-text fw-7">2. Chính sách đồng kiểm:</p>
                        <p class="note-text">Khi nhận hàng, quý khách hàng được phép kiểm tra về ngoại quan (tình trạng bên ngoài), số lượng sản phẩm trong đơn hàng nhưng KHÔNG được tác động sâu vào sản phẩm, KHÔNG mở tem chống hàng giả / niêm phong riêng của sản phẩm.</p>
                        <p class="note-text fw-7">3. Chính sách đổi trả</p>
                        <p class="note-text">Chỉ chấp nhận các trường hợp đổi size, màu nón đối với các sản phẩm còn nguyên trạng ban đầu (không cắt, tháo, gỡ các loại tem, tag, nhãn mác,…)</p>
                        <p class="note-text">Thời gian đổi sản phẩm: 7 ngày kể từ ngày nhận hàng.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="layoutG_rt d-item">    
              <div class="layoutG_rt--wrap">
                <h2 class="title-sm fw-7 cl-text fl-sec t-up">THÀNH TIỀN</h2>
                <div class="layoutG_rt--content">
                  <div class="order_rt--box">
                    <div class="order_rt--top"> 
                      <div class="cartBox_list">
                        <div class="cartBox_item"> 
                          <div class="cartBox_item--wrap"> 
                            <div class="cartBox_item--lf">
                              <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                              </div>
                            </div>
                            <div class="cartBox_item--rt"> 
                              <div class="cartBox_item--rt-top"> 
                                <div class="cartBox_item--rt-title"> 
                                  <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                                  <p class="note-md fw-8 cl-text">Falcon F05</p>
                                </div>
                                <div class="cartBox_item--rt-price"> 
                                  <div class="price">
                                    <p class="price-sale">380.000VND</p>
                                    <p class="price-normal">300.000 VND</p>
                                  </div>
                                </div>
                              </div>
                              <div class="cartBox_item--rt-bottom"> 
                                <div class="cartBox_item--rt-quantity"> 
                                  <p class="note-sm cl-text">01</p>
                                </div>
                                <div class="cartBox_item--rt-op"> 
                                  <p class="note-sm cl-text">Đen bóng</p>
                                  <p class="note-sm cl-text">Size S</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="cartBox_item"> 
                          <div class="cartBox_item--wrap"> 
                            <div class="cartBox_item--lf">
                              <div class="cartBox_item--img"> <img src="./assets/images/mn1.png" alt=""/>
                              </div>
                            </div>
                            <div class="cartBox_item--rt"> 
                              <div class="cartBox_item--rt-top"> 
                                <div class="cartBox_item--rt-title"> 
                                  <p class="note-mn cl-text t-up">Nón bảo hiểm thể thao</p>
                                  <p class="note-md fw-8 cl-text">Falcon F05</p>
                                </div>
                                <div class="cartBox_item--rt-price"> 
                                  <div class="price">
                                    <p class="price-sale">380.000VND</p>
                                    <p class="price-normal">300.000 VND</p>
                                  </div>
                                </div>
                              </div>
                              <div class="cartBox_item--rt-bottom"> 
                                <div class="cartBox_item--rt-quantity"> 
                                  <p class="note-sm cl-text">01</p>
                                </div>
                                <div class="cartBox_item--rt-op"> 
                                  <p class="note-sm cl-text">Đen bóng</p>
                                  <p class="note-sm cl-text">Size S</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="order_rt--center"> 
                      <div class="order_des"> 
                        <ul class="order_des--list"> 
                          <li class="order_des--item"> 
                            <p class="note-text cl-text t-up fw-5 title">
                               TỔNG TIỀN HÀNG <strong class="note-mn cl-text fw-4">(2 sản phẩm)</strong></p>
                            <p class="note-text cl-text t-up fw-5 text">730.000 VND</p>
                          </li>
                          <li class="order_des--item"> 
                            <p class="note-text cl-text t-up fw-5 title">PHÍ VẬN CHUYỂN</p>
                            <p class="note-text cl-text t-up fw-5 text">35.000 VND</p>
                          </li>
                          <li class="order_des--item"> 
                            <p class="note-text cl-text t-up fw-5 title">MÃ GIẢM GIÁ</p>
                            <p class="note-text cl-text t-up fw-5 text">0 VND</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="order_rt--bottom"> 
                      <div class="cartBox_total"> 
                        <div class="cartBox_total--wrap"> 
                          <p class="note-md cl-text fw-8">Tổng tiền </p>
                          <p class="note-md cl-pri fw-8">730.000 VND</p>
                        </div>
                      </div><a class="btn" href=""><span class="btn-text">THANH TOÁN</span></a>
                    </div>
                  </div>
                  <div class="order_call"> 
                    <p class="note-md cl-text fw-8 t-up">THÔNG TIN CHĂM SÓC KHÁCH HÀNG</p><a class="note-text fw-5" href="">(+84) 89 89 86 039</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="popup_main popup-form" data-popup-id="popup-delivery">
        <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
        <div class="popup_main--wrap">
          <div class="popup_main--content">
            <p class="title-sm3 fl-sec fw-9 cl-text t-center t-up">THÔNG TIN VẬN CHUYỂN</p>
            <div class="popup_main--form">
              <form action=""> 
                <div class="popup_form--wrap">
                  <div class="popup_form--list d-wrap"> 
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="name">
                             Tên người dùng<strong>*</strong></label>
                        </div>
                        <div class="form-ip-ip">
                          <input id="name" type="text" placeholder="Thêm tên">
                        </div>
                      </div>
                    </div>
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="phone">
                             Số điện thoại<strong>*</strong></label>
                        </div>
                        <div class="form-ip-ip">
                          <input id="phone" type="text" placeholder="Thêm số điện thoại">
                        </div>
                      </div>
                    </div>
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="address">
                             Địa chỉ<strong>*</strong></label>
                        </div>
                        <div class="form-ip-ip">
                          <input id="address" type="text" placeholder="Thêm địa chỉ">
                        </div>
                      </div>
                    </div>
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="city">
                             Tỉnh / Thành phố<strong>*</strong></label>
                        </div>
                        <div class="form-ip-op">
                          <select class="js-op" data-placeholder="Tỉnh / Thành phố">
                            <option></option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="district">
                             Quận / Huyện<strong>*</strong></label>
                        </div>
                        <div class="form-ip-op">
                          <select class="js-op" data-placeholder="Quận / Huyện">
                            <option></option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="popup_form--item d-item d-2">
                      <div class="form-ip">
                        <div class="form-ip-label">
                          <label for="wards">
                             Phường / Xã<strong>*</strong></label>
                        </div>
                        <div class="form-ip-op">
                          <select class="js-op" data-placeholder="Phường / Xã">
                            <option></option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn"> <span class="btn-text">CẬP NHẬT</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="popup_main--modal popup-modal"></div>
      <div class="popup_main popup-form" data-popup-id="popup-delivery-success">
        <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
        <div class="popup_main--wrap">
          <div class="popup_main--content">
            <div class="popup_main--alert"><span class="ic"> <img src="./assets/images/successIc.svg" alt=""/></span>
              <p class="title-sm4 fl-sec fw-9 cl-text t-center t-up">THÀNH CÔNG</p>
              <div class="popup_main--alert-content"> 
                <p class="note-text fw-7 cl-text t-center">
                   Cảm ơn bạn đã tin tưởng để Falcon có <br>cơ hội bảo vệ và đồng hành cùng bạn!</p>
                <p class="note-text t-center fw-5">Theo dõi đơn hàng của bạn</p><a class="btn trans" href=""><span class="btn-text">TẠI ĐÂY</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup_main--modal popup-modal">                                       </div>
    </main>
    <footer class="footer">
      <div class="footer-wrap">
        <div class="footer-top">
          <div class="container"> 
            <div class="footer-top-wrap d-wrap"> 
              <div class="footer-top-lf d-item d-2"> 
                <div class="footer-top-lf-wrap">
                  <p class="node-md cl-white fw-7 t-up">ĐĂNG NHẬP ĐỂ NHẬN ƯU ĐÃI</p>
                  <div class="sign_form">
                    <form action="">
                      <div class="sign_form--wrap"> 
                        <div class="sign_form--list"> 
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip custom-ip">
                                <input id="email" type="text" placeholder="*Tên đăng nhập hoặc email">
                              </div>
                            </div>
                          </div>
                          <div class="sign_form--item">
                            <div class="form-ip">
                              <div class="form-ip-ip pass custom-ip">
                                <input class="password" id="pass" type="password" placeholder="*Mật khẩu"><span class="form-ip-ic hidden-pass"><i class="fal fa-eye-slash"></i></span><span class="form-ip-ic show-pass"><i class="fal fa-eye"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sign_control">
                          <div class="sign_cs"> 
                            <label class="sign_cs--label">
                              <input type="checkbox"><span class="box"></span><span class="note-sm cl-white">
                                 Đồng ý với <a href="">Chính sách Quyền riêng tư  </a>của chúng tối</span>
                            </label>
                          </div>
                        </div>
                        <div class="sign_btn">
                          <button class="btn"> <span class="btn-text">Đăng Nhập</span>
                          </button>
                          <button class="btn cl-2"> <span class="btn-text">ĐĂNG KÝ</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="footer-top-rt d-item d-2">
                <div class="footer-top-rt-wrap"> 
                  <div class="footer-top-rt-list"> 
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">SẢN PHẨM</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 1/2</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm 3/4</a></li>
                        <li class="menu-item"> <a class="menu-link">Nón bảo hiểm Fullface</a></li>
                        <li class="menu-item"> <a class="menu-link">Phụ kiện</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">GIỚI THIỆU</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Về Falcon</a></li>
                        <li class="menu-item"> <a class="menu-link">Giá trị cốt lõi</a></li>
                        <li class="menu-item"> <a class="menu-link">Blog</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">TRỢ GIÚP</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Liên hệ</a></li>
                        <li class="menu-item"> <a class="menu-link">Đăng ký đại lý</a></li>
                        <li class="menu-item"> <a class="menu-link">Chính sách khách hàng</a></li>
                      </ul>
                    </div>
                    <div class="footer-top-rt-item">
                      <p class="note-md fw-7 cl-white t-up">CỬA HÀNG</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link">Tìm cửa hàng</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center"> 
          <div class="container"> 
            <div class="footer-center-wrap"> 
              <div class="footer-center-img"> <img src="./assets/images/bct.png" alt=""/>
              </div>
              <ul class="social-mb-list"> 
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic5.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic2.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic3.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic4.svg" alt=""/></a></li>
                <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/sic1.svg" alt=""/></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="footer-bottom-wrap">
              <ul class="footer-bottom-list">
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">FALCON HELMET</a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Email: falconsport@gmail.com </a></li>
                <li class="footer-bottom-item"> <a class="footer-bottom-link" href="">Hotline: (+84) 89 89 86 038</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">039 525 42 46</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/scrollFullPage/fullPage.min.js"></script>
    <script src="./assets/library/magnify/magnify.min.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>