//- Name library js
- var JsJquery = 'jquery/jquery.js'
- var JsAos = 'aos/aos.js'
- var JsSwiper = 'swiper/swiper-bundle.min.js'
- var JsSelect2 = 'select2/select2.min.js'
- var JsGallery = 'gallery/lightgallery-all.min.js'
- var JsFancybox = 'fancybox/fancybox.umd.js'
- var JsSplide = 'splide/splide.min.js'
- var JsSplideAuto = 'splide/splideExtensionAutoScroll.min.js'
- var JsGsap = 'gsap/gsap.min.js'
- var JsGsapScroll = 'gsap/scrollTrigger.min.js'
- var JsQuill = 'quill/quill.js'
- var JsCaro = 'carousel/owl.carousel.min.js'
- var JsMagnify = 'magnify/magnify.min.js'
- var JsCountUp1 = 'countup/jquery.counterup.min.js'
- var JsCountUp2 = 'countup/jquery.countup.min.js'
- var JsCountUp3 = 'countup/jquery.waypoints.min.js'
- var JsCountUp4 = 'countup/jquery.min.js'










//- - var JsSplideAuto = 'splideExtensionAutoScroll.min.js'





//- Name library css
- var CssAos = 'aos/aos.css'
- var CssSwiper = 'swiper/swiper-bundle.min.css'
- var CssSelect2 = 'select2/select2.min.css'
- var CssGallery = 'gallery/lightgallery.min.css'
- var CssFancybox = 'fancybox/fancybox.css'
- var CssSplide = 'splide/splide.min.css'
- var fontAWS = 'fontawesome/css/all.css'
- var fontAWS2 = 'fontawesome/fontawesome/fontawesome.css'
- var CssQuill = 'quill/quill.snow.css'
- var CssCaro = 'carousel/owl.carousel.min.css'
- var CssCaro2 = 'carousel/owl.theme.default.min.css'
- var CssMagnify = 'magnify/magnify.css'















