.home-sale {
    padding-top: 11rem;
    padding-bottom: 4.4rem;

    @media screen and (max-width: 1200px) {
        padding-top: 6rem;
        padding-bottom: 2.2rem;
    }

    &-img {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 16.6rem;
        height: 8.4rem;

        @media screen and (max-width: 1450px) {
            top: -8%;
            left: 2%;
        }

        @media screen and (max-width: 800px) {
            width: 14.6rem;
            height: 6.4rem;
            top: -5%;
            left: 2%;
        }

        @media screen and (max-width: 600px) {
            width: 12.6rem;
            height: 6.4rem;
            top: -5%;
            left: 2%;
        }

        animation: textNhungNhay2 5s linear infinite backwards;
        @keyframes textNhungNhay2 {
            0% {
                transform: translateY(0);
            }

            20% {
                transform: translateY(5%) rotate(-5deg);
            }

            40% {
                transform: translateY(0%) rotate(5deg);
            }

            60% {
                transform: translateY(5%) scale(1.1) rotate(-5deg);
            }

            100% {
                transform: translateY(0%) scale(1) rotate(0deg);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-wrap {
        background-color: $color-pri;
        padding: 3rem 5rem 5rem 5rem;
        border-radius: 0.8rem;
        position: relative;

        @media screen and (max-width: 1200px) {
            padding: 3rem;
        }

        @media screen and (max-width: 768px) {
            padding: 2rem;
            .swiper-slide {
                width: 50%;
            }
        }

        @media screen and (max-width: 600px) {
            padding: 2rem 1.2rem; 
            .swiper-slide {
                width: 50%;
            }
        }

        @media screen and (max-width: 460px) {
            padding: 3rem 1.2rem 2rem;
        }

        @media screen and (max-width: 400px) {
            padding: 3rem 0.6rem 2rem;
        }

        @media screen and (max-width: 360px) {
            .swiper-slide {
                width: 100%;
            }
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.8rem;
        flex-wrap: wrap;
        row-gap: 1rem;

        @media screen and (max-width: 430px) {
            flex-direction: column;
            align-items: center;
        }
        &-lf {
            @media screen and (max-width: 1024px) {
                width: fit-content;
            }

            @media screen and (max-width: 800px) {
                width: 100%;
                .title-lg {
                    text-align: center;
                }
            }
        }

        &-tt {
            width: 6.3rem;
            height: 6.3rem;
            margin-right: -1rem;
            flex-shrink: 0;
            animation: anHienTT 3s linear infinite;
            @keyframes anHienTT {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.5;
                }

                100% {
                    opacity: 1;
                }
            }

            @media screen and (max-width: 430px) {
                width: 4rem;
                height: 4rem;
                margin-right: -0.5rem;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-rt {
            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            @media screen and (max-width: 800px) {
                width: fit-content;
            }
        }

        &-ct {
            display: flex;
            align-items: center;
            position: relative;
            @media screen and (max-width: 1024px) {
                width: fit-content;
                justify-content: flex-end;
            }

            @media screen and (max-width: 800px) {
                width: fit-content;
                justify-content: flex-start;
            }

            .title-md {
                text-transform: uppercase;
                animation: textNhungNhay 5s linear infinite backwards;
                @keyframes textNhungNhay {
                    0% {
                        transform: translateY(0);
                    }

                    20% {
                        transform: translateY(5%) rotate(2deg);
                    }

                    40% {
                        transform: translateY(5%) rotate(-2deg);
                    }

                    60% {
                        transform: translateY(5%) scale(1.1) rotate(0deg);
                    }

                    100% {
                        transform: translateY(0%) scale(1);
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -0.5rem;
                left: 30%;
                background-image: url(../assets/images/salett2.svg);
                width: 6.4rem;
                height: 1.2rem;
                background-repeat: no-repeat;
                background-size: cover;
                animation: anHienTT 3s linear infinite;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -0.5rem;
                left: 100%;
                background-image: url(../assets/images/salett2.svg);
                width: 6.4rem;
                height: 1.2rem;
                background-repeat: no-repeat;
                background-size: cover;
                animation: anHienTT 3s linear infinite;
                animation-delay: 0.5s;

                @media screen and (max-width: 1024px) {
                    left: unset;
                    right: 0;
                }
            }
        }

        &-link {
            display: flex;
            align-items: center;
            column-gap: 0.8rem;

            @include hover {
                .home-sale-top-text {
                    color: $color-second;
                }

                .home-sale-top-ic {
                    i {
                        color: $color-second;
                    }
                }
            }
        }

        &-text {
            color: $color-white;
            // transition: all 0.3s linear;
            font-weight: 600;
        }

        &-ic {
            font-size: 1.4rem;
            color: $color-white;
            transition: all 0.3s linear;
        }
    }
}

.home-why {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;

    @media screen and (max-width: 1024px) {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    &-wrap {
        .title-lg {
            max-width: 80rem;
            text-align: center;
            margin: 0 auto 3.2rem;
        }
    }

    &-list {
       row-gap: 1.2rem;
       flex-wrap: nowrap;

       @media screen and (max-width: 800px) {
       flex-wrap: wrap;
        
       }
    }

    &-items{
        @media screen and (max-width:1200px) {
            width: calc(100% * 4 / 12) !important;
        }


        @media screen and (max-width: 800px) {
            width: 50% !important;
        }

        @media screen and (max-width: 360px) {
            width: 100% !important;
        }
    }

    &-item {
        height: 100%;
        padding: 3.2rem 2.4rem;
        background-color: #f8f8f8;
        border-radius: 2.4rem;
        transition: all 0.3s linear;
        width: 100%;


        @media screen and (max-width: 1200px) {
            padding: 2.2rem 1.4rem;
        }

        @media screen and (max-width: 800px) {
            padding: 2rem 1.2rem;
        }

        @media screen and (max-width: 600px) {
            padding:2rem 1.2rem;
        }

        @include hover {
            background-color: rgba($color: $color-pri, $alpha: 1);

            .note-title {
                color: $color-white;
            }
            .note-text {
                color: $color-white;
            }

            .home-why-item-ic {
                img {
                    filter: brightness(0) saturate(100%) invert(93%) sepia(14%) saturate(2489%) hue-rotate(184deg)
                        brightness(121%) contrast(98%);
                }
            }
        }

        .note-title {
            color: $color-second;
            text-align: center;
            margin-bottom: 1.2rem;
        }

        .note-text {
            opacity: 0.7;
            text-align: center;
            color: $color-second;
        }

        &-ic {
            width: 4rem;
            height: 4rem;
            margin: 0 auto 2.4rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.home-list {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;

    @media screen and (max-width: 1200px) {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
    &-wrap {
        background-color: $color-second;
        border-radius: 0.8rem;
        padding: 13rem 3.2rem 3.2rem;
        position: relative;

        @media screen and (max-width: 800px) {
            padding: 10rem 2rem 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 8rem 2rem 2rem;
        }

        @media screen and (max-width: 460px) {
            padding: 2rem 1.2rem;
        }
    }

    &-title {
        max-width: 70rem;
        margin: 0 auto 2.4rem;
        padding-top: 1rem;
        padding-bottom: 3.4rem;
        position: absolute;
        top: -5%;
        width: 100%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, 0%);
        .title-lg {
            position: relative;
            z-index: 2;
            text-align: center;
        }

        @media screen and (max-width: 1200px) {
            top: -3.5%;
        }

        @media screen and (max-width: 800px) {
            max-width: 60rem;
            top: -3.3%;
        }

        @media screen and (max-width: 700px) {
            max-width: 55rem;
            top: -3.4%;
           
        }

        @media screen and (max-width: 600px) {
            padding-top: 2.5rem;
            max-width: 40rem;
            top: -6.5%;
        }

        @media screen and (max-width: 460px) {
            position: static;
            transform: unset;
            padding: 0;
            &::before {
                display: none;
            }
        }

        &::before {
            content: "";
            background-image: url(../assets/images/homeListTT.png);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &-box {
        .d-wrap {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }

        .d-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        row-gap: 1.2rem;
        // flex-wrap: nowrap;
        
    }

    &-item {
        

        width: calc(100% / 6);
        height: auto;
        display: block;
       

       

        @media screen and (max-width: 800px) {
            width: calc(100% / 5);
        }

        @media screen and (max-width: 600px) {
            width: calc(100% / 4);
        }

        @media screen and (max-width: 460px) {
            width: calc(100% / 3);
        }

        @media screen and (max-width: 330px) {
            width: calc(100% / 2);
        }

        &-wrap{
            
            border-radius: 0.8rem;
            background: $color-white2;
            padding: 3.5rem 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.3s linear;
            height: 100%;

            @media screen and (max-width: 1200px) {
                padding: 2rem 0.8rem;
            }

            @media screen and (max-width: 800px) {
                padding: 1.2rem 0.8rem;
            }
            
        }

       

        @include hover {
            .home-list-item-wrap{
                background-color: rgba($color: $color-pri, $alpha: 1);

            }
            .home-list-item-img {
                img {
                    transform: scale(1.1);
                }
            }

            .note-title {
                color: $color-white2;
            }
        }

        .note-title {
            font-size: 1.3rem;
            font-family: "Inter";
            text-align: center;
            // white-space: nowrap;

            // @media screen and (max-width:1200px) {
            // font-size: 1vw;

            // }

            @media screen and (max-width:600px) {
                font-size: 1.1rem;
            }

            @media screen and (max-width:460px) {
                font-size: 1rem;
            }
        }

        &-img {
            max-width: 14.6rem;
            margin-bottom: 1rem;
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;

                transition: all 0.3s linear;
            }
        }
    }
}

.home-product {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;

    @media screen and (max-width: 1200px) {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    .product-item{
        height: auto;
    }

    &-wrap {
        row-gap: 2.4rem;

    

        @media screen and (max-width: 1024px) {
            .product-item {
                width: 25%;
            }
        }

        @media screen and (max-width: 800px) {
            row-gap: 1.2rem;
            .product-item {
                width: 33.33%;
            }
        }

        @media screen and (max-width: 600px) {
            row-gap: 0.6rem;
            flex-wrap: nowrap;
            scroll-snap-type: both mandatory;
            white-space: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            padding-bottom: 0.5rem;
            &::-webkit-scrollbar{
                height: 0.3rem !important;
            }
            .product-item {
                width: 100%;
                scroll-snap-align: start;
            }
        }

        // @media screen and (max-width: 360px) {
        //     row-gap: 0.6rem;
        //     .product-item {
        //         width: 100%;
        //     }
        // }
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 3rem;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            justify-content: center;
        }
    }
}

.home-grid {
    padding-top: 16rem;
    padding-bottom: 4.4rem;

    position: relative;

    @media screen and (max-width: 1200px) {
        padding-top: 10rem;
        padding-bottom: 2.2rem;
    }

    @media screen and (max-width: 600px) {
        padding-top: 2.2rem;
    }

    &-tt {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        @media screen and (max-width: 1200px) {
            top: 5%;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(46.49% 43.05% at 50% 48.54%, rgba(255, 255, 255, 0.56) 0%, #fff 100%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-list {
        display: grid;
        grid-template-areas:
            "h1 h2 h4 h4 h5 h7"
            "h1 h3 h4 h4 h6 h7";
       
        gap: 1.2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20rem 20rem;

        @media screen and (max-width: 1200px) {
            padding: 0.6rem;
            grid-template-areas:
                "h1 h1 h2 h2 h5 h5"
                "h4 h4 h4 h4 h4 h4"
                "h4 h4 h4 h4 h4 h4"
                "h3 h3 h6 h6 h7 h7";

            gap: 0.6rem;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 20rem 20rem 20rem 20rem;
        }

        @media screen and (max-width: 800px) {
          
            grid-template-areas:
                "h1 h1 h2 h2 h5 h5"
                "h4 h4 h4 h4 h4 h4"
                "h4 h4 h4 h4 h4 h4"
                "h3 h3 h6 h6 h7 h7";

            gap: 0.6rem;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 15rem 15rem 15rem 15rem;
        }

        @media screen and (max-width: 400px) {
            grid-template-areas:
                "h1 h1 h1 h1 h1 h1"
                "h2 h2 h2 h5 h5 h5"
                "h4 h4 h4 h4 h4 h4"
                "h4 h4 h4 h4 h4 h4"
                "h3 h3 h3 h6 h6 h6"
                "h7 h7 h7 h7 h7 h7";

            gap: 0.6rem;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            grid-template-rows: 12rem 12rem 12rem 12rem 12rem 12rem;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        overflow: hidden;
        display: block;
        @media screen and (max-width: 600px) {
            border-radius: 0.6rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-item {
        &:first-child {
            grid-area: h1;
        }

        &:nth-child(2) {
            grid-area: h2;
        }

        &:nth-child(3) {
            grid-area: h3;
        }

        &:nth-child(4) {
            grid-area: h4;
        }

        &:nth-child(5) {
            grid-area: h5;
        }

        &:nth-child(6) {
            grid-area: h6;
        }

        &:last-child {
            grid-area: h7;
        }
    }
}

.home-contact {
    padding-top: 4.4rem;
    padding-bottom: 0rem;

    @media screen and (max-width:1200px) {
        padding-top: 2.2rem;
    }

    &-wrap {
        border-radius: 1.2rem;
        background: $color-second;
        padding: 4rem 5.2rem;

        @media screen and (max-width:1200px) {
            padding: 3rem 2rem;
        }

        @media screen and (max-width:460px) {
            padding: 2rem 1.2rem;
        }
    }

    &-box {
        align-items: center;

        @media screen and (max-width:768px) {
            flex-direction: column;
            row-gap: 3rem;
        }

        @media screen and (max-width:460px) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &-lf {
        @media screen and (max-width:768px) {
            width: 100%;
        }

        .title-md {
            font-weight: 600;
            margin-bottom: 3.4rem;

            @media screen and (max-width:768px) {
                margin-bottom: 2rem;
            }
        }

        &-title {
            color: $color-white;
            @include fz-24;
        }

        &-ct{
            display: flex;
            flex-direction: column;
            row-gap: 4rem;


            @media screen and (max-width:768px) {
                flex-direction:row;
                justify-content:space-between;
                flex-wrap: wrap;
                row-gap: 2rem;
            }
        }

        &-lh {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;

            @media screen and (max-width:460px) {
                width: 100%;
                align-items: center;
            }
           
        }

        &-mxh {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;

            @media screen and (max-width:460px) {
                width: 100%;
                align-items: center;
            }
        }
    }

    &-rt {
        display: flex;
        justify-content: end;

        @media screen and (max-width:768px) {
            width: 100%;
        }
        &-wrap {
            padding: 3.2rem;
            width: 100%;
            max-width: 48.5rem;
            border-radius: 1.5rem;
            background: $color-white2;


            @media screen and (max-width:1200px) {
                padding: 2rem;
            }

            @media screen and (max-width:768px) {
                max-width: none;
            }
        }

        .title-sm {
            text-align: center;
            margin-bottom: 2.4rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        .btn-buy {
            min-width: 14rem;
            margin: 2.4rem auto 0;
        }
    }
}

.home-dn {
    min-height: 80rem;
    padding-bottom: 4.4rem;

    @media screen and (max-width:1200px) {
       min-height: unset;
       padding-bottom: 2.2rem;
    }
    &-wrap {
    }

    &-img {
        width: 100%;
        height: 100%;
        position: relative;

        &::before{
            content: "";position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 80%);
        }
        

        img {
            width: 100%;
            height: 100%;
        }

         video {
            width: 100%;
            height: 100%;
        }
    }

    &-box {
        max-width: 100rem;
        margin: -25rem auto 0;
        display: flex;
        flex-direction: column;
        row-gap: 4.2rem;

        position: relative;
        z-index: 2;
        @media screen and (max-width:1200px) {
            margin: -15rem auto 0;
            row-gap: 2.2rem;
        }

        @media screen and (max-width:600px) {
            margin: 0rem auto 0;
            row-gap: 1.2rem;
        }

        .title-lg {
            text-align: center;
           
        }

        .note-text {
            text-align: center;
            color: $color-second;
           
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .btn-buy {
            min-width: unset;
            padding: 0 2rem;
            margin: auto;
        }
    }
}

.home-at {
    padding-top: 4.4rem;
    padding-bottom: 4.4rem;
    overflow: hidden;

    @media screen and (max-width:1200px) {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    @media screen and (max-width:460px) {
        padding-top: 4.4rem;
        padding-bottom: 2.2rem;
    }

    &-wrap {
        align-items: start;

        @media screen and (max-width:1200px) {
            align-items: center;
        }

        @media screen and (max-width:800px) {
            flex-direction: column;
            row-gap: 12vw;
        }

        @media screen and (max-width:460px) {
            flex-direction: column;
            row-gap: 20vw;
        }

        @media screen and (max-width:360px) {
            flex-direction: column;
            row-gap: 30vw;
        }
    }

    &-lf {
        flex: 1;

        @media screen and (max-width:800px) {
           width: 100%;
        }

        &-wrap {
            margin-left: calc((100vw - 120rem) / -2);
            margin-right: -25rem;
            width: 65vw;
            position: relative;

            @media screen and (max-width:1200px) {
                margin-left: -1.5rem;
            }

            @media screen and (max-width:800px) {
                margin-right: -1.5rem;
                width: 100vw;
            }
        }

        &-ic {
            position: absolute;
            top: 0;
            right: 16%;
            width: 4vw;
            height:4vw;

            img{
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width:800px) {
                width: 8vw;
                height: 8vw;
                right: 5%;
            }

            @media screen and (max-width:460px) {
                width: 10vw;
                height: 10vw;
                right: 3%;
                top: -8%;
            }

            @media screen and (max-width:460px) {
                width: 12vw;
                height: 12vw;
                right: 3%;
                top: -17%;
            }
        }

        &-top {
            color: $color-pri;
            font-family: "Oswald";
           font-size: 3vw;
            font-weight: 600;
            display: flex;
            align-items: center;
            column-gap: 0.1rem;
           

            @media screen and (max-width:800px) {
                font-size: 5vw;
            }

            @media screen and (max-width:460px) {
                font-size: 6vw;
            }
        }

        &-center {
            .note-text{
                font-size: 0.8vw;
                font-weight: 600;
                text-align: center;
                @media screen and (max-width:1200px) {
                    font-size: 1vw;
                }

                @media screen and (max-width:800px) {
                    font-size: 1.6vw;
                }

                @media screen and (max-width:460px) {
                    font-size: 2vw;
                }

                @media screen and (max-width:360px) {
                    font-size: 2.6vw;
                }
            }
        }

        &-tt {
            width: 90%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-num {
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.2rem;
            width: fit-content;
            position: absolute;
            width: 15vw;


            @media screen and (max-width:1200px) {
                width: 20vw;
                row-gap: 0.6rem;
            }

            @media screen and (max-width:800px) {
                width: 35vw;
                row-gap: 0.6rem;
            }

            @media screen and (max-width:460px) {
                width: 40vw;
                row-gap: 0.6rem;
            }

            @media screen and (max-width:360px) {
                width: 45vw;
                row-gap: 0.6rem;
            }

            &:first-child {
                top: 0;
                left: 10%;

                @media screen and (max-width:1200px) {
                   top: -5%;
                }

                @media screen and (max-width:800px) {
                    left: 5%;
                 }

                 @media screen and (max-width:460px) {
                    top: -10%;
                    left: 3%;
                 }

                 @media screen and (max-width:360px) {
                  left: 1%;
                }
            }

            &:nth-child(2) {
                top: 15%;
                left: 35%;

                @media screen and (max-width:1200px) {
                    top: 10%;
                    left: 45%;
                 }

                 @media screen and (max-width:800px) {
                    top: 10%;
                    left: 45%;
                 }

                 @media screen and (max-width:460px) {
                    top: 5%;
                    left: 53%;
                 }

                
            }

            &:nth-child(3) {
                top: 50%;
                left: 15%;

                @media screen and (max-width:1200px) {
                    top: 65%;
                }

                @media screen and (max-width:800px) {
                    top: 50%;
                    left: 10%;
                }

                @media screen and (max-width:460px) {
                    left: 8%;
                }

                @media screen and (max-width:360px) {
                    left: 3%;
                    top: 60%;
                  }
            }

            &:last-child {
                top: 50%;
                left: 55%;

                @media screen and (max-width:1200px) {
                    top: 65%;
                }

                @media screen and (max-width:800px) {
                    top: 65%;
                }

                @media screen and (max-width:460px) {
                   top: 70%;
                }

                @media screen and (max-width:360px) {
                    top: 85%;
                    left: 53%;
                  }
            }
        }

        &-bg {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-rt {
        width: calc(100% * 5 / 12);
        @media screen and (max-width:800px) {
            width: 100%;
         }
        &-wrap {
            .title-lg2 {
                @include fz-42;
                font-weight: 600;
                font-family: "Oswald";
                margin-bottom: 3.2rem;


                @media screen and (max-width:1200px) {
                    margin-bottom: 1.6rem;
                }
            }
        }
    }
}

.home-news {
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;

    @media screen and (max-width:1200px) {
        padding-top: 4.4rem;
        padding-bottom: 4.4rem;
    }

    @media screen and (max-width:600px) {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }

    .swiper-slide{
        @media screen and (max-width:360px) {
            width: 100%;
        }
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        @media screen and (max-width:460px) {
            flex-direction: column;
            row-gap: 1rem;
            margin-bottom: 2rem;
        }
    }
}
