<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <div class="banner-main">
        <div class="container">
          <div class="banner-main--wrap">
            <div class="banner-main--content">
              <h1 class="title-lg fw-7 cl-pri fl-Big-Display">About Us</h1>
              <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Homepage</a></li>
                <li class="breadcrumbs-item current"><a class="breadcrumbs-link" href="">About Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="banner-main-bg"><img src="./assets/images/porbg.png" alt=""/></div>
      </div>
      <section class="about_our"> 
        <div class="container"> 
          <div class="about_our--wrap d-wrap"> 
            <div class="about_our--lf d-item d-2" data-aos="fade-right"> 
              <div class="about_our--lf-wrap"> 
                <div class="about_our--lf-list"> 
                  <div class="about_our--lf-item"> 
                    <div class="about_our--lf-img"> <img src="./assets/images/o1.png" alt=""/>
                    </div>
                  </div>
                  <div class="about_our--lf-item"> 
                    <div class="about_our--lf-img"> <img src="./assets/images/o3.png" alt=""/>
                    </div>
                  </div>
                  <div class="about_our--lf-item"> 
                    <div class="about_our--lf-img"> <img src="./assets/images/o2.png" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about_our--rt d-item d-2" data-aos="fade-left"> 
              <div class="about_our--rt-wrap"> 
                <div class="box-title">
                  <h3 class="title-cus">ONE STOP SOLUTION</h3>
                  <h2 class="title-lg cl-second fw-7">Our Story</h2>
                </div>
                <div class="about_our--rt-content"> 
                  <p class="note-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
                  <p class="note-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
                  <p class="note-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="about_our--rt-list"> 
                  <div class="about_our--rt-item"> 
                    <div class="about_our--rt-num"> 
                      <p class="num">20</p>
                      <p class="plus">+</p>
                    </div>
                    <p class="note-text cl-black">Years of experience</p>
                  </div>
                  <div class="about_our--rt-item"> 
                    <div class="about_our--rt-num"> 
                      <p class="num">100</p>
                      <p class="plus">+</p>
                    </div>
                    <p class="note-text cl-black">Project completed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_do free-slide">
        <div class="about_do--bg"><img src="./assets/images/abdo.png" alt=""/>
        </div>
        <div class="container">
          <div class="about_do--wrap">
            <div class="box-title">
              <h3 class="title-cus" data-aos="fade-up">ONE STOP SOLUTION</h3>
              <h2 class="title-lg cl-second fw-7" data-aos="fade-up" data-aos-delay="500">What We Do</h2>
            </div>
            <div class="about_do--list d-wrap" data-aos="fade-up" data-aos-delay="800"> 
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-item d-3">
                    <div class="about_do--item">
                      <div class="about_do--item-wrap">
                        <div class="about_do--item-ic"> <img src="./assets/images/d1.svg" alt=""/>
                        </div>
                        <h3 class="title-mn fw-7 cl-second">Professionalism</h3>
                        <p class="note-text">Providing professional and high-quality interior construction and equipment supply services, ensuring progress and safety.</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="about_do--item">
                      <div class="about_do--item-wrap">
                        <div class="about_do--item-ic"> <img src="./assets/images/d2.svg" alt=""/>
                        </div>
                        <h3 class="title-mn fw-7 cl-second">Creativity</h3>
                        <p class="note-text">Providing professional and high-quality interior construction and equipment supply services, ensuring progress and safety.</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="about_do--item">
                      <div class="about_do--item-wrap">
                        <div class="about_do--item-ic"> <img src="./assets/images/d3.svg" alt=""/>
                        </div>
                        <h3 class="title-mn fw-7 cl-second">Dedication</h3>
                        <p class="note-text">Listening and understanding customer needs, consulting wholeheartedly and thoughtfully.</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="about_do--item">
                      <div class="about_do--item-wrap">
                        <div class="about_do--item-ic"> <img src="./assets/images/d1.svg" alt=""/>
                        </div>
                        <h3 class="title-mn fw-7 cl-second">Dedication</h3>
                        <p class="note-text">Listening and understanding customer needs, consulting wholeheartedly and thoughtfully.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination custom-2"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_prj free-slide"> 
        <div class="container"> 
          <div class="about_prj--wrap"> 
            <div class="box-title">
              <h3 class="title-cus" data-aos="fade-up">ONE STOP SOLUTION</h3>
              <h2 class="title-lg cl-second fw-7" data-aos="fade-up" data-aos-delay="500">Our Project</h2>
            </div>
            <div class="project_more--list d-wrap" data-aos="fade-up" data-aos-delay="800"> 
              <div class="swiper mySwiper"> 
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj1.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj1.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination custom-2"></div>
            </div><a class="btn" data-aos="fade-in"><span class="btn-text">View all projects</span><span class="btn-ic"> <i class="fal fa-arrow-right"> </i></span></a>
          </div>
        </div>
      </section>
      <section class="about_alb tab-box">
        <div class="about_alb--wrap"> 
          <div class="about_alb--title">
            <div class="container">
              <div class="about_alb--title-wrap">
                <div class="box-title">
                  <h3 class="title-cus" data-aos="fade-up">ONE STOP SOLUTION</h3>
                  <h2 class="title-lg cl-second fw-7" data-aos="fade-up" data-aos-delay="500">Our Project</h2>
                </div>
                <div class="about_alb--btns" data-aos="fade-up" data-aos-delay="800">
                  <button class="btn trans about_alb--btn tab-btn actived"><span class="btn-text">Images</span></button>
                  <button class="btn trans about_alb--btn tab-btn"><span class="btn-text">Videos</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="about_alb--list" data-aos="fade-in" data-aos-delay="1100"> 
            <div class="about_alb--item tab-content showed">
              <div class="about_alb--item-wrap">
                <div class="about_alb--item-slide d-wrap">
                  <div class="splide">
                    <div class="splide__slider">
                      <div class="splide__track">
                        <div class="splide__list">
                          <div class="splide__slide d-item"><a class="about_alb--item-img" href="./assets/images/i1.png" data-fancybox="gallery"><img src="./assets/images/i1.png" alt=""/></a></div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i2.png" data-fancybox="gallery"><img src="./assets/images/i2.png" alt=""/>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i3.png" data-fancybox="gallery"><img src="./assets/images/i3.png" alt=""/>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i3.png" data-fancybox="gallery"><img src="./assets/images/i4.png" alt=""/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="about_alb--item-slide d-wrap">
                  <div class="splide">
                    <div class="splide__slider">
                      <div class="splide__track">
                        <div class="splide__list">
                          <div class="splide__slide d-item"><a class="about_alb--item-img" href="./assets/images/i1.png" data-fancybox="gallery"><img src="./assets/images/i1.png" alt=""/></a></div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i2.png" data-fancybox="gallery"><img src="./assets/images/i2.png" alt=""/>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i3.png" data-fancybox="gallery"><img src="./assets/images/i3.png" alt=""/>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img" href="./assets/images/i3.png" data-fancybox="gallery"><img src="./assets/images/i4.png" alt=""/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about_alb--item tab-content">
              <div class="about_alb--item-wrap">
                <div class="about_alb--item-slide d-wrap">
                  <div class="splide">
                    <div class="splide__slider">
                      <div class="splide__track">
                        <div class="splide__list">
                          <div class="splide__slide d-item"><a class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=b_pcHCfW4S4" data-fancybox="gallery"><img src="./assets/images/i1.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span></a></div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=jMhehPP2KjY" data-fancybox="gallery"><img src="./assets/images/i2.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=X-FEs1ku8dA" data-fancybox="gallery"><img src="./assets/images/i3.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=dk6ZFR_Ebkg" data-fancybox="gallery"><img src="./assets/images/i4.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="about_alb--item-slide d-wrap">
                  <div class="splide">
                    <div class="splide__slider">
                      <div class="splide__track">
                        <div class="splide__list">
                          <div class="splide__slide d-item"><a class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=b_pcHCfW4S4" data-fancybox="gallery"><img src="./assets/images/i1.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span></a></div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=jMhehPP2KjY" data-fancybox="gallery"><img src="./assets/images/i2.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=X-FEs1ku8dA" data-fancybox="gallery"><img src="./assets/images/i3.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                          <div class="splide__slide d-item">
                            <div class="about_alb--item-img vd" href="https://www.youtube.com/watch?v=dk6ZFR_Ebkg" data-fancybox="gallery"><img src="./assets/images/i4.png" alt=""/><span class="btn-play"><span class="btn-play-tt"></span><span class="btn-play-ic"> <i class="fas fa-play"></i></span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrUp.png" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>