<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>blog details</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <div class="breadcrumbs">
        <div class="container"> 
          <ul class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Homepage  </a></li>
            <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Blog &amp; New   </a></li>
            <li class="breadcrumbs-item current"><a class="breadcrumbs-link" href="">The Ultimate Guide to Sustainable Architecture   </a></li>
          </ul>
        </div>
      </div>
      <section class="news_ct">
        <div class="container"> 
          <div class="news_ct--wrap">
            <div class="news_ct--box d-wrap">
              <div class="news_ct--lf d-item">
                <div class="news_ct--lf-wrap"> 
                  <div class="news_ct--lf-box"> 
                    <div class="news_ct--op"> 
                      <div class="control-2"> 
                        <ul class="control-2-list">
                          <li class="control-2-item"> <a class="control-img" href=""><img src="./assets/images/s1.svg" alt=""/></a></li>
                          <li class="control-2-item print"> <a class="control-img" href=""><img src="./assets/images/s2.svg" alt=""/></a></li>
                          <li class="control-2-item print"> <a class="control-img" href=""><img src="./assets/images/s3.svg" alt=""/></a></li>
                          <li class="control-2-item print"> <a class="control-img" href=""><img src="./assets/images/s4.svg" alt=""/></a></li>
                          <li class="control-2-item print"> <a class="control-img" href=""><img src="./assets/images/s5.svg" alt=""/></a></li>
                          <li class="control-2-item print"> <a class="control-img" href=""><img src="./assets/images/s6.svg" alt=""/></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news_ct--ct d-item"> 
                <div class="news_ct--ct-wrap">
                  <div class="news_ct--ct-wrap-content">
                    <div class="news_ct--title"> 
                      <h1 class="title-md cl-second fw-7">The Ultimate Guide to Sustainable Architecture</h1>
                      <div class="box-info2">
                        <div class="box-info2-author"><span class="ic"><img src="./assets/images/user.svg" alt=""/></span><a class="note-sm fw-7" href="">Ngọc Thành</a></div>
                        <div class="box-info2-date"><span class="ic"><img src="./assets/images/time.svg" alt=""/></span>
                          <p class="note-sm cl-gray">8:30 25/06/2023</p>
                        </div>
                      </div>
                    </div>
                    <div class="news_ct--content">
                      <p class="note-text">Welcome to the exciting world of sustainable architecture! This guide will equip you with the knowledge and inspiration to design and build structures that are not only beautiful and functional but also kind to the environment.</p>
                      <div class="news_ct--img"> <img src="./assets/images/al3.png" alt=""/>
                      </div>
                      <div class="news_ct--note">
                        <p class="note-sm">Sustainable architecture goes beyond aesthetics. It's a holistic approach to design that minimizes a building's environmental impact throughout its lifecycle. This includes:</p>
                      </div>
                      <p class="note-text">Để đạt được mục tiêu, Meta sẽ mua khoảng 350.000 GPU H100 của Nvidia trong năm nay. Công ty sẽ sở hữu tổng cộng khoảng 600.000 chip, gồm của Nvidia và một số sản phẩm từ các đơn vị khác.</p>
                      <p class="note-text">Trả lời The Verge sau đó, Zuckerberg tiếp tục nhắc đến con số 600.000 GPU, khẳng định Meta sẽ đạt số lượng này trong kho dự trữ cho đến cuối năm. "Chúng tôi đã sẵn sàng xây dựng một hệ thống đào tạo AI với quy mô có thể lớn hơn bất kỳ công ty riêng lẻ nào khác", ông nhấn mạnh.</p>
                      <p class="note-text">Bộ xử lý đồ họa (GPU) hiện là sản phẩm được săn lùng nhờ khả năng tính toán và xử lý dữ liệu tốc độ cao - yếu tố cần thiết đối với bất kỳ mô hình ngôn ngữ lớn (LLM) nào. Đến nay, GPU Nvidia được đặt mua nhiều nhất, trong khi các hãng khác như AMD cũng bắt đầu cuộc đua với sản phẩm tương tự.</p>
                      <p class="note-text">Hiện trên thị trường, mỗi GPU H100 của Nvidia có giá khoảng 30.000-40.000 USD. Theo ước tính của Business Insider, với việc mua thêm 350.000 mẫu H100, Meta cần phải chi khoảng 10-14 tỷ USD để xây dựng hệ thống mới. Điều này đồng nghĩa Meta sở hữu số GPU tương đương 18-24 tỷ USD đến hết năm nay.</p>
                      <p class="note-text">Việc Zuckerberg đổ tiền tỷ vào AI diễn ra trong bối cảnh Meta đã đầu tư hàng chục tỷ USD để theo đuổi tham vọng vũ trụ ảo metaverse. Sau hơn bốn năm đầu tư, Meta thua lỗ gần 50 tỷ USD, tương đương mức vốn hóa của nhiều công ty lớn.</p>
                      <p class="note-text">"Hai làn sóng công nghệ lớn là AI hiện tại và metaverse tương lai", ông nói trong cuộc họp với nhà đầu tư tháng 10 năm ngoái. "Đây là màn đánh cược dài hạn. Tôi không thể đảm bảo mình đúng, nhưng metaverse là mục tiêu mà thế giới hướng đến".</p>
                      <p class="note-text">Ở lĩnh vực AI tạo sinh, Meta cũng có một số sản phẩm gây chú ý. Tháng 9 năm ngoái, công ty giới thiệu chatbot AI "đa nhân cách". Chatbot được xây dựng bằng mô hình ngôn ngữ Llama 2 và mô hình chuyển văn bản thành hình ảnh có tên Emu. Sản phẩm tạo văn bản, âm thanh, hình ảnh, đồng thời có quyền truy cập thông tin thời gian thực thông qua hợp tác với công cụ tìm kiếm Bing của Microsoft. Gần đây, công ty cũng ra Imagine with Meta AI cho phép tạo ảnh bất kỳ từ đoạn văn bản nhập vào.</p>
                    </div>
                  </div>
                  <div class="news_ct--utility"> 
                    <div class="news_ct--keys"> 
                      <div class="news_ct--keys-wrap"> 
                        <p class="note-text cl-second fw-7">Tags</p>
                        <ul class="news_ct--keys-list">
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Nội thất</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Trang trí</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Gạch nhựa</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Trend 2024</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Nhà đẹp</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Phào chỉ</span></a>
                          </li>
                          <li class="news_ct--keys-item"><a class="box-dm" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Trang trí phong thuỷ</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="post_more free-slide"> 
        <div class="container">
          <div class="post_more--wrap">
            <div class="box-title2"> 
              <p class="title-cus">BLOG & newS</p>
              <div class="box-title2-wrap"> 
                <h2 class="title-lg fw-7 cl-second">Related news</h2>
                <div class="box-navi">
                  <div class="btn-navi prev"> <i class="fas fa-chevron-left"></i></div>
                  <div class="btn-navi next"> <i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
            <div class="post_more--list d-wrap"> 
              <div class="swiper mySwiper"> 
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-item d-3">
                    <div class="like_item--wrap">
                      <div class="like_item--top"><a class="like_item--img" href="#"> <img src="./assets/images/pal1.png" alt=""/></a></div>
                      <div class="like_item--bottom">
                        <div class="like_item--info"> 
                          <div class="box-info">
                            <div class="box-info-author"><a class="note-mn fw-6" href="#">Nguyễn Hùng Đức</a></div>
                            <div class="box-info-date"> 
                              <p class="note-mn cl-gray">25/06/23</p>
                            </div>
                          </div>
                        </div>
                        <div class="like_item--des"> 
                          <h2 class="note-text cl-second fw-7 title" data-tt="The Ultimate Guide to Sustainable Architecture"> <a href="#">The Ultimate Guide to Sustainable Architecture</a></h2>
                          <p class="note-text content"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="like_item--wrap">
                      <div class="like_item--top"><a class="like_item--img" href="#"> <img src="./assets/images/pal2.png" alt=""/></a></div>
                      <div class="like_item--bottom">
                        <div class="like_item--info"> 
                          <div class="box-info">
                            <div class="box-info-author"><a class="note-mn fw-6" href="#">Nguyễn Hùng Đức</a></div>
                            <div class="box-info-date"> 
                              <p class="note-mn cl-gray">25/06/23</p>
                            </div>
                          </div>
                        </div>
                        <div class="like_item--des"> 
                          <h2 class="note-text cl-second fw-7 title" data-tt="The Ultimate Guide to Sustainable Architecture"> <a href="#">The Ultimate Guide to Sustainable Architecture</a></h2>
                          <p class="note-text content"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="like_item--wrap">
                      <div class="like_item--top"><a class="like_item--img" href="#"> <img src="./assets/images/pal3.png" alt=""/></a></div>
                      <div class="like_item--bottom">
                        <div class="like_item--info"> 
                          <div class="box-info">
                            <div class="box-info-author"><a class="note-mn fw-6" href="#">Nguyễn Hùng Đức</a></div>
                            <div class="box-info-date"> 
                              <p class="note-mn cl-gray">25/06/23</p>
                            </div>
                          </div>
                        </div>
                        <div class="like_item--des"> 
                          <h2 class="note-text cl-second fw-7 title" data-tt="The Ultimate Guide to Sustainable Architecture"> <a href="#">The Ultimate Guide to Sustainable Architecture</a></h2>
                          <p class="note-text content"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="like_item--wrap">
                      <div class="like_item--top"><a class="like_item--img" href="#"> <img src="./assets/images/pal4.png" alt=""/></a></div>
                      <div class="like_item--bottom">
                        <div class="like_item--info"> 
                          <div class="box-info">
                            <div class="box-info-author"><a class="note-mn fw-6" href="#">Nguyễn Hùng Đức</a></div>
                            <div class="box-info-date"> 
                              <p class="note-mn cl-gray">25/06/23</p>
                            </div>
                          </div>
                        </div>
                        <div class="like_item--des"> 
                          <h2 class="note-text cl-second fw-7 title" data-tt="The Ultimate Guide to Sustainable Architecture"> <a href="#">The Ultimate Guide to Sustainable Architecture</a></h2>
                          <p class="note-text content"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrUp.png" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>