<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <div class="banner-main">
        <div class="container">
          <div class="banner-main--wrap">
            <div class="banner-main--content">
              <h1 class="title-lg fw-7 cl-pri fl-Big-Display">Contact us</h1>
              <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Homepage</a></li>
                <li class="breadcrumbs-item current"><a class="breadcrumbs-link" href="">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="banner-main-bg"><img src="./assets/images/porbg.png" alt=""/></div>
      </div>
      <section class="contact">
        <div class="container">
          <div class="contact_wrap">
            <div class="contact_box">
              <div class="contact_title"> 
                <div class="title-cus">Contact us</div>
                <h2 class="title-lg t-up t-center fw-7 cl-second">LET'S CONNECT!</h2>
                <p class="note-text t-center">We’d love to hear about your project, and get together for a free consultation, to share about how you can enjoy a rewarding and guided process through each step of the journey.</p>
                <ul class="social-mb-list"> 
                  <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/cic1.svg" alt=""/></a></li>
                  <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/cic2.svg" alt=""/></a></li>
                  <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/cic3.svg" alt=""/></a></li>
                  <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/cic4.svg" alt=""/></a></li>
                </ul>
              </div>
              <div class="contact_form">
                <form action="">
                  <div class="contact_form--wrap">
                    <div class="contact_form--list d-wrap"> 
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="ho">
                               First name <strong>* </strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="ho" type="text" placeholder="First name">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="ten">
                               Last name <strong>* </strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="ten" type="text" placeholder="Last name">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="email">
                               Email <strong>* </strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="email" type="text" placeholder="Email">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="phone">
                               Phone number <strong>* </strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="phone" type="text" placeholder="Phone number">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="location">
                               Location <strong>* </strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="location" type="text" placeholder="Location">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="bud">
                               Budget   </label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="bud" type="text" placeholder="Budget">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="sch">
                               SCHEDULE    </label>
                          </div>
                          <div class="form-ip-ip">
                            <input id="sch" type="text" placeholder="When are you looking to complete this project?">
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ck"> 
                          <div class="form-ip-label">
                            <label for="">HOW DID YOU HEAR ABOUT US?</label>
                          </div>
                          <div class="form-ck-list"> 
                            <label class="form-ck-item"> 
                              <input type="checkbox"><span class="box"></span>
                              <p class="note-text">Instagram/Facebook</p>
                            </label>
                            <label class="form-ck-item"> 
                              <input type="checkbox"><span class="box"></span>
                              <p class="note-text">Referral/Personal Reference</p>
                            </label>
                            <label class="form-ck-item"> 
                              <input type="checkbox"><span class="box"></span>
                              <p class="note-text">Online/Google ads</p>
                            </label>
                            <label class="form-ck-item"> 
                              <input type="checkbox"><span class="box"></span>
                              <p class="note-text">Trade Show</p>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-ip">
                          <div class="form-ip-label">
                            <label for="mes">
                               MESSAGE <strong>*</strong></label>
                          </div>
                          <div class="form-ip-ip">
                            <textarea id="mes" type="text" placeholder="Tell us a bit more about your project! Renovation? Custom Build? Commercial Project? Any information is helpful!"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="contact_form--item d-item">
                        <div class="form-upload boxUpload">
                          <label class="form-upload-wrap">
                            <input class="fileUpload" type="file" accept="application/pdf">
                            <div class="form-upload-img"> <img src="./assets/images/cl.svg" alt=""/>
                            </div>
                            <div class="form-upload-content"> 
                              <p class="note-sm textChange">
                                 Drop files here or <strong>SELECT FILES</strong><br>Max. file size:<strong>50 MB.</strong></p>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div><a class="btn" href=""><span class="btn-text">SUBMIT</span><span class="btn-ic"><i class="fal fa-arrow-right"> </i></span></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrUp.png" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>