<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Our Project Details</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <section class="project_ct"> 
        <div class="project_ct--wrap">
          <div class="project_ct--title">
            <div class="container">
              <h1 class="fw-7 title-lg t-center cl-second">Laneway houses Custom homes</h1>
            </div>
          </div>
          <div class="project_ct--bg"> 
            <div class="project_ct--img"><img src="./assets/images/prjImg.png" alt=""/>
            </div>
          </div>
          <div class="project_ct--des">
            <div class="container">
              <div class="project_ct--des-wrap d-wrap">
                <div class="project_ct--des-lf d-item">
                  <div class="project_ct--content"> 
                    <h2 class="title-mn fw-7 cl-second">R1B Royal City Xzone</h2>
                    <p class="note-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry .Lorem Ipsum is   dummy text of the printing and typesetting industry Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry .Lorem Ipsum is   dummy text of the printing and typesetting industry</p><a class="btn" href=""><span class="btn-text">CONTACT US</span><span class="btn-ic"><i class="fal fa-arrow-right"> </i></span></a>
                  </div>
                </div>
                <div class="project_ct--des-rt d-item">
                  <ul class="project_ct--des-list">
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic1.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Type</p>
                        <p class="note-text note fw-4">Lorem</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic2.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Service</p>
                        <p class="note-text note fw-4">Lorem</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic3.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Time</p>
                        <p class="note-text note fw-4">Lorem</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic4.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Style</p>
                        <p class="note-text note fw-4">Lorem</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic5.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Size</p>
                        <p class="note-text note fw-4">40m x 8m</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic6.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Loction</p>
                        <p class="note-text note fw-4">Lorem</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic7.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Quantity</p>
                        <p class="note-text note fw-4">6 People</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic8.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Budget</p>
                        <p class="note-text note fw-4">66.666 USD</p>
                      </div>
                    </li>
                    <li class="project_ct--des-item"><span class="ic"> <img src="./assets/images/pic9.svg" alt=""/></span>
                      <div class="content"> 
                        <p class="note-text title fw-6 cl-black">Customer</p>
                        <p class="note-text note fw-4">Davie Pham</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="album">
        <div class="container"> 
          <div class="album_wrap"> 
            <div class="album_list d-wrap gallery"> 
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al3.png"> <img src="./assets/images/al3.png" alt=""/>
                </div>
              </div>
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al4.png"> <img src="./assets/images/al4.png" alt=""/>
                </div>
              </div>
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al1.png"> <img src="./assets/images/al1.png" alt=""/>
                </div>
              </div>
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al2.png"> <img src="./assets/images/al2.png" alt=""/>
                </div>
              </div>
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al1.png"> <img src="./assets/images/al1.png" alt=""/>
                </div>
              </div>
              <div class="album_item d-item d-2"> 
                <div class="album_img gItem" data-src="./assets/images/al2.png"> <img src="./assets/images/al2.png" alt=""/>
                </div>
              </div>
            </div>
            <button class="btn album_btn trans">
              <div class="btn-text">VIEW ALL PHOTOS</div>
            </button>
          </div>
        </div>
      </section>
      <section class="project_more free-slide">
        <div class="container"> 
          <div class="project_more--wrap"> 
            <div class="box-title2"> 
              <p class="title-cus">ONE STOP SOLUTION</p>
              <div class="box-title2-wrap"> 
                <h2 class="title-lg fw-7 cl-second">Related Project</h2>
                <div class="box-navi">
                  <div class="btn-navi prev"> <i class="fas fa-chevron-left"></i></div>
                  <div class="btn-navi next"> <i class="fas fa-chevron-right"></i></div>
                </div>
              </div>
            </div>
            <div class="project_more--list d-wrap"> 
              <div class="swiper mySwiper"> 
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj1.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj1.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide d-item d-3">
                    <div class="project_more--item">
                      <div class="project_item"> 
                        <div class="project_item--wrap"> <a class="project_item--img" href=""> <img src="./assets/images/prj2.png" alt=""/></a>
                          <div class="project_item--box">
                            <div class="project_item--content">
                              <div class="project_item--top">
                                <h3 class="title-sm cl-second fw-7"> <a href="">Architectural Design </a></h3><a class="dm note-sm" href="">British Columbia (BC), Canada.</a>
                              </div>
                              <div class="project_item--bottom">
                                <p class="note-text">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                              </div>
                            </div><a class="note-text fw-7 cl-pri link" href="">View detail</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrUp.png" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>