<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Service</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <div class="banner-main">
        <div class="container">
          <div class="banner-main--wrap">
            <div class="banner-main--content">
              <h1 class="title-lg fw-7 cl-pri fl-Big-Display">Services</h1>
              <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Homepage</a></li>
                <li class="breadcrumbs-item current"><a class="breadcrumbs-link" href="">Services</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="banner-main-bg"><img src="./assets/images/porbg.png" alt=""/></div>
      </div>
      <section class="ser">
        <div class="container"> 
          <div class="ser_wrap">
            <div class="box-title">
              <h3 class="title-cus">OUR Products</h3>
              <h2 class="title-lg cl-second fw-7">Our Services</h2>
            </div>
            <div class="ser_list"> 
              <div class="swiper mySwiper"> 
                <div class="swiper-wrapper"> 
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os1.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Heating AirCondition</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os2.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Laneway House Custom Homes</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os3.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Painting Flooring</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os4.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Plumbing Gasfitter A</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os5.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Transformed kitchens Breathtaking Bathrooms</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os1.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Creative Interior designer </h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                  <div class="swiper-slide"><a class="ser_item" href=""> <span class="ser_item--wrap"> <span class="ser_item--img"> <img src="./assets/images/os3.png" alt=""/></span><span class="ser_item--box"> 
                          <h3 class="note-lg t-center fw-7 cl-white -fw-7">Carpentry Framing Forming Siding</h3>
                          <p class="note-text cl-white t-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p></span></span></a></div>
                </div>
              </div>
              <div class="box-navi">
                <div class="btn-navi prev"> <i class="fas fa-chevron-left"></i></div>
                <div class="btn-navi next"> <i class="fas fa-chevron-right"></i></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ser_brand free-slide">
        <div class="ser_brand--wrap">
          <div class="ser_brand--title">
            <div class="container">
              <div class="box-title">
                <h3 class="title-cus">OUR customers & Partner</h3>
                <h2 class="title-lg cl-second fw-7">Together We Build</h2>
                <p class="note-text"> <strong>EverDreamPro </strong>has accompanied and cooperated with hundreds of major customers and partners</p>
              </div>
            </div>
          </div>
          <div class="ser_brand--all">
            <div class="container">
              <div class="ser_brand--list d-wrap"> 
                <div class="swiper mySwiper --loop --auto"> 
                  <div class="swiper-wrapper"> 
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br1.png" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br2.png" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br3.png" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br4.png" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br5.png" alt=""/>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide d-item">
                      <div class="ser_brand--item"> 
                        <div class="ser_brand--img"> <img src="./assets/images/br6.png" alt=""/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination custom-2"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrUp.png" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>