<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Danh sách yêu thích </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <p class="note-md fw-7 cl-white">Nguyen Bao Phi Ngo (899312915@vcad.college) is sigmed in</p>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap"><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf">
                <div class="header-nav">
                  <ul class="menu-list">
                    <li class="menu-item current-menu-item"><a class="menu-link" href="">About us          </a></li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Services</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">item 1</a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 2 </a></li>
                        <li class="menu-item"><a class="menu-link" href="">item 3      </a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Portfolio</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-bottom-rt">
                <div class="header-nav">
                  <ul class="menu-list"> 
                    <li class="menu-item"> <a class="menu-link" href="">Blog</a></li>
                    <li class="menu-item"> <a class="menu-link" href="">Contact us</a></li>
                  </ul>
                </div>
                <div class="header-contact"> <a class="note-md fw-7" href=""><strong>Hotline: </strong>6047161909</a></div>
              </div>
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">About us          </a></li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Services</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Portfolio</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Blog</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Contact us</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-text2 t-up">EverdreamPro</p>
            <div class="footer-info"> 
              <ul class="footer-info-list"> 
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Address: </p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Phone:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Email:</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                </li>
                <li class="footer-info-item"> 
                  <p class="note-text fw-7 cl-pri">Website</p>
                  <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-box"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap">
                  <div class="footer-item-content">
                    <p class="title-mn cl-white fw-7">EverDreamPro</p>
                    <p class="note-text cl-text3">Lorem ipsum dolor sit amet consectetur. Nullam pellentesque sit venenatis vestibulum.</p>
                    <div class="footer-info"> 
                      <ul class="footer-info-list"> 
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Address: </p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">4300 N Fraser Way Burnaby, BC V5J 5J8</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Phone:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">(+1) 604-716-1909</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Email:</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdreampro@gmail.com</a></div>
                        </li>
                        <li class="footer-info-item"> 
                          <p class="note-text fw-7 cl-pri">Website</p>
                          <div class="footer-info-wrap"> <a class="footer-info-link" href="">everdream.ca</a></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a>
                    <ul class="social-mb-list"> 
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                      <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item d-3">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="title-mn cl-white fw-7">Request a call</p>
                    <p class="note-text cl-text3">Enter the number and we will contact you soon.</p>
                    <div class="footer-ip-wrap">
                      <div class="footer-ip"> 
                        <input type="text" placeholder="Enter your number">
                        <button class="btn">
                          <div class="btn-ic"><img src="./assets/images/send.svg" alt=""/>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-mona">
            <div class="footer-mona-wrap">
              <p class="note-sm fw-4 cl-text3">Designed by</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup_main popup-form" data-popup-id="popup-1">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <form action=""> 
          <div class="contact_form"> 
            <div class="contact_form-list d-wrap"> 
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="ho">Họ</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="ho" type="text" placeholder="Họ của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="ten">Tên</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="ten" type="text" placeholder="Tên của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="email">Email                        </label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="email" type="text" placeholder="Email của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="phone">Số điện thoại</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="phone" type="text" placeholder="Số điện thoại của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="nd">Nội dung</label>
                  </div>
                  <div class="form-ip-ip">
                    <textarea id="nd" name="" cols="30" rows="10" placeholder="Hãy cho tôi biết thêm về vấn đề của bạn?"> </textarea>
                  </div>
                </div>
              </div>
            </div><a class="btn cl-3" href=""><span class="btn-text">Gửi thông tin</span><span class="btn-ic"><i class="far fa-arrow-up"> </i></span></a>
          </div>
        </form>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main popup-form" data-popup-id="popup-2">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <form action=""> 
          <div class="contact_form product"> 
            <div class="contact_form-list d-wrap"> 
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="ho">Họ</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="ho" type="text" placeholder="Họ của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="ten">Tên</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="ten" type="text" placeholder="Tên của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="email">Email                        </label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="email" type="text" placeholder="Email của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="phone">Số điện thoại</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="phone" type="text" placeholder="Số điện thoại của bạn">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip package-ip">
                  <div class="form-ip-label">
                    <label for="goi">Gói sản phẩm</label>
                  </div>
                  <div class="form-ip-ip">
                    <input id="goi" type="text" placeholder="Căn hộ VINHOMES">
                  </div>
                </div>
              </div>
              <div class="contact_form-item d-2 d-item">
                <div class="form-ip">
                  <div class="form-ip-label">
                    <label for="nd">Nội dung</label>
                  </div>
                  <div class="form-ip-ip">
                    <textarea id="nd" name="" cols="30" rows="8" placeholder="Hãy cho tôi biết thêm về vấn đề của bạn?"> </textarea>
                  </div>
                </div>
              </div>
            </div><a class="btn cl-3" href=""><span class="btn-text">Gửi thông tin</span><span class="btn-ic"><i class="far fa-arrow-up"> </i></span></a>
          </div>
        </form>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main bg popup-form" data-popup-id="popup-3">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="about_dg--item">
          <div class="about_dg--item-wrap">
            <div class="about_dg--item-content">
              <p class="note-lg">“Họ đã đóng vai trò quan trọng trong quá trình đàm phán và thực hiện thủ tục và thỏa thuận một cách nhanh chóng, an toàn.”</p>
            </div>
            <div class="about_dg--item-box"> 
              <div class="about_dg--img"> <img src="./assets/images/nx1.png" alt=""/>
              </div>
              <div class="about_dg--info"> 
                <p class="note-lg fw-7 cl-text2">Chusama Tuấn</p>
                <p class="note-text">CEO & Founder of CENTER9</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main popup-form" data-popup-id="popup-4">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="alert--wrap"> 
          <p class="title-md cl-pri fw-7">Bạn đã đăng kí thành công </p><a class="btn cl-3" href=""><span class="btn-text">Đăng nhập ngay</span></a>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">055 907 5545</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splideExtensionAutoScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>