.cookie_cus.showed
    .cookie_cus--box 
        .container
            .cookie_cus--wrap 
                p.note-sm.cl-white.fw-5 Bằng cách sử dụng trang web của chúng tôi, bạn đồng ý với việc chúng tôi sử dụng cookie
                button.cookie_cus--btn.btn-cookie OK
.cookie_cus--modal