.links-main
  .btn-top.link-top
    .scroll-to-top(href='' target='_blank')
      img(src='./assets/images/arrowUp.svg' alt='')
  ul.links-main-list
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/faceLinkMain.svg' alt='')
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/lineLinkMain.svg' alt='')
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/zaloLinkMain.svg' alt='')
    li.links-main-item
      a.link-items-phone(href='' target='_blank')
        span.link-items-phone-img
          img(src='./assets/images/phoneLinkMain.svg' alt='')
        span.link-items-phone-text 02323 850 505 
  
