<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thanh toán thành công</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap"> 
              <ul class="header-top-list"> 
                <li class="header-top-item"> <span class="header-top-ic"> <img src="./assets/images/hic1.svg" alt=""/></span>
                  <p class="note-sm">
                     Chính sách <strong>Bảo hành - Đổi trả </strong>tốt nhất</p>
                </li>
                <li class="header-top-item"> <span class="header-top-ic"> <img src="./assets/images/hic2.svg" alt=""/></span>
                  <p class="note-sm">
                     Sản phẩm <strong>chính hãng - xuất VAT </strong>đầy đủ</p>
                </li>
                <li class="header-top-item"> <span class="header-top-ic"> <img src="./assets/images/hic3.svg" alt=""/></span>
                  <p class="note-sm"> <strong>Giao nhanh - giao miễn phí </strong>cho đơn hàng trên 300k</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header-center">
          <div class="container">   
            <div class="header-center-wrap"> <a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-bottom-lf"> 
                <div class="header-bottom-lf-wrap"> <span class="header-mega-btn"><span class="header-mega-btn-ic"> <span class="line"></span><span class="line"></span><span class="line"></span></span><span class="note-md cl-third">Danh mục    </span></span></div>
              </div>
              <div class="header-center-box">
                <div class="header-cart-mb cartHd"> <img src="./assets/images/bagMb.png" alt=""/><span class="num">0</span>
                </div>
                <div class="header-search">
                  <div class="header-search-wrap header-search-ip">
                    <input type="search" placeholder="Tìm kiếm sản phẩm">
                    <button class="header-search-btn"> <img src="./assets/images/btnSearch.svg" alt=""/>
                    </button>
                  </div>
                  <div class="header-search-mb btn-search"><img src="./assets/images/btnSearch.svg" alt=""/>
                  </div>
                  <div class="header-search-mb btn-search-exit"><img src="./assets/images/cl.svg" alt=""/>
                  </div>
                </div>
                <ul class="header-center-list">
                  <li class="header-center-item"> <a class="header-center-link" href="tel:0989352251"><span class="header-center-ic"> <img src="./assets/images/hic4.svg" alt=""/></span>
                      <p class="note-sm">
                         Hotline<br>0989 352 251</p></a></li>
                  <li class="header-center-item cartHd"> <a class="header-center-link" href=""><span class="header-center-ic"> <img src="./assets/images/hic6.svg" alt=""/></span>
                      <p class="note-sm">
                         Giỏ hàng<br><span class="num">0 </span>Sản phẩm</p></a></li>
                  <li class="header-center-item lang"> 
                    <div class="header-lang">
                      <ul class="header-lang-list"> 
                        <li class="header-lang-item actived"><a class="header-lang-link" href="">vn</a></li>
                        <li class="header-lang-item"><a class="header-lang-link" href="">en</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-mega-menu"> 
      <div class="menu-mega">
        <div class="menu-mega-wrap d-wrap">
          <div class="menu-mega-lf d-item">
            <div class="menu-mega-lf-wrap">
              <ul class="menu-mega-lf-list">
                <li class="menu-mega-lf-item menuMgTitle"> <a class="menu-mega-lf-link" href=""> <span class="menu-mega-lf-ic"> <img src="./assets/images/mic1.svg" alt=""/></span><span class="note-md">Camera an ninh</span></a></li>
                <li class="menu-mega-lf-item menuMgTitle"> <a class="menu-mega-lf-link" href=""> <span class="menu-mega-lf-ic"> <img src="./assets/images/mic2.svg" alt=""/></span><span class="note-md">Khóa vân tay</span></a></li>
                <li class="menu-mega-lf-item menuMgTitle"> <a class="menu-mega-lf-link" href=""> <span class="menu-mega-lf-ic"> <img src="./assets/images/mic3.svg" alt=""/></span><span class="note-md">Máy chấm công</span></a></li>
              </ul>
            </div>
          </div>
          <div class="menu-mega-rt d-item"> 
            <div class="menu-mega-rt-wrap"> 
              <div class="menu-mega-rt-list"> 
                <div class="menu-mega-rt-item menuMgItem"> 
                  <div class="menu-mega-rt-item-wrap"> 
                    <div class="menu-mega-rt-item-list">
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Camera quan sát </a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Camera quan sát</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Camera quan sát</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Camera quan sát</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Camera quan sát</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Camera Kbvision</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-mega-rt-item menuMgItem"> 
                  <div class="menu-mega-rt-item-wrap"> 
                    <div class="menu-mega-rt-item-list">
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Khóa vân tay </a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Khóa vân tay </a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Khóa vân tay</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Khóa vân tay</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Khóa vân tay</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-mega-rt-item menuMgItem"> 
                  <div class="menu-mega-rt-item-wrap"> 
                    <div class="menu-mega-rt-item-list">
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Máy chấm công</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Máy chấm công</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Máy chấm công</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                        </ul>
                      </div>
                      <div class="menu-mega-rt-item-item menuMgItemItem">
                        <div class="menu-mega-rt-item-title menuMgItemTitle"><a class="menu-mega-title" href="">Máy chấm công</a></div>
                        <ul class="menu-mega-list">
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                          <li class="menu-mega-item"> <a class="menu-mega-link" href="">Máy chấm công</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-mega-modal"></div>
    <div class="header-card hdCard"> 
      <div class="header-card-wrap">
        <div class="header-card-exits"> <img src="./assets/images/cl.svg" alt=""/>
        </div>
        <div class="header-card-have">
          <div class="cart_content--list"> 
            <div class="cart_content--item"> 
              <div class="cart_content--info" data-label="SẢN PHẨM">
                <div class="cart_content--img"> <img src="./assets/images/c1.png" alt=""/>
                </div>
                <p class="note-sm cl-black fw-600">Camera quan sát IP Wifi AI-V2084</p>
              </div>
              <div class="cart_content--price" data-label="ĐƠN GIÁ"> 
                <p class="note-sm cl-black fw-600">1.500.000đ</p>
              </div>
              <div class="cart_content--quantity" data-label="SỐ LƯỢNG"> 
                <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                    <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
              </div>
              <div class="cart_content--total" data-label="TỔNG">
                <p class="note-sm cl-black fw-600">3.000.000đ</p>
              </div>
              <div class="cart_content--ex" data-label="Xóa"> 
                <button class="cart_content--ic"> <i class="fal fa-times"></i></button>
              </div>
            </div>
            <div class="cart_content--item"> 
              <div class="cart_content--info" data-label="SẢN PHẨM">
                <div class="cart_content--img"> <img src="./assets/images/c1.png" alt=""/>
                </div>
                <p class="note-sm cl-black fw-600">Camera quan sát IP Wifi AI-V2084</p>
              </div>
              <div class="cart_content--price" data-label="ĐƠN GIÁ"> 
                <p class="note-sm cl-black fw-600">1.500.000đ</p>
              </div>
              <div class="cart_content--quantity" data-label="SỐ LƯỢNG"> 
                <div class="quantity-box box-quantity"> <span class="quantity-btn btn-minus"> <i class="fa-solid fa-minus"></i></span><span class="quantity-num"><span class="num number-change">1</span>
                    <input class="ip-value" type="text" value="1" max="10" min="1"></span><span class="quantity-btn btn-plus"><i class="fa-solid fa-plus"></i></span></div>
              </div>
              <div class="cart_content--total" data-label="TỔNG">
                <p class="note-sm cl-black fw-600">3.000.000đ</p>
              </div>
              <div class="cart_content--ex" data-label="Xóa"> 
                <button class="cart_content--ic"> <i class="fal fa-times"></i></button>
              </div>
            </div>
          </div>
          <div class="header-card-have-btn"> <a class="btn blue" href=""><span class="btn-text">Thanh toán</span></a><a class="btn" href=""><span class="btn-text">Giỏ hàng</span></a>
          </div>
        </div>
        <div class="header-card-none">
          <div class="header-card-none-img"><img src="./assets/images/noneCart.png" alt=""/>
          </div>
          <p class="note-text">Giỏ hàng rỗng </p><a class="btn" href=""><span class="btn-text">Xem sản phẩm</span></a>
        </div>
      </div>
    </div>
    <div class="header-card-modal"></div>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Danh Sách Sản phẩm</a>
            <ul class="menu-list">
              <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Camera an ninh</a>
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link fw-7" href="">Camera quan sát</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Camera quan sát</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Camera quan sát</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Camera quan sát</a></li>
                </ul>
              </li>
              <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Khóa vân tay</a>
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link fw-7" href="">Khóa vân tay</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Khóa vân tay</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Khóa vân tay</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Khóa vân tay</a></li>
                </ul>
              </li>
              <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Máy chấm công</a>
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link fw-7" href="">Máy chấm công</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Máy chấm công</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Máy chấm công</a></li>
                  <li class="menu-item"><a class="menu-link fw-7" href="">Máy chấm công</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">Về Chúng Tôi          </a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Dịch Vụ</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Công Trình</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Tin Tức</a></li>
          <li class="menu-item"><a class="menu-link fw-7" href="">Liên hệ</a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <div class="footer-mxh"> 
              <ul class="footer-mxh-list"> 
                <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic1.svg" alt=""/></a></li>
                <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic2.svg" alt=""/></a></li>
                <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic3.svg" alt=""/></a></li>
              </ul>
            </div>
          </div>
          <div class="menu-lh">
            <p class="menu-lh-title">ĐỊA CHỈ LIÊN HỆ</p>
            <p class="note-title cl-pri t-up">Công ty TNHH Thương Mại và Dịch Vụ Panaco</p>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   409/21B Lê Quang Định, Phường 5, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Cnttsu@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/phone.svg" alt=""/></span><a class="link-address" href="">
                   0989 352 251</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt">
      <div class="success"> 
        <div class="container"> 
          <div class="success_wrap"> 
            <div class="success_title">
              <div class="success_title--wrap"> 
                <div class="success_title--ic"> <img src="./assets/images/successIc.svg" alt=""/>
                </div>
                <div class="success_title--content">
                  <p class="note-lg cl-black fw-7">Cảm ơn bạn đã đặt hàng</p>
                  <p class="note-text">BMI Farm sẽ gửi thông tin cập nhật đơn hàng đến bạn</p>
                </div>
              </div>
            </div>
            <div class="success_info"> 
              <div class="success_info--wrap"> 
                <div class="success_info--title"> 
                  <p class="note-lg fw-7 cl-black">Thông tin đơn hàng</p>
                </div>
                <ul class="cart_dh--notes">
                  <li class="cart_dh--note"> 
                    <p class="note-md cl-black fw-6 title">Mã đơn hàng</p>
                    <p class="note-md cl-black fw-6 content">BMIFARM123 </p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-6 title">Số lượng sản phẩm</p>
                    <p class="note-text cl-black fw-6 content">03</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black title fw-6">Tổng tiền (Đã bao gồm VAT)</p>
                    <p class="note-text cl-black content fw-7">450.000đ</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-6 title">Phương thức thanh toán</p>
                    <p class="note-text cl-black fw-6 content">Chuyển khoản</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-7 title">Phải thanh toán: </p>
                    <p class="note-text cl-brown2 fw-7 content">450.000đ</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="success_info other"> 
              <div class="success_info--wrap"> 
                <div class="success_info--title"> 
                  <p class="note-lg fw-7 cl-black">Thông tin nhận hàng</p>
                </div>
                <ul class="cart_dh--notes">
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-6 title">Khách hàng</p>
                    <p class="note-text cl-black fw-6 content">Phương Anh Đào</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black title fw-6">Số điện thoại</p>
                    <p class="note-text cl-black content fw-7">0123 456 789</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-6 title">Email</p>
                    <p class="note-text cl-black fw-6 content">baduypham446@gmail.com</p>
                  </li>
                  <li class="cart_dh--note"> 
                    <p class="note-text cl-black fw-6 title">Nhận hàng tại:</p>
                    <p class="note-text cl-black fw-6 content">1011 Phan Văn Trị, P.7, Q.Gò vấp, TP.HCM</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="success_pro"> 
              <div class="success_pro--wrap"> 
                <div class="success_pro--title"> 
                  <p class="note-lg fw-7 cl-black">Danh sách sản phẩm</p>
                </div>
                <ul class="success_pro--list">
                  <li class="success_pro--item"> 
                    <div class="success_pro--item-wrap"> 
                      <div class="success_pro--img"> <img src="./assets/images/c1.png" alt=""/>
                      </div>
                      <div class="success_pro--content"> 
                        <div class="success_pro--name"> 
                          <p class="note-md fw-6 cl-black">Bmifarm Dark Chocolate Diamond 70% Chocolate</p>
                        </div>
                        <div class="success_pro--pq"> 
                          <div class="sp_ct--ct-price"> 
                            <p class="price-normal">399.500 đ</p>
                            <p class="price-line">850.000 đ</p>
                          </div>
                          <p class="note-text fw-6 cl-black">
                             Số lượng: <strong class="cl-red">1</strong></p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="success_pro--item"> 
                    <div class="success_pro--item-wrap"> 
                      <div class="success_pro--img"> <img src="./assets/images/c2.png" alt=""/>
                      </div>
                      <div class="success_pro--content"> 
                        <div class="success_pro--name"> 
                          <p class="note-md fw-6 cl-black">Bmifarm Dark Chocolate Diamond 70% Chocolate</p>
                        </div>
                        <div class="success_pro--pq"> 
                          <div class="sp_ct--ct-price"> 
                            <p class="price-normal">399.500 đ</p>
                            <p class="price-line">850.000 đ</p>
                          </div>
                          <p class="note-text fw-6 cl-black">
                             Số lượng: <strong class="cl-red">1</strong></p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="success_pro--item"> 
                    <div class="success_pro--item-wrap"> 
                      <div class="success_pro--img"> <img src="./assets/images/c3.png" alt=""/>
                      </div>
                      <div class="success_pro--content"> 
                        <div class="success_pro--name"> 
                          <p class="note-md fw-6 cl-black">Bmifarm Dark Chocolate Diamond 70% Chocolate</p>
                        </div>
                        <div class="success_pro--pq"> 
                          <div class="sp_ct--ct-price"> 
                            <p class="price-normal">399.500 đ</p>
                            <p class="price-line">850.000 đ</p>
                          </div>
                          <p class="note-text fw-6 cl-black">
                             Số lượng: <strong class="cl-red">1</strong></p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="success_btn"><a class="btn" href=""><span class="btn-text">Quay lại trang chủ</span></a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-wrap">
        <div class="footer-top">
          <div class="container">
            <div class="footer-top-wrap"> 
              <div class="footer-top-list d-wrap">
                <div class="footer-top-item d-item d-4"> 
                  <div class="footer-top-item-wrap"> 
                    <div class="footer-top-item-top">
                      <p class="footer-title">Về chúng tôi</p>
                      <ul class="menu-list"> 
                        <li class="menu-item current-menu-item"> <a class="menu-link" href="">Giới thiệu </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Liên hệ </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Tuyển dụng </a></li>
                      </ul>
                    </div>
                    <div class="footer-top-item-bottom">
                      <p class="note-sm">Theo dõi chúng tôi:</p>
                      <div class="footer-mxh"> 
                        <ul class="footer-mxh-list"> 
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic1.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic2.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/mbic3.svg" alt=""/></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-top-item d-item d-4"> 
                  <div class="footer-top-item-wrap"> 
                    <div class="footer-top-item-top">
                      <p class="footer-title">Dịch vụ</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">Lắp đặt camera </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Khoá điện tử an toàn </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chuông báo động </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Hệ thống liên lạc </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-top-item d-item d-4"> 
                  <div class="footer-top-item-wrap"> 
                    <div class="footer-top-item-top">
                      <p class="footer-title">Sản phẩm</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">Camera </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Khóa vân tay </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Máy chấm công </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chuông cửa </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Báo trộm báo động </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Thiết bị mạng </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Bộ đàm </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-top-item d-item d-4"> 
                  <div class="footer-top-item-wrap"> 
                    <div class="footer-top-item-top">
                      <p class="footer-title">Chính sách</p>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">Chính sách hoàn tiền </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chính sách giao hàng </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chính sách bảo hành </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chính sách bảo mật thông tin </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Chính sách dùng thử sản phẩm </a></li>
                      </ul>
                    </div>
                    <div class="footer-top-item-bottom">
                      <p class="note-sm">Phương thức thanh toán</p>
                      <div class="footer-pay"> 
                        <ul class="footer-pay-list">
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic1.jpg" alt=""/>
                            </div>
                          </li>
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic2.jpg" alt=""/>
                            </div>
                          </li>
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic3.jpg" alt=""/>
                            </div>
                          </li>
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic4.jpg" alt=""/>
                            </div>
                          </li>
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic5.jpg" alt=""/>
                            </div>
                          </li>
                          <li class="footer-pay-item">
                            <div class="footer-pay-img"> <img src="./assets/images/pic6.jpg" alt=""/>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center">
          <div class="container">
            <div class="footer-center-wrap">
              <div class="footer-center-list d-wrap">
                <div class="footer-center-item d-item">
                  <div class="footer-center-item-wrap">
                    <ul class="list-address"> 
                      <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                           409/21B Lê Quang Định, Phường 5, Quận Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam</a></li>
                      <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                           Cnttsu@gmail.com</a></li>
                      <li class="item-address"> <span class="ic-address"><img src="./assets/images/phone.svg" alt=""/></span><a class="link-address" href="">
                           0989 352 251</a></li>
                    </ul>
                    <div class="footer-center-img"> <img src="./assets/images/ftc1.png" alt=""/>
                    </div>
                  </div>
                </div>
                <div class="footer-center-item d-item">
                  <div class="footer-center-item-wrap"> <a class="footer-logo" href=""><img src="./assets/images/logoFt.svg" alt=""/></a></div>
                </div>
                <div class="footer-center-item d-item">
                  <div class="footer-center-item-wrap">
                    <ul class="footer-info-list"> 
                      <li class="footer-info-item"> 
                        <p class="note-sm">Mã số thuế: 0316645438</p>
                      </li>
                      <li class="footer-info-item"> 
                        <p class="note-sm">Số tài khoản: 2255566678</p>
                      </li>
                      <li class="footer-info-item"> 
                        <p class="note-sm">Ngân hàng: Á Châu ACB, Chi Nhánh Quận Tân Phú, PGD Tân Sơn Nhì</p>
                      </li>
                    </ul>
                    <div class="footer-center-img"> <img src="./assets/images/ftc2.png" alt=""/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom"> 
          <div class="container"> 
            <div class="footer-bottom-wrap"> 
              <div class="footer-bottom-content"> 
                <p class="note-sm cl-black">Bản quyền thuộc về  Công ty TNHH Thương Mại và Dịch Vụ Panaco</p>
                <p class="note-sm cl-black">GPĐKKD số 0316645438 do sở KHDTTPHCM cấp ngày 21/12/2020</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">0969 607 537</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>