.about {
    margin-bottom: calc(var(--size-pd) * -1);

    &_list {}

    &_item {
        overflow: hidden;


    }
}

.about_company {
    overflow: hidden;
    margin-bottom: calc(var(--size-pd) * -1);

    &--wrap {
        .about_info--bg {
            padding-top: calc(100% * 800 / 1728);

            
            @include max(800px) {
                padding-top: calc(100% * 1000 / 1728);

            }

            @include max(600px) {
                padding-top: calc(100% * 1200 / 1728);

            }

            @include max(460px) {
                padding-top: calc(100% * 1400 / 1728);

            }
        }
    }
}

.about_why {
    overflow: hidden;
    margin-bottom: calc(var(--size-pd) * -1);

    &--wrap {}
}

.about_tl {
    overflow: hidden;
    margin-bottom: calc(var(--size-pd) * -1);

    &--wrap {
        .about_info--box {
            max-width: calc(100% * 8 / 12);

            @include max(1200px) {
                max-width: unset !important;
            }
        }
    }
}

.about_team {
    overflow: hidden;
    margin-bottom: calc(var(--size-pd) * -1);

    @include max(800px) {
        margin-bottom: unset;
    }

    &--wrap {}
}

.about_info {

    &.aboutTL {
        .about_info--bg {
            padding-top: calc(100% * 700 / 1728);


            @include max(800px) {
                padding-top: calc(100% * 1000 / 1728);

            }

            @include max(600px) {
                padding-top: calc(100% * 1200 / 1728);

            }

            @include max(460px) {
                padding-top: calc(100% * 1400 / 1728);

            }
        }
    }

    &--bgs {
        position: relative;

        .swiper-slide {}

        .swiper-pagination {
            position: absolute;
            bottom: 2%;
            transform: translateX(-50%);
            left: 50%;
        }

    }

    &--bg {
        padding-top: calc(100% * 600 / 1728);
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;

        @include max(800px) {
            padding-top: calc(100% * 800 / 1728);

        }

        @include max(600px) {
            padding-top: calc(100% * 1000 / 1728);

        }

        @include max(460px) {
            padding-top: calc(100% * 1200 / 1728);

        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    &--wrap {
        padding-top: var(--size-pdl);
        padding-bottom: var(--size-pdl);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .foot {
            position: absolute;
            right: 1%;
            top: 0;
            transform: translateY(-50%);
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url(../assets/images/bgTTV.png);
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: -1;
        }

    }

    &--box {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent24);
        max-width: calc((100% * 5 / 12) + 3.2rem);

        @include max(1200px){
            max-width: none;
        }

        @include max(600px){
            row-gap: var(--rowContent16);
          
            }
    }
}