extends layout/layout
block vars
    -title = 'Thuê xe'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''

block container
    +banner-main("bn1.png","Thuê xe","Trang chủ","","Thuê xe")
    section.experience 
        .container 
            .experience_wrap 
                .experience_top
                    .box-search 
                        form(action="")
                            .box-search-wrap
                                input.form-item-ip(type="text" placeholder="Nhập từ khóa tìm kiếm")
                                button.filter_tour--btn 
                                    i.far.fa-search
                    p.note-sm.cl-gray3.result-Page  1 - 9 của 30 kết quả
                .experience_bottom 
                    .experience_list.d-wrap
                        -
                            const ps = [
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                                {
                                    img:"tx.png",
                                    title:"Thuê xe 7 chỗ Quảng Bình chuyên nghiệp",
                                    content:"Lorem ipsum dolor sit amet consectetur. Cursus sed nibh mauris sit convallis at volutpat ultrices suscipit. Senectus orci in elit ac magna."
                                },
                            ]
                        each p , i in ps
                            .experience_item.d-item.d-2 
                                .experience_item--wrap 
                                    +post(p.img,p.title,p.content)
                    +pagination()
    section.content_custom 
        .container 
            .content_custom--wrap 
                .content_custom--content 
                    p Việc gì khó, hãy đã có Jungle Boss lo! Là một trong những đơn vị hàng đầu Việt Nam ở lĩnh vực tour du lịch mạo hiểm, Jungle Boss luôn hướng đến mang tới những trải nghiệm ấn tượng đỉnh cao, và hỗ trợ du khách trong hành trình vượt qua giới hạn của bản thân mình một cách an toàn. Sau đây là một số TIP DU LỊCH MẠO HIỂM AN TOÀN tham khảo đến từ Jungle Boss: Việc gì khó, hãy đã có Jungle Boss lo! Là một trong những đơn vị hàng đầu Việt Nam ở lĩnh vực tour du lịch mạo hiểm, Jungle Boss luôn hướng đến mang tới những trải nghiệm ấn tượng đỉnh cao, và hỗ trợ du khách trong hành trình vượt qua giới hạn của bản thân mình một cách an toàn. Sau đây là một số TIP DU LỊCH MẠO HIỂM AN TOÀN tham khảo đến từ Jungle Boss
                    br
                    a(href="") Khách sạn 5 sao Quảng Bình
                    a(href="") Khách sạn 4 sao Quảng Bình
                    a(href="") Khách sạn 3 sao Quảng Bình
                    a(href="") Khách sạn 2 sao Quảng Bình
                    a(href="") Khách sạn 1 sao Quảng Bình
                    br
                    p Việc gì khó, hãy đã có Jungle Boss lo! Là một trong những đơn vị hàng đầu Việt Nam ở lĩnh vực tour du lịch mạo hiểm, Jungle Boss luôn hướng đến mang tới những trải nghiệm ấn tượng đỉnh cao, và hỗ trợ du khách trong hành trình vượt qua giới hạn của bản thân mình một cách an toàn. Sau đây là một số TIP DU LỊCH MẠO HIỂM AN TOÀN tham khảo đến từ Jungle Boss: Việc gì khó, hãy đã có Jungle Boss lo! Là một trong những đơn vị hàng đầu Việt Nam ở lĩnh vực tour du lịch mạo hiểm, Jungle Boss luôn hướng đến mang tới những trải nghiệm ấn tượng đỉnh cao, và hỗ trợ du khách trong hành trình vượt qua giới hạn của bản thân mình một cách an toàn. Sau đây là một số TIP DU LỊCH MẠO HIỂM AN TOÀN tham khảo đến từ Jungle Boss
    section.outstanding.free-slide
        .container 
            .outstanding_wrap 
                .outstanding_title 
                    .outstanding_title--lf 
                        h2.title-sm3.fw-7.cl-text 
                            |Địa điểm nổi bật tại 
                            br
                            |Quảng Bình
                    .outstanding_title--rt 
                        p.note-text Du lịch Quảng Bình bí ẩn và bất tận. Bạn sẽ được trải nghiệm những điều thú vị từ Hang động tại Phong Nha Kẻ Bàng hay Biển Nhật Lệ tại Đồng Hới...
                .outstanding_list.d-wrap 
                    .swiper.mySwiper 
                        .swiper-wrapper 
                            .swiper-slide.d-item.d-3 
                                .outstanding_item 
                                    a(href="").outstanding_link
                                        span.outstanding_img 
                                            +img("nb1.png")
                                        span.outstanding_link--title 
                                            h3.title-mn.cl-white.fw-6 
                                                |Vườn Quốc Gia Phong Nha
                                                br
                                                |- Kẻ Bàng
                            .swiper-slide.d-item.d-3 
                                .outstanding_item 
                                    a(href="").outstanding_link
                                        span.outstanding_img 
                                            +img("nb2.png")
                                        span.outstanding_link--title
                                            h3.title-mn.cl-white.fw-6 
                                                |Hang Thiên Đường - 
                                                br
                                                |Quảng Bình
                            .swiper-slide.d-item.d-3 
                                .outstanding_item 
                                    a(href="").outstanding_link
                                        span.outstanding_img 
                                            +img("nb3.png")
                                        span.outstanding_link--title
                                            h3.title-mn.cl-white.fw-6 
                                                |Động Chà Vòi - 
                                                br
                                                |Quảng Bình
                            .swiper-slide.d-item.d-3 
                                .outstanding_item 
                                    a(href="").outstanding_link
                                        span.outstanding_img 
                                            +img("nb2.png")
                                        span.outstanding_link--title
                                            h3.title-mn.cl-white.fw-6 
                                                |Hang Thiên Đường - 
                                                br
                                                |Quảng Bình
                    .swiper-pagination
    section.why.ani
        .why_tt
        .why_bgs 
            .why_bgs--wrap 
                .swiper.mySwiperBgs 
                    .swiper-wrapper 
                        .swiper-slide 
                            .why_bg
                                .why_bg--img 
                                    +img("wbg1.png")
                        .swiper-slide 
                            .why_bg
                                .why_bg--img 
                                    +img("wbg2.png")
                        .swiper-slide 
                            .why_bg
                                .why_bg--img 
                                    +img("wbg1.png")
                        .swiper-slide 
                            .why_bg
                                .why_bg--img 
                                    +img("wbg2.png")
        .container  
            .why_wrap 
                .why_title 
                    h2.title-sm3.cl-white.title-tt.fw-7
                        |Tại sao chọn 
                        strong Netin Travel
                .why_box.d-wrap 
                    .why_box--lf.d-item 
                        .why_box--lf-wrap 
                            .why_box--lf-list
                                .why_box--lf-item.faq-it-why 
                                    .why_box--lf-item-wrap 
                                        .why_box--lf-item-top
                                            span.num.note-sm.cl-white 01
                                            .why_box--lf-item-title 
                                                h3.title-mn.cl-white.fw-6 Tour Quảng Bình đa dạng
                                                span.ic 
                                                    i.fal.fa-arrow-down
                                        .why_box--lf-item-bottom 
                                            .why_box--lf-item-content.faq-content-why
                                                p.note-sm.cl-gray2 Tất cả các điểm đến hấp dẫn của Du lịch Quảng Bình sẽ được chúng tôi cập nhật đến Du khách, các Tour Quảng Bình đa dạng và phong phú về điểm đến và thời gian tham quan. Quý khách có thể đặt các Tour Quảng Bình trên website của chúng tôi.
                                .why_box--lf-item.faq-it-why  
                                    .why_box--lf-item-wrap 
                                        .why_box--lf-item-top 
                                            span.num.note-sm.cl-white 02
                                            .why_box--lf-item-title 
                                                h3.title-mn.cl-white.fw-6 Chất lượng dịch vụ tốt
                                                span.ic 
                                                    i.fal.fa-arrow-down
                                        .why_box--lf-item-bottom 
                                            .why_box--lf-item-content.faq-content-why
                                                p.note-sm.cl-gray2 Tất cả các điểm đến hấp dẫn của Du lịch Quảng Bình sẽ được chúng tôi cập nhật đến Du khách, các Tour Quảng Bình đa dạng và phong phú về điểm đến và thời gian tham quan. Quý khách có thể đặt các Tour Quảng Bình trên website của chúng tôi.
                                                p.note-sm.cl-gray2 Tất cả các điểm đến hấp dẫn của Du lịch Quảng Bình sẽ được chúng tôi cập nhật đến Du khách, các Tour Quảng Bình đa dạng và phong phú về điểm đến và thời gian tham quan. Quý khách có thể đặt các Tour Quảng Bình trên website của chúng tôi.
                                .why_box--lf-item.faq-it-why  
                                    .why_box--lf-item-wrap 
                                        .why_box--lf-item-top 
                                            span.num.note-sm.cl-white 03
                                            .why_box--lf-item-title 
                                                h3.title-mn.cl-white.fw-6 Lịch trình hấp dẫn
                                                span.ic 
                                                    i.fal.fa-arrow-down
                                        .why_box--lf-item-bottom 
                                            .why_box--lf-item-content.faq-content-why
                                                p.note-sm.cl-gray2 Tất cả các điểm đến hấp dẫn của Du lịch Quảng Bình sẽ được chúng tôi cập nhật đến Du khách, các Tour Quảng Bình đa dạng và phong phú về điểm đến và thời gian tham quan. Quý khách có thể đặt các Tour Quảng Bình trên website của chúng tôi.
                                .why_box--lf-item.faq-it-why  
                                    .why_box--lf-item-wrap 
                                        .why_box--lf-item-top 
                                            span.num.note-sm.cl-white 04
                                            .why_box--lf-item-title 
                                                h3.title-mn.cl-white.fw-6 Ẩm thực phong phú
                                                span.ic 
                                                    i.fal.fa-arrow-down
                                        .why_box--lf-item-bottom 
                                            .why_box--lf-item-content.faq-content-why
                                                p.note-sm.cl-gray2 Tất cả các điểm đến hấp dẫn của Du lịch Quảng Bình sẽ được chúng tôi cập nhật đến Du khách, các Tour Quảng Bình đa dạng và phong phú về điểm đến và thời gian tham quan. Quý khách có thể đặt các Tour Quảng Bình trên website của chúng tôi.
                    .why_box--rt.d-item 
                        .why_box--rt-wrap 
                            .why_box--rt-list
                                .swiper.mySwiperImgs 
                                    .swiper-wrapper 
                                        .swiper-slide 
                                            .why_box--rt-item 
                                                .why_box--rt-img 
                                                    +img("wimg1.png")
                                        .swiper-slide 
                                            .why_box--rt-item 
                                                .why_box--rt-img 
                                                    +img("wimg2.png")
                                        .swiper-slide 
                                            .why_box--rt-item 
                                                .why_box--rt-img 
                                                    +img("wimg1.png")
                                        .swiper-slide 
                                            .why_box--rt-item 
                                                .why_box--rt-img 
                                                    +img("wimg2.png")