footer.footer
    .footer_wrap 
        .footer_top 
            .container 
                .footer_top--wrap
                    .footer_top--list.d-wrap 
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                a.footer_logo(href="")
                                    +img("logoFT.png")
                                .social
                                    ul.social_list
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic1.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic2.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic3.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic4.png")
                        .footer_top--item.d-item 
                            .footer_top--item-wrap 
                                .address
                                    ul.address_list                
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Hotline
                                            .address_item--content
                                                span.address_item--ic 
                                                    +img("icad1.png")
                                                a.address_link(href="") 1900 292977
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Thời gian hoạt động
                                            .address_item--content
                                                span.address_item--ic 
                                                    +img("icad2.png")
                                                a.address_link(href="") 11:00 - 14:00 | 17:00 - 22:00, hằng ngày
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Địa chỉ
                                            .address_item--content
                                                span.address_item--ic 
                                                    +img("icad3.png")
                                                a.address_link(href="") 6A Trần Hưng Đạo, Phường Phạm Ngũ Lão, Quận 1
                                            .address_item--content
                                                span.address_item--ic 
                                                    +img("icad3.png")
                                                a.address_link(href="") Lầu 1, 2-4-6 Đồng Khởi, Phường Bến Nghé, Quận 1
                                            .address_item--content
                                                span.address_item--ic 
                                                    +img("icad3.png")
                                                a.address_link(href="") 172 Nguyễn Đình Chiểu, Phường 6, Quận 3
                        .footer_top--item.d-item 
                            .footer_top--item-wrap 
                                ul.menu-list 
                                    li.menu-item.current-menu-item 
                                        a.menu-link(href="") Trang chủ 
                                    li.menu-item 
                                        a.menu-link(href="") Về chúng tôi
                                    li.menu-item 
                                        a.menu-link(href="") Thực đơn
                                    li.menu-item 
                                        a.menu-link(href="") Đặt tiệc
                                    li.menu-item 
                                        a.menu-link(href="") Khuyến mãi
        .footer_bottom 
            .container  
                .footer_bottom--wrap 
                    .footer_bottom--logo 
                        +img("logoIn.png")



