.links-main
  ul.links-main-list
    li.links-main-item
      a.link-items-phone(href='' target='_blank')
        span.link-items-phone-img
          img(src='./assets/images/phoneLinkMain.svg' alt='')
        span.link-items-phone-text 1900 292977
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/messLinkMain.svg' alt='')
  .btn-top.link-top
    .scroll-to-top(href='' target='_blank')
      img(src='./assets/images/arrowUp.svg' alt='')
  
  
