block vars
    -ftClass = ''
footer.footer(class=ftClass)
    .footer_wrap 
        .footer_top 
            .container 
                .footer_top--wrap
                    .footer_top--list.d-wrap 
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                a.footer_logo(href="")
                                    +img("logoHD.png")
                                .social
                                    ul.social_list
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic1.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic2.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic3.png") 
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                p.npte-lg.t-up.fw-6.cl-text gia ĐỊnh tiles
                                .address
                                    ul.address_list
                                        li.address_item
                                            .address_item--ic 
                                                +img("adic1.png")
                                            .address_item--content
                                                a.address_link(href="") L4 Tòa Nhà Vạn Đạt, Lô II-1, Đường CN8, KCN Tân Bình, P.Tây Thạnh, Q.Tân Phú
                                        li.address_item
                                            .address_item--ic 
                                                +img("adic2.png")
                                            .address_item--content
                                                a.address_link(href="") sales@giadinh.vn
                                        li.address_item
                                            .address_item--ic 
                                                +img("adic2.png")
                                            .address_item--content
                                                a.address_link(href="") +84 283 816 5395                                
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                p.note-lg.t-up.fw-6.cl-text VỀ CHÚNG TÔI
                                ul.menu-list 
                                    li.menu-item.current-menu-item 
                                        a.menu-link(href="") Giới thiệu 
                                    li.menu-item 
                                        a.menu-link(href="") DỰ ÁN
                                    li.menu-item 
                                        a.menu-link(href="") QUY TRÌNH SẢN XUẤT
                                    li.menu-item 
                                        a.menu-link(href="") Liên hệ
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                p.note-lg.t-up.fw-6.cl-text Danh mục
                                ul.menu-list 
                                    li.menu-item
                                        a.menu-link(href="") GẠCH BÔNG
                                    li.menu-item 
                                        a.menu-link(href="") GẠCH GỐM NHUNG
                                    li.menu-item 
                                        a.menu-link(href="") GẠCH ĐÁ MÀI
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                .footer_map 
                                    .footer_map--iframe
                                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9419386387663!2d106.61005017583868!3d10.815755358465385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be9e3105381%3A0x80e9d3b821514aa1!2zVG_MgGEgbmhhzIAgVmHMo24gxJBhzKN0!5e0!3m2!1svi!2s!4v1724818162363!5m2!1svi!2s", width="600", height="450", style="border:0;", allowfullscreen, loading="lazy", referrerpolicy="no-referrer-when-downgrade")



