.home-say {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media screen and (max-width: 1200px) {
        padding-bottom: 5rem;
    }

    @media screen and (max-width: 800px) {
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .title-lg {
        margin-bottom: 4rem;
        text-align: center;

        @media screen and (max-width: 1200px) {
            margin-bottom: 2rem;
        }
    }

    &-list {
        .swiper {
            padding-top: 5rem;

            @media screen and (max-width: 1024px) {
                padding-top: 0;
            }
        }

        .swiper-slide {
            height: auto;

            @media screen and (max-width: 400px) {
                width: 100%;
            }
        }

        .swiper-pagination.cl-second .swiper-pagination-bullet {
            background: rgba($color: $color-second, $alpha: 0.1);
        }

        .swiper-pagination.cl-second .swiper-pagination-bullet-active {
            background: rgba($color: $color-second, $alpha: 1);
        }
    }

    &-item {
        height: 100%;
    }
}

.home-our {
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;
    position: relative;
    .title-lg {
        text-align: center;
        margin-bottom: 5rem;

        @media screen and (max-width: 800px) {
            margin-bottom: 2.5rem;
        }
    }

    @media screen and (max-width: 800px) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    &-wrap {
        width: 80vw;
        height: 30vw;
        position: relative;
        margin: auto;
        padding: 0 1.2rem;
        overflow: hidden;

        @media screen and (max-width: 800px) {
            width: 90vw;
            height: 40vw;
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../assets/images/homeour.png);
        // background-size: contain;

        animation: bannerTruot 60s linear infinite alternate;

        @keyframes bannerTruot {
            0% {
                background-position: 0;
            }

            50% {
                background-position: 50%;
            }

            100% {
                background-position: 100%;
            }
        }

        @media screen and (max-width: 600px) {
            background-size: 100%;
        }
    }

    &-ics {
    }

    &-ic {
        position: absolute;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
        }

        &:first-child {
            width: 3vw;
            height: 3vw;

            top: 22%;
            left: 16%;

            @media screen and (max-width: 800px) {
                width: 6vw;
                height: 6vw;
                left: 0;
                top: 30%;
            }
        }

        &:nth-child(2) {
            width: 3.5vw;
            height: 3.5vw;

            top: 52.5%;
            left: 24.5%;

            @media screen and (max-width: 800px) {
                width: 5.5vw;
                height: 5.5vw;
                top: 75.5%;
                left: 18.5%;
            }
        }

        &:nth-child(3) {
            width: 4vw;
            height: 4vw;

            top: 10%;
            left: 39%;

            @media screen and (max-width: 800px) {
                width: 5vw;
                height: 5vw;

                top: 12%;
                left: 30%;
            }
        }

        &:nth-child(4) {
            width: 4vw;
            height: 4vw;

            top: 64.5%;
            left: 49.5%;

            @media screen and (max-width: 800px) {
                width: 6vw;
                height: 6vw;
                left: 45.5%;
            }
        }

        &:nth-child(5) {
            width: 3.2vw;
            height: 3.2vw;

            top: 39%;
            left: 69.5%;

            @media screen and (max-width: 800px) {
                width: 5.2vw;
                height: 5.2vw;
                top: 38%;
                left: 67.5%;
            }
        }

        &:nth-child(6) {
            width: 3vw;
            height: 3vw;

            top: 75%;
            left: 75%;

            @media screen and (max-width: 800px) {
                width: 5.2vw;
                height: 5.2vw;
                top: 68%;
                left: 73%;
            }
        }

        &:last-child {
            width: 4vw;
            height: 4vw;

            top: 50%;
            left: 90%;

            @media screen and (max-width: 800px) {
                width: 5vw;
                height: 5vw;
                left: 88%;
            }
        }
    }

    &-lines {
    }

    &-line {
        position: absolute;
        z-index: 1;
        @keyframes ovwLineAni {
            0% {
                stroke-dashoffset: 652.5811767578px;
                stroke-dasharray: 652.5811767578px;
            }

            100% {
                stroke-dashoffset: 0;
                stroke-dasharray: 652.5811767578px;
            }
        }

        &:first-child {
            top: 5%;
            left: 18%;
            transform: rotate(5deg);
            width: 18vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite;
            }

            @media screen and (max-width: 800px) {
                top: 8%;
                width: 26vw;
                left: 3%;
                transform: rotate(0deg);
            }
        }

        &:nth-child(2) {
            top: 12%;
            left: 26%;
            transform: rotate(-5deg);
            width: 14vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite;
            }

            @media screen and (max-width: 800px) {
                top: 22%;
                left: 15%;
                transform: rotate(-30deg);
                width: 20vw;
            }
        }

        &:nth-child(3) {
            top: 48%;
            left: 27%;
            transform: rotate(4deg);
            width: 20vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite;
            }

            @media screen and (max-width: 800px) {
                top: 63%;
                left: 20%;
                transform: rotate(-19deg);
                width: 25vw;
            }
        }

        &:nth-child(4) {
            top: 60%;
            left: 52%;
            transform: rotate(4deg);
            width: 20vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite;
            }

            @media screen and (max-width: 800px) {
                top: 60%;
                left: 50%;
                transform: rotate(0deg);
                width: 23vw;
            }
        }

        &:nth-child(5) {
            top: 47%;
            left: 77.5%;
            transform: rotate(13deg);
            width: 11vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }
        }

        &:nth-child(6) {
            top: 4%;
            left: 41%;
            transform: rotate(4deg);
            width: 25vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }

            @media screen and (max-width: 800px) {
                top: 4%;
                left: 30%;
                transform: rotate(1deg);
                width: 35vw;
            }
        }

        &:nth-child(7) {
            top: 37%;
            left: 72%;
            transform: rotate(10deg);
            width: 16vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }

            @media screen and (max-width: 800px) {
                top: 38%;
            }
        }

        &:nth-child(8) {
            top: 40%;
            left: 71.5%;
            transform: rotate(5deg);
            width: 4.5vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }
        }

        &:nth-child(9) {
            top: 10%;
            left: 41%;
            transform: rotate(5deg);
            width: 9.5vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }

            @media screen and (max-width: 800px) {
                top: 10%;
                left: 33%;
                transform: rotate(-3deg);
                width: 13.5vw;
            }
        }

        &:last-child {
            top: 37%;
            left: 51.5%;
            transform: rotate(0deg);
            width: 16vw;
            svg {
                width: 100%;
                height: 100%;

                animation: ovwLineAni 12s linear infinite reverse;
            }

            @media screen and (max-width: 800px) {
                top: 40%;
                left: 49.5%;
                transform: rotate(0deg);
                width: 16vw;
            }
        }
    }
}

.home-sync {
    padding-top: 12rem;
    padding-bottom: 12rem;
    overflow: hidden;
    background: linear-gradient(0deg, #022b54 0%, rgba(2, 43, 84, 0) 67.55%),
        radial-gradient(258.39% 55.38% at 51.01% 0%, #034c98 0%, #022345 100%);

    @media screen and (max-width: 1200px) {
        padding-top: 6rem;
        padding-bottom: 8rem;
    }

    @media screen and (max-width: 460px) {
        padding-top: 4rem;
        padding-bottom: 10rem;
    }

    .title-lg {
        text-align: center;
        font-weight: 400;
        margin-bottom: 10rem;

        @media screen and (max-width: 1200px) {
            margin-bottom: 10rem;
        }

        @media screen and (max-width: 800px) {
            margin-bottom: 8rem;
        }

        @media screen and (max-width: 600px) {
            margin-bottom: 6rem;
        }
    }

    .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        width: 11.5vw;
        min-width: unset;
        height: 4.2vw;

        @media screen and (max-width: 1200px) {
            width: 12vw;
            height: 5vw;
        }

        @media screen and (max-width: 700px) {
            width: 14vw;
            height: 6vw;
        }

        @media screen and (max-width: 600px) {
            width: 18vw;
            height: 8vw;
            bottom: -25%;
        }

        @media screen and (max-width: 460px) {
            width: 30vw;
            height: 11vw;
            bottom: -45%;
        }

        @media screen and (max-width: 400px) {
            width: 33vw;
            height: 13.5vw;
            bottom: -50%;
        }

        @media screen and (max-width: 320px) {
            width: 38vw;
            height: 13.5vw;
            bottom: -55%;
        }

        &-text {
            font-size: 1vw;

            @media screen and (max-width: 1200px) {
                font-size: 1.3vw;
            }

            @media screen and (max-width: 700px) {
                font-size: 1.4vw;
            }

            @media screen and (max-width: 600px) {
                font-size: 1.8vw;
            }

            @media screen and (max-width: 460px) {
                font-size: 2.4vw;
            }

            @media screen and (max-width: 400px) {
                font-size: 3vw;
            }

            @media screen and (max-width: 320px) {
                font-size: 3.2vw;
            }
        }
    }

    &-wrap {
        position: relative;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #particles-js2 {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 15%;
            pointer-events: none;
            z-index: 1;
            opacity: 1;

            @media screen and (max-width: 600px) {
                height: 50%;
            }
        }
    }

    &-lines-lf {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1200px) {
            row-gap: 1vw;
        }

        @media screen and (max-width: 800px) {
            row-gap: 2vw;
        }

        @media screen and (max-width: 400px) {
            row-gap: 5vw;
        }

        .home-sync-line {
            &:first-child {
                position: relative;

                svg {
                    animation: ovwLineAni 10s linear infinite reverse;
                }
            }

            &:nth-child(2) {
                position: relative;

                svg {
                    animation: ovwLineAni 8s linear infinite reverse;
                }
            }

            &:last-child {
                position: relative;

                svg {
                    animation: ovwLineAni 6s linear infinite reverse;
                }
            }
        }
    }

    &-lines-rt {
        display: flex;
        flex-direction: column;

        .home-sync-line {
            &:first-child {
                position: relative;

                svg {
                    animation: ovwLineAni 6s linear infinite reverse;
                }
            }

            &:nth-child(2) {
                position: relative;

                svg {
                    animation: ovwLineAni 8s linear infinite reverse;
                }
            }

            &:last-child {
                position: relative;

                svg {
                    animation: ovwLineAni 10s linear infinite reverse;
                }
            }
        }

        @media screen and (max-width: 1200px) {
            row-gap: 1vw;
        }

        @media screen and (max-width: 800px) {
            row-gap: 2vw;
        }

        @media screen and (max-width: 400px) {
            row-gap: 5vw;
        }
    }

    &-line {
        width: 45vw;
        position: relative;
        z-index: 5;

        svg {
            width: 100%;
            height: 100%;
        }

        &:nth-child(2) {
            transform: translateY(45%);
        }
    }

    &-logo {
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.2vw;
        box-shadow: 0px 0px 0rem 0px rgba(255, 255, 255, 0.45);
        background-color: $color-white;
        z-index: 5;
        animation: chopTat 5s ease infinite alternate;
        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 1200px) {
            width: 12vw;
            height: 12vw;
        }

        @media screen and (max-width: 800px) {
            width: 13vw;
            height: 13vw;
        }

        @media screen and (max-width: 600px) {
            width: 14vw;
            height: 14vw;
        }

        @keyframes chopTat {
            0% {
                box-shadow: 0px 0px 0rem 0px rgba(255, 255, 255, 0.5);
            }

            10% {
                box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 0.5);
            }

            20% {
                box-shadow: 0px 0px 2vw 0px rgba(255, 255, 255, 0.5);
            }

            30% {
                box-shadow: 0px 0px 3vw 0px rgba(255, 255, 255, 0.5);
            }

            40% {
                box-shadow: 0px 0px 4vw 0px rgba(255, 255, 255, 0.5);
            }

            50% {
                box-shadow: 0px 0px 1vw 0px rgba(255, 255, 255, 0.5);
            }

            60% {
                box-shadow: 0px 0px 5vw 0px rgba(255, 255, 255, 0.5);
            }

            70% {
                box-shadow: 0px 0px 3vw 0px rgba(255, 255, 255, 0.5);
            }

            80% {
                box-shadow: 0px 0px 4vw 0px rgba(255, 255, 255, 0.5);
            }

            90% {
                box-shadow: 0px 0px 2vw 0px rgba(255, 255, 255, 0.5);
            }

            100% {
                box-shadow: 0px 0px 6vw 0px rgba(255, 255, 255, 0.5);
            }
        }
    }

    &-list {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &-item {
        width: 5vw;
        height: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.2vw;
        border: 0.1rem solid #066fda;
        background: linear-gradient(123deg, #09488a 54.96%, #035ebc 100.63%);
        box-shadow: -0.8rem -0.8rem 2.4rem 0px rgba(0, 0, 0, 0.16);
        position: absolute;
        z-index: 5;
        transition: all 0.3s linear;
        @include hover {
            background: $color-aqua;
            border-color: $color-aqua;
        }

        img {
            width: 3vw;
            height: 3vw;
        }

        @media screen and (max-width: 1200px) {
            width: 7vw;
            height: 7vw;

            img {
                width: 4vw;
                height: 4vw;
            }
        }

        @media screen and (max-width: 800px) {
            width: 8vw;
            height: 8vw;

            img {
                width: 5vw;
                height: 5vw;
            }
        }

        @media screen and (max-width: 600px) {
            width: 9vw;
            height: 9vw;

            img {
                width: 6vw;
                height: 6vw;
            }
        }

        @media screen and (max-width: 400px) {
            width: 10vw;
            height: 10vw;

            img {
                width: 7vw;
                height: 7vw;
            }
        }

        &:first-child {
            top: -8%;
            left: 15%;

            @media screen and (max-width: 1200px) {
                top: -10%;
            }

            @media screen and (max-width: 600px) {
                top: -13%;
                left: 10%;
            }
        }

        &:nth-child(2) {
            top: 17%;
            left: 28%;

            @media screen and (max-width: 1200px) {
                top: 12%;
            }

            @media screen and (max-width: 600px) {
                top: 9%;
                left: 29%;
            }

            @media screen and (max-width: 400px) {
                top: 5%;
                left: 29%;
            }
        }

        &:nth-child(3) {
            top: 50%;
            left: 5%;

            @media screen and (max-width: 1200px) {
                top: 45%;
            }

            @media screen and (max-width: 600px) {
                top: 43%;
            }
        }

        &:nth-child(4) {
            top: 88%;
            left: 20%;

            @media screen and (max-width: 1200px) {
                top: 85%;
                left: 18%;
            }

            @media screen and (max-width: 600px) {
                top: 85%;
                left: 15%;
            }

            @media screen and (max-width: 400px) {
                top: 82%;
            }
        }

        &:nth-child(5) {
            top: -8%;
            right: 15%;

            @media screen and (max-width: 1200px) {
                top: -12%;
            }

            @media screen and (max-width: 600px) {
                top: -13%;
                right: 10%;
            }
        }

        &:nth-child(6) {
            top: 50%;
            right: 10%;

            @media screen and (max-width: 1200px) {
                top: 46%;
                right: 5%;
            }

            @media screen and (max-width: 600px) {
                top: 43%;
            }

            @media screen and (max-width: 400px) {
                top: 44%;
            }
        }

        &:nth-child(7) {
            top: 88%;
            right: 18%;

            @media screen and (max-width: 1200px) {
                top: 85%;
            }

            @media screen and (max-width: 600px) {
                right: 15%;
            }

            @media screen and (max-width: 400px) {
                top: 82%;
            }
        }

        &:last-child {
            top: 54%;
            right: 33%;

            @media screen and (max-width: 1200px) {
                top: 54%;
                right: 32%;
            }

            @media screen and (max-width: 600px) {
                top: 53%;
                right: 31%;
            }

            @media screen and (max-width: 400px) {
                top: 31%;
                right: 29%;
            }
        }
    }
}

.home-next {
    padding-bottom: 3rem;
    overflow: hidden;
    &-wrap {
        margin-bottom: 3rem;
        .note-text {
            text-align: center;
            font-family: "IBM Plex Sans";
        }
    }

    .title-lg {
        // max-width: 70rem;
        margin: 0 auto 0.8rem;
        text-align: center;
    }

    &-grid {
        max-width: 150rem;
        margin: auto;
        display: grid;
        grid-template-areas:
            "h1 h1 h2 h2 h2 h2 h3 h3"
            "h4 h4 h4 h4 h5 h5 h3 h3";
        gap: 2.4rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: minmax(35rem , auto);
        padding: 0 1.2rem;
        .title-md {
            font-weight: 400;
            margin-bottom: 0.8rem;

            @media screen and (max-width: 460px) {
                font-weight: 600;
            }
        }

        @media screen and (max-width: 1400px) {
            gap: 1.2rem;
        }

        @media screen and (max-width: 1024px) {
            grid-template-areas:
                "h1 h1 h1 h5 h5 h5"
                "h2 h2 h2 h2 h3 h3"
                "h4 h4 h4 h4 h3 h3";

            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            // grid-template-rows: 1fr 1fr 1fr;
        }

        @media screen and (max-width: 800px) {
            grid-template-areas:
                "h1 h1 h1 h5 h5 h5"
                "h2 h2 h2 h2 h2 h2"
                "h4 h4 h4 h4 h4 h4"
                "h3 h3 h3 h3 h3 h3";

            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            grid-template-rows: auto auto auto auto;
        }

        @media screen and (max-width: 460px) {
            grid-template-areas:
                "h1 h1 h1 h1 h1 h1"
                "h5 h5 h5 h5 h5 h5"
                "h2 h2 h2 h2 h2 h2"
                "h4 h4 h4 h4 h4 h4"
                "h3 h3 h3 h3 h3 h3";

            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            grid-template-rows: auto auto auto auto auto;   
        }
    }

    &-app {
        padding: 3.2rem;
        border-radius: 2.4rem;
        background: #f3f5f9;
        transition: all 0.3s linear;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1400px) {
            padding: 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 2rem 1.2rem;
            border-radius: 1.2rem;
        }

        .title-md {
            transition: all 0.3s linear;
        }

        .note-text {
            transition: all 0.3s linear;

            @media screen and (max-width: 460px) {
                text-align: center;
            }
        }

        @include hover {
            background: $color-pri;

            .title-md {
                color: $color-white;
            }

            .note-text {
                color: $color-LightBlue;
            }

            .title-sm {
                color: $color-white;
            }

            .home-next-app-item {
                background-color: #0a396a;
            }

            .home-next-app-rt .note-text {
                color: $color-white;
            }
        }

        &-top {
            margin-bottom: 4rem;

            @media screen and (max-width: 1200px) {
                margin-bottom: 2rem;
            }
        }

        &-bottom {
            .title-sm {
                color: $color-gray3;
                font-weight: 400;
                margin-bottom: 1rem;
                transition: all 0.3s linear;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
        }

        &-item {
            // height: 5.6rem;
            // display: flex;
            // align-items: center;
            // background-color: $color-white;
            // border-radius: 12rem;
            // padding: 0 1.6rem;
            // justify-content: space-between;
            // transition: all 0.3s linear;
            // column-gap: 1rem;
            // flex-wrap: wrap;
            // row-gap: 1.2rem;

            min-height: 5.6rem;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 12rem;
            padding: 2rem 4rem;
            justify-content: space-between;
            transition: all 0.3s linear;
            column-gap: 1rem;
            flex-wrap: wrap;
            row-gap: 1.2rem;
            overflow: hidden;
            .title-sm {
                margin-bottom: 0;
            }

            @media screen and (max-width: 600px) {
                height: auto;
                padding: 1.2rem;
                border-radius: 1rem;
            }

            @media screen and (max-width: 460px) {
                justify-content: center;
            }
        }

        &-ic {
            width: 3.2rem;
            height: 3.2rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-lf {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            flex-wrap: wrap;
            row-gap: 1.2rem;
            // flex-shrink: 0;
            &-lf {
                display: flex;
                align-items: center;
                column-gap: 1.2rem;
            }

            @media screen and (max-width: 460px) {
                justify-content: center;
            }
        }
    }

    &-team {
        padding: 3.2rem;
        border-radius: 2.4rem;
        background: #f3f5f9;
        height: 100%;
        transition: all 0.3s linear;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1.2rem;
        @media screen and (max-width: 1400px) {
            padding: 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 2rem 1.2rem;
            border-radius: 1.2rem;
        }

        .note-text {
        }

        .title-md {
            transition: all 0.3s linear;
        }

        .note-text {
            transition: all 0.3s linear;

            @media screen and (max-width: 460px) {
                text-align: center;
            }
        }

        @include hover {
            background: $color-pri;

            .title-md {
                color: $color-white;
            }

            .note-text {
                color: $color-LightBlue;
            }

            .home-next-team-user {
                background: #056edb;

                &::before {
                    background: #0455a9;
                }

                &::after {
                    background: #033c77;
                }
            }

            .home-next-team-info {
                .title-sm {
                    color: $color-white;
                }

                .note-text {
                    color: $color-white;
                }
            }

            .home-next-team-item {
                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(39%) saturate(1533%) hue-rotate(292deg)
                        brightness(116%) contrast(95%);
                }

                border-color: #0455a9;
            }
        }

        &-top {
            // margin-bottom: 9rem;
        }

        &-bottom {
            margin-bottom: 9rem;

            @media screen and (max-width: 600px) {
                margin-bottom: 7rem;
            }
        }

        &-user {
            border-radius: 3.2rem;
            background: #fff;
            padding: 3rem 0 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;
            z-index: 2;
            transition: all 0.3s linear;
            &::before {
                content: "";
                position: absolute;
                bottom: -3.2rem;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 80%;
                height: 8%;
                border-radius: 0 0 3.2rem 3.2rem;
                background: #e6e6e6;
                z-index: -1;
                transition: all 0.3s linear;

                @media screen and (max-width: 600px) {
                    border-radius: 0 0 1.2rem 1.2rem;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -6.3rem;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 60%;
                height: 8%;
                border-radius: 0 0 3.2rem 3.2rem;
                background: #ccc;
                transition: all 0.3s linear;

                z-index: -1;
                @media screen and (max-width: 800px) {
                    bottom: -6rem;
                }

                @media screen and (max-width: 600px) {
                    bottom: -6rem;
                    border-radius: 0 0 1.2rem 1.2rem;
                }
            }
            @media screen and (max-width: 600px) {
                border-radius: 1.2rem;
            }
        }

        &-ava {
            width: 14rem;
            height: 14rem;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 2.4rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-info {
            margin-bottom: 6rem;
            .title-sm {
                text-align: center;
                font-weight: 400;
                margin-bottom: 0.4rem;
                transition: all 0.3s linear;
                padding: 0 0.6rem;
            }

            .note-text {
                text-align: center;
                transition: all 0.3s linear;
                padding: 0 0.6rem;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &-item {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            transition: all 0.3s linear;
            cursor: pointer;
            &:not(:last-child) {
                border-right: 0.1rem solid #e6e6e6;
            }

            @include hover {
                img {
                    transform: scale(1.1);
                }
            }

            img {
                width: 3.2rem;
                height: 3.2rem;
                transition: all 0.3s linear;
            }
        }
    }

    &-statis {
        border-radius: 2.4rem;
        background: #f3f5f9;
        padding: 3.2rem;
        width: 100%;
        height: 100%;
        transition: all 0.3s linear;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 1400px) {
            padding: 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 2rem 1.2rem;
            border-radius: 1.2rem;
        }
        .title-md {
            transition: all 0.3s linear;
        }

        .note-text {
            transition: all 0.3s linear;

            @media screen and (max-width: 460px) {
                text-align: center;
            }
        }

        @include hover {
            background: $color-pri;

            .title-md {
                color: $color-white;
            }

            .note-text {
                color: $color-LightBlue;
            }

            .home-next-statis-img {
                img {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: block;
                    }
                }
            }
        }

        &-top {
            margin-bottom: 3.7rem;
        }

        &-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;

                &:first-child {
                    display: block;
                }

                &:last-child {
                    display: none;
                }
            }
        }
        &-bottom {
            &-wrap {
                max-width: 62.5rem;
                width: 100%;
            }
        }
    }

    &-item {
        .banner-home-lf-item {
            width: 100%;
            padding: 3.2rem;
            height: 100%;
            box-shadow: none;
            background: #f3f5f9;
            border-radius: 2.4rem;
            justify-content: space-between;
            transition: all 0.3s linear;

            @media screen and (max-width: 1400px) {
                padding: 2rem;
            }

            @media screen and (max-width: 600px) {
                padding: 2rem 1.2rem;
                border-radius: 1.2rem;
            }

            .title-md {
                margin-bottom: 0.8rem;

                transition: all 0.3s linear;
                text-align: start;
            }

            .note-text {
                transition: all 0.3s linear;
            }

            .banner-home-lf-bottom-tp-num {
                transition: all 0.3s linear;
            }

            .banner-home-lf-bottom-bt {
                transition: all 0.3s linear;
            }

            circle {
                transition: all 0.3s linear;
            }

            .banner-home-lf-bottom-outer {
                transition: all 0.3s linear;
            }

            .banner-home-lf-bottom-inner {
                transition: all 0.3s linear;
            }

            .banner-home-lf-bottom-num {
                transition: all 0.3s linear;
            }
            &.hover {
                @include hover {
                    background: $color-pri;

                    .title-md {
                        color: $color-white;
                    }

                    .note-text {
                        color: $color-LightBlue;
                    }

                    .banner-home-lf-bottom-tp-num {
                        color: $color-aqua;
                    }

                    .banner-home-lf-bottom-bt {
                        color: $color-white;
                    }

                    circle {
                        stroke: $color-aqua;
                    }

                    .banner-home-lf-bottom-outer {
                        background-color: $color-pri;

                        box-shadow: 0 0 3rem 1rem rgba($color: $color-four, $alpha: 0.8);
                    }

                    .banner-home-lf-bottom-inner {
                        background-color: $color-four;
                    }

                    .banner-home-lf-bottom-num {
                        color: $color-white;
                    }
                }
            }

            .banner-home-lf-bottom-tp {
                @media screen and (max-width: 1400px) {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }

        &:first-child {
            grid-area: h1;
            width: 100%;
            height: 100%;
        }

        &:nth-child(2) {
            grid-area: h2;
            width: 100%;
            height: 100%;
        }

        &:nth-child(3) {
            grid-area: h3;
            width: 100%;
            height: 100%;
        }

        &:nth-child(4) {
            grid-area: h4;
            width: 100%;
            height: 100%;
        }

        &:last-child {
            grid-area: h5;
            width: 100%;
            height: 100%;
        }
    }
}

.home-all {
    padding-top: 20rem;

    background: linear-gradient(0deg, #011c38 0%, rgba(2, 43, 84, 0) 67.55%),
        radial-gradient(258.39% 55.38% at 51.01% 0%, #0660bd 0%, #001c39 100%);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    &-bg {
        width: 100%;
        padding-top: calc(100% * 996 / 1728);
        position: relative;
        margin-top: -30vw;
        margin-bottom: -30vw;
        background-image: url(../assets/images/BGAll.png);
        background-size: 100%;
        background-repeat: no-repeat;
        // background-position: center center;
        mix-blend-mode: lighten;
        animation: chieuSau 10s linear infinite forwards alternate;
        pointer-events: none;
        @keyframes chieuSau {
            0% {
                transform: scale(1);
            }

            20% {
                transform: scale(1.1);
            }

            40% {
                transform: scale(1.2);
            }
            60% {
                transform: scale(1.3);
            }

            80% {
                transform: scale(1.4);
            }

            100% {
                transform: scale(1.6);
            }
        }

        // @media screen and (max-width:800px) {
        //     animation: unset;

        // }

        @media screen and (max-width: 1500px) {
            margin-top: -35vw;
        }

        @media screen and (max-width: 1024px) {
            margin-top: -32vw;
            margin-bottom: -32vw;
        }

        @media screen and (max-width: 800px) {
            margin-top: -25vw;
            margin-bottom: -45vw;
        }

        @media screen and (max-width: 600px) {
            margin-top: -40vw;
            margin-bottom: -35vw;
        }

        @media screen and (max-width: 400px) {
            margin-top: -40vw;
            margin-bottom: -45vw;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -20%;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(0deg, #022b54 0%, rgba(2, 43, 84, 0) 67.55%),
                radial-gradient(258.39% 55.38% at 51.01% 0%, #034c98 0%, #022345 100%);
            filter: blur(10rem);
            -webkit-filter: blur(10rem);

            @media screen and (max-width: 800px) {
                filter: blur(5rem);
                -webkit-filter: blur(5rem);
                height: 60%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -40%;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(0deg, #022b54 0%, rgba(2, 43, 84, 0) 67.55%),
                radial-gradient(258.39% 55.38% at 51.01% 0%, #034c98 0%, #022345 100%);
            filter: blur(10rem);
            -webkit-filter: blur(10rem);
            display: none;
            @media screen and (max-width: 800px) {
                filter: blur(5rem);
                -webkit-filter: blur(5rem);
                height: 60%;
                display: block;
            }
        }
    }

    #particles-js {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 20%;

        @media screen and (max-width: 1400px) {
            top: 55%;
            height: 10%;
        }

        @media screen and (max-width: 800px) {
            top: 50%;
            height: 20%;
        }

        @media screen and (max-width: 460px) {
            height: 30%;
        }
    }

    @media screen and (max-width: 1600px) {
        padding-top: 15rem;
    }

    @media screen and (max-width: 1400px) {
        padding-top: 10rem;
    }

    @media screen and (max-width: 1200px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    @media screen and (max-width: 800px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    @media screen and (max-width: 600px) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &-wrap {
    }

    &-ai {
        margin-bottom: 10rem;

        @media screen and (max-width: 1200px) {
            margin-bottom: 5rem;
        }
        &-wrap {
            align-items: center;

            @media screen and (max-width: 1200px) {
                align-items: start;
            }

            @media screen and (max-width: 800px) {
                flex-direction: column-reverse;
                row-gap: 3rem;
            }
        }

        &-lf {
            width: calc(100% * 7 / 12);

            @media screen and (max-width: 1200px) {
                width: 50%;
            }

            @media screen and (max-width: 800px) {
                width: 100%;
            }

            &-wrap {
                .title-lg {
                    margin-bottom: 0.8rem;
                    text-align: start;

                    @media screen and (max-width: 460px) {
                        text-align: center;
                    }
                }

                .note-text {
                    font-family: "IBM Plex Sans";
                }

                .btn {
                    z-index: 5;
                    position: relative;
                    @media screen and (max-width: 460px) {
                        margin: 3rem auto 0;
                    }
                }
            }

            &-list {
                margin-top: 4rem;
                margin-bottom: 4rem;
                display: flex;
                column-gap: 10rem;

                row-gap: 2rem;
                @media screen and (max-width: 1200px) {
                    column-gap: 1rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }

                @media screen and (max-width: 320px) {
                    flex-direction: column;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                row-gap: 1.2rem;
                width: 30%;
                .title-sm {
                    font-weight: 400;
                    text-align: start;
                    @media screen and (max-width: 600px) {
                        font-size: 1.6rem;
                    }
                }

                @media screen and (max-width: 1200px) {
                    width: 50%;
                    row-gap: 0.6rem;
                }

                @media screen and (max-width: 460px) {
                    width: 100%;
                    align-items: center;
                }
            }

            &-ic {
                width: 4rem;
                height: 4rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-num {
                color: #8fffff;
                @include fz-48;
                font-weight: 700;
                display: flex;
                column-gap: 0.3rem;
            }
        }

        &-rt {
            flex: 1;

            @media screen and (max-width: 1200px) {
                width: 100%;
            }

            &-wrap {
                margin-right: -20rem;

                @media screen and (max-width: 1500px) {
                    margin-right: -17rem;
                }

                @media screen and (max-width: 1400px) {
                    margin-right: -15rem;
                }

                @media screen and (max-width: 1300px) {
                    margin-right: -13rem;
                }

                @media screen and (max-width: 1200px) {
                    margin-right: -1.5rem;
                }

                @media screen and (max-width: 800px) {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 55rem;
                    width: 100%;
                }

                @media screen and (max-width: 600px) {
                    margin-right: auto;
                    margin-left: auto;
                    max-width: 50rem;
                    width: 100%;
                }
            }

            &-img {
                padding-top: calc(100% * 860 / 763);
                width: 100%;
                position: relative;
                overflow: hidden;
                display: block;
                mix-blend-mode: screen;

                animation: NhapNho 5s linear infinite;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @keyframes NhapNho {
                    0% {
                        transform: translateY(0%);
                        opacity: 1;
                    }

                    50% {
                        transform: translateY(1.5%);
                        opacity: 0.8;
                    }

                    100% {
                        transform: translateY(0%);
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 800px) {
                    padding-top: 100%;
                }
            }
        }
    }

    &-traction {
        margin-top: 10rem;
        padding-bottom: 6rem;
        &-wrap {
            align-items: end;

            @media screen and (max-width: 1024px) {
                flex-direction: column;
                row-gap: 2rem;
            }

            @media screen and (max-width: 460px) {
                .btn {
                    margin: auto;
                }
            }
        }

        &-rt {
            width: calc(100% * 6 / 12);

            @media screen and (max-width: 1300px) {
                width: 50%;
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            &-top {
                margin-bottom: 4rem;

                @media screen and (max-width: 460px) {
                    margin-bottom: 3rem;
                }

                .note-text {
                    font-family: "IBM Plex Sans";
                }
            }

            &-bottom {
                margin-bottom: 4rem;
            }

            .title-lg {
                margin-bottom: 0.8rem;

                @media screen and (max-width: 460px) {
                    margin-bottom: 1rem;
                }
            }

            .note-text {
            }

            &-list {
                display: flex;
                flex-direction: column;
                row-gap: 1.2rem;
            }

            &-item {
                border-radius: 2.4rem;
                padding: 1.6rem 2rem;
                background: linear-gradient(90deg, #004a97 0%, rgba(0, 61, 123, 0) 86.18%);

                .note-text {
                    font-family: "IBM Plex Sans";
                }

                @media screen and (max-width: 600px) {
                    border-radius: 1.2rem;
                    padding: 1.4rem 1.2rem;
                }
            }
        }

        &-lf {
            flex: 1;

            @media screen and (max-width: 1300px) {
                width: 100%;
            }

            &-wrap {
                margin-left: -15rem;
                margin-right: 5rem;

                @media screen and (max-width: 1500px) {
                    margin-left: -10rem;
                    margin-right: 0;
                }

                @media screen and (max-width: 1400px) {
                    margin-left: -5rem;
                    margin-right: 0;
                }

                @media screen and (max-width: 1300px) {
                    margin-left: 0rem;
                    margin-right: 0;
                }
            }

            &-box {
                width: 100%;
                padding-right: 5rem;

                margin-bottom: 5rem;

                @media screen and (max-width: 1500px) {
                    padding-right: 0;
                }

                @media screen and (max-width: 1200px) {
                    max-width: 65rem;
                    margin: 0 auto 3rem;
                }
            }

            &-img {
                padding-top: calc(100% * 550 / 750);
                width: 100%;
                position: relative;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: color-dodge;

                    object-fit: cover;
                    transform: translate(-50%, -50%);

                    animation: nhapNhoTraiDat 5s linear infinite;

                    @keyframes nhapNhoTraiDat {
                        0% {
                            transform: translate(-50%, -50%);
                        }

                        50% {
                            transform: translate(-50%, -52%);
                        }

                        100% {
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            &-list {
                @media screen and (max-width: 460px) {
                    flex-direction: column;
                    row-gap: 1rem;
                }
            }

            &-item {
                @media screen and (max-width: 460px) {
                    width: 100%;
                }

                .banner-home-lf-item.blue {
                    width: 100%;
                    height: 100%;
                }

                .banner-home-lf-bottom-tp {
                    @media screen and (max-width: 1400px) {
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        @media screen and (max-width: 1200px) {
            padding-bottom: 3rem;
        }

        @media screen and (max-width: 460px) {
            margin-top: 8rem;
            padding-bottom: 1.5rem;
        }
    }

    &-make {
        padding-top: 6rem;
        transform: translateY(10%);

        @media screen and (max-width: 1200px) {
            padding-top: 3rem;
            transform: translateY(0%);
        }

        @media screen and (max-width: 600px) {
            padding-top: 1.5rem;
            transform: translateY(0%);
        }

        .title-lg {
            text-align: center;
            padding-bottom: 4rem;

            @media screen and (max-width: 600px) {
                padding-bottom: 3rem;
            }
        }

        &-wrap {
            max-width: 107rem;
            width: 100%;
            margin: auto;
            position: relative;
            height: 100%;
            z-index: 5;
        }

        &-img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            border-radius: 2.4rem;
            overflow: hidden;

            @media screen and (max-width: 600px) {
                border-radius: 1.2rem;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-img-con {
            max-width: 40rem;
            width: 100%;
            position: absolute;
            bottom: -3rem;
            right: -5rem;
            z-index: 6;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media screen and (max-width: 1200px) {
                max-width: 30rem;
                bottom: 0;
                right: 0;
            }

            @media screen and (max-width: 800px) {
                max-width: 25rem;
                bottom: 0;
                right: 0;
            }

            @media screen and (max-width: 600px) {
                max-width: 20rem;
                bottom: 0;
                right: 0;
            }

            @media screen and (max-width: 460px) {
                max-width: 15rem;
                bottom: 0;
                right: 0;
            }

            @media screen and (max-width: 360px) {
                max-width: 10rem;
                bottom: 0;
                right: 0;
            }
        }
    }
}


.home-ytb{
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media screen and (max-width: 800px) {
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    &-video{
        padding-top: calc(100% * 600 / 1200);
        width: 100%;
        position: relative;
        object-fit: cover;
        border-radius: 1rem;
        overflow: hidden;
        iframe{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}