.post {

    @include hover {

        .post_wrap {
            // box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.5);

            box-shadow: 0px 0.4rem 3.2rem 0px rgba($color: #121B2C, $alpha: 0.08);

        }

        .post_img {
            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        .post_box {
            .title {
                a {
                    color: $color-second;
                }
            }
        }

        // .post_wrap {
        //     box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
        // }


    }

    &_wrap {
        display: flex;
        // align-items: center;
        column-gap: 0;
        // row-gap: var(--rowContent12);
        transition: 0.3s linear;
        border-radius: var(--radius12);
        overflow: hidden;
        background: $color-white;

        @include max(1200px) {

            box-shadow: 0px 0.4rem 3.2rem 0px rgba($color: #121B2C, $alpha: 0.08);
        }
    }

    &_lf {
        flex-shrink: 0;
        width: calc((100% * 3 / 8));

        @include max(800px) {
            width: calc((100% * 3 / 12));

        }

        @include max(460px) {
            width: calc((100% * 4 / 12));

        }


        @include max(360px) {
            width: calc((100% * 5 / 12));

        }
    }

    &_rt {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent12);
        width: 100%;
        flex: 1;

    }

    &_box {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent0);
        padding: 2rem;
        justify-content: center;
        height: 100%;

        @include max(1200px) {
            padding: 1.6rem;
        }

        @include max(800px) {
            padding: 1.2rem;
        }

        @include max(600px) {
            padding: 0.8rem;
        }


        .title {
            a {
                text-align: start;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-weight: 600;
            }

        }

        .content {
            text-align: start;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            color: $color-gray6;

            @include max(600px) {
                -webkit-line-clamp: 2;

            }
        }
    }

    &_img {
        padding-top: calc(100% * 229 / 312);
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            transition: 0.3s linear;
        }
    }

    &_similar {
        padding-top: var(--size-pd);
        padding-bottom: var(--size-pd);

        &--wrap {
            display: flex;
            flex-direction: column;
            row-gap: var(--rowContent2);

            .title-sm2 {
                font-weight: 700 !important;

                @include max(800px) {
                    @include fz-30;
                }
            }
        }

        &--list {
            row-gap: var(--rowContent32);

            .swiper {
                padding: 0.5rem 0;
            }

            .swiper-slide {
                height: auto;

                @include max(300px){
                    width: 100%;
                }
            }

            .swiper-pagination {
                margin-top: unset;
            }
        }

        &--item {
            height: 100%;

            .post {
                height: 100%;

                &_wrap {
                    height: 100%;
                    flex-direction: column;
                    row-gap: var(--rowContent12);
                    background: transparent !important;
                    box-shadow: none;

                    @include hover {
                        box-shadow: none;
                    }
                }

                &_lf {
                    width: 100%;
                }

                &_rt {
                    width: 100%;
                }

                &_box {
                    padding: 0;

                    .title a {
                        @include fz-20;
                    }

                    .content {
                        @include fz-14;
                        -webkit-line-clamp: 2;
                    }
                }

                &_img {
                    padding-top: calc(100% * 202 / 384);
                    height: auto;
                }
            }

            .post_td {
                height: 100%;

                &--box {
                    padding: 1.2rem 2.4rem;

                    @include max(1200px) {
                        padding: 1rem 1.2rem;
                    }

                    @include max(800px) {
                        padding: 1rem 1rem;
                    }


                    @include max(600px) {
                        padding: 0.8rem;
                        row-gap: var(--rowContent0);

                    }

                    
                }

                &--img {
                    padding-top: calc(100% * 208 / 384);
                }

                &--wrap {
                    flex-direction: column;
                    height: 100%;
                }

                &--lf {
                    width: 100%;
                }

                &--title {
                    .title {
                        @include fz-24;
                    }

                    .note-text {
                        @include fz-14;
                    }
                }

                &--content {
                    display: none;
                }

                .tuyen_dung--info {
                    .note-text {
                        @include fz-14;
                    }
                }
            }
        }
    }
}


.post_td {

    &.err {
        .post_td--title {
            .note-text {
                color: $color-red;
            }
        }
    }

    @include hover {

        .post_td--wrap {
            // box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.5);


        }

        .post_td--img {
            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }

        .post_td--box {
            .title {
                a {
                    color: $color-second;
                }
            }
        }

        // .post_wrap {
        //     box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
        // }


    }

    &--wrap {
        display: flex;
        // align-items: center;
        column-gap: 0;
        // row-gap: var(--rowContent12);
        transition: 0.3s linear;
        border-radius: var(--radius12);
        overflow: hidden;
        background: $color-white;
        box-shadow: 0rem 0rem 0.5rem rgba($color: #121B2C, $alpha: 0.1);

    }

    &--lf {
        flex-shrink: 0;
        width: calc((100% * 3 / 8));
    }

    &--rt {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent12);
        width: 100%;
        flex: 1;

    }

    &--box {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent12);
        padding: 2.4rem;
        justify-content: center;
        height: 100%;

        @include max(1200px) {
            padding: 2rem;
        }

        @include max(800px) {
            padding: 1.6rem;
        }

        @include max(600px) {
            padding: 1.2rem;
            row-gap: var(--rowContent0);

        }

        @include max(460px) {
            padding: 1rem;
        }

        @include max(360px) {
            padding: 0.8rem;
        }


        .tuyen_dung--infos {
            flex-direction: column;
            align-items: start;
        }


    }


    &--title {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;

        .title {
            a {
                text-align: start;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                font-weight: 700;

                @include max(1200px) {
                    @include fz-24;
                }
            }

        }

        .note-text {}
    }

    &--content {
        .note-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include max(600px) {
                display: none;
            }
        }
    }

    &--img {
        padding-top: calc(100% * 229 / 312);
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            transition: 0.3s linear;
        }
    }


}