<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CHÍNH SÁCH ĐẠI LÝ</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <div class="header-top-lf"> 
                <div class="header-top-lf-wrap"> <a class="note-sm fw-4 fl-Segoe cl-white t-up">SUBSCRIBE</a><a class="note-sm fw-4 fl-Segoe cl-white t-up">ENGLISH</a></div>
              </div>
              <div class="header-top-rt"> 
                <div class="header-top-rt-wrap"><a class="btn cl-2" href=""><span class="btn-text">TÌM ĐẠI LÝ</span><span class="btn-ic"><i class="fas fa-map-marker-alt"> </i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom"> 
          <div class="container">
            <div class="header-bottom-wrap">
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-nav">
                <ul class="menu-list">
                  <li class="menu-item dropdown current-menu-item"><a class="menu-link fw-6" href="">sản phẩm</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón xe máy</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón thể thao</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón trẻ em</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Phụ kiện</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">tin tức</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Giới thiệu chung</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Quá trình phát triển</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">VỀ POC</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Đại lý</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Bảo hành</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Bảo mật</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Hộ trợ</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">chính sách</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Thông tin &amp; sự kiện</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Thông tin nón</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05 - Vượt mọi thử thách</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">MTB - Thể thao xe đạp leo núi</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn6.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">Chinh phục mọi tay đua đường trường</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn7.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">An toàn, niềm tin, &amp; chất lượng</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn8.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="header-box">
                <div class="header-ic btn-search"><img src="./assets/images/search.svg" alt=""/>
                </div>
                <div class="header-search">
                  <div class="header-search-wrap">
                    <div class="header-search-ip">
                      <input type="text" placeholder="Tìm kiếm">
                    </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="result-search">
        <div class="container"> 
          <div class="result-search-wrap"> 
            <ul class="result-search-list d-wrap">
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p01</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p07</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p08</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p09</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SẢN PHẨM</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">TIN TỨC</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">VỀ POC</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">CHÍNH SÁCH</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SUBSCRIBE</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">TÌM ĐẠI LÝ          </a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/youtube.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/zalo.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tiktok.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/insta.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <div class="menu-lh-title t-up">ĐỊA CHỈ LIÊN HỆ</div>
            <div class="note-title cl-prit-up">CÔNG TY TNHH QUỐC TẾ POC VIỆT NAM</div>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   79/71/15 Đường Số 4, Bình Hưng Hoà, Bình Tân, Thành phố Hồ Chí Minh              </a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Pochelmets@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/Phone.svg" alt=""/></span><a class="link-address" href="">
                   0945 555 017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <div class="result-search-mb rs-mb"> 
      <div class="result-search-mb-wrap"> 
        <div class="result-search-mb-box"> 
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="result-search-mb-view">       
          <ul class="result-search-mb-list d-wrap">
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p01</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p07</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p08</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p09</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="result-mobi-modal"></div>
    <div class="loading">
      <div class="loading_wrap">   
        <div class="loading_img"> <img src="./assets/images/loading.png" alt=""/>
        </div>
      </div>
    </div>
    <main class="main pt">
      <div class="banner-ct">
        <div class="banner-ct-bg">
          <div class="banner-ct-img"><img src="./assets/images/phukienbg.png" alt=""/></div>
        </div>
      </div>
      <section class="cs"> 
        <div class="container">
          <div class="cs_wrap">
            <div class="cs_content">
              <h1 class="title-sm3 t-up fw-7">CHÍNH SÁCH CHUNG DÀNH CHO ĐẠI LÝ </h1>
              <div class="note-md fw-7 t-up">NGUYÊN TẮC PHÁT TRIỂN LÂU DÀI VÀ BỀN VỮNG CÙNG ĐẠI LÝ:</div>
              <p class="note-text fl-Segoe">
                 Sẵn sàng chia sẻ lợi nhuận cùng Đại lý, chia sẻ cơ hội, chia sẻ lợi ích kinh doanh và đồng hành lâu dài, bền vững cùng Đại lý.<br>Quan tâm, hỗ trợ Đại lý cũng như có những hỗ trợ hợp tác nhằm nâng cao tính mật thiết giữa Đại lý và Nhà phân phối, Nhà sản xuất.<br>Bảo vệ tối đa cho Đại lý trước những biến động của thị trường.<br>Bảo vệ khách hàng cho Đại lý, đảm bảo tính công bằng trên toàn bộ hệ thống phân phối.<br>Cùng đại lý mở rộng thị trường và mở rộng kênh phân phối của Đại lý. </p>
              <h2 class="note-md fw-7 t-up">CÁC TIÊU CHÍ ĐỂ LÀM ĐẠI LÝ.</h2>
              <p class="note-text fl-Segoe">Để xây dựng hệ thống đại lý của mình, POC Helmets đưa ra một số điều kiện như sau:    </p>
              <ul>
                <li>Có giấy chứng nhận đăng ký kinh doanh theo pháp luật của Việt nam.</li>
                <li>Đang hoạt động kinh doanh trong các lĩnh vực liên quan như: nón bảo hiểm, phụ kiện thể thao, kinh doanh xe máy, kinh doanh xe đạp, bảo hộ lao động…</li>
                <li>Có địa điểm kinh doanh ổn định và nằm ở khu vực mà POC Helmets mong muốn có đại lý.</li>
                <li>Đơn vị phải có báo cáo tài chính lành mạnh và có năng lực tài chính tốt. Có hoạt động thị trường và quan hệ khách hàng tốt trong phạm vi thị trường do đơn vị đó quản lý.</li>
              </ul>
              <h2 class="note-md fw-7">Chúng tôi sử dụng thông tin cá nhân ra sao?    </h2>
              <p class="note-text fl-Segoe">Bằng việc cung cấp thông tin cá nhân, bạn đồng ý với việc nếu pháp luật tại địa phương hoặc tại nơi bạn nhận thông tin cho phép, chúng tôi sẽ dùng thông tin đó để thực hiện các công việc sau</p>
              <ul>
                <li>Trả lời các yêu cầu của bạn</li>
                <li>Cải thiện dịch vụ của chúng tôi</li>
                <li>Nâng cấp thông tin trên các phương tiện truyền thông</li>
                <li>Cung cấp cho bạn các thủ thuật, thông tin hữu ích, tin tức cập nhật mới về sản phẩm chỉ email</li>
                <li>Thông báo về sản phẩm và dịch vụ mới</li>
                <li>Giúp khách hàng có cái nhìn về sản phẩm và dịch vụ</li>
                <li>Đánh giá các hồ sơ ứng tuyển công việc</li>
                <li>Cho các mục đích quản trị và đảm bảo chất lượng sản phẩm của chúng tôi</li>
                <li>Cho các mục đích khác được liệt kê chi tiết trên web hoặc các ứng dụng di động</li>
              </ul>
              <p class="note-text fl-Segoe">Các trường hợp chưa đủ các điều kiện trên nhưng có mong muốn và thuộc khu vực Công ty TNHH Quốc tế POC Việt Nam chưa có đại lý thì cũng có thể xem xét trở thành đại lý.            </p>
              <div class="note-md fw-7">THỦ TỤC ĐĂNG KÝ LÀM ĐẠI LÝ    </div>
              <p class="note-text fl-Segoe">Mọi đơn vị đủ điều kiện muốn trở thành đại lý của POC Helmets thì liên hệ trực tiếp với phòng kinh doanh Công ty TNHH Quốc tế POC Việt Nam, nhận mẫu đơn xin đăng ký làm đại lý hoặc tải mẫu đơn và gửi trực tuyến theo đường dẫn: TẠI ĐÂY.<br>Trong vòng 5 ngày làm việc kể từ ngày nhận đơn xin đăng ký làm đại lý, phụ trách kinh doanh có trách nhiệm tìm hiểu về đơn vị yêu cầu làm đại lý và trả lời cho đơn vị đăng ký. Trường hợp đủ các điều kiện trở thành đại lý của công ty, phụ trách kinh doanh sẽ liên hệ với đơn vị đăng ký bổ sung các giấy tờ liên quan, trình lên Giám đốc công ty TNHH Quốc tế POC Việt Nam xem xét và ra quyết định.<br>Hợp đồng đại lý là văn bản thỏa thuận có giá trị pháp lý và nguyên tắc nền tảng cho sự hợp tác giữa hai đơn vị.       </p>
            </div>
            <div class="cs_content">
              <h2 class="title-sm3 t-up fw-7">CHÍNH SÁCH ĐẠI LÝ</h2>
              <div class="note-md fw-7 t-up">GIÁ ĐẠI LÝ</div>
              <p class="note-text fl-Segoe">
                 Giá áp dụng cho các đại lý là giá niêm yết do Công ty TNHH Quốc tế POC Việt Nam phát hành. Mọi sự thay đổi bảng giá sẽ được thông báo bằng văn bản.<br>Công ty sẽ tổ chức hội nghị đại lý, khách hàng để trao đổi, giải đáp những thắc mắc và tổ chức xét thưởng đối với các đại lý có thành tích tốt trong hoạt động kinh doanh sản phẩm do Công ty TNHH Quốc tế POC Việt Nam sản xuất và phân phối.</p>
              <h2 class="note-md fw-7 t-up">QUYỀN LỢI CỦA ĐẠI LÝ</h2>
              <ul>
                <li>Được POC Helmets quảng bá thương hiệu và hỗ trợ digital marketing.</li>
                <li>ĐThông tin về Đại lý được đưa lên website và các tài liệu quảng cáo của POC Helmets.</li>
                <li>Được cung cấp tài liệu quảng cáo, giới thiệu sản phẩm, tài liệu kỹ thuật, catalogue.</li>
                <li>Thường xuyên được cập nhật thông tin về công nghệ mới, sản phẩm mới.</li>
                <li>Được hưởng chính sách bảo hành ưu đãi của POC Helmets.</li>
              </ul>
              <h2 class="note-md fw-7 t-up"> TRÁCH NHIỆM CỦA ĐẠI LÝ   </h2>
              <p class="note-text fl-Segoe">
                 Tổ chức trưng bày, giới thiệu sản phẩm và làm công tác thị trường để phục vụ công tác bán hàng của đại lý.<br>Dành một phần diện tích nhất định để trưng bày và giới thiệu hàng hóa (nếu có cửa hàng trưng bày) hoặc trưng bày trên website, các trang bán hàng trực tuyến của Đại lý.<br>Thông báo cho công ty TNHH Quốc tế POC Việt Nam tình hình tiêu thụ, biến động giá cả, phản ánh của khách hàng về chất lượng sản phẩm.<br>Thực hiện đúng các điều khoản theo hợp đồng đại lý và hợp đồng mua hàng.<br>Không được công bố trên phương tiện thông tin đại chúng giá bán thấp hơn giá bán lẻ của công ty TNHH Quốc tế POC Việt Nam niêm yết trên toàn quốc.<br>Hàng năm POC Helmets sẽ tổng hợp doanh số mua hàng, đánh giá các hoạt động kinh doanh, các hoạt động phát triển thị trường để xem xét và quyết định về việc có tiếp tục duy trì quan hệ đại lý hoặc có thể chấm dứt quan hệ đại lý.</p>
            </div>
            <div class="cs_content">
              <h2 class="title-sm3 t-up fw-7">NGUYÊN TẮC HỢP TÁC</h2>
              <p class="note-text fl-Segoe">
                 POC Helmets và đại lý hợp tác trên nguyên tắc bình đẳng đôi bên cùng có lợi, mọi mâu thuẫn phát sinh trong quá trình hợp tác đều phải được giải quyết trên nguyên tắc tự nguyện hòa giải. Trong trường hợp hai bên không thống nhất được thì mâu thuẫn sẽ được đưa ra giải quyết tại Tòa Án Kinh Tế - Tòa Án Nhân Dân thành phố Hồ Chí Minh, quyết định của tòa án là quyết định cuối cùng, bên thua kiện sẽ chịu mọi chi phí.<br>Công ty TNHH Quốc tế POC Việt Nam và Đại lý là 2 pháp nhân hoàn toàn độc lập, hoạt động hợp pháp và bình đẳng theo pháp luật của Việt nam, trong mọi trường hợp không bên nào có quyền đại diện cho bên kia về mặt pháp luật hoặc làm cho bên thứ 3 khác hiểu nhầm về việc đại diện về mặt pháp luật này.<br>Các trách nhiệm về mặt pháp luật, về nghĩa vụ thuế và nghĩa vụ với bất kỳ bên thứ 3 nào khác của công ty TNHH Quốc tế POC Việt Nam hoặc của Đại lý đều không liên quan đến bên còn lại.</p>
              <h2 class="note-md fw-7 t-up">THỜI GIAN HIỆU LỰC</h2>
              <p class="note-text fl-Segoe">Chính sách này có hiệu lực từ ngày …… cho tới khi Chính sách Đại lý mới được ban hành và phổ biến bằng văn bản nếu có.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="dk"> 
        <div class="dk_bg"> <img src="./assets/images/signbg1.png" alt=""/>
        </div>
        <div class="container">
          <div class="dk_wrap">
            <h2 class="title-md fw-7 t-up cl-white">ĐĂNG KÝ LÀM ĐẠI LÝ</h2>
            <button class="btn cl-4 popup-btn-td"> <span class="btn-text">ĐĂNG KÝ</span>
            </button>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-bg">
        <div class="footer-img"> <img src="./assets/images/bgFooter.png" alt=""/>
        </div>
      </div>
      <div class="container">
        <div class="footer-wrap"> 
          <div class="footer-top">
            <h2 class="title-sm2 cl-second t-up fw-7">CÔNG TY TNHH QUỐC TẾ POC VIỆT NAM</h2>
            <div class="footer-top-wrap"> 
              <p class="note-sm cl-white fl-Segoe">Tự hào là nhà sản xuất, phân phối hợp lệ và độc quyền cho tất cả các sản phẩm mang thương hiệu POC - Power Of Creation</p>
              <div class="footer-social">
                <h3 class="note-md fw-7 cl-white">Follow us</h3>
                <ul class="footer-social-list">
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/fb.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-center"> 
            <div class="footer-center-wrap">
              <div class="footer-center-top">
                <div class="footer-center-list d-wrap"> 
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Sản phẩm</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón thể thao</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón xe máy</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón trẻ em</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Phụ kiện</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Tin tức</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Thông tin &amp; sự kiện</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Thông tin nón</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Về POC</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Giới thiệu</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Truyền thông nội bộ</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Chính sách</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Đại lý                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Bảo hành                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Bảo mật                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Hổ trợ                                                                                             </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-social">
                  <h3 class="note-md fw-7 cl-white">Follow us</h3>
                  <ul class="footer-social-list">
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/fb.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-center-bottom">
                <div class="footer-center-bottom-title"> 
                  <h3 class="note-md fw-7 t-up cl-white">ĐĂNG KÝ</h3>
                  <h4 class="note-sm cl-white fl-Segoe">Để nhận thông tin từ POC Helmet</h4>
                </div>
                <div class="footer-center-bottom-form">
                  <div class="footer-center-bottom-form-wrap">
                    <div class="footer-center-bottom-ip">
                      <input class="form-item-ip cus" type="text" placeholder="Email của bạn..."><span class="border"></span>
                    </div>
                    <button class="btn"> <span class="btn-text">ĐĂNG KÝ</span>
                    </button>
                  </div>
                  <label class="footer-center-bottom-check"> 
                    <input type="checkbox"><span class="box"></span><span class="note-sm">
                       Đồng ý <a href="">chính sách và điều khoản </a>của POC Helmets. </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-wrap"> 
              <div class="footer-bottom-lang"> 
                <p class="note-sm fl-Segoe cl-white">Ngôn ngữ</p><a class="note-sm link fl-Segoe cl-white t-up" href>ENGLISH</a>
              </div>
              <div class="footer-bottom-lang2"> 
                <p class="note-sm fl-Segoe cl-white">Ngôn ngữ</p><a class="note-sm link fl-Segoe cl-white t-up" href>EN    </a>
              </div>
              <div class="note-sm fl-Segoe cl-white">POC HELMET COPYRIGHT @ 2023    </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup_main popup-form-main">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--ic"><img src="./assets/images/check-circle.svg" alt=""/>
        </div>
        <div class="title-sm4 fw-7 t-up">THÀNH CÔNG</div>
        <div class="note-text fl-Segoe">POC Helmets sẽ sớm liên lạc với bạn nhé!</div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup-form popup-form-td">
      <div class="popup-form-wrap">
        <div class="popup-form-title">
          <div class="title-mn fw-7 t-up">THÔNG TIN CÁ NHÂN</div>
          <div class="popup-form-ex popup-ex-td"><i class="far fa-times"></i></div>
        </div>
        <div class="popup-form-content">
          <div class="popup-form-list d-wrap">
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Họ và tên của bạn..." id="name">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Email của bạn..." id="email">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Số điện thoại của bạn..." id="phone">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <textarea class="form-item-tx" placeholder="Ghi chú của bạn..." value=""> </textarea>
              </div>
            </div>
          </div><a class="btn" href=""><span class="btn-text">ĐĂNG KÝ        </span></a>
        </div>
      </div>
    </div>
    <div class="popup-form-modal popup-modal-td"></div>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">039 525 42 46</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/scrollFullPage/fullPage.min.js"></script>
    <script src="./assets/library/magnify/magnify.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>