<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>P05</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <div class="header-top-lf"> 
                <div class="header-top-lf-wrap"> <a class="note-sm fw-4 fl-Segoe cl-white t-up">SUBSCRIBE</a><a class="note-sm fw-4 fl-Segoe cl-white t-up">ENGLISH</a></div>
              </div>
              <div class="header-top-rt"> 
                <div class="header-top-rt-wrap"><a class="btn cl-2" href=""><span class="btn-text">TÌM ĐẠI LÝ</span><span class="btn-ic"><i class="fas fa-map-marker-alt"> </i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom"> 
          <div class="container">
            <div class="header-bottom-wrap">
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"> </span></div><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-nav">
                <ul class="menu-list">
                  <li class="menu-item dropdown current-menu-item"><a class="menu-link fw-6" href="">sản phẩm</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón xe máy</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón thể thao</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Nón trẻ em</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Phụ kiện</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P02</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P03</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">tin tức</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Giới thiệu chung</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Quá trình phát triển</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">VỀ POC</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Đại lý</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Bảo hành</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Bảo mật</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Hộ trợ</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link fw-6" href="">chính sách</a>
                    <div class="mega-menu"> 
                      <div class="container">
                        <div class="mega-menu-wrap d-wrap">
                          <div class="mega-menu-lf d-item">
                            <div class="mega-menu-lf-wrap"> 
                              <ul class="mega-menu-lf-list">
                                <li class="mega-menu-lf-item actived mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Thông tin &amp; sự kiện</a></li>
                                <li class="mega-menu-lf-item mega-title"><a class="mega-menu-lf-link fl-Segoe" href="#">Thông tin nón</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="mega-menu-rt d-item">
                            <div class="mega-menu-rt-wrap"> 
                              <div class="mega-menu-rt-list">
                                <div class="mega-menu-rt-item mega-content actived">
                                  <ul class="mega-menu-rt-parent d-wrap">
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05 - Vượt mọi thử thách</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">MTB - Thể thao xe đạp leo núi</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn6.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">Chinh phục mọi tay đua đường trường</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn7.png" alt=""/></span></a></li>
                                    <li class="mega-menu-rt-child d-item d-4"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">An toàn, niềm tin, &amp; chất lượng</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn8.png" alt=""/></span></a></li>
                                  </ul>
                                </div>
                                <div class="mega-menu-rt-item mega-content"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="header-box">
                <div class="header-ic btn-search"><img src="./assets/images/search.svg" alt=""/>
                </div>
                <div class="header-search">
                  <div class="header-search-wrap">
                    <div class="header-search-ip">
                      <input type="text" placeholder="Tìm kiếm">
                    </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="result-search">
        <div class="container"> 
          <div class="result-search-wrap"> 
            <ul class="result-search-list d-wrap">
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p01</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p07</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p08</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p09</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
              <li class="result-search-item d-item"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb"> 
      <div class="menu-mb-wrap">
        <ul class="menu-list">
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SẢN PHẨM</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">TIN TỨC</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">VỀ POC</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">CHÍNH SÁCH</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item dropdown"><a class="menu-link fw-7" href="">SUBSCRIBE</a>
            <ul class="menu-list">
              <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
              <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
            </ul>
          </li>
          <li class="menu-item current-menu-item"><a class="menu-link fw-7" href="">TÌM ĐẠI LÝ          </a></li>
        </ul>
        <div class="menu-mb-box">
          <div class="menu-mxh">
            <div class="menu-lh-title">THEO DÕI CHÚNG TÔI</div>
            <ul class="social-mb-list"> 
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/youtube.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/zalo.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/tiktok.svg" alt=""/></a></li>
              <li class="social-mb-item"> <a class="social-mb-link" href=""><img src="./assets/images/insta.svg" alt=""/></a></li>
            </ul>
          </div>
          <div class="menu-lh">
            <div class="menu-lh-title t-up">ĐỊA CHỈ LIÊN HỆ</div>
            <div class="note-title cl-prit-up">CÔNG TY TNHH QUỐC TẾ POC VIỆT NAM</div>
            <ul class="list-address"> 
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/location.svg" alt=""/></span><a class="link-address" href="">
                   79/71/15 Đường Số 4, Bình Hưng Hoà, Bình Tân, Thành phố Hồ Chí Minh              </a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/mail.svg" alt=""/></span><a class="link-address" href="">
                   Pochelmets@gmail.com</a></li>
              <li class="item-address"> <span class="ic-address"><img src="./assets/images/Phone.svg" alt=""/></span><a class="link-address" href="">
                   0945 555 017</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <div class="result-search-mb rs-mb"> 
      <div class="result-search-mb-wrap"> 
        <div class="result-search-mb-box"> 
          <div class="header-search-ip">
            <input type="text" placeholder="Tìm kiếm">
          </div><span class="header-search-ex btn-search-exit"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="result-search-mb-view">       
          <ul class="result-search-mb-list d-wrap">
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P05</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn1.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">P04</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn2.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p01</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn3.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p07</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p08</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p09</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn5.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
            <li class="result-search-item d-item d-2"><a class="mega-menu-rt-link" href="#"><span class="note-text fl-Segoe">p10</span><span class="mega-menu-rt-img"> <img src="./assets/images/mn4.png" alt=""/></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="result-mobi-modal"></div>
    <div class="loading">
      <div class="loading_wrap">   
        <div class="loading_img"> <img src="./assets/images/loading.png" alt=""/>
        </div>
      </div>
    </div>
    <main class="main pt">
      <div class="banner-post left"> 
        <div class="banner-post-bg"><img src="./assets/images/p05.png" alt=""/>
        </div>
        <div class="container"> 
          <div class="banner-post-wrap"> 
            <div class="banner-post-content">
              <div class="banner-post-title">
                <h1 class="title-sm3 cl-white fw-7 t-up">P05 - VƯỢT MỌI THÁCH THỨC, THEO ĐUỔI ĐAM MÊ</h1>
              </div>
              <div class="banner-post-text"> 
                <div class="note-text cl-white fl-Segoe">
                   POC P05, sản phẩm mũ bảo hiểm nằm trong top trending trong tập hợp danh mục sản phẩm nhà POC Helmets. Mẫu nón này đang được săn đón nhiệt tình và đã tạo nên một cơn sốt trong cộng đồng giới trẻ yêu POC.<br><br>Mũ bảo hiểm, trang bị cần thiết mỗi khi bước xuống phố với phương tiện di chuyển là chiếc xe máy. Đây chính là trang bị không thể thiếu cùng đồng hành với bạn trên nhiều cung đường. P05 sự lựa chọn dành cho những cá nhân yêu thích sử dụng mũ bảo hiểm có kiểu dáng nhẹ  nhàng, dễ dàng sử dụng và có tính ứng dụng cao. Bằng những ưu điểm vượt trội, kiểu dáng thời trang, P05 đã dễ dàng chinh phục người dùng.    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="cs">
        <div class="container">
          <div class="cs_wrap">
            <div class="cs_content">
              <p class="note-text fl-Segoe">Yếu tố thị giác là điểm đầu tiên thu hút người tiêu dùng, do đó POC P05 được thiết kế một cách bắt mắt. Có form dáng tròn, có chút bầu bĩnh phù hợp với nhiều kiểu gương mặt nên POC P05 rất được giới trẻ ưa chuộng và lựa chọn sử dụng. Hơn 10 màu sắc khác nhau, từ trung tính cho đến nổi bật, nhẹ nhàng đến rực rỡ P05 cho bạn nhiều sự lựa chọn hơn một. Bên cạnh lựa chọn màu sắc ưa thích, bạn còn có thể tự do trang trí chiếc nón của mình bằng những phụ kiện như tai mèo, tai gấu, sticker,... Tự tin hơn khi xuống phố với chiếc nón mình yêu thích, trở thành tâm điểm chú ý cùng phong cách thời trang trẻ trung, năng động.</p>
              <p class="note-text fl-Segoe">Song song với thiết kế, chất lượng sản phẩm  là yếu tố ảnh hưởng chủ yếu đối với quyết định tiêu dùng của khách hàng. Bởi thế, POC Helmets luôn chú trọng đề cao chất lượng sản phẩm đến từng chiếc mũ bảo hiểm. P05, mẫu nón bảo hiểm thể thao cao cấp, không chỉ thông qua những kiểm định dành cho xe đạp mà còn đạt chuẩn kiểm định mũ bảo hiểm xe máy. Đáp ứng đầy đủ các cấu trúc phục vụ đảm bảo an toàn người dùng khi tham gia giao thông P05 gồm:</p>
              <ul>
                <li>Vỏ nón được làm từ hạt nhựa ABS nguyên sinh có độ bền cơ học và độ cứng cao nên nón  chịu được lực tác động và có tính ổn định tốt.</li>
                <li>Lớp xốp EPS nhập khẩu từ Đức, sau đó được nén với tỷ trọng cao dẫn đến khả năng hấp thụ xung động tốt, phân tán và giảm thiểu tối đa lực tác động mạnh đến vùng cần bảo vệ.</li>
                <li>Dây quai nón chắc chắn, không dễ dàng bị bung hoặc đứt trong trường hợp tai nạn xảy ra</li>
              </ul>
              <p class="note-text fl-Segoe">Trở thành mẫu nón bảo hiểm được đa số các bạn trẻ ưa thích, bên cạnh chất lượng P05 còn mang lại những ưu điểm sau về sự thoải mái. Để mang lại cảm giác dễ chịu nhất khi sử dụng sản phẩm P05 được sản xuất với những tiêu chí sau đây:</p>
              <ul>
                <li>Khối lượng nhẹ, chỉ khoảng 415 gram, không gây nặng nề khi  đội nón.</li>
                <li>Nút xoay 360 độ điều chỉnh kích thước nón sao cho ôm sát vòng đầu. Điều này đảm bảo quá trình tham gia giao thông được an toàn hơn, không lo bị tuột hay lỏng lẻo.</li>
                <li>Lớp lót và đệm cằm êm ái, chất liệu coolmax thấm hút nước, mồ hôi nhanh chóng và không gây kích ứng da.</li>
                <li>Các lỗ thông khí bố trí theo nguyên tắc khí động học, giúp luồng gió dễ dàng lưu thông và không gây hầm bí, nóng nực khi đội mũ trong thời gian dài.</li>
              </ul>
            </div>
            <div class="cs_img"> <img src="./assets/images/p05img.png" alt=""/>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer-bg">
        <div class="footer-img"> <img src="./assets/images/bgFooter.png" alt=""/>
        </div>
      </div>
      <div class="container">
        <div class="footer-wrap"> 
          <div class="footer-top">
            <h2 class="title-sm2 cl-second t-up fw-7">CÔNG TY TNHH QUỐC TẾ POC VIỆT NAM</h2>
            <div class="footer-top-wrap"> 
              <p class="note-sm cl-white fl-Segoe">Tự hào là nhà sản xuất, phân phối hợp lệ và độc quyền cho tất cả các sản phẩm mang thương hiệu POC - Power Of Creation</p>
              <div class="footer-social">
                <h3 class="note-md fw-7 cl-white">Follow us</h3>
                <ul class="footer-social-list">
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/fb.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                  <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-center"> 
            <div class="footer-center-wrap">
              <div class="footer-center-top">
                <div class="footer-center-list d-wrap"> 
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Sản phẩm</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón thể thao</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón xe máy</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Nón trẻ em</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Phụ kiện</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Tin tức</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Thông tin &amp; sự kiện</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Thông tin nón</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Về POC</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Giới thiệu</a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Truyền thông nội bộ</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="footer-center-item d-4 d-item"> 
                    <div class="footer-center-content"> <a class="note-md fw-7 cl-white" href="">Chính sách</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link note-md" href="">Đại lý                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Bảo hành                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Bảo mật                                                                                             </a></li>
                        <li class="menu-item"><a class="menu-link note-md" href="">Hổ trợ                                                                                             </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-social">
                  <h3 class="note-md fw-7 cl-white">Follow us</h3>
                  <ul class="footer-social-list">
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/fb.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/tt.svg" alt=""/></a></li>
                    <li class="footer-social-item"> <a class="footer-social-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                  </ul>
                </div>
              </div>
              <div class="footer-center-bottom">
                <div class="footer-center-bottom-title"> 
                  <h3 class="note-md fw-7 t-up cl-white">ĐĂNG KÝ</h3>
                  <h4 class="note-sm cl-white fl-Segoe">Để nhận thông tin từ POC Helmet</h4>
                </div>
                <div class="footer-center-bottom-form">
                  <div class="footer-center-bottom-form-wrap">
                    <div class="footer-center-bottom-ip">
                      <input class="form-item-ip cus" type="text" placeholder="Email của bạn..."><span class="border"></span>
                    </div>
                    <button class="btn"> <span class="btn-text">ĐĂNG KÝ</span>
                    </button>
                  </div>
                  <label class="footer-center-bottom-check"> 
                    <input type="checkbox"><span class="box"></span><span class="note-sm">
                       Đồng ý <a href="">chính sách và điều khoản </a>của POC Helmets. </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-bottom-wrap"> 
              <div class="footer-bottom-lang"> 
                <p class="note-sm fl-Segoe cl-white">Ngôn ngữ</p><a class="note-sm link fl-Segoe cl-white t-up" href>ENGLISH</a>
              </div>
              <div class="footer-bottom-lang2"> 
                <p class="note-sm fl-Segoe cl-white">Ngôn ngữ</p><a class="note-sm link fl-Segoe cl-white t-up" href>EN    </a>
              </div>
              <div class="note-sm fl-Segoe cl-white">POC HELMET COPYRIGHT @ 2023    </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="popup_main popup-form-main">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--ic"><img src="./assets/images/check-circle.svg" alt=""/>
        </div>
        <div class="title-sm4 fw-7 t-up">THÀNH CÔNG</div>
        <div class="note-text fl-Segoe">POC Helmets sẽ sớm liên lạc với bạn nhé!</div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup-form popup-form-td">
      <div class="popup-form-wrap">
        <div class="popup-form-title">
          <div class="title-mn fw-7 t-up">THÔNG TIN CÁ NHÂN</div>
          <div class="popup-form-ex popup-ex-td"><i class="far fa-times"></i></div>
        </div>
        <div class="popup-form-content">
          <div class="popup-form-list d-wrap">
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Họ và tên của bạn..." id="name">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Email của bạn..." id="email">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <input class="form-item-ip" type="text" placeholder="Số điện thoại của bạn..." id="phone">
              </div>
            </div>
            <div class="popup-form-item d-item">
              <div class="form-item">
                <textarea class="form-item-tx" placeholder="Ghi chú của bạn..." value=""> </textarea>
              </div>
            </div>
          </div><a class="btn" href=""><span class="btn-text">ĐĂNG KÝ        </span></a>
        </div>
      </div>
    </div>
    <div class="popup-form-modal popup-modal-td"></div>
    <div class="links-main">
      <ul class="links-main-list">
        <li class="links-main-item"><a class="link-items-phone" href="" target="_blank"><span class="link-items-phone-img"><img src="./assets/images/phoneLinkMain.svg" alt=""></span><span class="link-items-phone-text">039 525 42 46</span></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/messengerLinkMain.svg" alt=""></a></li>
        <li class="links-main-item"><a class="link-items" href="" target="_blank"><img src="./assets/images/zaloLinkMain.svg" alt=""></a></li>
      </ul>
      <div class="btn-social"><i class="fas fa-info"></i></div>
      <div class="btn-top link-top">
        <div class="scroll-to-top" href="" target="_blank"><img src="./assets/images/arrowUp.svg" alt=""></div>
      </div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/scrollFullPage/fullPage.min.js"></script>
    <script src="./assets/library/magnify/magnify.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>