.team {
  background: #1a1a1a;
  &_banner {
    aspect-ratio: 1200 / 588;
    img {
      @include img-cover;
    }
  }
  &_content {
    .desc {
      color: #cccccc;
    }
  }
  &_main {
    margin-top: -10rem;
  }
  &_item {
    height: 100%;
    @include flex-col;
    &-thumb {
      aspect-ratio: 282/423;
      img {
        @include img-cover;
      }
    }
    &-content {
      padding-top: 1.8rem;
      @include flex-col;
      flex: 1;

      .name {
        font-weight: 500;
        margin-bottom: 1.2rem;
      }
      .pos {
        color: #cccccc;
        margin-top: auto;
      }
    }
  }
  &_image {
    --slide-col: 2;
  }
  @include lg {
    &_main {
      margin-top: -5rem;
    }
    &_item-content {
      .name {
        font-size: var(--h4-fs);
        line-height: var(--h4-lh);
      }
    }
  }
  @include md {
    &_main {
      margin-top: 3.2rem;
    }
  }
}
