script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/datepicker/datepicker.js')
script(src='./assets/library/masonry/masonry.pkgd.min.js')
script(src='./assets/library/splide/splide.min.js')
script(src='./assets/library/splide/splideExtensionAutoScroll.min.js')
script(src='./assets/library/magnify/magnify.min.js')
script(src="./assets/library/gsap/gsap.min.js")
script(src="./assets/library/gsap/scrollTrigger.min.js")
script(src="./assets/library/scrollFullPage/fullPage.min.js")
//- script(src="https://www.youtube.com/iframe_api")
script(src="./assets/library/ytb/iframeapi.js")
script(src='./js/main.js' type='module')

