block vars
    -ftClass = ''
footer.footer(class=ftClass)
    .footer_wrap 
        .footer_top 
            .container 
                .footer_top--wrap
                    .footer_top--list.d-wrap 
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                a.footer_logo(href="")
                                    +img("logoFT.png")
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                p.npte-text.t-up.fw-6.cl-second THÔNG TIN LIÊN HỆ
                                .address
                                    ul.address_list
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Email
                                            .address_item--content
                                                a.address_link(href="")  hkts@tphcm.gov.vn
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Địa chỉ
                                            .address_item--content
                                                a.address_link(href="") 88 Mạc Đĩnh Chi, phường Đa Kao, quận 1, TP. Hồ Chí Minh
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Điện thoại:
                                            .address_item--content
                                                a.address_link(href="") (84-28) 38291908 
                                                a.address_link(href="") 38273035
                                        li.address_item
                                            p.note-md.fw-7.cl-gray6 Fax:
                                            .address_item--content
                                                a.address_link(href="") (84-28) 38225657                                       
                        .footer_top--item.d-item 
                            .footer_top--item-wrap
                                p.npte-text.t-up.fw-6.cl-second LIÊN KẾT NHANH
                                ul.menu-list 
                                    li.menu-item.current-menu-item 
                                        a.menu-link(href="") Giới thiệu 
                                    li.menu-item 
                                        a.menu-link(href="") Hành nghề
                                    li.menu-item 
                                        a.menu-link(href="") Tin tức
                                    li.menu-item 
                                        a.menu-link(href="") Hội viên
                                    li.menu-item 
                                        a.menu-link(href="") Góc nhìn
                                    li.menu-item 
                                        a.menu-link(href="") CPD
                                    li.menu-item 
                                        a.menu-link(href="") Công trình
                                    li.menu-item 
                                        a.menu-link(href="") Gỉai thưởng
                                    li.menu-item 
                                        a.menu-link(href="") Diễn đàn
                                .social
                                    ul.social_list
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic1.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic2.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic3.png")
                                        li.social_item
                                            a(href="").social_link 
                                                span.social_img
                                                    +img("sic4.png")
        .footer_bottom 
            .container  
                .footer_bottom--wrap 
                    .footer_bottom--lf 
                        .footer_bottom--list 
                            .footer_bottom--item
                                .footer_bottom--link Copyright © Hoi Kien Truc Su TPHCM
                            .footer_bottom--item
                                .footer_bottom--link All rights reserved
                    .footer_bottom--rt 
                        .footer_bottom--list 
                            .footer_bottom--item
                                a.footer_bottom--link(href="") Quảng cáo
                            .footer_bottom--item
                                a.footer_bottom--link(href="") Gửi bài
                            .footer_bottom--item
                                a.footer_bottom--link(href="") Nhà cung cấp
                            .footer_bottom--item
                                a.footer_bottom--link(href="") Danh bạ KTS
                            .footer_bottom--item
                                a.footer_bottom--link(href="") Hội kiến trúc sư VN



