<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>giới thiệu</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="container container-lg">
        <div class="header_left">
          <div class="header_tg tg-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="header_lang">
            <div class="lang">
              <div class="lang-select">
                <span class="lang-current">
                  <img src="./img/flag-vn.png" alt="" />
                </span>
              </div>
              <div class="lang-list">
                <div class="lang-item">
                  <img src="./img/usa.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="header_search tg-search">
            <div class="icon-search">
              <img src="./img/icon-search.svg" alt="" />
            </div>
            <div class="icon-close">
              <img src="./img/icon-close.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="header_mid">
          <div class="header_logo">
            <div class="logobox">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
          </div>
        </div>
        <div class="header_right">
          <div class="header_account">
            <div class="icon"><img src="./img/icon-user.svg" alt="" /></div>
            <div class="header_account-drop">
              <div class="drop-list">
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng ký</a>
                </div>
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header_cart">
            <div class="icon"><img src="./img/icon-cart.svg" alt="" /></div>
            <span class="badge">01</span>
          </div>
        </div>
      </div>
    </header>

    <!-- MENU SIDE -->
    <div class="menu-side">
      <div class="menu-overlay"></div>
      <div class="menu-side-main">
        <div class="menu-side-close close-menu">
          <span class="icon">
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
        <div class="menu-side-list">
          <div class="menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href="" class="menu-link">Về chúng tôi</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Thương hiệu</a>
              </li>
              <li class="menu-item dropdown parent current-menu-item">
                <a href="" class="menu-link"
                  >SẢN PHẨM
                  <span class="expand tg-submenu">
                    <i class="fa-light fa-chevron-right"></i>
                  </span>
                </a>

                <ul class="submenu">
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link"
                      >Danh mục sản phẩm
                      <span class="expand tg-submenu">
                        <i class="fa-light fa-chevron-right"></i>
                      </span>
                    </a>

                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Bàn ghê</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Tất cả sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">DỰ ÁN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">TIN TỨC & SỰ KIỆN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Tải về</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- SEARCH SCREEN -->
    <div class="search-screen">
      <svg class="search-overlay" viewBox="0 0 1000 1000">
        <path class="curve-path" d="M0 2S175 1 500 1s500 1 500 1V0H0Z"></path>
      </svg>
      <div class="container container-lg">
        <div class="search-screen_main">
          <div class="search-screen_head">
            <div class="text">Search</div>
          </div>
          <div class="search-screen_form">
            <form action="">
              <div class="form-field">
                <input type="text" class="form-ctr" placeholder="Tìm kiếm" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <!-- BREADCRUMB -->
      <div class="breadcrumb">
        <div class="container">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Trang chủ </a>
            </li>
            <li class="breadcrumb-item current-item">
              <a href="" class="breadcrumb-link">Giới thiệu</a>
            </li>
          </ol>
        </div>
      </div>

      <!-- PROJECT DETAIL -->
      <section class="s-about-head">
        <div class="about-head">
          <!-- BANNER -->
          <h1 class="title-sc ta-center h3 my-10 t-slide-up" data-splitting>
            giới thiệu
          </h1>
          <div class="banner">
            <div class="banner_single">
              <div class="banner_bg prl-scroll">
                <img src="./img/banner-10.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- INTRO -->
      <section class="s-intro">
        <div class="intro py-sc">
          <div class="container">
            <section class="intro_origin">
              <div class="row gy-1 ai-center">
                <div class="col-6-md fade-up">
                  <div class="intro_origin-content">
                    <h2 class="title-sc t-normal mb-11">
                      Nguồn gốc Thương hiệu
                    </h2>
                    <p class="desc">
                      Công ty TNHH Atrium Design and Build được thành lập năm
                      2019. Đây là công ty con của Công ty TNHH Đầu tư Tài chính
                      Prime Capital, sáng lập bởi bà Trần Viên Ngọc Trân và bà
                      Phan Thị Thanh Hiếu. <br />
                      ATRIUM Việt Nam bao gồm ATRIUM Design & ATRIUM Studio.
                      <br /><br />
                      ATRIUM Design tự hào với đội ngũ kỹ sư thiết kế công
                      nghiệp trẻ. Với khát vọng tạo ra những sản phẩm sáng tạo,
                      độc đáo từ trí tuệ và kỹ năng của người Việt, ATRIUM mang
                      đến sự dung hòa trong chuỗi giá trị kỹ thuật và nghệ
                      thuật, nhằm vượt xa mong đợi của khách hàng trong nước và
                      quốc tế. <br /><br />
                      ATRIUM Studio là nền tảng bán lẻ phân phối đa thương hiệu
                      nội thất hiện đại quốc tế tại Việt Nam.
                    </p>
                  </div>
                </div>
                <div class="col-6-md">
                  <div class="intro_origin-image">
                    <div class="img-wrap ratio-square image-load">
                      <img src="./img/banner-2.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="intro_vision pt-sc">
              <div class="intro_vision-image">
                <div class="img-wrap prl-scroll">
                  <img src="./img/banner-7.jpg" alt="" />
                </div>
              </div>
              <div class="intro_vision-content fade-up">
                <div class="row gy-1">
                  <div class="col-5-sm">
                    <h2 class="title-sc t-normal ta-center">Tầm nhìn</h2>
                  </div>
                  <div class="col-7-sm">
                    <p class="desc">
                      Đưa ngành Sản xuất và Thiết kế Công nghiệp của Việt Nam
                      vươn tầm thế giới thông qua các sản phẩm nghệ thuật đương
                      đại, mang thông điệp lan tỏa giá trị văn hóa và tinh thần
                      tiếp nối cùng phát triển của thế hệ người Việt trẻ.
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>

      <!-- HISTORY -->
      <section class="s-history">
        <div class="history py-sc">
          <svg class="curve-overlay" viewBox="0 0 1000 1000">
            <path
              class="curve-path"
              d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"
            ></path>
          </svg>
          <div class="container">
            <div class="history_head">
              <h2 class="title-sc t-normal">Lịch sử hình thành</h2>
            </div>
            <div class="history_main">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="line">
                      <img src="./img/line-white.png" alt="" />
                    </div>
                    <div class="item item-1">
                      <div class="item-thumb">
                        <img src="./img/thumb-1.jpg" alt="" />
                      </div>

                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2020</div>
                        <p class="desc">
                          Tổ hợp nhà máy tại Chu Lai với Nhà máy Sợi thủy tinh
                          và Nhà máy Cơ khí tập trung gia công theo đơn đặt
                          hàng, sản xuất hàng loạt cho khách hàng.
                        </p>
                      </div>
                    </div>
                    <div class="item item-2">
                      <div class="item-thumb">
                        <img src="./img/thumb-2.jpg" alt="" />
                      </div>

                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2021</div>
                        <p class="desc">
                          Atrium Design Lab được thành lập cùng với nhóm Nghiên
                          cứu & Phát triển để tập trung vào các giải pháp thiết
                          kế công nghiệp cho khách hàng. Cùng năm đó, thương
                          hiệu Atrium Design & Build được thành lập tập trung
                          vào các giải pháp nội thất.
                        </p>
                      </div>
                    </div>
                    <div class="item item-3">
                      <div class="item-thumb">
                        <img src="./img/thumb-3.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2022</div>
                        <p class="desc">
                          Cửa hàng Atrium Multi Brand Concept được khai trương
                          để giới thiệu các Thương hiệu Dẫn đầu về xu hướng Nội
                          thất đương đại Italia như Driade và Magis. Nhiệm vụ
                          của Ý tưởng đa thương hiệu này là tạo ra góc nhìn mới,
                          sự rung cảm mới và nhận thức mới về Nghệ thuật & Thiết
                          kế cho các giải pháp nội thất.
                        </p>
                      </div>
                    </div>
                    <div class="item item-4">
                      <div class="item-thumb">
                        <img src="./img/thumb-4.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2022</div>
                        <p class="desc">
                          Chúng tôi muốn nhắm mục tiêu đầu tiên vào thế hệ trẻ
                          thành công trong thiên niên kỷ mới với kinh nghiệm,
                          hiểu biết toàn cầu của họ, họ có thể hiểu và phản ứng
                          tốt với hiện tượng Nghệ thuật đường phố.
                          <br /><br />
                          Sau đó, chúng tôi muốn thâm nhập ý tưởng mới về con
                          thú cường điệu này vào ngành nội thất cao cấp hiện tại
                          ở Việt Nam dành cho thế hệ cũ, vượt qua ranh giới để
                          xác định lại vẻ đẹp và bản sắc cá nhân là chìa khóa để
                          thiết lập xu hướng mới.
                        </p>
                      </div>
                    </div>
                    <div class="item item-5">
                      <div class="item-thumb">
                        <img src="./img/thumb-5.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2023</div>
                        <p class="desc">
                          Prime Capital đang mở rộng danh mục đầu tư vào các
                          dịch vụ khách sạn.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="line">
                      <img src="./img/line-white.png" alt="" />
                    </div>
                    <div class="item item-1">
                      <div class="item-thumb">
                        <img src="./img/thumb-1.jpg" alt="" />
                      </div>

                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2020</div>
                        <p class="desc">
                          Tổ hợp nhà máy tại Chu Lai với Nhà máy Sợi thủy tinh
                          và Nhà máy Cơ khí tập trung gia công theo đơn đặt
                          hàng, sản xuất hàng loạt cho khách hàng.
                        </p>
                      </div>
                    </div>
                    <div class="item item-2">
                      <div class="item-thumb">
                        <img src="./img/thumb-2.jpg" alt="" />
                      </div>

                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2021</div>
                        <p class="desc">
                          Atrium Design Lab được thành lập cùng với nhóm Nghiên
                          cứu & Phát triển để tập trung vào các giải pháp thiết
                          kế công nghiệp cho khách hàng. Cùng năm đó, thương
                          hiệu Atrium Design & Build được thành lập tập trung
                          vào các giải pháp nội thất.
                        </p>
                      </div>
                    </div>
                    <div class="item item-3">
                      <div class="item-thumb">
                        <img src="./img/thumb-3.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2022</div>
                        <p class="desc">
                          Cửa hàng Atrium Multi Brand Concept được khai trương
                          để giới thiệu các Thương hiệu Dẫn đầu về xu hướng Nội
                          thất đương đại Italia như Driade và Magis. Nhiệm vụ
                          của Ý tưởng đa thương hiệu này là tạo ra góc nhìn mới,
                          sự rung cảm mới và nhận thức mới về Nghệ thuật & Thiết
                          kế cho các giải pháp nội thất.
                        </p>
                      </div>
                    </div>
                    <div class="item item-4">
                      <div class="item-thumb">
                        <img src="./img/thumb-4.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2022</div>
                        <p class="desc">
                          Chúng tôi muốn nhắm mục tiêu đầu tiên vào thế hệ trẻ
                          thành công trong thiên niên kỷ mới với kinh nghiệm,
                          hiểu biết toàn cầu của họ, họ có thể hiểu và phản ứng
                          tốt với hiện tượng Nghệ thuật đường phố.
                          <br /><br />
                          Sau đó, chúng tôi muốn thâm nhập ý tưởng mới về con
                          thú cường điệu này vào ngành nội thất cao cấp hiện tại
                          ở Việt Nam dành cho thế hệ cũ, vượt qua ranh giới để
                          xác định lại vẻ đẹp và bản sắc cá nhân là chìa khóa để
                          thiết lập xu hướng mới.
                        </p>
                      </div>
                    </div>
                    <div class="item item-5">
                      <div class="item-thumb">
                        <img src="./img/thumb-5.jpg" alt="" />
                      </div>
                      <div class="item-content">
                        <div class="dot"></div>
                        <div class="numb">2023</div>
                        <p class="desc">
                          Prime Capital đang mở rộng danh mục đầu tư vào các
                          dịch vụ khách sạn.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- MISSION -->
      <section class="s-mission">
        <div class="mission py-sc">
          <section class="mission-item">
            <div class="container">
              <div class="row gy-1 ai-center">
                <div class="col-6-sm">
                  <div class="mission-item_thumb image-load ratio-square">
                    <img src="./img/thumb-3.jpg" alt="" />
                  </div>
                </div>
                <div class="col-6-sm">
                  <div class="mission-item_content">
                    <h2 class="title h2">Sứ mệnh</h2>
                    <p class="desc h5 mt-6 op-7">
                      Nghiên cứu & Phát triển những sản phẩm sáng tạo, độc đáo
                      được làm từ trí tuệ và kỹ năng của người Việt, mang đến sự
                      dung hòa trong chuỗi giá trị kỹ thuật và nghệ thuật, nhằm
                      đạt hơn cả kỳ vọng cho các khách hàng trong nước và quốc
                      tế.
                    </p>
                  </div>
                </div>
              </div>
              <div class="textbold">ATRIUM</div>
            </div>
          </section>
          <section class="mission-item">
            <div class="container">
              <div class="row gy-1 ai-center">
                <div class="col-6-sm">
                  <div class="mission-item_thumb image-load ratio-square">
                    <img src="./img/banner-2.jpg" alt="" />
                  </div>
                </div>
                <div class="col-6-sm">
                  <div class="mission-item_content">
                    <h2 class="title h2">Showroom ATRIUM</h2>
                    <p class="desc h5 mt-6 op-7">
                      Mang phong cách nghệ thuật đương đại, Atrium showroom
                      không chỉ trưng bày các sản phẩm sáng tạo mà còn mở ra câu
                      chuyện kết nối không giới hạn để bạn khám phá các xu hướng
                      nội thất mới nhất.
                    </p>
                  </div>
                </div>
              </div>
              <div class="textbold">ATRIUM</div>
            </div>
          </section>
        </div>
      </section>

      <!-- TEAM -->
      <section class="s-team">
        <div class="team py-sc">
          <div class="container">
            <div class="team_head ta-center">
              <h2 class="title-sc t-normal t-slide-up" data-splitting>
                Đội ngũ doanh nghiệp
              </h2>
            </div>
            <div class="team_banner mt-10 prl-scroll">
              <img src="./img/banner-8.jpg" alt="" />
            </div>
            <div class="team_main">
              <div class="row gy-1 ai-center">
                <div class="col-6-sm">
                  <div class="team_content">
                    <p class="desc h5">
                      Đội ngũ thiết kế và sản xuất: Đội ngũ chuyên gia trẻ trong
                      cả hai lĩnh vực thiết kế và sản xuất, luôn đề cao sự chính
                      trực, tính sáng tạo trong kỷ luật và tinh thần đồng đội để
                      tối ưu sự đối lập giữa kỹ thuật và nghệ thuật nhằm tạo ra
                      những sản phẩm mới. <br /><br />
                      Là một thế hệ người Việt trẻ, chúng tôi mong muốn giới
                      thiệu các giá trị văn hóa nghệ thuật, thủ công mỹ nghệ và
                      sản xuất ra thế giới thông qua các sản phẩm nghệ thuật
                      đương đại sáng tạo.
                    </p>
                  </div>
                </div>
                <div class="col-6-sm">
                  <div class="team_images fade-up">
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="team_item">
                            <div class="team_item-thumb">
                              <img src="./img/mem-1.jpg" alt="" />
                            </div>
                            <div class="team_item-content">
                              <div class="name h3">Trần Viên Ngọc Trân</div>
                              <div class="pos h5">Nhà sáng lập</div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="team_item">
                            <div class="team_item-thumb">
                              <img src="./img/mem-2.jpg" alt="" />
                            </div>
                            <div class="team_item-content">
                              <div class="name h3">Phan Thị Thanh Hiếu</div>
                              <div class="pos h5">Giám đốc dự án</div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="team_item">
                            <div class="team_item-thumb">
                              <img src="./img/mem-2.jpg" alt="" />
                            </div>
                            <div class="team_item-content">
                              <div class="name h3">Phan Thị Thanh Hiếu</div>
                              <div class="pos h5">Giám đốc dự án</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- FACTORY -->
      <section class="s-factory">
        <div class="factory py-sc">
          <div class="factory_head">
            <div class="container">
              <h2 class="title-sc t-normal">
                Phòng thiết kế & <br />
                Nhà máy Atrium
              </h2>
            </div>
          </div>
          <div class="factory_main mt-10">
            <div class="container-cust">
              <div class="row">
                <div class="col-image">
                  <div class="factory_image scroll-y-block">
                    <div class="image image-1 image-load">
                      <img src="./img/thumb-4.jpg" alt="" />
                    </div>
                    <div class="image image-2 image-load scroll-y">
                      <img src="./img/thumb-5.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="col-content">
                  <div class="factory_content">
                    <p class="desc h5">
                      Phòng thiết kế - R&D và nhà máy của Atrium hợp tác với
                      Thaco Industries tại KCN Chu Lai trang bị cơ sở vật chất
                      hiện đại, luôn được cải tiến và nâng cấp hàng năm, nhằm
                      tạo ra những sản phẩm nội thất mới, cao cấp với chất lượng
                      vượt trội và tính thẩm mỹ cao . <br /><br />
                      Kết hợp giữa chuyên môn của đội ngũ và dây chuyền sản xuất
                      công nghiệp hiện đại của Thaco Industries, các sản phẩm
                      của Atrium không chỉ mang lại hiệu quả thiết kế nghệ
                      thuật, thẩm mỹ mà còn vượt mong đợi về chất lượng.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <i class="fa-solid fa-angle-up"></i>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="polygon"><img src="./img/polygon-footer.png" alt="" /></div>
      <div class="container container-lg">
        <div class="row gy-1">
          <div class="col col-4-sm col-12">
            <div class="footer_logo">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
            <ul class="footer_info">
              <li class="footer_info-item">
                Điện thoại:
                <a href="tel:(+84) 877 850 112" class="text"
                  >(+84) 877 850 112</a
                >
              </li>
              <li class="footer_info-item">
                Email:
                <a href="mailto:info@atrium.com" class="text"
                  >info@atrium.com</a
                >
              </li>
              <li class="footer_info-item">
                Showroom:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
              <li class="footer_info-item">
                Office:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
            </ul>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_title">LIÊN KẾT</div>
              <ul class="footer_nav">
                <li class="li current-menu-item">
                  <a href="" class="li-link">Customer Service</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Career</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Chính sách</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Loyalty</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Form CS</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_social">
                <div class="footer_title">THEO DÕI CHÚNG TÔI</div>
                <div class="social-list">
                  <a href="" class="social-link">
                    <img src="./img/icon-fb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ins.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ytb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-pinterest.svg" alt="" />
                  </a>
                </div>
              </div>
              <div class="footer_newsletter mt-10">
                <div class="footer_title">ĐĂNG KÝ NHẬN TIN</div>
                <div class="form-wrapper">
                  <form action="">
                    <div class="form-field field-js">
                      <input
                        type="text"
                        class="form-ctr"
                        placeholder="Điền Email của bạn"
                      />
                      <button type="submit" class="form-submit">
                        <img src="./img/icon-send.svg" alt="" />
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="./dest/jsmain.min.js"></script>
    <script src="./js/libs/import/swiper.min.js"></script>
    <script type="module" src="./dest/main.js"></script>
  </body>
</html>
