<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Thương hiệu</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/vu.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="container container-lg">
        <div class="header_left">
          <div class="header_tg tg-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="header_lang">
            <div class="lang">
              <div class="lang-select">
                <span class="lang-current">
                  <img src="./img/flag-vn.png" alt="" />
                </span>
              </div>
              <div class="lang-list">
                <div class="lang-item">
                  <img src="./img/usa.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="header_search tg-search">
            <div class="icon-search">
              <img src="./img/icon-search.svg" alt="" />
            </div>
            <div class="icon-close">
              <img src="./img/icon-close.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="header_mid">
          <div class="header_logo">
            <div class="logobox">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
          </div>
        </div>
        <div class="header_right">
          <div class="header_account">
            <div class="icon"><img src="./img/icon-user.svg" alt="" /></div>
            <div class="header_account-drop">
              <div class="drop-list">
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng ký</a>
                </div>
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header_cart">
            <div class="icon"><img src="./img/icon-cart.svg" alt="" /></div>
            <span class="badge">01</span>
          </div>
        </div>
      </div>
    </header>

    <!-- MENU SIDE -->
    <div class="menu-side">
      <div class="menu-overlay"></div>
      <div class="menu-side-main">
        <div class="menu-side-close close-menu">
          <span class="icon">
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
        <div class="menu-side-list">
          <div class="menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href="" class="menu-link">Về chúng tôi</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Thương hiệu</a>
              </li>
              <li class="menu-item dropdown current-menu-item">
                <a href="" class="menu-link">SẢN PHẨM</a>
                <span class="expand tg-submenu">
                  <i class="fa-light fa-chevron-right"></i>
                </span>
                <ul class="submenu">
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Danh mục sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Bàn ghê</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Tất cả sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">DỰ ÁN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">TIN TỨC & SỰ KIỆN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Tải về</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-overlay"></div>

    <!-- SEARCH SCREEN -->
    <div class="search-screen">
      <div class="container container-lg">
        <div class="search-screen_main">
          <div class="search-screen_head">
            <div class="text">Search</div>
          </div>
          <div class="search-screen_form">
            <form action="">
              <div class="form-field">
                <input type="text" class="form-ctr" placeholder="Tìm kiếm" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <!-- BREADCRUMB -->
      <div class="breadcrumb">
        <div class="container">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Trang chủ </a>
            </li>
            <li class="breadcrumb-item current-item">
              <a href="" class="breadcrumb-link">Thương hiệu</a>
            </li>
          </ol>
        </div>
      </div>

      <!-- BRAND -->

      <!-- do nay ne anh -->
      <section class="vbrand">
        <div class="container">
          <h2 class="title-sc" data-aos="fade-down">ATRIUM DESIGN</h2>
          <p class="desc" data-aos="fade-up">
            Thành lập vào năm 2019, ATRIUM DESIGN AND BUILD hướng đến sứ mệnh mang lại những
            sản phẩm độc đáo ghi dấu ấn từ trí tuệ và kỹ năng của người Việt. Lấy tính công nghiệp làm
            nền tảng trong sản xuất và xây dựng linh hồn cho sản phẩm bằng nghệ thuật thủ công,
            ATRIUM tham gia vào lĩnh vực thiết kế - sản xuất nội thất và tạo sự khác biệt bằng việc dung
            hòa giữa hai giá trị kỹ thuật - nghệ thuật trong thiết kế cùng tuyên ngôn nghệ thuật khác biệt
            của người sáng lập thương hiệu và đội ngũ nhân sự sáng tạo, kỷ luật.
            <br><br>            
            Atrium mang đến giải pháp Tư vấn thiết kế, Sản xuất thi công nội thất có tính vượt trội với
            những sản phẩm sáng tạo mang tinh thần, trí tuệ và kỹ năng của người Việt trẻ. Sản phẩm của
            Atrium Design là sự kết hợp tinh xảo giữa kỹ thuật và nghệ thuật, vượt xa mong đợi của khách
            hàng
          </p>

          <div class="vbrand-wrap" data-aos="zoom-in">
            <div class="vbrand-list d-wrap">
              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>

              <div class="vbrand-item d-item d-4">
                <div class="vbrand-content">
                  <a href="" class="vbrand-img">
                    <img src="./img/thumb-1.jpg" alt="">
                  </a>

                  <a href="" class="vbrand-title">
                    title
                  </a>

                  <p class="vbrand-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sapiente odio, laborum, numquam a asperiores, officiis mollitia excepturi quia itaque consequuntur! Porro temporibus dicta ratione minima ducimus dolorum expedita dolorem!
                  </p>

                  <a href="" class="vbrand-link">
                    Vui lòng liên hệ
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      <!--  -->

      <section class="list-links">
        <div class="brand pb-sc">
          <section class="brand-item text-horiz-wrap py-sc">
            <div class="container">
              <div class="row gy-1">
                <div class="col-6-md">
                  <div class="brand-item_image image-load">
                    <img src="./img/thumb-20.jpg" alt="" />
                  </div>
                </div>
                <div class="col-6-md">
                  <div class="brand-item_content">
                    <div class="textbox">
                      <h2 class="title-sc">ATRIUM DESIGN</h2>
                      <p class="desc">
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ
                        đọc và rõ nghĩa dễ gây rối trí và cản trở việc tập trung
                        vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn
                        so với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội
                        dung, nội dung" là nó khiến văn bản giống thật hơn, bình
                        thường hơn.
                      </p>
                    </div>
                    
                    <!-- cuc nay nua anh -->
                    <div class="bottom">
                      <div class="links">
                        <div class="links-title h3">Thương hiệu</div>
                        <ul class="list-links">
                          <li class="li">
                            <a href="" class="li-link">
                              <span class="vbrand-img-news">
                                <img src="./img/driade.png" alt="">
                              </span>
                            </a>
                          </li>
                          <li class="li">
                            <a href="" class="li-link">
                              <span class="vbrand-img-news">
                                <img src="./img/driade.png" alt="">
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <a href="" class="btn-main">
                        <span class="text">Xem tất cả thương hiệu</span>
                      </a>
                      <div class="text-horiz">
                        <p class="text-head">atrium</p>
                        <p class="text-bot">studio</p>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>

    <!-- POPUP -->
    <div class="popup booking-form book">
      <div class="container">
        <div class="popup-content">
          <div class="popup-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <i class="fa-solid fa-angle-up"></i>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="polygon"><img src="./img/polygon-footer.png" alt="" /></div>
      <div class="container container-lg">
        <div class="row gy-1">
          <div class="col col-4-sm col-12">
            <div class="footer_logo">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
            <ul class="footer_info">
              <li class="footer_info-item">
                Điện thoại:
                <a href="tel:(+84) 877 850 112" class="text"
                  >(+84) 877 850 112</a
                >
              </li>
              <li class="footer_info-item">
                Email:
                <a href="mailto:info@atrium.com" class="text"
                  >info@atrium.com</a
                >
              </li>
              <li class="footer_info-item">
                Showroom:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
              <li class="footer_info-item">
                Office:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
            </ul>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_title">LIÊN KẾT</div>
              <ul class="footer_nav">
                <li class="li current-menu-item">
                  <a href="" class="li-link">Customer Service</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Career</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Chính sách</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Loyalty</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Form CS</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_social">
                <div class="footer_title">THEO DÕI CHÚNG TÔI</div>
                <div class="social-list">
                  <a href="" class="social-link">
                    <img src="./img/icon-fb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ins.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ytb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-pinterest.svg" alt="" />
                  </a>
                </div>
              </div>
              <div class="footer_newsletter mt-10">
                <div class="footer_title">ĐĂNG KÝ NHẬN TIN</div>
                <div class="form-wrapper">
                  <form action="">
                    <div class="form-field field-js">
                      <input
                        type="text"
                        class="form-ctr"
                        placeholder="Điền Email của bạn"
                      />
                      <button type="submit" class="form-submit">
                        <img src="./img/icon-send.svg" alt="" />
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="./dest/jsmain.min.js"></script>
    <script src="./js/libs/import/swiper.min.js"></script>
    <script type="module" src="./dest/main.js"></script>
  </body>
</html>
