<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CHÍNH SÁCH</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="container container-lg">
        <div class="header_left">
          <div class="header_tg tg-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="header_lang">
            <div class="lang">
              <div class="lang-select">
                <span class="lang-current">
                  <img src="./img/flag-vn.png" alt="" />
                </span>
              </div>
              <div class="lang-list">
                <div class="lang-item">
                  <img src="./img/usa.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="header_search tg-search">
            <div class="icon-search">
              <img src="./img/icon-search.svg" alt="" />
            </div>
            <div class="icon-close">
              <img src="./img/icon-close.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="header_mid">
          <div class="header_logo">
            <a href=""><img src="./img/logo-hd.png" alt="" /></a>
          </div>
        </div>
        <div class="header_right">
          <div class="header_account">
            <div class="icon"><img src="./img/icon-user.svg" alt="" /></div>
            <div class="header_account-drop">
              <div class="drop-list">
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng ký</a>
                </div>
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header_cart">
            <div class="icon"><img src="./img/icon-cart.svg" alt="" /></div>
            <span class="badge">01</span>
          </div>
        </div>
      </div>
    </header>

    <!-- MENU SIDE -->
    <div class="menu-side">
      <div class="menu-overlay"></div>
      <div class="menu-side-main">
        <div class="menu-side-close close-menu">
          <span class="icon">
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
        <div class="menu-side-list">
          <div class="menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href="" class="menu-link">Về chúng tôi</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Thương hiệu</a>
              </li>
              <li class="menu-item dropdown current-menu-item">
                <a href="" class="menu-link">SẢN PHẨM</a>
                <span class="expand tg-submenu">
                  <i class="fa-light fa-chevron-right"></i>
                </span>
                <ul class="submenu">
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Danh mục sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Bàn ghê</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Tất cả sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">DỰ ÁN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">TIN TỨC & SỰ KIỆN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Tải về</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- SEARCH SCREEN -->
    <div class="search-screen">
      <div class="container container-lg">
        <div class="search-screen_main">
          <div class="search-screen_head">
            <div class="text">Search</div>
          </div>
          <div class="search-screen_form">
            <form action="">
              <div class="form-field">
                <input type="text" class="form-ctr" placeholder="Tìm kiếm" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <!-- BREADCRUMB -->
      <div class="breadcrumb">
        <div class="container">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Trang chủ </a>
            </li>
            <li class="breadcrumb-item current-item">
              <a href="" class="breadcrumb-link"> Chính sách</a>
            </li>
          </ol>
        </div>
      </div>

      <!-- POLICY -->
      <section class="s-policy">
        <div class="policy pt-sm pb-sc">
          <div class="container">
            <div class="policy_head ta-center">
              <h2 class="title-sc t-slide-up" data-splitting="">CHÍNH SÁCH</h2>
            </div>
            <div class="tabs">
              <div class="policy_links fade-up">
                <ul class="list-links">
                  <li class="li tabs-panel active ">
                    <a href="" class="li-link">Customer Service</a>
                  </li>
                  <li class="li tabs-panel"><a href="" class="li-link">Thanh toán</a></li>
                  <li class="li tabs-panel"><a href="" class="li-link">Đặt hàng</a></li>
                  <li class="li tabs-panel"><a href="" class="li-link">Giao hàng</a></li>
                  <li class="li tabs-panel">
                    <a href="" class="li-link">Khách hàng thân thiết</a>
                  </li>
                </ul>
              </div>
              <div class="policy_content fade-up">
                <div class="content-wrap">
                  <div class="content-item active tabs-content">
                    <div class="mona-content">
                      <div class="title">Customer Service</div>
                      <p>
                        Trái với quan điểm chung của số đông, Lorem Ipsum không phải
                        chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn
                        gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất
                        hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng
                        hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College
                        (bang Virginia - Mỹ) quan tâm tới một trong những từ la-tinh
                        khó hiểu nhất, "consectetur", trích từ một đoạn của Lorem
                        Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong
                        văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối
                        cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các
                        đoạn 1.10.32 và 1.10.33 của "De Finibus Bonorum et Malorum"
                        (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào
                        năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết
                        đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên
                        của Lorem Ipsum, "Lorem ipsum dolor sit amet..." được trích
                        từ một câu trong đoạn thứ 1.10.32.
                        <br /><br />
                        Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ
                        16 và được tái bản sau đó cho những người quan tâm đến nó.
                        Đoạn 1.10.32 và 1.10.33 trong cuốn "De Finibus Bonorum et
                        Malorum" của Cicero cũng được tái bản lại theo đúng cấu trúc
                        gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham
                        vào năm 1914.
                      </p>
                      <div class="title">Customer Service</div>
                      <p>
                        Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm
                        thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố
                        hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý
                        nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên
                        kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở
                        giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu
                        Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn
                        chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công
                        cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web
                        này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu
                        trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự
                        hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không
                        cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ
                        hóm hỉnh hay thiếu trật tự.
                      </p>
                    </div>
                  </div>
                  <div class="content-item  tabs-content">
                    <div class="mona-content">
                      <div class="title">Thanh toán</div>
                      <p>
                        Trái với quan điểm chung của số đông, Lorem Ipsum không phải
                        chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn
                        gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất
                        hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng
                        hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College
                        (bang Virginia - Mỹ) quan tâm tới một trong những từ la-tinh
                        khó hiểu nhất, "consectetur", trích từ một đoạn của Lorem
                        Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong
                        văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối
                        cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các
                        đoạn 1.10.32 và 1.10.33 của "De Finibus Bonorum et Malorum"
                        (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào
                        năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết
                        đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên
                        của Lorem Ipsum, "Lorem ipsum dolor sit amet..." được trích
                        từ một câu trong đoạn thứ 1.10.32.
                        <br /><br />
                        Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ
                        16 và được tái bản sau đó cho những người quan tâm đến nó.
                        Đoạn 1.10.32 và 1.10.33 trong cuốn "De Finibus Bonorum et
                        Malorum" của Cicero cũng được tái bản lại theo đúng cấu trúc
                        gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham
                        vào năm 1914.
                      </p>
                      <div class="title">Customer Service</div>
                      <p>
                        Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm
                        thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố
                        hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý
                        nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên
                        kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở
                        giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu
                        Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn
                        chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công
                        cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web
                        này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu
                        trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự
                        hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không
                        cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ
                        hóm hỉnh hay thiếu trật tự.
                      </p>
                    </div>
                  </div>
                  <div class="content-item  tabs-content">
                    <div class="mona-content">
                      <div class="title">Đặt hàng</div>
                      <p>
                        Trái với quan điểm chung của số đông, Lorem Ipsum không phải
                        chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn
                        gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất
                        hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng
                        hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College
                        (bang Virginia - Mỹ) quan tâm tới một trong những từ la-tinh
                        khó hiểu nhất, "consectetur", trích từ một đoạn của Lorem
                        Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong
                        văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối
                        cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các
                        đoạn 1.10.32 và 1.10.33 của "De Finibus Bonorum et Malorum"
                        (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào
                        năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết
                        đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên
                        của Lorem Ipsum, "Lorem ipsum dolor sit amet..." được trích
                        từ một câu trong đoạn thứ 1.10.32.
                        <br /><br />
                        Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ
                        16 và được tái bản sau đó cho những người quan tâm đến nó.
                        Đoạn 1.10.32 và 1.10.33 trong cuốn "De Finibus Bonorum et
                        Malorum" của Cicero cũng được tái bản lại theo đúng cấu trúc
                        gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham
                        vào năm 1914.
                      </p>
                      <div class="title">Customer Service</div>
                      <p>
                        Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm
                        thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố
                        hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý
                        nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên
                        kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở
                        giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu
                        Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn
                        chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công
                        cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web
                        này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu
                        trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự
                        hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không
                        cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ
                        hóm hỉnh hay thiếu trật tự.
                      </p>
                    </div>
                  </div>
                  <div class="content-item  tabs-content">
                    <div class="mona-content">
                      <div class="title">Giao hàng</div>
                      <p>
                        Trái với quan điểm chung của số đông, Lorem Ipsum không phải
                        chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn
                        gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất
                        hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng
                        hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College
                        (bang Virginia - Mỹ) quan tâm tới một trong những từ la-tinh
                        khó hiểu nhất, "consectetur", trích từ một đoạn của Lorem
                        Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong
                        văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối
                        cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các
                        đoạn 1.10.32 và 1.10.33 của "De Finibus Bonorum et Malorum"
                        (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào
                        năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết
                        đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên
                        của Lorem Ipsum, "Lorem ipsum dolor sit amet..." được trích
                        từ một câu trong đoạn thứ 1.10.32.
                        <br /><br />
                        Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ
                        16 và được tái bản sau đó cho những người quan tâm đến nó.
                        Đoạn 1.10.32 và 1.10.33 trong cuốn "De Finibus Bonorum et
                        Malorum" của Cicero cũng được tái bản lại theo đúng cấu trúc
                        gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham
                        vào năm 1914.
                      </p>
                      <div class="title">Customer Service</div>
                      <p>
                        Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm
                        thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố
                        hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý
                        nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên
                        kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở
                        giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu
                        Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn
                        chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công
                        cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web
                        này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu
                        trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự
                        hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không
                        cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ
                        hóm hỉnh hay thiếu trật tự.
                      </p>
                    </div>
                  </div>
                  <div class="content-item  tabs-content">
                    <div class="mona-content">
                      <div class="title">Khách hàng thân thiết</div>
                      <p>
                        Trái với quan điểm chung của số đông, Lorem Ipsum không phải
                        chỉ là một đoạn văn bản ngẫu nhiên. Người ta tìm thấy nguồn
                        gốc của nó từ những tác phẩm văn học la-tinh cổ điển xuất
                        hiện từ năm 45 trước Công Nguyên, nghĩa là nó đã có khoảng
                        hơn 2000 tuổi. Một giáo sư của trường Hampden-Sydney College
                        (bang Virginia - Mỹ) quan tâm tới một trong những từ la-tinh
                        khó hiểu nhất, "consectetur", trích từ một đoạn của Lorem
                        Ipsum, và đã nghiên cứu tất cả các ứng dụng của từ này trong
                        văn học cổ điển, để từ đó tìm ra nguồn gốc không thể chối
                        cãi của Lorem Ipsum. Thật ra, nó được tìm thấy trong các
                        đoạn 1.10.32 và 1.10.33 của "De Finibus Bonorum et Malorum"
                        (Đỉnh tối thượng của Cái Tốt và Cái Xấu) viết bởi Cicero vào
                        năm 45 trước Công Nguyên. Cuốn sách này là một luận thuyết
                        đạo lí rất phổ biến trong thời kì Phục Hưng. Dòng đầu tiên
                        của Lorem Ipsum, "Lorem ipsum dolor sit amet..." được trích
                        từ một câu trong đoạn thứ 1.10.32.
                        <br /><br />
                        Trích đoạn chuẩn của Lorem Ipsum được sử dụng từ thế kỉ thứ
                        16 và được tái bản sau đó cho những người quan tâm đến nó.
                        Đoạn 1.10.32 và 1.10.33 trong cuốn "De Finibus Bonorum et
                        Malorum" của Cicero cũng được tái bản lại theo đúng cấu trúc
                        gốc, kèm theo phiên bản tiếng Anh được dịch bởi H. Rackham
                        vào năm 1914.
                      </p>
                      <div class="title">Customer Service</div>
                      <p>
                        Có rất nhiều biến thể của Lorem Ipsum mà bạn có thể tìm
                        thấy, nhưng đa số được biến đổi bằng cách thêm các yếu tố
                        hài hước, các từ ngẫu nhiên có khi không có vẻ gì là có ý
                        nghĩa. Nếu bạn định sử dụng một đoạn Lorem Ipsum, bạn nên
                        kiểm tra kĩ để chắn chắn là không có gì nhạy cảm được giấu ở
                        giữa đoạn văn bản. Tất cả các công cụ sản xuất văn bản mẫu
                        Lorem Ipsum đều được làm theo cách lặp đi lặp lại các đoạn
                        chữ cho tới đủ thì thôi, khiến cho lipsum.com trở thành công
                        cụ sản xuất Lorem Ipsum đáng giá nhất trên mạng. Trang web
                        này sử dụng hơn 200 từ la-tinh, kết hợp thuần thục nhiều cấu
                        trúc câu để tạo ra văn bản Lorem Ipsum trông có vẻ thật sự
                        hợp lí. Nhờ thế, văn bản Lorem Ipsum được tạo ra mà không
                        cần một sự lặp lại nào, cũng không cần chèn thêm các từ ngữ
                        hóm hỉnh hay thiếu trật tự.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- POPUP -->
    <div class="popup booking-form book">
      <div class="container">
        <div class="popup-content">
          <div class="popup-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <i class="fa-solid fa-angle-up"></i>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="polygon"><img src="./img/polygon-footer.png" alt="" /></div>
      <div class="container container-lg">
        <div class="row gy-1">
          <div class="col col-4-sm col-12">
            <div class="footer_logo">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
            <ul class="footer_info">
              <li class="footer_info-item">
                Điện thoại:
                <a href="tel:(+84) 877 850 112" class="text"
                  >(+84) 877 850 112</a
                >
              </li>
              <li class="footer_info-item">
                Email:
                <a href="mailto:info@atrium.com" class="text"
                  >info@atrium.com</a
                >
              </li>
              <li class="footer_info-item">
                Showroom:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
              <li class="footer_info-item">
                Office:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
            </ul>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_title">LIÊN KẾT</div>
              <ul class="footer_nav">
                <li class="li current-menu-item">
                  <a href="" class="li-link">Customer Service</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Career</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Chính sách</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Loyalty</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Form CS</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_social">
                <div class="footer_title">THEO DÕI CHÚNG TÔI</div>
                <div class="social-list">
                  <a href="" class="social-link">
                    <img src="./img/icon-fb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ins.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ytb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-pinterest.svg" alt="" />
                  </a>
                </div>
              </div>
              <div class="footer_newsletter mt-10">
                <div class="footer_title">ĐĂNG KÝ NHẬN TIN</div>
                <div class="form-wrapper">
                  <form action="">
                    <div class="form-field field-js">
                      <input
                        type="text"
                        class="form-ctr"
                        placeholder="Điền Email của bạn"
                      />
                      <button type="submit" class="form-submit">
                        <img src="./img/icon-send.svg" alt="" />
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="./dest/jsmain.min.js"></script>
    <script src="./js/libs/import/swiper.min.js"></script>
    <script type="module" src="./dest/main.js"></script>
  </body>
</html>
