<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Lọc thương hiệu</title>
    <link rel="icon" href="favicon.ico" />
    <meta name="title" content="" />
    <meta name="description" content="" />

    <!-- meta facebook -->
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="css/backdoor.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
  </head>

  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="container container-lg">
        <div class="header_left">
          <div class="header_tg tg-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div class="header_lang">
            <div class="lang">
              <div class="lang-select">
                <span class="lang-current">
                  <img src="./img/flag-vn.png" alt="" />
                </span>
              </div>
              <div class="lang-list">
                <div class="lang-item">
                  <img src="./img/usa.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="header_search tg-search">
            <div class="icon-search">
              <img src="./img/icon-search.svg" alt="" />
            </div>
            <div class="icon-close">
              <img src="./img/icon-close.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="header_mid">
          <div class="header_logo">
            <div class="logobox">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
          </div>
        </div>
        <div class="header_right">
          <div class="header_account">
            <div class="icon"><img src="./img/icon-user.svg" alt="" /></div>
            <div class="header_account-drop">
              <div class="drop-list">
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng ký</a>
                </div>
                <div class="drop-item">
                  <a href="" class="drop-link">Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
          <div class="header_cart">
            <div class="icon"><img src="./img/icon-cart.svg" alt="" /></div>
            <span class="badge">01</span>
          </div>
        </div>
      </div>
    </header>

    <!-- MENU SIDE -->
    <div class="menu-side">
      <div class="menu-overlay"></div>
      <div class="menu-side-main">
        <div class="menu-side-close close-menu">
          <span class="icon">
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
        <div class="menu-side-list">
          <div class="menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href="" class="menu-link">Về chúng tôi</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Thương hiệu</a>
              </li>
              <li class="menu-item dropdown current-menu-item">
                <a href="" class="menu-link">SẢN PHẨM</a>
                <span class="expand tg-submenu">
                  <i class="fa-light fa-chevron-right"></i>
                </span>
                <ul class="submenu">
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Danh mục sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Bàn ghê</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Bàn ghê 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">bàn ghế</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                            <span class="expand tg-submenu">
                              <i class="fa-light fa-chevron-right"></i>
                            </span>
                            <ul class="submenu">
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                              <li class="menu-item">
                                <a href="" class="menu-link">Decor 2</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                          <li class="menu-item dropdown">
                            <a href="" class="menu-link">Decor</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item dropdown">
                    <a href="" class="menu-link">Tất cả sản phẩm</a>
                    <span class="expand tg-submenu">
                      <i class="fa-light fa-chevron-right"></i>
                    </span>
                    <ul class="submenu">
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Tủ kệ</a>
                        <span class="expand tg-submenu">
                          <i class="fa-light fa-chevron-right"></i>
                        </span>
                        <ul class="submenu">
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                          <li class="menu-item">
                            <a href="" class="menu-link">Tủ kệ 2</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">bàn ghế</a>
                      </li>
                      <li class="menu-item dropdown">
                        <a href="" class="menu-link">Decor</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">DỰ ÁN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">TIN TỨC & SỰ KIỆN</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">Tải về</a>
              </li>
              <li class="menu-item">
                <a href="" class="menu-link">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-overlay"></div>

    <!-- SEARCH SCREEN -->
    <div class="search-screen">
      <div class="container container-lg">
        <div class="search-screen_main">
          <div class="search-screen_head">
            <div class="text">Search</div>
          </div>
          <div class="search-screen_form">
            <form action="">
              <div class="form-field">
                <input type="text" class="form-ctr" placeholder="Tìm kiếm" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <!-- BREADCRUMB -->
      <div class="breadcrumb">
        <div class="container">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Trang chủ </a>
            </li>
            <li class="breadcrumb-item">
              <a href="" class="breadcrumb-link">Danh mục sản phẩm</a>
            </li>
            <li class="breadcrumb-item current-item">
              <a href="" class="breadcrumb-link">Sản phẩm</a>
            </li>
          </ol>
        </div>
      </div>

      <!-- PRODUCT LIST -->
      <section class="s-product-list">
        <div class="product-list pt-sm pb-sc">
          <div class="container">
            <div class="product-list_head mb-10 f-center-between">
              <h1 class="title-sc">TỦ KỆ</h1>
              <div class="sort-wrap">
                <div class="select-box">
                  <div class="select-current">
                    <span class="text-current">Danh mục</span>
                    <span class="arrow"
                      ><i class="fa-light fa-chevron-down fa-xs"></i
                    ></span>
                  </div>
                  <div class="select-options">
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="radio"
                          name="cate"
                          class="opt-input"
                          value="Tất cả danh mục"
                          checked
                        />
                        <span class="opt-text">Tất cả danh mục</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="radio"
                          name="cate"
                          class="opt-input"
                          value="Tủ kệ"
                        />
                        <span class="opt-text">Tủ kệ</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="radio"
                          name="cate"
                          class="opt-input"
                          value="Bàn ghế"
                        />
                        <span class="opt-text">Bàn ghế</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="radio"
                          name="cate"
                          class="opt-input"
                          value="Decor"
                        />
                        <span class="opt-text">Decor</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="select-box">
                  <div class="select-current">
                    <span class="text-current">Thương hiệu</span>
                    <span class="arrow"
                      ><i class="fa-light fa-chevron-down fa-xs"></i
                    ></span>
                  </div>
                  <div class="select-options">
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          checked
                          class="opt-input"
                          value="Tất cả thương hiệu"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Tất cả thương hiệu</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Thương hiệu từ Ý"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Thương hiệu từ Ý</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Thương Hiệu từ Pháp"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Thương Hiệu từ Pháp</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Thương hiệu từ Châu âu"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Thương hiệu từ Châu âu</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Thương hiệu từ Ấn Độ"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Thương hiệu từ Ấn Độ</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Thương hiệu từ Việt Nam"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Thương hiệu từ Việt Nam</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="select-box">
                  <div class="select-current">
                    <span class="text-current">Lọc</span>
                    <span class="arrow"
                      ><i class="fa-light fa-chevron-down fa-xs"></i
                    ></span>
                  </div>
                  <div class="select-options">
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Giá tăng dần"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Giá tăng dần</span>
                      </label>
                    </div>
                    <div class="opt">
                      <label class="opt-label">
                        <input
                          type="checkbox"
                          class="opt-input"
                          value="Giá giảm dần"
                        />
                        <span class="opt-mask"></span>
                        <span class="opt-text">Giá giảm dần</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-list-main">
              <div class="product-list-row row">
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-13.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-14.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-15.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-16.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-18.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-19.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-20.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-21.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-22.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-23.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-24.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3-md col-4-xs col-6 fade-up">
                  <div class="product-item">
                    <div class="product-item_thumb">
                      <div class="thumb-wrap">
                        <a href="">
                          <img src="./img/thumb-25.jpg" alt="" />
                        </a>
                      </div>
                      <div class="cta-inner">
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-cart-shopping fa-sm"></i>
                          </a>
                        </div>
                        <div class="btn-wrap">
                          <a href="" class="btn-inner">
                            <i class="fa-thin fa-arrow-right fa-sm"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="product-item_content">
                      <div class="title h4">
                        <a href="" class="title-link">
                          Bàn ăn gia đình dáng tròn
                        </a>
                      </div>
                      <p class="desc bd-14">
                        Lorem ipsum dolor sit amet consectetur. Sceler sit
                        pellentesque
                      </p>
                      <div class="price-wrap">
                        <ins class="price-new">55.000.000 đ </ins>
                        <del class="price-old">60.000.000 đ</del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pagination">
                <ul class="page-numbers">
                  <li>
                    <a class="prev page-numbers" href="">
                      <i class="fa-light fa-angle-left"></i>
                    </a>
                  </li>
                  <li>
                    <span aria-current="page" class="page-numbers">1</span>
                  </li>
                  <li><a class="page-numbers" href="">2</a></li>
                  <li><a class="page-numbers" href="">3</a></li>
                  <li>
                    <a class="next page-numbers" href="">
                      <i class="fa-light fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- BACK TO TOP -->

    <div class="progress-wrap">
      <i class="fa-solid fa-angle-up"></i>
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- FOOTER -->
    <footer class="footer">
      <div class="polygon"><img src="./img/polygon-footer.png" alt="" /></div>
      <div class="container container-lg">
        <div class="row gy-1">
          <div class="col col-4-sm col-12">
            <div class="footer_logo">
              <a href=""><img src="./img/logo-hd.png" alt="" /></a>
            </div>
            <ul class="footer_info">
              <li class="footer_info-item">
                Điện thoại:
                <a href="tel:(+84) 877 850 112" class="text"
                  >(+84) 877 850 112</a
                >
              </li>
              <li class="footer_info-item">
                Email:
                <a href="mailto:info@atrium.com" class="text"
                  >info@atrium.com</a
                >
              </li>
              <li class="footer_info-item">
                Showroom:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
              <li class="footer_info-item">
                Office:
                <a href="" class="text"
                  >2 Lê Thước, Thảo Điền, Quận 2, Tp Hồ Chí Minh</a
                >
              </li>
            </ul>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_title">LIÊN KẾT</div>
              <ul class="footer_nav">
                <li class="li current-menu-item">
                  <a href="" class="li-link">Customer Service</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Career</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Chính sách</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Loyalty</a>
                </li>
                <li class="li">
                  <a href="" class="li-link">Form CS</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-4-sm col-6-xxs">
            <div class="footer_col">
              <div class="footer_social">
                <div class="footer_title">THEO DÕI CHÚNG TÔI</div>
                <div class="social-list">
                  <a href="" class="social-link">
                    <img src="./img/icon-fb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ins.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-ytb.svg" alt="" />
                  </a>
                  <a href="" class="social-link">
                    <img src="./img/icon-pinterest.svg" alt="" />
                  </a>
                </div>
              </div>
              <div class="footer_newsletter mt-10">
                <div class="footer_title">ĐĂNG KÝ NHẬN TIN</div>
                <div class="form-wrapper">
                  <form action="">
                    <div class="form-field field-js">
                      <input
                        type="text"
                        class="form-ctr"
                        placeholder="Điền Email của bạn"
                      />
                      <button type="submit" class="form-submit">
                        <img src="./img/icon-send.svg" alt="" />
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="./dest/jsmain.min.js"></script>
    <script src="./js/libs/import/swiper.min.js"></script>
    <script type="module" src="./dest/main.js"></script>
  </body>
</html>
