:root {
    --size-hd: 10rem;
}

// dit me m nho chua
$color-pri: #f37224;
$color-second: #182951;
$color-third: #737b8c;
$color-text: #191a1c;
$color-text2: #333332;
$color-text3: #1a1a1a;
$color-text4: #474849;

$color-black-3: #333;
$color-black-4: #031230;

$color-black-2: #444545;

$color-black: #040f25;
$color-white: #f7f9fd;
$color-white2: #ffffff;

$color-org: #ff9f00;
$color-red: #ff2626;
$color-green: #1d9d06;
$color-gray: #f0f0f0;
$color-gray2: #abb0ba;

//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 460px;
