.banner_home {
    position: relative;
    margin-bottom: var(--size-pd);
    overflow: hidden;
    &--list {
        position: relative;

        .swiper-slide {
            height: auto;
        }

        .swiper-slide-active {
            .banner_home--title {
                .title {

                    &-top {

                        &.text-ani {

                            span.word {
                                animation: chuNoiChay 0.5s linear forwards;

                            }
                        }
                    }

                    &-bottom {

                        &.text-ani {

                            span.word {
                                animation: chuNoiChay 0.5s linear forwards;

                            }
                        }
                    }


                }
            }

            .banner_home--btn {
                animation: chuNoiChay 0.5s linear 2s forwards;

            }
        }

        .swiper-pagination {
            position: absolute;
            bottom: 2rem;
            z-index: 5;
            left: 50%;
            transform: translateX(-50%);


            &-bullet {
                background: $color-white;
                height: 0.8rem;
                width: 3.6rem;

                &-active {
                    background: $color-five;
                }

                @include max(800px) {
                    width: 3rem;
                    height: 0.5rem;
                }
            }
        }
    }

    &--item {
        height: 100%;
    }


    &--bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(30, 30, 30, 0.6) 0%, rgba(30, 30, 30, 0.292414) 14.19%, rgba(30, 30, 30, 0) 50%);
            z-index: 1;
            pointer-events: none;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &--wrap {
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--box {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        row-gap: var(--rowContent32);
    }


    &--title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            text-align: center;
            @include fz-96;
            font-weight: 700;
            font-family: var(--font-sec);
            color: $color-white;
            line-height: 1.25;

            &-top {
                background: linear-gradient(176.03deg, #FFFFFF 23.82%, rgba(255, 255, 255, 0) 85.16%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &.text-ani {



                    span.word {
                        opacity: 0;
                        transform: translateY(20%);

                        background: linear-gradient(176.03deg, #FFFFFF 23.82%, rgba(255, 255, 255, 0) 85.16%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    @keyframes chuNoiChay {
                        0% {
                            transform: translateY(20%);
                            opacity: 0;
                        }

                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }


                }
            }

            &-bottom {
                margin-top: -5rem;

                @include max(1200px) {
                    margin-top: -4rem;

                }

                @include max(600px) {
                    margin-top: -3.5rem;

                }

                @include max(500px) {
                    margin-top: -1.5rem;

                }

                &.text-ani {



                    span.word {
                        opacity: 0;
                        transform: translateY(20%);
                        // animation: chuNoiChay 0.5s linear forwards;
                    }

                    @keyframes chuNoiChay {
                        0% {
                            transform: translateY(20%);
                            opacity: 0;
                        }

                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }


                }
            }


        }

    }

    &--btn {

        // @media screen and (min-width:1200px) {
        opacity: 0;
        transform: translateY(20%);
        // }

    }


}

.title_main {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    align-items: center;
}

.home_news {
    padding-top: var(--size-pdl);
    padding-bottom: var(--size-pdl);
    margin-bottom: var(--size-pd);
    background: $color-gray4;
    overflow: hidden;

    &--wrap {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent4);
    }

    &--list {
        row-gap: var(--rowContent32);
    }

    &--item {
        &:nth-child(1) {
            width: 50% !important;

            .post {
                &_wrap {
                    display: flex;
                    flex-direction: column;
                }

                &_lf {
                    width: 100% !important;
                }

                &_rt {}

                &_img {
                    padding-top: calc(100% * 337 / 592);
                }

                &_box {
                    .title a {
                        @include fz-24;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                    }

                    .content {
                        -webkit-line-clamp: 2;
                        @include fz-16;

                    }
                }
            }




        }

        &:nth-child(2) {
            width: 50% !important;

            .post {
                &_wrap {
                    display: flex;
                    flex-direction: column;
                }

                &_lf {
                    width: 100% !important;
                }

                &_rt {}

                &_img {
                    padding-top: calc(100% * 337 / 592);
                }

                &_box {
                    .title a {
                        @include fz-24;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .content {
                        -webkit-line-clamp: 2;
                        @include fz-16;
                    }
                }
            }
        }


        @include max (460px) {
            width: 100%;
        }

        .post {
            height: 100%;

            &_lf {
                width: calc(100% * 3.2 / 8) !important;

                @include max(460px) {
                    width: calc(100% * 3 / 12) !important;

                }

                @include max(360px) {
                    width: calc(100% * 4 / 12) !important;

                }
            }

            &_wrap {
                height: 100%;
            }

            &_box {
                padding: 1.6rem;

                @include max(1200px) {
                    padding: 1.4rem;

                }


                @include max(1024px) {
                    padding: 1.2rem;

                }

                @include max(800px) {
                    padding: 1rem;

                }


                @include max(600px) {
                    padding: 0.8rem;

                }

                .title {
                    @include fz-16;

                    a {
                        -webkit-line-clamp: 4;

                        @include max(1200px) {
                            -webkit-line-clamp: 3;

                        }

                        @include max(600px) {
                            -webkit-line-clamp: 2;

                        }

                    }

                }

                .content {
                    -webkit-line-clamp: 1;
                    @include fz-12;
                }
            }
        }


    }

    &--box {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent6);

        .btn {
            margin: 0 auto;
        }
    }
}

.home_teams {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pdl);
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    overflow: hidden;

    @include max(1400px) {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    @include max(800px) {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    @include max(600px) {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }


    &--wrap {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent4);
    }

    &--box {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent4);


        .btn {
            margin: 0 auto;
        }
    }

    &--list {
        .swiper-slide {
            height: auto;

            @include max(1200px) {
                width: calc(100% / 4);
            }

            @include max(800px) {
                width: calc(100% / 3);
            }

            @include max(460px) {
                width: calc(100% / 2);
            }

            @include max(320px) {
                width: 100%;
            }
        }
    }

    &--item {
        height: 100%;

        @include hover {
            .home_teams--item-img {
                img {
                    transform: translate(-50%, -50%) scale(1.1);

                }
            }

            .home_teams--item-top {
                .name {
                    color: $color-second !important;
                }
            }
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            border-radius: var(--radius12);
            overflow: hidden;
            height: 100%;
            background: $color-gray4;

        }



        &-img {
            padding-top: calc(100% * 340 / 308);
            width: 100%;
            position: relative;
            overflow: hidden;


            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s linear;
            }
        }

        &-box {
            padding: 1.6rem;
            display: flex;
            flex-direction: column;
            row-gap: var(--rowContent0);
            height: 100%;
            justify-content: center;

            @include max(1200px) {
                padding: 1.4rem;

            }

            @include max(1024px) {
                padding: 1.2rem;

            }

            @include max(800px) {
                padding: 1rem;

            }

            @include max(600px) {
                padding: 0.8rem;

            }
        }


        &-top {
            .name {
                text-align: center;
                display: block;

                @include max(1400px) {
                    @include fz-20;
                }

                @include max(1200px) {
                    @include fz-18;
                }
            }

            .note-text {
                @include max(1200px) {
                    @include fz-14;
                }
            }
        }

        &-center {
            max-width: 26rem;
            margin: 0 auto;
            width: 100%;

            .note-text {
                @include max(1400px) {
                    @include fz-14;
                }

                @include max(1200px) {
                    @include fz-12;
                }
            }
        }

        &-bottom {
            .social_list {
                justify-content: center;
                column-gap: 0.4rem;
                flex-wrap: wrap;
                row-gap: var(--rowContent0);
            }

            .social_img {
                width: 2.4rem;
                height: 2.4rem;

            }
        }


    }
}

.home_said {
    background: $color-pri;
    padding-top: var(--size-pdl);
    padding-bottom: var(--size-pdl);
    position: relative;
    margin-bottom: var(--size-pd);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-image: url(../assets/images/hstt.png);
        background-size: 100% 100%;
        z-index: 1;
        pointer-events: none;
        background-repeat: no-repeat;

    }

    &--wrap {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent4);
    }

    &--title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--columnContent12);


        @include max(600px) {
            flex-direction: column;
            row-gap: var(--rowContent32);
        }

        &-lf {

            .about_why--item-content {
                max-width: 50rem;
                width: 100%;
                // margin: 0 auto;
            }


        }

        &-rt {
            display: flex;
            align-items: center;
            column-gap: var(--columnContent24);

            .btn {
                flex-shrink: 0;
                min-width: unset;
                padding: 1.2rem;
            }
        }
    }

    &--list {
        .swiper-slide {
            height: auto;

            @include max(700px) {
                width: 100%;
            }
        }


    }


    &--item {
        height: 100%;

        @include hover {
            .home_said--item-rt {
                background: #F5F7F8;
            }

            .home_said--item-rt-wrap .about_letter--author-content .note-sm {
                color: $color-five;
            }
        }

        &-wrap {
            height: 100%;
            display: flex;
            border-radius: var(--radius12);
            overflow: hidden;


        }

        &-img {
            padding-top: calc(100% * 279 / 208);
            width: 100%;
            position: relative;
            height: 100%;
            display: block;
            overflow: hidden;



            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                transition: 0.3s linear;
            }

        }

        &-lf {
            width: 35%;
            // flex-shrink: 0;

            &-wrap {
                height: 100%;
            }

            @include max(800px) {
                width: 40%;

            }

            @include max(700px) {
                width: 20%;

            }

            @include max(600px) {
                width: 25%;

            }

            @include max(460px) {
                width: 35%;

            }
        }

        &-rt {
            width: 100%;
            flex: 1;
            background: $color-white;
            transition: 0.3s linear;

            &-wrap {
                padding: 2.4rem 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: var(--rowContent16);

                @include max(1200px) {
                    padding: 2rem 1.6rem;

                }

                @include max(1024px) {
                    padding: 1.8rem 1.4rem;

                }

                @include max(800px) {
                    padding: 1.6rem 1.2rem;

                }

                @include max(600px) {
                    padding: 1.4rem 1rem;

                }

                @include max(460px) {
                    padding: 1.2rem 0.8rem;

                }

                @include max(360px) {
                    padding: 1rem 0.6rem;

                }



                .ic {
                    width: 4rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include max(600px) {
                        width: 3rem;
                        height: 1.5rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .about_letter--author {
                    flex-direction: row;
                    column-gap: var(--columnContent12);
                    align-items: center;
                    justify-content: start !important;
                    margin: unset !important;
                }

                .about_letter--author-img {
                    width: 4.8rem;
                    height: 4.8rem;
                    flex-shrink: 0;

                    @include max(1200px) {
                        width: 4rem;
                        height: 4rem;
                    }

                    @include max(600px) {
                        width: 3.6rem;
                        height: 3.6rem;
                    }
                }

                .about_letter--author-content {
                    .note-sm {
                        color: #8C8C8C;
                        transition: 0.3s linear;
                        text-align: start !important;

                        @include max(800px) {
                            @include fz-12;
                        }
                    }

                    .note-lg {
                        text-align: start !important;

                        @include max(800px) {
                            @include fz-14;
                        }
                    }
                }
            }
        }


        &-content {
            max-height: 15rem;
            // height: 100%;
            overflow-y: auto;
            margin-right: 0.1rem;

            @include max(800px) {
                max-height: 10rem;
            }

            @include max(460px) {
                max-height: 9rem;
            }
        }

    }

}

.home_partner {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pd);
    overflow: hidden;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../assets/images/lstt.png);
        background-size: 100% 100%;
        z-index: 1;
        pointer-events: none;
        background-repeat: no-repeat;
    }

    &--wrap {
        display: flex;
        flex-direction: column;
        row-gap: var(--rowContent4);
    }

    &--list {
        .swiper-slide {
            height: auto;

            @include max(1024px){
                width: calc(100% / 4);
            }

            @include max(800px){
                width: calc(100% / 3);
            }

            @include max(460px){
                width: calc(100% / 2);
            }
        }

        .swiper {
            padding: 0.2rem 0;
        }
    }

    &--item {
        height: 100%;

        &-wrap {
            height: 100%;
            border: 0.1rem solid #D9D9D9;
            border-radius: 0.4rem;
            overflow: hidden;
            background: $color-white;
        }

        &-img {
            padding-top: calc(100% * 106 / 216);
            width: 100%;
            position: relative;
            overflow: hidden;
            display: block;


            overflow: hidden;

            @include hover {

                img {
                    transform: translate(-50%, -50%) scale(0.9);



                }

            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s linear;
            }
        }
    }

}

.home_albums {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pd);
    overflow: hidden;

    &--wrap {
        display: flex;
        column-gap: 1.2rem;

        @include max(460px) {
            column-gap: 0.4rem;
        }
    }

    &--lf {
        width: 18%;
        overflow: hidden;
        flex-shrink: 0;

        &-wrap {
            height: 100%;
        }

        @include max(1100px) {
            width: 22%;
        }

        @include max(1024px) {
            width: 23%;
        }

        @include max(900px) {
            width: 24%;
        }

        @include max(800px) {
            width: 25%;
        }

        @include max(700px) {
            width: 28%;
        }

        @include max(600px) {
            width: 35%;
        }

        @include max(360px) {
            width: 37%;
        }
    }

    &--rt {
        width: 100%;
        flex: 1;
        overflow: hidden;

        // height: 100%;
        &-wrap {
            height: 100%;
        }

        &-list {
            height: 100%;

            &.d-wrap {
                margin-left: -0.6rem;
                margin-right: -0.6rem;

                @include max(460px) {
                    margin-left: -0.2rem;
                    margin-right: -0.2rem;
                }
            }

            .swiper-slide {
                height: auto;
                width: 22%;

                &.d-item {
                    padding-left: 0.6rem;
                    padding-right: 0.6rem;

                    @include max(460px) {
                        padding-left: 0.2rem;
                        padding-right: 0.2rem;
                    }
                }

                @include max(1100px) {
                    width: 28%;

                }


                @include max(1024px) {
                    width: 28%;

                }

                @include max(900px) {
                    width: 29%;

                }


                @include max(800px) {
                    width: 38%;

                }

                @include max(600px) {
                    width: 60%;

                }

                @include max(360px) {
                    width: 70%;

                }
            }
        }

        &-item {
            height: 100%;

            @include hover {
                .home_albums--rt-item-img {
                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }

            &-wrap {
                display: flex;
                flex-direction: column;
                height: 100%;
                row-gap: var(--rowContent12);
            }

            &-imgs {
                position: relative;
                width: 100%;
                height: 100%;
            }

            &-img {
                padding-top: 100%;
                width: 100%;
                overflow: hidden;
                display: block;
                position: relative;
                height: 100%;
                display: none;

                &:first-child {
                    display: block;
                }

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.6);
                    z-index: 1;
                    opacity: 0;
                    transition: 0.3s linear;

                    @include max(1200px){
                        opacity: 1;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 15%;
                    height: 15%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    background-image: url(../assets/images/zoom.svg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    z-index: 2;
                    transition: 0.3s linear;

                    @include max(1200px){
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }

            &-content {
                padding: 0 1.2rem;

                @include max(1200px) {
                    padding: 0 0.8rem;

                }

                @include max(800px) {
                    padding: 0 0.4rem;

                }

                @include max(800px) {
                    padding: 0 0.2rem;

                }

                .note-sm {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }

    &--title {
        position: relative;
        height: 100%;

        &-img {
            padding-top: calc(100% * 351 / 295);
            width: 100%;
            position: relative;
            height: 100%;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #EDA11B, $alpha: 0.9);
                z-index: 1;

            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {
            padding: 2rem 4rem;
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            left: 0;

            @include max(1200px) {
                padding: 1.6rem 2rem;
            }

            @include max(1024px) {
                padding: 1.4rem 1.6rem;
            }

            @include max(800px) {
                padding: 1.2rem 1.2rem;
            }

            @include max(600px) {
                padding: 1rem;
            }

            @include max(460px) {
                padding: 0.8rem;
            }

            @include max(360px) {
                padding: 0.6rem;
            }



            .title-sm2 {
                @include max(1024px) {
                    @include fz-28;
                }

                @include max(460px) {
                    @include fz-24;
                }

                @include max(360px) {
                    @include fz-18;
                }

                @include max(320px) {
                    @include fz-16;
                }
            }


        }
    }

}

.home_dh {
    background: $color-pri;
    --wh: 8rem;
    --pd: 1.6rem;
    position: relative;
    overflow: hidden;
    @include max(1200px) {
        --wh: 6rem;
        --pd: 1.4rem;
    }

    @include max(800px) {
        --wh: 4rem;
        --pd: 1.2rem;
    }

    @include max(600px) {
        --wh: 3.8rem;
        --pd: 1.2rem;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 160rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../assets/images/hdhbh.png);
        background-size: 100% 100%;
        z-index: 1;
        background-repeat: no-repeat;
        pointer-events: none;

        @include max(600px) {
            display: none;
        }
    }

    &--wrap {
        flex-wrap: nowrap;

        @include max(600px) {
            flex-direction: column;
        }
    }

    &--lf {
        width: calc(100% * 5 / 12);
        position: relative;

        @include max(1400px) {
            width: calc(100% * 5.5 / 12);

        }

        @include max(800px) {
            width: calc(100% * 6 / 12);

        }

        @include max(600px) {
            width: 100%;

        }

        &-wrap {
            height: 100%;
            margin-left: calc((100vw - 120rem) / -2);
            position: relative;

            @include max(1230px) {
                margin-left: -1.6rem;
            }

            @include max(600px) {
                margin-right: -1.6rem;
            }

            .box-navi {
                margin-top: unset;
                display: none;

                @include max(600px) {
                    display: flex;
                }

                .btn-navi {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 0;
                    background: $color-pri;

                    &.prev {
                        left: 0;
                    }

                    &.next {
                        right: 0;
                    }
                }
            }
        }

        &-list {
            height: 100%;



            .swiper {
                height: 100%;
            }

            .swiper-slide {
                height: auto;
                cursor: url('../assets/images/drag.png'), auto;

            }
        }

        &-item {
            height: 100%;
        }

        &-img {
            padding-top: calc(100% * 600 / 744);
            width: 100%;
            position: relative;
            display: block;
            overflow: hidden;
            height: 100%;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    &--rt {
        flex: 1;
        width: 100%;
        overflow: hidden;

        &-wrap {
            height: 100%;

            padding-left: calc((100% * 1 / 12));
            display: flex;
            flex-direction: column;
            // justify-content: center;

            @include max(1200px) {
                padding-left: calc((100% * 0.5 / 12));

            }

            @include max(600px) {
                padding-left: 0;
            }
        }

        &-top {
            padding: var(--size-pdl) 0;
            max-width: 45rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include max(1200px) {
                padding: 3rem 0;

            }

            @include max(700px) {
                padding: 2.5rem 0;

            }

            @include max(600px) {
                max-width: unset;
            }

            &-list {}

            &-item {
                &-wrap {
                    display: flex;
                    flex-direction: column;
                    row-gap: var(--rowContent32);

                    @include max(1200px) {
                        row-gap: var(--rowContent16);

                    }

                    .btn {
                        background: transparent;
                        padding: 0;
                        justify-content: start;

                        @include hover {
                            background: transparent;

                            .btn-text {
                                color: $color-white;
                            }

                            .btn-ic i {
                                color: $color-white;
                            }
                        }

                        &-text {
                            color: $color-second;
                        }

                        &-ic {
                            i {
                                color: $color-second;
                                margin-right: 0.35rem;
                            }
                        }
                    }
                }
            }
        }

        &-bottom {
            margin-top: auto;
            // overflow: hidden;
            width: 100%;
            margin-right: calc((100% * 1 / 12) * -1);

            @include max(1400px) {
                margin-right: unset;
                width: 100%;
            }

            &-list {
                // width: 100%;

                &.d-wrap {
                    margin-left: -1rem;
                    margin-right: -1rem;

                    @include max(1200px) {
                        margin-left: -0.8rem;
                        margin-right: -0.8rem;
                    }

                    @include max(800px) {
                        margin-left: -0.6rem;
                        margin-right: -0.6rem;
                    }

                    @include max(600px) {
                        margin-left: -0.4rem;
                        margin-right: -0.4rem;
                    }
                }

                .swiper {
                    // width: calc(100% / 6);
                    // overflow: visible;
                    // margin: unset;
                    width: 100%;
                }

                .swiper-slide {
                    height: auto;
                    width: calc(100% / 6);
                    // width: 100%;

                    @include max(1200px) {
                        width: calc(100% / 5);

                    }

                    @include max(800px) {
                        width: calc(100% / 4);

                    }

                    @include max(600px) {
                        width: calc(100% / 5);

                    }

                    @include max(460px) {
                        width: calc(100% / 4);

                    }

                    @include max(320px) {
                        width: calc(100% / 3);

                    }

                    &.d-item {
                        padding-left: 1rem;
                        padding-right: 1rem;

                        @include max(1200px) {
                            padding-left: 0.8rem;
                            padding-right: 0.8rem;
                        }

                        @include max(800px) {
                            padding-left: 0.6rem;
                            padding-right: 0.6rem;
                        }

                        @include max(600px) {
                            padding-left: 0.4rem;
                            padding-right: 0.4rem;
                        }
                    }

                    &-thumb {
                        &-active {
                            .home_dh--rt-bottom-item {
                                opacity: 1;

                                &::before {
                                    transform: translate(-50%, 0%);

                                }
                            }

                            .home_dh--rt-bottom-item-title {
                                background: $color-second;
                            }
                        }
                    }
                }

                .swiper-scrollbar {
                    width: calc(100% - 2rem);

                    @include max(1200px) {
                        width: calc(100% - 1.6rem);
                    }

                    @include max(800px) {
                        width: calc(100% - 1.2rem);
                    }

                    @include max(600px) {
                        width: calc(100% - 0.8rem);
                    }
                }
            }

            &-item {
                height: 100%;
                width: 100%;

                padding-bottom: 2rem;
                position: relative;
                overflow: hidden;
                opacity: 0.6;
                transition: 0.5s linear;

                @include max(1200px) {
                    padding-bottom: 1rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 50%;
                    height: 0.8rem;
                    background: $color-second;
                    border-radius: 0.2rem 0.2rem 0 0;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    transition: 0.5s linear;

                    @include max(1200px) {
                        height: 0.4rem;

                    }
                }

                &-wrap {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--radius0);
                    overflow: hidden;



                }

                &-img {
                    padding-top: 100%;
                    width: 100%;
                    overflow: hidden;
                    border-radius: var(--radius0);

                    display: block;


                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: cover;
                    }
                }

                &-title {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 0.2rem 1rem;
                    width: 100%;
                    background: $color-text;
                    transition: 0.5s linear;

                    @include max(1200px) {
                        padding: 0.2rem 0.8rem;
                    }

                    @include max(800px) {
                        padding: 0.1rem 0.6rem;
                    }

                    @include max(600px) {
                        padding: 0.2rem 0.4rem;
                    }

                    .note-sm {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        @include max(1200px) {
                            @include fz-10;
                        }
                    }
                }
            }
        }
    }

    &--ics {
        width: var(--wh);
        height: var(--wh);
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        right: calc(((var(--wh) / 2) - var(--pd)) * -1);

        @include max(1200px) {
            right: calc(((var(--wh) / 2) - var(--pd)) * -1.2);

        }


        @include max(800px) {
            right: calc(((var(--wh) / 2) - var(--pd)) * -1.5);

        }

        @include max(600px) {
            right: unset;
            left: 50%;
            top: unset;
            transform: translateX(-50%);
            bottom: calc((var(--wh) / -2));

        }

    }

    &--ic {
        width: 100%;
        height: 100%;
        // object-fit: cover;
        position: absolute;
        inset: 0;
        clip-path: circle(0% at 50% 50%);
        transition: 0.8s ease;

        &.showed {
            clip-path: circle(100% at 50% 50%);

        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}