extends layout/layout
block vars
    -title = 'CHÍNH SÁCH'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''

block container 
    section.layoutG
        .container
            .layoutG_wrap.d-wrap
                .layoutG_lf.d-item
                    .layoutG_lf--wrap
                        .layoutG_lf--content
                            .cs_wrap
                                h2.title-sm3.fw-6.fl-sec.t-up.cl-white.fw-i CHÍNH SÁCH ĐẠI LÝ
                                .cs_content
                                    p.note-text.fw-7.cl-white Điều kiện trở thành đại lý của Falcon Helmet
                                    p.note-text.cl-white Để trở thành đại lý của Falcon Helmet nhà bán hàng cần đáp ứng các tiêu chí sau đây:
                                    p.note-text.cl-white Có giấy chứng nhận đăng ký kinh doanh theo pháp luật của Việt nam.
                                    p.note-text.cl-white Đang hoạt động kinh doanh trong các lĩnh vực liên quan như: nón bảo hiểm, phụ kiện thể thao, các sản phẩm có liên quan đển thể thao, phương tiện di chuyển, thời trang,…
                                    p.note-text.cl-white Có địa điểm kinh doanh ổn định và nằm ở khu vực mà Falcon Helmet mong muốn mở đại lý.
                                    p.note-text.cl-white Nhà bán hàng phải có báo cáo tài chính lành mạnh và có năng lực tài chính tốt. Có hoạt động thị trường và quan hệ khách hàng tốt trong phạm vi thị trường do đơn vị đó quản lý.
                                    p.note-text.cl-white Các trường hợp chưa đủ các điều kiện trên nhưng có mong muốn và thuộc khu chưa vực có đại lý thì Falcon cũng có thể xem xét trở thành đại lý.
                                    br
                                    p.note-text.cl-white.fw-7 Các trường hợp được bảo hành
                                    p.note-text.cl-white Sản phẩm chính hãng được mua tại Falcon Helmet hoặc các đại lý chính hãng của thương hiệu Falcon còn thời hạn bảo hành.
                                    p.note-text.cl-white Sản phẩm gặp sự cố hư hỏng được xác định do lỗi của nhà sản xuất và vẫn còn thời gian bảo hành: các phụ kiện nón (dây nón, khóa nón, lớp lót, nút xoay điều chỉnh,…)
                                    br
                                    p.note-text.cl-white.fw-7 Thủ tục đăng ký trở thành đại lý của Falcon Helmet
                                    p.note-text.cl-white Nhà bán hàng đủ điều kiện hoặc có mong muốn trở thành đại lý của Falcon thì liên hệ với chúng tôi thông qua hotline: (+84) 862 140 699.
                                    p.note-text.cl-white Hoặc điền thông tin vào mẫu đơn đăng ký tại đây.
                                    p.note-text.cl-white Sau khi nhận được form đăng ký từ nhà bán hàng, Falcon sẽ phản hồi trong vòng 3-5 ngày làm việc.
                                    br
                                    p.note-text.cl-white.fw-7 Các chính sách bán hàng dành cho đại lý của Falcon helmet
                                    p.note-text.cl-white Đại lý cần bán đúng mức giá mà Falcon cung cấp. Giá niêm yết sẽ được công ty công bố và thông báo đến đại lý bằng văn bản.
                                    br
                                    p.note-text.cl-white.fw-7 Quyền lợi của đại lý
                                    p.note-text.cl-white Được hỗ trợ hình ảnh bán hàng.
                                    p.note-text.cl-white Thông tin về Đại lý được đưa lên website và các tài liệu quảng cáo của Falcon Helmet.
                                    p.note-text.cl-white Được cung cấp tài liệu quảng cáo, giới thiệu sản phẩm, tài liệu kỹ thuật, catalogue.
                                    p.note-text.cl-white Thường xuyên được cập nhật thông tin về công nghệ mới, sản phẩm mới.
                                    p.note-text.cl-white Được hưởng chính sách bảo hành ưu đãi của Falcon Helmet.
                                    br
                                    p.note-text.cl-white.fw-7 Trách nhiệm của đại lý
                                    p.note-text.cl-white Tổ chức trưng bày, giới thiệu sản phẩm.
                                    p.note-text.cl-white Dành một phần diện tích nhất định để trưng bày và giới thiệu hàng hóa (nếu có cửa hàng trưng bày) hoặc trưng bày trên website, các trang bán hàng trực tuyến của Đại lý.
                                    p.note-text.cl-white Thông báo cho công ty về tình hình tiêu thụ, biến động giá, phản ánh của khách về chất lượng sản phẩm.
                                    p.note-text.cl-white Thực hiện đúng các điều khoản theo hợp đồng đại lý và hợp đồng mua hàng.
                                    p.note-text.cl-white Không được công bố trên phương tiện thông tin đại chúng giá bán thấp hơn giá bán lẻ của công niêm yết trên toàn quốc.
                                    p.note-text.cl-white Hàng năm Falcon sẽ tổng hợp doanh số mua hàng, đánh giá các hoạt động kinh doanh, các hoạt động phát triển thị trường để xem xét và quyết định về việc có tiếp tục duy trì quan hệ đại lý hoặc có thể chấm dứt quan hệ đại lý.
                                    br
                                    p.note-text.cl-white.fw-7 Nguyên tắc hợp tác và phát triển
                                    p.note-text.cl-white Falcon Helmet và đại lý hợp tác trên nguyên tắc bình đẳng đôi bên cùng có lợi, mọi mâu thuẫn phát sinh trong quá trình hợp tác đều phải được giải quyết trên nguyên tắc tự nguyện hòa giải. Trong trường hợp hai bên không thống nhất được thì mâu thuẫn sẽ được đưa ra giải quyết tại Tòa Án Kinh Tế – Tòa Án Nhân Dân thành phố Hồ Chí Minh, quyết định của tòa án là quyết định cuối cùng, bên thua kiện sẽ chịu mọi chi phí.
                .layoutG_rt.d-item
                    .layoutG_rt--wrap
                        h2.title-sm3.fw-6.fl-sec.t-up.cl-white.fw-i ĐĂNG KÝ ĐẠI LÝ
                        .layoutG_rt--content
                            .sign_cs
                                .sign_cs--form
                                    form(action)
                                        .sign_cs--form-wrap
                                            .sign_cs--list.d-wrap
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Họ & tên khách hàng 
                                                        input.form-item-ip(type="text" placeholder="Nhập họ và tên của bạn")
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Email
                                                        input.form-item-ip(type="text" placeholder="Nhập email của bạn")
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Số điện thoại
                                                        input.form-item-ip(type="text" placeholder="Nhập số điện thoại của bạn")
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Tên cửa hàng
                                                        input.form-item-ip(type="text" placeholder="Nhập tên cửa hàng của bạn")
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Địa chỉ cửa hàng
                                                        input.form-item-ip(type="text" placeholder="Nhập địa chỉ cửa hàng của bạn")
                                                .sign_cs--item.d-item
                                                    label.form-item
                                                        p.form-item-lb Nội dung của bạn
                                                        input.form-item-ip(type="text" placeholder="Nhập nội dung của bạn")
                                                .sign_cs--item.d-item
                                                    .form-item
                                                        label.form-item-lb(for="img") Hình ảnh sản phẩm ( không bắt buộc )
                                                        .sign_cs--upload.free-slide2
                                                            .sign_cs--upload-list.d-wrap
                                                                .swiper.mySwiper
                                                                    .swiper-wrapper
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                        .swiper-slide.d-item
                                                                            .sign_cs--upload-box
                                                                                span.sign_cs--close.close
                                                                                    i.far.fa-times
                                                                                .sign_cs--upload-item.btn-upload
                                                                                    input.fileUpload(type="file" , accept="image/png, image/gif, image/jpeg ,image/svg")
                                                                                    img.img-src(src="./assets/images/uploadCs.png" alt="")
                                                                .swiper-scrollbar
                                            a.btn(href)
                                                span.btn-text Gửi 
