extends layout/layout
block vars
    -title = 'Core'
    -mainClass = ''
    -bodyClass = ''
    -hdClass = ''

block container
    section.core
        .core_wrap
            .core_list
                .core_item
                    .core_item--bg
                        img(src="./assets/images/cimg3.png", alt)
                    .container
                        .core_item--wrap
                            .core_item--content
                                h2.title-md.fw-i.cl-pri.fw-6.t-up SỨ MỆNH
                                p.note-text.cl-white Các sản phẩm của Falcon Helmet được nghiên cứu dựa trên những thói quen tiêu dùng và nhu cầu của người dân Việt Nam. Đáp ứng các yêu cầu về khả năng bảo vệ, sự sáng tạo trong thiết kế và thoải mái trong mọi trải nghiệm.
                .core_item
                    .core_item--bg
                        img(src="./assets/images/cimg2.png", alt)
                    .container
                        .core_item--wrap
                            .core_item--content
                                h2.title-md.fw-i.cl-pri.fw-6.t-up Tầm nhìn
                                p.note-text.cl-white Trở thành thương hiệu nón bảo hiểm hàng đầu, đóng góp cho sự nghiệp bảo vệ người dùng Việt khi tham gia giao thông. Những sản phẩm Falcon cung cấp không chỉ là sự bảo vệ mà còn là sự quan tâm, chăm sóc sức khỏe người dùng Việt.
                .core_item
                    .core_item--bg
                        img(src="./assets/images/cimg1.png", alt)
                    .container
                        .core_item--wrap
                            .core_item--content
                                h2.title-md.fw-i.cl-pri.fw-6.t-up GIÁ TRỊ CỐT LÕI
                                p.note-text.cl-white Tận tâm đáp ứng các nhu cầu của người dùng, luôn đặt khách hàng vào vị trí trung tâm. Các sản phẩm của Falcon luôn cập nhật các tính năng tiên tiến, đảm bảo tốt nhất khả năng bảo vệ cũng như những trải nghiệm của người dùng.