extends layout/layout
block vars
    -title = 'Chính sách quyền riêng tư'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''

block container
    section.cs 
        .container 
            .cs_wrap 
                .cs_box 
                    .cs_title 
                        h2.title-md.cl-white.fw-6.fw-i Chính sách quyền riêng tư
                    .cs_content 
                        p.cl-white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, assumenda dolore optio totam, deleniti, earum sed aliquam illo ex maxime aperiam inventore impedit laudantium dolores iste ipsam velit animi dignissimos!
                        br
                        p.cl-white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, assumenda dolore optio totam, deleniti, earum sed aliquam illo ex maxime aperiam inventore impedit laudantium dolores iste ipsam velit animi dignissimos!
                        br
                        p.cl-white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, assumenda dolore optio totam, deleniti, earum sed aliquam illo ex maxime aperiam inventore impedit laudantium dolores iste ipsam velit animi dignissimos!
                        br
                        p.cl-white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, assumenda dolore optio totam, deleniti, earum sed aliquam illo ex maxime aperiam inventore impedit laudantium dolores iste ipsam velit animi dignissimos!
                        br
                        p.cl-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tenetur minima est nemo repellat, adipisci iusto laboriosam nam quaerat mollitia quibusdam, doloremque ratione sed quas id, assumenda pariatur natus fugiat?
                        br
                        p.cl-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tenetur minima est nemo repellat, adipisci iusto laboriosam nam quaerat mollitia quibusdam, doloremque ratione sed quas id, assumenda pariatur natus fugiat?
                        br
                        p.cl-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tenetur minima est nemo repellat, adipisci iusto laboriosam nam quaerat mollitia quibusdam, doloremque ratione sed quas id, assumenda pariatur natus fugiat?