extends layout/layout
block vars
    -title = 'cs'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''
    -ftClass = ''
    -jsLibs = [JsJquery,JsAos]
    -jsComponents = ['header']
    -cssLibs = [fontAWS,fontAWS,CssAos]
    -cssComponents = []
    -cssPages = ["cs"]

block container
    section.bg_tt
        .bg_tt--bg
        +img("bg.png")
    section.cs 
        .container 
            .cs_wrap
                h2.title-md.fw-6.cl-white Chính sách
                .cs_content
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsum dolore repudiandae voluptas facere libero ab culpa inventore totam tempore, vitae dicta unde nulla quaerat sit quia dolorem corporis adipisci!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsum dolore repudiandae voluptas facere libero ab culpa inventore totam tempore, vitae dicta unde nulla quaerat sit quia dolorem corporis adipisci!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsum dolore repudiandae voluptas facere libero ab culpa inventore totam tempore, vitae dicta unde nulla quaerat sit quia dolorem corporis adipisci!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsum dolore repudiandae voluptas facere libero ab culpa inventore totam tempore, vitae dicta unde nulla quaerat sit quia dolorem corporis adipisci!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ipsum dolore repudiandae voluptas facere libero ab culpa inventore totam tempore, vitae dicta unde nulla quaerat sit quia dolorem corporis adipisci!