extends layout/layout
block vars
    -title = 'info user'
    -mainClass = ''
    -bodyClass = ''
    -hdClass = ''
    -ftClass = ''
    -jsLibs = [JsJquery,JsAos,JsDate]
    -jsComponents = ['header','Password','uploadCV','Date']
    -cssLibs = [fontAWS,fontAWS2,CssAos,CssDate]
    -cssComponents = []
    -cssPages = ["admin","contact"]

block container
    section.bg_tt
        .bg_tt--bg
        +img("bg.png")
    section.layoutAd
        .container 
            .layoutAd_wrap 
                .layoutAd_box.d-wrap 
                    .layoutAd_box--lf.d-item
                        .layoutAd_box--lf-wrap 
                            .layoutAd_box--lf-box
                                .layoutAd_box--lf-box-item 
                                    .adAva.btn-upload
                                        input(type="file").fileUpload
                                        img(src="./assets/images/ava.png", alt="").img-src
                                    .layoutAd_box--lf-box-item-content 
                                        p.note-md.cl-white.fw-6 monamedia
                                        p.note-sm.cl-white monamedia@gmail.com
                                .layoutAd_box--lf-box-item 
                                    ul.layoutAd_box--lf-list 
                                        li.layoutAd_box--lf-item.actived
                                            a(href="").layoutAd_box--lf-link
                                                span.ic 
                                                    +img("adic1.png")
                                                span.note-text Thông tin tài khoản 
                                        li.layoutAd_box--lf-item
                                            a(href="").layoutAd_box--lf-link
                                                span.ic 
                                                    +img("adic2.png")
                                                span.note-text Quản lý bài viết
                                        li.layoutAd_box--lf-item
                                            a(href="").layoutAd_box--lf-link
                                                span.ic 
                                                    +img("adic3.png")
                                                span.note-text Thay đổi mật khẩu
                                        li.layoutAd_box--lf-item
                                            a(href="").layoutAd_box--lf-link
                                                span.ic 
                                                    +img("adic4.png")
                                                span.note-text Danh sách yêu thích
                                        li.layoutAd_box--lf-item
                                            a(href="").layoutAd_box--lf-link
                                                span.ic 
                                                    +img("adic5.png")
                                                span.note-text Hỗ trợ-Góp ý
                                .layoutAd_box--lf-box-item 
                                    .layoutAd_box--lf-item
                                        a(href="").layoutAd_box--lf-link
                                            span.ic 
                                                +img("adic6.png")
                                            span.note-text Đăng xuất
                    .layoutAd_box--rt.d-item    
                        .layoutAd_box--rt-wrap
                            .layoutAd_box--rt-box
                                .layoutAd_box--rt-box-item
                                    p.title-mn.cl-white.t-up.fw-6 thông tin tài khoản
                                    .adAva.btn-upload
                                        input(type="file").fileUpload
                                        img(src="./assets/images/ava.png", alt="").img-src
                                .layoutAd_box--rt-box-item
                                    .layoutAd_box--rt-form
                                        form(action="") 
                                            .layoutAd_box--rt-form-list.d-wrap
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Họ
                                                        input(type="text" placeholder="Họ của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Tên
                                                        input(type="text" placeholder="Tên của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Ngày sinh 
                                                        .form-item-date.choose-date
                                                            input.date#datepicker.form-item-ip(type="text", readonly, placeholder="Ngày sinh của bạn")
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Căn cước công dân
                                                        input(type="text" placeholder="Căn cước công dân của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Nghề nghiệp
                                                        input(type="text" placeholder="Nghề nghiệp của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Số điện thoại
                                                        input(type="text" placeholder="Số điện thoại của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Email
                                                        input(type="text" placeholder="Email của bạn").form-item-ip
                                                .layoutAd_box--rt-form-item.d-item 
                                                    label.form-item
                                                        p.form-item-lb Địa chỉ 
                                                        input(type="text" placeholder="Địa chỉ  của bạn").form-item-ip
                                            +btn("CẬP NHẬT THÔNG TIN","","","trans")
