extends layout/layout
block vars
    -title = 'VĂN BẢN PHÁP LUẬT'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''
    -ftClass = ''
    -jsLibs = [JsJquery,JsAos,JsSwiper,JsGsap,JsGsapScroll,JsFancybox]
    -jsComponents = ['header','gsap']
    -cssLibs = [fontAWS,fontAWS2,CssAos,CssSwiper,CssFancybox]
    -cssComponents = ["banner","post"]
    -cssPages = ["news"]
    
block container
    section.bg_tt.custom.bgGsap
        .bg_tt--bg
        +img("bg.png")
    +banner-main("Trang chủ","","Văn bản pháp luật","Văn bản pháp luật")
    section.news 
        .container 
            .news_wrap 
                .news_box 
                    .news_box--wrap
                        .news_box--top(data-aos="fade-up") 
                            h2.title-mn.cl-white.t-up.fw-6 THÔNG TIN PHÁP LUẬT CHO KTS
                        .news_box--center(data-aos="fade-up" )  
                            .box_tabs.free-slide2
                                .box_tabs--wrap
                                    .box_tabs--list.d-wrap
                                        .swiper.mySwiper 
                                            .swiper-wrapper 
                                                .swiper-slide.d-item
                                                    label.box_tabs--item 
                                                        input(type="radio" name="filter1" checked="checked")
                                                        .box_tabs--item-wrap 
                                                            p.note-md.cl-white.t-up VĂN PHÒNG THIẾT KẾ 
                                                .swiper-slide.d-item
                                                    label.box_tabs--item 
                                                        input(type="radio" name="filter1")
                                                        .box_tabs--item-wrap 
                                                            p.note-md.cl-white.t-up TÁC PHẨM KIẾN TRÚC
                                                .swiper-slide.d-item
                                                    label.box_tabs--item 
                                                        input(type="radio" name="filter1")
                                                        .box_tabs--item-wrap 
                                                            p.note-md.cl-white.t-up QTUXNNKT
                                                .swiper-slide.d-item
                                                    label.box_tabs--item 
                                                        input(type="radio" name="filter1")
                                                        .box_tabs--item-wrap 
                                                            p.note-md.cl-white.t-up CHỨNG CHỈ HÀNH NGHỀ KIẾN TRÚC
                                                .swiper-slide.d-item
                                                    label.box_tabs--item 
                                                        input(type="radio" name="filter1")
                                                        .box_tabs--item-wrap 
                                                            p.note-md.cl-white.t-up TÍCH ĐIỂM CDP
                                        .swiper-scrollbar
                            .box_tabs.cus.free-slide2
                                .box_tabs--wrap
                                    .box_tabs--list.d-wrap
                                        .swiper.mySwiper 
                                            .swiper-wrapper 
                                                .swiper-slide.d-item
                                                    a.box-dm(href="") GÓC NHÌN
                                                .swiper-slide.d-item
                                                    a.box-dm(href="") GÓC NHÌN
                                                .swiper-slide.d-item
                                                    a.box-dm(href="") GÓC NHÌN
                                        .swiper-scrollbar
                        .news_box--bottom 
                            .news_list 
                                .news_item(data-aos="fade-up") 
                                    +post("gallery1","Cửu Long Trại Thành: Ký ức của hơn 300 khu tập thể không biết đến ánh nắng mặt trời")
                                .news_item(data-aos="fade-up" data-aos-delay="200")  
                                    +post("gallery2","10 KTS với phong cách đặc trưng: Dấu ấn độc bản khó trộn lẫn")
                                .news_item(data-aos="fade-up" data-aos-delay="400")  
                                    +post("gallery3","Cửu Long Trại Thành: Ký ức của hơn 300 khu tập thể không biết đến ánh nắng mặt trời")
                                .news_item(data-aos="fade-up" data-aos-delay="600")  
                                    +post("gallery4","Cửu Long Trại Thành: Ký ức của hơn 300 khu tập thể không biết đến ánh nắng mặt trời")
                            .news_box--btn(data-aos="fade-up") 
                                +btn("XEM THÊM..","","","trans")
