extends layout/layout
block vars
    -title = 'study'
    -mainClass = 'pt'
    -bodyClass = ''
    -hdClass = ''

block container
    .banner_main
        .banner_main--bg
            .banner_main--img
                +img("bgMain.png")
        .container
            .banner_main--wrap
                .banner_main--box
                    .banner_main--box-top
                        h1.title-lg2.cl-white.t-center.t-up.fw-7 HỌC TẬP TẠI SRIGHT
                    .banner_main--box-bottom
                        +breadcrumbs("Home","","HỌC TẬP TẠI SRIGHT")
    .tab.free-slide2 
        .container 
            .tab_wrap
                .tab_list.d-wrap 
                    .swiper.mySwiper 
                        .swiper-wrapper 
                            .swiper-slide.d-item
                                a(href="").tab_item Chương trình học
                            .swiper-slide.d-item
                                a(href="").tab_item.actived Một ngày của bé
                            .swiper-slide.d-item
                                a(href="").tab_item Thực đơn
                            .swiper-slide.d-item
                                a(href="").tab_item Đồng phục
                            .swiper-slide.d-item
                                a(href="").tab_item Chăm sóc sức khoẻ
                    .swiper-scrollbar
    section.study_oneDay(data-aos="fade-up").free-slide 
        .container 
            .study_oneDay--wrap.d-wrap
                .swiper.mySwiper 
                    .swiper-wrapper     
                        .swiper-slide.d-item
                            a(href="./assets/images/stod.png" data-fancybox="gallery").study_oneDay--bg 
                                +img("stod.png")
                        .swiper-slide.d-item
                            a(href="./assets/images/stod.png" data-fancybox="gallery").study_oneDay--bg 
                                +img("stod.png")
                        .swiper-slide.d-item
                            a(href="./assets/images/stod.png" data-fancybox="gallery").study_oneDay--bg 
                                +img("stod.png")
                .swiper-pagination