:root {
    --size-hd: 10rem;
}

// dit me m nho chua
$color-pri: #022345;
$color-four: #0552A1;
$color-second: #D70C19 ;
$color-third: #737b8c;
$color-text: #05080B ;
$color-text2: #14212E;
$color-text3: #1a1a1a;
$color-text4: #474849;
 

$color-black:  #1B1C24;
$color-white: #FFF;
$color-aqua:#0EFFFF; 
$color-LightBlue: #C6E2FF;

$color-yellow: #FFDA1A;

$color-gray: #B8B8C5;
$color-gray2: #939393;
$color-gray3: #5C6670;


//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 460px;
