<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chính sách</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header no-bn">
      <div class="header-wrap">
        <div class="header-bg"> <a class="header-bn" href=""> <img src="./assets/images/bnhd.png" alt=""/></a></div>
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <div class="header-top-lf"> 
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"></span></div>
                <div class="header-search"> 
                  <form action="">
                    <div class="header-search-wrap"> <span class="header-search-ic open btn-search"> <img src="./assets/images/SearchBtn.svg" alt=""/></span><span class="header-search-ic close btn-search-exit"> <img src="./assets/images/SearchEx.svg" alt=""/></span>
                      <div class="header-search-ip"> 
                        <input type="search" placeholder="Tìm kiếm">
                        <button class="btn-sub"> <img src="./assets/images/SearchBtn.svg" alt=""/>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="header-lang">
                  <ul class="header-lang-list"> 
                    <li class="header-lang-item actived"> <a class="header-lang-link" href="">VN</a></li>
                    <li class="header-lang-item"> <a class="header-lang-link" href="">EN</a></li>
                  </ul>
                </div>
              </div><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-top-rt"> 
                <div class="header-box">
                  <div class="header-login">
                    <div class="header-btn"><a class="note-text fw-6 cl-black2" href="">Nhận bản tin </a><a class="note-text fw-6 cl-black2 dn" href="">Đăng nhập </a>
                      <button class="btn dk">
                        <div class="btn-text">Đăng ký ngay</div>
                      </button>
                    </div>
                    <div class="header-user"> 
                      <div class="admin_info"> 
                        <div class="admin_info--ava border">
                          <div class="admin_info--ava-border"> <img src="./assets/images/khung.svg" alt=""/>
                          </div>
                          <div class="admin_info--ava-img"><img src="./assets/images/ava.png" alt=""/>
                          </div>
                        </div>
                        <div class="admin_info--if">
                          <div class="admin_info--if-name">
                            <p class="note-text fw-7 cl-black2">Ngọc Thành</p><span class="ic"> <img src="./assets/images/TICK.svg" alt=""/></span>
                          </div>
                          <p class="note-sm cl-gray5">ngocthanh0211@gmail.com</p>
                        </div>
                        <div class="admin_info--link">
                          <p class="note-text cl-black fw-7">Đăng nhập ngay!</p><a class="note-sm cl-pri" href="">Đăng nhập</a>
                        </div>
                      </div>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">Tài Khoản </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Đăng Xuất</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap">
              <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"></span></div>
              <div class="header-nav">
                <ul class="menu-list">
                  <li class="menu-item current-menu-item"><a class="menu-link" href="">Tuyển dụng          </a></li>
                  <li class="menu-item"><a class="menu-link" href="">Trở thành đối tác</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Trở thành CTV viết bài</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Liên hệ</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Quảng cáo</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Thủ thuật</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Video</a></li>
                </ul>
              </div>
              <div class="header-lang">
                <ul class="header-lang-list"> 
                  <li class="header-lang-item actived"> <a class="header-lang-link" href="">VN</a></li>
                  <li class="header-lang-item"> <a class="header-lang-link" href="">EN</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb">
      <div class="menu-mb-ex"> <i class="far fa-times"></i></div>
      <div class="menu-mb-wrap">
        <div class="menu-mb-top">
          <div class="header-user"> 
            <div class="admin_info"> 
              <div class="admin_info--ava">
                <div class="admin_info--ava-border"> <img src="./assets/images/khung.svg" alt=""/>
                </div>
                <div class="admin_info--ava-img"><img src="./assets/images/ava.png" alt=""/>
                </div>
              </div>
              <div class="admin_info--if">
                <div class="admin_info--if-name">
                  <p class="note-text fw-7 cl-black2">Ngọc Thành</p><span class="ic"> <img src="./assets/images/TICK.svg" alt=""/></span>
                </div>
                <p class="note-sm cl-gray5">ngocthanh0211@gmail.com</p>
              </div>
              <div class="admin_info--link">
                <p class="note-text cl-black fw-7">Đăng nhập ngay!</p><a class="note-sm cl-pri" href="">Đăng nhập</a>
              </div>
            </div>
            <ul class="menu-list"> 
              <li class="menu-item"> <a class="menu-link" href="">Tài Khoản </a></li>
              <li class="menu-item"> <a class="menu-link" href="">Đăng Xuất</a></li>
            </ul>
          </div>
          <div class="menu-mb-search">
            <form action=""> 
              <div class="header-search-ip"> 
                <input type="search" placeholder="Tìm kiếm">
                <button class="btn-sub"> <img src="./assets/images/SearchBtn.svg" alt=""/>
                </button>
              </div>
            </form>
          </div>
          <ul class="menu-list">
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Mobile</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Máy tính</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">AI</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Crypto</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Khám phá</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Quảng cáo</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Thủ thuật</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Video</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu-mb-bottom"><a class="note-lg" href="">Đăng xuất</a></div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main pt-2">
      <div class="breadcrumbs">
        <div class="container">
          <div class="breadcrumbs-wrap"> 
            <ul class="breadcrumbs-list">
              <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Trang chủ  </a></li>
              <li class="breadcrumbs-item current"><a class="breadcrumbs-link" href="">Chính sách</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section class="cs"> 
        <div class="container"> 
          <div class="cs_wrap d-wrap"> 
            <div class="cs_lf d-item"> 
              <div class="cs_lf--wrap">
                <div class="cs_lf--content">
                  <p class="title-mn cl-black2 fw-7">Mục lục</p>
                  <ul class="menu-list">
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Tuyên bố miễn trừ trách nhiệm</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Tính Chất Thông Tin</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Sự Độc Lập của Nội Dung</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Trách Nhiệm Của Người Sử Dụng</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">4. Liên Kết Đến Trang Web Khác</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">5. Bản Quyền và Quyền Sở Hữu Trí Tuệ</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Khả năng tiếp cận</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Điều khoản dịch vụ</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Chính sách quảng cáo</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Chính sách cookie</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Item 3</a></li>
                      </ul>
                    </li>
                    <li class="menu-item dropdown"> <a class="menu-link" href="#">Chính sách quyền riêng tư</a>
                      <ul class="menu-list">
                        <li class="menu-item"> <a class="menu-link" href="#">1. Item 1</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">2. Item 2</a></li>
                        <li class="menu-item"> <a class="menu-link" href="#">3. Item 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cs_rt d-item">
              <div class="cs_rt--wrap"> 
                <div class="cs_rt--title">
                  <h2 class="title-sm2 cl-black2 fw-7">Tuyên bố miễn trừ trách nhiệm</h2>
                </div>
                <div class="cs_rt--box"> 
                  <div class="cs_rt--content">
                    <h2 class="title-mn cl-black2 fw-7">1. Tính Chất Thông Tin</h2>
                    <p class="note-text">Tất cả nội dung được cung cấp trên Techlade, bao gồm nhưng không giới hạn ở bài viết, đánh giá, bình luận, và hình ảnh, đều nhằm mục đích thông tin chung và không được coi là lời khuyên chuyên môn hoặc tư vấn pháp lý. Trong khi chúng tôi nỗ lực hết sức để cung cấp thông tin chính xác và cập nhật, chúng tôi không đảm bảo rằng tất cả thông tin trên trang web này là chính xác, đầy đủ, hoặc hiện hành.</p>
                  </div>
                  <div class="cs_rt--content">
                    <h2 class="title-mn cl-black2 fw-7">2. Sự Độc Lập Của Nội Dung</h2>
                    <p class="note-text">Techlade hoạt động độc lập và quan điểm được thể hiện trong các bài viết là của các tác giả riêng lẻ dựa trên kinh nghiệm và nghiên cứu cá nhân của họ. Các bài viết, đánh giá, và bình luận không nhất thiết phản ánh quan điểm của Techlade làm tổng thể.</p>
                  </div>
                  <div class="cs_rt--content">
                    <h2 class="title-mn cl-black2 fw-7">3. Trách Nhiệm Của Người Sử Dụng</h2>
                    <p class="note-text">Người dùng chịu trách nhiệm tự đánh giá tính chính xác và hữu ích của bất kỳ thông tin nào được tìm thấy trên Techlade. Chúng tôi khuyến khích bạn tiến hành nghiên cứu kỹ lưỡng và, khi cần thiết, tìm kiếm lời khuyên từ chuyên gia trước khi đưa ra quyết định dựa trên thông tin tìm được trên trang web của chúng tôi.</p>
                  </div>
                  <div class="cs_rt--content">
                    <h2 class="title-mn cl-black2 fw-7">4. Liên Kết Đến Trang Web Khác</h2>
                    <p class="note-text">Techlade có thể chứa liên kết đến các trang web khác không được kiểm soát bởi chúng tôi. Chúng tôi không chịu trách nhiệm về nội dung hoặc thực hành bảo mật của các trang web đó. Việc bao gồm bất kỳ liên kết nào không ngụ ý sự chấp thuận của chúng tôi.</p>
                  </div>
                  <div class="cs_rt--content">
                    <h2 class="title-mn cl-black2 fw-7">5. Bản Quyền và Quyền Sở Hữu Trí Tuệ</h2>
                    <p class="note-text">Nội dung trên Techlade bảo vệ bởi luật bản quyền và quyền sở hữu trí tuệ. Không được phép sao chép, tái bản, phát sóng, sửa đổi, hoặc phân phối bất kỳ phần nào của trang web này mà không có sự cho phép trước bằng văn bản từ chúng tôi.</p>
                  </div>
                </div><a class="btn cl-2" href=""><span class="btn-text">Quay về trang chủ</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home_alert"> 
        <div class="home_alert--bg"><img src="./assets/images/bgh.png" alt=""/>
        </div>
        <div class="container"> 
          <form action=""> 
            <div class="home_alert--wrap"> 
              <div class="home_alert--content"> 
                <div class="home_alert--top">
                  <h3 class="note-sm t-up fw-7 cl-white">ĐĂNG KÝ</h3>
                  <h2 class="title-sm cl-white fw-7 t-up">NGAY HÔM NAY</h2>
                  <p class="note-text">Đăng ký để nhận thông tin nội bộ về những câu chuyện lớn nhất hiện nay về thị trường, công nghệ được cung cấp hàng ngày.</p>
                </div>
                <div class="home_alert--bottom">
                  <div class="sign_form--item">
                    <div class="form-ip">
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập email của bạn">
                      </div>
                    </div>
                    <button class="btn"> <span class="btn-text">Theo dõi ngay</span>
                    </button>
                  </div>
                  <p class="note-mn cl-white2"> Bằng cách nhấp vào “Đăng ký”, bạn chấp nhận Điều khoản dịch vụ và Chính sách quyền riêng tư của chúng tôi. Bạn có thể chọn không tham gia bất cứ lúc nào.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <div class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-top"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a></div>
          <div class="footer-center"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item">
                <div class="footer-item-wrap">
                  <div class="footer-item-content"> 
                    <p class="note-text cl-text">Giấy phép thiết lập mạng xã hội trên mạng số 170/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 04 tháng 04 năm 2022.</p>
                    <p class="note-text cl-text">Chịu trách nhiệm nội dung: Techlade.</p>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content">
                    <p class="note-text cl-black2 fw-6"> <strong>Về </strong>Techlade</p>
                    <ul class="menu-list">
                      <li class="menu-item current-menu-item"><a class="menu-link" href="">Tuyển dụng</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trở thành đối tác</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trở thành CTV viết bài</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký người dùng đã xác minh</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trung tâm trợ giúp</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký nhận thông báo qua gmail</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký danh mục</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Liên hệ</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item"> 
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="note-text cl-black2 fw-7">Chính sách</p>
                    <ul class="menu-list">
                      <li class="menu-item"> <a class="menu-link" href="">Tuyên bố miễn trừ trách nhiệm</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Khả năng tiếp cận</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Điều khoản dịch vụ</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách quảng cáo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách cookie</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách quyền riêng tư</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content2">
                    <div class="footer-item-box">
                      <p class="note-text cl-black2 fw-7">Chính sách</p>
                      <div class="footer-mxh"> 
                        <ul class="footer-mxh-list">
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/li.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="footer-item-box">
                      <p class="note-text cl-black2 fw-7">Phương thức thanh toán</p>
                      <ul class="footer-pays">
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay1.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay2.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay3.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay4.svg" alt=""/>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container"> 
          <div class="footer-bottom-wrap">
            <div class="footer-alert">
              <p class="note-sm">© 2023 Techscoop Pte. Ltd. All rights reserved.</p>
            </div>
            <div class="footer-mona"> 
              <p class="note-sm">© All Right Reserved</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main popup-form" data-popup-id="popup-1">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--content">
          <div class="popup_main--title"> 
            <p class="title-lg cl-black2 fw-7">
               Đăng ký tài khoản <strong>Premium</strong></p>
            <p class="note-text cl-text">
               Sở hữu tài khoản <strong>Premium  </strong>tại Techlade để trãi nghiệm dịch vụ tốt nhất!</p>
          </div>
          <div class="popup_main--packet"> 
            <div class="packet"> 
              <div class="packet_wrap"> 
                <div class="packet_list d-wrap"> 
                  <div class="packet_item d-item d-2"> 
                    <div class="packet_item--wrap"> 
                      <div class="packet_dm"> <a class="box-dm yellow icon" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Premium</span></a>
                      </div>
                      <div class="packet_title"> 
                        <p class="note-text cl-pri t-up fw-8">GÓI THÁNG</p><a class="box-dm pup" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Tiết kiệm 20%</span></a>
                      </div>
                      <div class="packet_des">
                        <div class="packet_price">
                          <p class="title-mn cl-black2 fw-8">
                             250.000đ/<strong>tháng</strong></p>
                        </div>
                        <ul> 
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                      </div>
                      <div class="packet_btn"> <a class="btn trans" href=""><span class="btn-text">Đăng ký ngay</span></a>
                        <p class="note-sm cl-text"><strong>*</strong>Có thể áp dụng thuế VAT và thuế địa phương</p>
                      </div>
                    </div>
                  </div>
                  <div class="packet_item d-item d-2"> 
                    <div class="packet_item--wrap"> 
                      <div class="packet_dm"> <a class="box-dm yellow icon" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Premium</span></a>
                      </div>
                      <div class="packet_title"> 
                        <p class="note-text cl-pri t-up fw-8">GÓI NĂM</p><a class="box-dm pup" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Phổ biến</span></a>
                      </div>
                      <div class="packet_des">
                        <div class="packet_price">
                          <p class="title-mn cl-black2 fw-8">
                             850.000đ/<strong>tháng</strong></p>
                        </div>
                        <ul> 
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                      </div>
                      <div class="packet_btn"> <a class="btn trans" href=""><span class="btn-text">Đăng ký ngay</span></a>
                        <p class="note-sm cl-text"><strong>*</strong>Có thể áp dụng thuế VAT và thuế địa phương </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main popup-form cus" data-popup-id="popup-2">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--content">
          <div class="popup_main--form">
            <form action=""> 
              <div class="contact_rt--item-wrap">
                <div class="contact_rt--item-list d-wrap">
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="name">
                           Họ và tên      <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="name" type="text" placeholder="Nhập Họ và tên">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="email">
                           Email <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Email">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="phone">
                           Số điện thoại<strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Số điện thoại của bạn">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="title">Vị trí ứng tuyển</label>
                      </div>
                      <div class="form-ip-op">
                        <select class="like-filter" name="state">
                          <option value="AL">Alabama</option>
                          <option value="WY">Wyoming</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="content">
                           Nội dung trao đổi  <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <textarea id="content" type="text" placeholder="Nhập nội dung"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-upload boxUpload">
                      <label class="form-upload-wrap">
                        <input class="fileUpload" type="file" accept="application/pdf">
                        <div class="form-upload-title"> 
                          <p class="note-text cl-pri">PDF</p>
                        </div>
                        <div class="form-upload-img"> <img src="./assets/images/cl.svg" alt=""/>
                        </div>
                        <div class="form-upload-content"> 
                          <p class="note-sm textChange">
                             Kéo và thả File vào đây <br><strong>hoặc </strong>Chọn file trong máy tính của bạn</p>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <button class="btn"> <span class="btn-text">Gửi đơn ứng tuyển</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main popup-form cus" data-popup-id="popup-3">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--content">
          <div class="popup_main--form">
            <form action=""> 
              <div class="contact_rt--item-wrap">
                <div class="contact_rt--item-list d-wrap">
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="name">
                           Họ và tên      <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="name" type="text" placeholder="Nhập Họ và tên">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="email">
                           Email <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Email">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="phone">
                           Số điện thoại<strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Số điện thoại của bạn">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="title">Chủ đề đăng ký viết bài</label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="title" type="text" placeholder="Chủ đề của bạn là gì?">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="content">
                           Nội dung trao đổi  <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <textarea id="content" type="text" placeholder="Nhập nội dung"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-upload boxUpload">
                      <label class="form-upload-wrap">
                        <input class="fileUpload" type="file" accept="application/pdf">
                        <div class="form-upload-title"> 
                          <p class="note-text cl-pri">PDF</p>
                        </div>
                        <div class="form-upload-img"> <img src="./assets/images/cl.svg" alt=""/>
                        </div>
                        <div class="form-upload-content"> 
                          <p class="note-sm textChange">
                             Kéo và thả File vào đây <br><strong>hoặc </strong>Chọn file trong máy tính của bạn</p>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <button class="btn"> <span class="btn-text">Gửi đơn ứng tuyển</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="popup_main popup-form cus2" data-popup-id="popup-4">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--content">
          <p class="title-sm cl-black2 fw-6 t-center">Yêu cầu dấu kiểm xác minh (KOL,Influencer)</p>
          <div class="popup_main--form">
            <form action=""> 
              <div class="contact_rt--item-wrap">
                <div class="contact_rt--item-list d-wrap">
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="name">
                           Họ và tên      <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="name" type="text" placeholder="Nhập Họ và tên">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="email">
                           Email <strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Email">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="phone">
                           Số điện thoại<strong>*</strong></label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="email" type="text" placeholder="Nhập Số điện thoại của bạn">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="title">Link tài khoản</label>
                      </div>
                      <div class="form-ip-ip">
                        <input id="title" type="text" placeholder="Nhập link tài khoản">
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="imgTrc">
                           CCCD mặt trước<strong>*</strong></label>
                      </div>
                      <div class="form-ip-upload btn-upload">
                        <div class="form-ip-upload-lb"> 
                          <p class="note-sm text-file-upload">Tải ảnh CCCD mặt trước</p>
                        </div>
                        <div class="form-ip-upload-img"> 
                          <input class="fileUpload" type="file" name="" accept="image/png, image/gif, image/jpeg"><img class="img-src" src="./assets/images/id.png">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="contact_rt--item-item d-2 d-item">
                    <div class="form-ip">
                      <div class="form-ip-label">
                        <label for="imgSau">
                           CCCD mặt sau<strong>*</strong></label>
                      </div>
                      <div class="form-ip-upload btn-upload">
                        <div class="form-ip-upload-lb"> 
                          <p class="note-sm text-file-upload">Tải ảnh CCCD mặt sau</p>
                        </div>
                        <div class="form-ip-upload-img"> 
                          <input class="fileUpload" type="file" name="" accept="image/png, image/gif, image/jpeg"><img class="img-src" src="./assets/images/id.png">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn"> <span class="btn-text">Gửi</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="links-main2">
      <ul class="links-main2-list"> 
        <li class="links-main2-item"> 
          <div class="links-main2-link btnTop scroll-to-top"><span class="links-main2-ic"> <i class="fas fa-chevron-up"></i></span></div>
        </li>
        <li class="links-main2-item">
          <div class="links-main2-link btnFollow"><span class="links-main2-ic"> <img src="./assets/images/mailMain.svg" alt=""/></span></div>
          <div class="links-main2-popup linksMainPopup"> 
            <div class="links-main2-popup-wrap">
              <div class="links-main2-popup-ex btnExFollow"> <i class="far fa-times"></i></div>
              <div class="links-main2-popup-title">
                <h6 class="title-mn cl-text2 fw-7">Đăng kí để nhận thông báo và tin tức mới nhất</h6>
                <p class="note-sm cl-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
              <div class="links-main2-popup-form">
                <div class="links-main2-popup-form-wrap">
                  <div class="sign_form--item">
                    <div class="form-ip">
                      <div class="form-ip-ip">
                        <input id="email2" type="text" placeholder="Nhập Email">
                      </div>
                    </div>
                  </div>
                  <button class="links-main2-popup-form-btn">Theo dõi</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>