<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NamePage</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-bg"> <a class="header-bn" href=""> <img src="./assets/images/bnhd.png" alt=""/></a></div>
        <div class="header-top">
          <div class="container">
            <div class="header-top-wrap">
              <div class="header-top-lf"> 
                <div class="header-mobi btn-mobi"><span class="line"></span><span class="line"> </span><span class="line"></span></div>
                <div class="header-search"> 
                  <form action="">
                    <div class="header-search-wrap"> <span class="header-search-ic open btn-search"> <img src="./assets/images/SearchBtn.svg" alt=""/></span><span class="header-search-ic close btn-search-exit"> <img src="./assets/images/SearchEx.svg" alt=""/></span>
                      <div class="header-search-ip"> 
                        <input type="search" placeholder="Tìm kiếm">
                        <button class="btn-sub"> <img src="./assets/images/SearchBtn.svg" alt=""/>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div><a class="header-logo" href=""><img src="./assets/images/logoHD.svg" alt=""/></a>
              <div class="header-top-rt"> 
                <div class="header-box">
                  <div class="header-login">
                    <div class="header-btn"><a class="note-text fw-6 cl-black2" href="">Nhận bản tin </a><a class="note-text fw-6 cl-black2 dn" href="">Đăng nhập </a>
                      <button class="btn dk popup-btn" data-popup="popup-1">
                        <div class="btn-text">Đăng ký ngay</div>
                      </button>
                    </div>
                    <div class="header-user"> 
                      <div class="admin_info"> 
                        <div class="admin_info--ava">
                          <div class="admin_info--ava-border"> <img src="./assets/images/khung.svg" alt=""/>
                          </div>
                          <div class="admin_info--ava-img"><img src="./assets/images/ava.png" alt=""/>
                          </div>
                        </div>
                        <div class="admin_info--if">
                          <div class="admin_info--if-name">
                            <p class="note-text fw-7 cl-black2">Ngọc Thành</p><span class="ic"> <img src="./assets/images/TICK.svg" alt=""/></span>
                          </div>
                          <p class="note-sm cl-gray5">ngocthanh0211@gmail.com</p>
                        </div>
                        <div class="admin_info--link">
                          <p class="note-text cl-black fw-7">Đăng nhập ngay!</p><a class="note-sm cl-pri" href="">Đăng nhập</a>
                        </div>
                      </div>
                      <ul class="menu-list"> 
                        <li class="menu-item"> <a class="menu-link" href="">Tài Khoản </a></li>
                        <li class="menu-item"> <a class="menu-link" href="">Đăng Xuất</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom-wrap">
              <div class="header-nav">
                <ul class="menu-list">
                  <li class="menu-item current-menu-item"><a class="menu-link" href="">Tuyển dụng          </a></li>
                  <li class="menu-item"><a class="menu-link" href="">Trở thành đối tác</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Trở thành CTV viết bài</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Liên hệ</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Quảng cáo</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Thủ thuật</a></li>
                  <li class="menu-item"><a class="menu-link" href="">Video</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mb">
      <div class="menu-mb-ex"> <i class="far fa-times"></i></div>
      <div class="menu-mb-wrap">
        <div class="menu-mb-top">
          <div class="header-user"> 
            <div class="admin_info"> 
              <div class="admin_info--ava">
                <div class="admin_info--ava-border"> <img src="./assets/images/khung.svg" alt=""/>
                </div>
                <div class="admin_info--ava-img"><img src="./assets/images/ava.png" alt=""/>
                </div>
              </div>
              <div class="admin_info--if">
                <div class="admin_info--if-name">
                  <p class="note-text fw-7 cl-black2">Ngọc Thành</p><span class="ic"> <img src="./assets/images/TICK.svg" alt=""/></span>
                </div>
                <p class="note-sm cl-gray5">ngocthanh0211@gmail.com</p>
              </div>
              <div class="admin_info--link">
                <p class="note-text cl-black fw-7">Đăng nhập ngay!</p><a class="note-sm cl-pri" href="">Đăng nhập</a>
              </div>
            </div>
            <ul class="menu-list"> 
              <li class="menu-item"> <a class="menu-link" href="">Tài Khoản </a></li>
              <li class="menu-item"> <a class="menu-link" href="">Đăng Xuất</a></li>
            </ul>
          </div>
          <div class="menu-mb-search">
            <form action=""> 
              <div class="header-search-ip"> 
                <input type="search" placeholder="Tìm kiếm">
                <button class="btn-sub"> <img src="./assets/images/SearchBtn.svg" alt=""/>
                </button>
              </div>
            </form>
          </div>
          <ul class="menu-list">
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Mobile</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Máy tính</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">AI</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Crypto</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Khám phá</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Quảng cáo</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Thủ thuật</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
            <li class="menu-item dropdown"><a class="menu-link fw-7" href="">Video</a>
              <ul class="menu-list">
                <li class="menu-item"><a class="menu-link fw-7" href="">item 1</a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 2 </a></li>
                <li class="menu-item"><a class="menu-link fw-7" href="">item 3      </a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu-mb-bottom"><a class="note-lg" href="">Đăng xuất</a></div>
      </div>
    </div>
    <div class="menu-modal"></div>
    <main class="main page-template">
      <h1>hello</h1>
    </main>
    <div class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-top"><a class="footer-logo" href=""><img src="./assets/images/logoFT.svg" alt=""/></a></div>
          <div class="footer-center"> 
            <div class="footer-list d-wrap"> 
              <div class="footer-item d-item">
                <div class="footer-item-wrap">
                  <div class="footer-item-content"> 
                    <p class="note-text cl-text">Giấy phép thiết lập mạng xã hội trên mạng số 170/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 04 tháng 04 năm 2022.</p>
                    <p class="note-text cl-text">Chịu trách nhiệm nội dung: Techlade.</p>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content">
                    <p class="note-text cl-black2 fw-6"> <strong>Về </strong>Techlade</p>
                    <ul class="menu-list">
                      <li class="menu-item current-menu-item"><a class="menu-link" href="">Tuyển dụng</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trở thành đối tác</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trở thành CTV viết bài</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký người dùng đã xác minh</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Trung tâm trợ giúp</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký nhận thông báo qua gmail</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Đăng ký danh mục</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Liên hệ</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item"> 
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content"> 
                    <p class="note-text cl-black2 fw-7">Chính sách</p>
                    <ul class="menu-list">
                      <li class="menu-item"> <a class="menu-link" href="">Tuyên bố miễn trừ trách nhiệm</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Khả năng tiếp cận</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Điều khoản dịch vụ</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách quảng cáo</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách cookie</a></li>
                      <li class="menu-item"> <a class="menu-link" href="">Chính sách quyền riêng tư</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-item d-item">
                <div class="footer-item-wrap"> 
                  <div class="footer-item-content2">
                    <div class="footer-item-box">
                      <p class="note-text cl-black2 fw-7">Chính sách</p>
                      <div class="footer-mxh"> 
                        <ul class="footer-mxh-list">
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/ytb.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/face.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/li.svg" alt=""/></a></li>
                          <li class="footer-mxh-item"> <a class="footer-mxh-link" href=""><img src="./assets/images/ins.svg" alt=""/></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="footer-item-box">
                      <p class="note-text cl-black2 fw-7">Phương thức thanh toán</p>
                      <ul class="footer-pays">
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay1.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay2.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay3.svg" alt=""/>
                          </div>
                        </li>
                        <li class="footer-pay"> 
                          <div class="footer-pay-img"> <img src="./assets/images/pay4.svg" alt=""/>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container"> 
          <div class="footer-bottom-wrap">
            <div class="footer-alert">
              <p class="note-sm">© 2023 Techscoop Pte. Ltd. All rights reserved.</p>
            </div>
            <div class="footer-mona"> 
              <p class="note-sm">© All Right Reserved</p>
              <div class="footer-mona-img"><img src="./assets/images/Signature2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main popup-form" data-popup-id="popup-1">
      <div class="popup_main--exits popup-ex"> <i class="far fa-times"></i></div>
      <div class="popup_main--wrap">
        <div class="popup_main--content">
          <div class="popup_main--title"> 
            <p class="title-lg cl-black2 fw-7">
               Đăng ký tài khoản <strong>Premium</strong></p>
            <p class="note-text cl-text">
               Sở hữu tài khoản <strong>Premium  </strong>tại Techlade để trãi nghiệm dịch vụ tốt nhất!</p>
          </div>
          <div class="popup_main--packet"> 
            <div class="packet"> 
              <div class="packet_wrap"> 
                <div class="packet_list d-wrap"> 
                  <div class="packet_item d-item d-2"> 
                    <div class="packet_item--wrap"> 
                      <div class="packet_dm"> <a class="box-dm yellow icon" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Premium</span></a>
                      </div>
                      <div class="packet_title"> 
                        <p class="note-text cl-pri t-up fw-8">GÓI THÁNG</p><a class="box-dm pup" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Tiết kiệm 20%</span></a>
                      </div>
                      <div class="packet_des">
                        <div class="packet_price">
                          <p class="title-mn cl-black2 fw-8">
                             250.000đ/<strong>tháng</strong></p>
                        </div>
                        <ul> 
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                      </div>
                      <div class="packet_btn"> <a class="btn trans" href=""><span class="btn-text">Đăng ký ngay</span></a>
                        <p class="note-sm cl-text"><strong>*</strong>Có thể áp dụng thuế VAT và thuế địa phương</p>
                      </div>
                    </div>
                  </div>
                  <div class="packet_item d-item d-2"> 
                    <div class="packet_item--wrap"> 
                      <div class="packet_dm"> <a class="box-dm yellow icon" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Premium</span></a>
                      </div>
                      <div class="packet_title"> 
                        <p class="note-text cl-pri t-up fw-8">GÓI NĂM</p><a class="box-dm pup" href="#"><span class="box-dm-ic"> <img src="./assets/images/vm.svg" alt=""/></span><span class="note-sm">Phổ biến</span></a>
                      </div>
                      <div class="packet_des">
                        <div class="packet_price">
                          <p class="title-mn cl-black2 fw-8">
                             850.000đ/<strong>tháng</strong></p>
                        </div>
                        <ul> 
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                          <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                      </div>
                      <div class="packet_btn"> <a class="btn trans" href=""><span class="btn-text">Đăng ký ngay</span></a>
                        <p class="note-sm cl-text"><strong>*</strong>Có thể áp dụng thuế VAT và thuế địa phương F</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup_main--modal popup-modal">                   </div>
    <div class="links-main2">
      <ul class="links-main2-list"> 
        <li class="links-main2-item"> 
          <div class="links-main2-link btnTop scroll-to-top"><span class="links-main2-ic"> <i class="fas fa-chevron-up"></i></span></div>
        </li>
        <li class="links-main2-item">
          <div class="links-main2-link btnFollow"><span class="links-main2-ic"> <img src="./assets/images/mailMain.svg" alt=""/></span></div>
          <div class="links-main2-popup linksMainPopup"> 
            <div class="links-main2-popup-wrap">
              <div class="links-main2-popup-ex btnExFollow"> <i class="far fa-times"></i></div>
              <div class="links-main2-popup-title">
                <h6 class="title-mn cl-text2 fw-7">Đăng kí để nhận thông báo và tin tức mới nhất</h6>
                <p class="note-sm cl-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
              <div class="links-main2-popup-form">
                <div class="links-main2-popup-form-wrap">
                  <div class="sign_form--item">
                    <div class="form-ip">
                      <div class="form-ip-ip">
                        <input id="email2" type="text" placeholder="Nhập Email">
                      </div>
                    </div>
                  </div>
                  <button class="links-main2-popup-form-btn">Theo dõi</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/plyr/plyr.min.js"></script>
    <script src="./assets/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/countup/jquery.countup.min.js"></script>
    <script src="./assets/library/countup/jquery.waypoints.min.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/scrollTrigger.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.min.js"></script>
    <script src="./assets/library/intlTel/intlTel.js"></script>
    <script src="./assets/library/datepicker/datepicker.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>