<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
   <div class="loading pre-load">
        <div class="loading-wrap">
            <div class="loading-text">
                <span>W</span>
                <span>e</span>
                <span>l</span>
                <span>c</span>
                <span class="loading-text-img" ><img src="./assets/images/o.png" alt=""></span>
                <span> m</span>
                <span>e</span>
            </div>
             <div class="loading-text2-wrap">
                <div class="loading-text2 ">
                    to
                </div>
                <div class="loading-text2">
                    DABAONO
                </div>
            </div>
           
           
        </div>
        <div class="loading-wrap-ar1"></div>
        <div class="loading-wrap-ar2"></div>
        <div class="loading-wrap-ar3"></div>
        <div class="loading-wrap-ar4"></div>
        <div class="loading-progress ">
            <div class="loading-progress-num pre-load-number">0%</div>
            <div class="loading-progress-bg">
                <div class="loading-progress-bar" id="progress-bar"></div>
            </div>
        </div>
   </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>