<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
                <a href="" class="header-logo">
                    <img src="./assets/images/LOGOHD.svg" alt="">
                </a>

                <div class="header-nav">
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Trang chủ
                            </a>
                        </li>

                        <li class="menu-item ">
                            <a href="" class="menu-link">
                                Giới thiệu
                            </a>
                        </li>

                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Máy ấp theo hãng

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>


                            <ul class="menu-list">
                                <li class="menu-item current-menu-item ">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                Máy ấp theo loại

                                <span class="menu-ic">
                                    <i class="fas fa-sort-down"></i>
                                </span>
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 2
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        item 3
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item ">
                            <a href="" class="menu-link">
                                Phụ kiện
                            </a>
                        </li>


                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Tư vấn
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Liên hệ
                            </a>
                        </li>


                    </ul>


                </div>


                <div class="header-box">
                    <ul class="header-box-list">
                        <li class="header-box-item">
                            <span class="header-box-ic btn-search">
                                <i class="fal fa-search"></i>
                            </span>

                            <span class="header-box-ic btn-search-exit">
                                <i class="fal fa-times"></i>
                            </span>
                        </li>
                        <li class="header-box-item">
                            <a href="" class="header-box-link">
                                <span class="header-box-ic">
                                    <i class="fal fa-user"></i>
                                </span>
                            </a>
                        </li>
                        <li class="header-box-item">
                            <a href="" class="header-box-link">
                                <span class="header-box-ic">
                                    <i class="fal fa-shopping-cart"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div class="header-mobi btn-mobi">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>

                <div class="header-search-ip">
                    <input type="text" placeholder="Tìm kiếm...">
                    <a href="" class="header-search-btn">
                        <i class="far fa-search"></i>
                    </a>
                </div>




            </div>

        </div>



    </header>
    <div class="menu-modal"></div>
    <div class="menu-mb">
        <div class="menu-mb-wrap">
            <ul class="menu-list">
                <li class="menu-item current-menu-item">
                    <a href="" class="menu-link">
                        Trang chủ
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Giới thiệu
                    </a>


                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Máy ấp theo hãng
                        </a>
                        <span class="menu-ic-mb">
                            <i class="far fa-angle-down"></i>
                        </span>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item dropdown-mb">
                    <div class="menu-item-box">
                        <a href="" class="menu-link">
                            Máy ấp theo loại
                        </a>
                        <span class="menu-ic-mb">
                            <i class="far fa-angle-down"></i>
                        </span>
                    </div>

                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 1
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 2
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                item 3
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Phụ kiện
                    </a>
                </li>



                <li class="menu-item">
                    <a href="" class="menu-link">
                        Tư vấn
                    </a>
                </li>

                <li class="menu-item">
                    <a href="" class="menu-link">
                        Liên hệ
                    </a>
                </li>


            </ul>



            <div class="menu-mxh">
                <div class="menu-lh-title">
                    Mạng xã hội
                </div>
                <ul class="social-mb-list">
                    <li class="social-mb-item">
                        <a href="" class="social-mb-link">
                            <img src="./assets/images/facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="social-mb-item">
                        <a href="" class="social-mb-link">
                            <img src="./assets/images/youtube.svg" alt="">
                        </a>
                    </li>
                    <li class="social-mb-item">
                        <a href="" class="social-mb-link">
                            <img src="./assets/images/tiktok.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>


            <div class="menu-lh">
                <div class="menu-lh-title">
                    Thông tin liên hệ
                </div>
                <ul class="list-address">
                    <li class="item-address">
                        <span class="ic-address">
                            <img src="./assets/images/HouseLine.svg" alt="">
                        </span>
                        <a href="" class="link-address">
                            196/201 Đg Hồ Tùng Mậu, Bắc Từ Liêm, Hà Nội
                        </a>
                    </li>

                    <li class="item-address">
                        <span class="ic-address">
                            <img src="./assets/images/Phone.svg" alt="">
                        </span>
                        <a href="" class="link-address">
                            0969 607 537
                        </a>
                    </li>

                    <li class="item-address">
                        <span class="ic-address">
                            <img src="./assets/images/mail.svg" alt="">
                        </span>
                        <a href="" class="link-address">
                            cskh@dabano.vn
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-search"></div>
    <main class="main">

    </main>
    <footer class="footer">
        <div class="container">
            <a href="" class="footer-logo">
                <img src="./assets/images/LOGOFT.svg" alt="">
            </a>


            <div class="footer-wrapper d-wrap">
                <div class="footer-lf d-item d-4">
                    <div class="footer-title pb-24">
                        Thông tin liên hệ
                    </div>
                    <ul class="list-address">
                        

                        <li class="item-address">
                           
                            <span class="ic-address">
                                <img src="./assets/images/phone.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                0969 607 537
                            </a>
                        </li>

                        <li class="item-address">
                            <span class="ic-address">
                                <img src="./assets/images/House.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                196/201 Đg Hồ Tùng Mậu, Bắc Từ Liêm, Hà Nội
                            </a>
                        </li>

                        <li class="item-address">
                            <span class="ic-address">
                                <img src="./assets/images/mail.svg" alt="">
                            </span>
                            <a href="" class="link-address">
                                cskh@dabano.vn
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer-ct d-item d-4">
                    <div class="footer-title pb-24">
                        LIÊN KẾT NHANH
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Trang chủ
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Về DABANO
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Liên hệ
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Máy ấp trứng Ánh Dương E100
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Máy ấp trứng Ánh Dương P100
                            </a>
                        </li>
                    </ul>

                    
                </div>

                <div class="footer-ct d-item d-4">
                    <div class="footer-title pb-24">
                        CHÍNH SÁCH 
                    </div>
                    <ul class="menu-list">
                        <li class="menu-item ">
                            <a href="" class="menu-link">
                                Điều khoản giao dịch
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Chính sách bảo hành
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Chính sách thanh toán
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="" class="menu-link">
                                Chính sách vận chuyển
                            </a>
                        </li>
                    </ul>

                    
                </div>

                <div class="footer-rt d-item d-4">

                    <div class="footer-title pb-24">
                        NHẬN THÔNG TIN KHUYẾN MÃI
                    </div>

                    <div class="footer-ip">
                        <input type="text" placeholder="Nhập email">

                       <a href="" class="footer-ip-btn">
                        <img src="./assets/images/PaperPlaneRight.svg" alt="">
                       </a>
                    </div>

                    <ul class="social-list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/youtube 1.svg" alt="">
                            </a>
                        </li>

                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/facebook 1.svg" alt="">
                            </a>
                        </li>

                        <li class="social-item">
                            <a href="" class="social-link">
                                <img src="./assets/images/tiktok 1.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

               

            </div>
        </div>

        <div class="footer-mona">
            © Copyright 2023 by DABANO
        </div>
    </footer>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/main.js" type="module"></script>
</body>

</html>