<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/js/library/aos/aos.css">
    <link rel="stylesheet" href="./assets/js/library/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/js/library/select2/select2.min.css">
    <link rel="stylesheet" href="./assets/js/library/gallery/lightgallery.min.css">
    <link rel="stylesheet" href="./assets/js/library/fancybox/fancybox.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
    <title>Template</title>
  </head>
  <body class="product-detail">
    <div class="container">
      <header class="m-header">
        <div class="m-header_top is-pc">
          <div class="wrapper">
            <div class="header_swiper">
              <div class="js-header-swiper swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now!</p>
                  </div>
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now! 2</p>
                  </div>
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now! 3</p>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="m-header_main"> 
          <div class="wrapper">
            <div class="header_logo"><a class="trans" href="./"><img src="./assets/images/common/header_logo.svg" alt="G"></a></div>
            <div class="header_control is-sp"><a class="header_user trans" href="#"><img src="./assets/images/common/ico_user.svg" alt=""></a><a class="header_cart trans" href="#js-modal-cart" rel="modal:open"><img src="./assets/images/common/ico_cart.svg" alt=""></a></div>
            <div class="btn-menu js-btn-menu is-sp"> <span></span><span></span><span></span></div>
            <nav class="header_navbar js-menu">
              <ul class="list_navbar" id="menu-menu-main">
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"><a class="menu-link trans" href="#">HAIR EXTENSIONS</a><span class="js-acorrdion-menu icon-menu"><span></span></span>
                  <div class="m-menu_list header_menu js-sub-menu">
                    <div class="icon-back is-sp js-btn-back"></div>
                    <div class="m-header_service">
                      <div class="wrapper">
                        <ul class="font-helvetica">
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_shipping.svg" alt=""></div>
                            <p>Fast shipping</p>
                          </li>
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_quality.svg" alt=""></div>
                            <p>Superior Quality</p>
                          </li>
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_secure.svg" alt=""></div>
                            <p>Secure Shopping</p>
                          </li>
                          <li>
                            <p>Exclusive Customization Service</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="menu_inner wrapper">
                      <div class="menu_detail">
                        <h2 class="detail_title">Professional</h2>
                        <ul class="detail_list">
                          <li><a class="trans" href="#">Keratin hair extenions</a></li>
                          <li><a class="trans" href="#">Tape in hair extensions</a></li>
                          <li><a class="trans" href="#">Weft hair extensions</a></li>
                          <li><a class="trans" href="#">Bulk hair</a></li>
                        </ul>
                      </div>
                      <div class="menu_detail">
                        <h2 class="detail_title">Ready to wear</h2>
                        <ul class="detail_list">
                          <li><a class="trans" href="#">Clip in</a></li>
                          <li><a class="trans" href="#">Halo</a></li>
                          <li><a class="trans" href="#">Pony tail</a></li>
                        </ul>
                      </div>
                      <div class="menu_description">
                        <div class="description_image"><img src="./assets/images/common/header_img.jpg" alt="Luxury hair extensions"></div>
                        <div class="description_content">
                          <h2 class="detail_title">Luxury hair extensions</h2>
                          <ul class="detail_list">
                            <li><a class="trans" href="#">Silky, stranger and healthier hair</a></li>
                            <li><a class="trans" href="#">Make from 1 donor</a></li>
                            <li><a class="trans" href="#">Advanced hair bleach</a></li>
                            <li><a class="trans" href="#">Last longevity</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">WHOLESALE</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">ACCESSORIES</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">BLOG</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">ABOUT US</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">CONTACT</a></li>
              </ul>
              <div class="header_control is-sp"><span class="header_search">
                  <form class="header_search_form" action="">
                    <input class="search_input" type="text" placeholder="Search">
                    <input class="btn-submit is-sp trans" type="submit" value="Search">
                  </form></span></div>
            </nav>
            <div class="header_control is-pc"><span class="header_search js-header-search"><img class="trans" src="./assets/images/common/ico_search.svg" alt="">
                <form class="header_search_form" action="">
                  <input class="search_input" type="text" placeholder="Search">
                  <input class="btn-submit" type="submit" value="">
                </form></span><a class="header_user trans" href="#"><img src="./assets/images/common/ico_user.svg" alt=""></a><a class="header_cart trans" href="#js-modal-cart" rel="modal:open"><img src="./assets/images/common/ico_cart.svg" alt=""></a></div>
          </div>
        </div>
      </header>
      <div class="m-header_service is-pc">
        <div class="wrapper">
          <ul class="font-helvetica">
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_shipping.svg" alt=""></div>
              <p>Fast shipping</p>
            </li>
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_quality.svg" alt=""></div>
              <p>Superior Quality</p>
            </li>
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_secure.svg" alt=""></div>
              <p>Secure Shopping</p>
            </li>
            <li>
              <p>Exclusive Customization Service</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal modal-cart" id="js-modal-cart">
        <div class="cart_inner">
          <h2 class="cart_title">MY SHOPPING BAG <span>( 2 )</span></h2>
          <div class="view_cart-products-unit">
            <table class="products-cart">
              <tr class="item">
                <td>
                  <div class="product-detail">
                    <div class="product-detail-img"><img src="/assets/images/product.png" alt=""></div>
                    <div class="product-detail-content">
                      <div class="d-flex">
                        <p>Invisi Clip - in 22” Espresso 1C</p>
                        <div class="product-delete">
                          <button type="button"><img src="/assets/images/viewcart/btn-trash.svg" alt=""></button>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="product-calculate">
                          <div class="product-quantity">
                            <div class="product-quantity-minus">
                              <button class="minus-btn" type="button"></button>
                            </div>
                            <div class="product-quantity-number">
                              <input class="input-update-count" type="text" value="1">
                            </div>
                            <div class="product-quantity-plus">
                              <button class="plus-btn" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-price">
                          <div class="price">$ 40.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  <div class="product-detail">
                    <div class="product-detail-img"><img src="/assets/images/product.png" alt=""></div>
                    <div class="product-detail-content">
                      <div class="d-flex">
                        <p>Invisi Clip - in 22” Espresso 1C</p>
                        <div class="product-delete">
                          <button type="button"><img src="/assets/images/viewcart/btn-trash.svg" alt=""></button>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="product-calculate">
                          <div class="product-quantity">
                            <div class="product-quantity-minus">
                              <button class="minus-btn" type="button"></button>
                            </div>
                            <div class="product-quantity-number">
                              <input class="input-update-count" type="text" value="1">
                            </div>
                            <div class="product-quantity-plus">
                              <button class="plus-btn" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-price">
                          <div class="price">$ 40.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="price_total">
            <p>SUBTOTAL</p>
            <p>$ 80.00</p>
          </div>
          <div class="modal_footer"><a class="footer_btn is-light" href="#">VIEW CART</a><a class="footer_btn" href="#">CHECK OUT</a></div>
        </div>
      </div>
      <main class="main">
        <section class="section-product-detail">
          <div class="wrapper">
            <div class="breadcrumbs">
              <ul class="list-breadcrumbs">
                <li><a class="trans" href="./">Home</a></li>
                <li><a href="./accessories.html">Accessories</a>
                </li>
                <li class="bold-arrow"><span class="is-active">Invisi Clip - in 22” Espresso 1C</span>
                </li>
              </ul>
            </div>
            <div class="detail_info">
              <div class="wrap-slider" id="monaGalleryProduct">
                <ul class="product_list js-detail-process-bar">
                  <li class="trans"><img src="./assets/images/product/detail_img_01.jpg" alt=""></li>
                  <li class="trans"><img src="./assets/images/product/detail_img_02.jpg" alt=""></li>
                </ul>
                <div class="info_swiper">
                  <div class="js-detail-swiper swiper-container">
                    <div class="swiper-wrapper gallery">
                      <div class="swiper-slide gItem" data-src="./assets/images/product/detail_img_01.jpg">
                        <div class="slide_image"><img src="./assets/images/product/detail_img_01.jpg" alt=""></div>
                      </div>
                      <div class="swiper-slide gItem" data-src="./assets/images/product/detail_img_02.jpg">
                        <div class="slide_image"><img src="./assets/images/product/detail_img_02.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form class="detail_form">
                <div class="form_heading">
                  <h1 class="form_title">Invisi Clip - in 22” Espresso 1C</h1>
                  <p class="detail_type">Accessories</p>
                  <div class="detail_review">
                    <div class="review_star-wrapper">
                      <ul class="review_star">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                      <div class="review_star_active" style="width: 50%">
                        <ul class="review_star is-active">
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                        </ul>
                      </div>
                    </div>
                    <p class="review_value">(24 reviews)</p>
                  </div>
                  <p class="detail_price">Price:<span>$40.00</span></p>
                </div>
                <div class="form_data">
                  <p class="form_label">Length:</p>
                  <div class="checkbox_list">
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="16"><span class="checkbox_text">16</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="17"><span class="checkbox_text">17</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="18"><span class="checkbox_text">18</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="19"><span class="checkbox_text">19</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="20"><span class="checkbox_text">20</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="21"><span class="checkbox_text">21</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="22"><span class="checkbox_text">22</span>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="length" value="23"><span class="checkbox_text">23</span>
                    </label>
                  </div>
                </div>
                <div class="form_color">
                  <p class="form_label">Colors:</p>
                  <p class="select_label">Select: Espresso</p>
                  <select class="re-select-main detail-select" id="filter" name="filter">
                    <option value="Filter: Espresso">Filter: Espresso</option>
                  </select>
                  <div class="checkbox_list is-color">
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                    <label class="checkbox_item">
                      <input type="radio" name="color" value="16" checked>
                      <div class="checkbox_text_wrapper"><span class="checkbox_text" style="background-color: #D3BDCA"></span><span class="checkbox_tooltip">#D3BDCA</span></div>
                    </label>
                  </div>
                </div>
                <div class="main_footer">
                  <div class="primary-btn is-small">
                    <button type="submit">BUY NOW</button>
                  </div><a class="cart-btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                  <p class="main_note">Need help?&nbsp;<a href="#">FAQs&nbsp;</a>or&nbsp;<a href="#">Contact us</a></p>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="section-detail-info">
          <div class="wrapper">
            <div class="info_heading">
              <div id="tabs">
                <ul class="heading_tabs">
                  <li><a href="#tabs-1">Descriptions</a></li>
                  <li><a href="#tabs-2">How to use</a></li>
                  <li><a href="#tabs-3">Specifications</a></li>
                  <li><a href="#tabs-4">Care Instructions</a></li>
                  <li><a href="#tabs-5">FAQ</a></li>
                </ul>
                <div id="tabs-1">
                  <div class="tabs_content">
                    <p>Welcome to our world, where we elevate beauty and confidence with top-notch hair extensions. Here, we proudly introduce a diverse and creative collection, from ready-to-wear wigs with fashionable styles to natural-looking hairpieces, we have it all to meet your desires.</p>
                    <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long, luxurious locks to short and dynamic styles in just a few minutes.</p>
                    <p>Explore the world of hair extensions here and discover your own confidence and style. We are committed to meeting all your needs with high-quality products and attentive service. Let us help you showcase your natural beauty every day.</p>
                  </div>
                </div>
                <div id="tabs-2">
                  <div class="tabs_content">
                    <p>Welcome to our world, where we elevate beauty and confidence with top-notch hair extensions. Here, we proudly introduce a diverse and creative collection, from ready-to-wear wigs with fashionable styles to natural-looking hairpieces, we have it all to meet your desires.</p>
                    <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long, luxurious locks to short and dynamic styles in just a few minutes.</p>
                    <p>Explore the world of hair extensions here and discover your own confidence and style. We are committed to meeting all your needs with high-quality products and attentive service. Let us help you showcase your natural beauty every day.</p>
                  </div>
                </div>
                <div id="tabs-3">
                  <div class="tabs_content">
                    <p>Welcome to our world, where we elevate beauty and confidence with top-notch hair extensions. Here, we proudly introduce a diverse and creative collection, from ready-to-wear wigs with fashionable styles to natural-looking hairpieces, we have it all to meet your desires.</p>
                    <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long, luxurious locks to short and dynamic styles in just a few minutes.</p>
                    <p>Explore the world of hair extensions here and discover your own confidence and style. We are committed to meeting all your needs with high-quality products and attentive service. Let us help you showcase your natural beauty every day.</p>
                  </div>
                </div>
                <div id="tabs-4">
                  <div class="tabs_content">
                    <p>Welcome to our world, where we elevate beauty and confidence with top-notch hair extensions. Here, we proudly introduce a diverse and creative collection, from ready-to-wear wigs with fashionable styles to natural-looking hairpieces, we have it all to meet your desires.</p>
                    <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long, luxurious locks to short and dynamic styles in just a few minutes.</p>
                    <p>Explore the world of hair extensions here and discover your own confidence and style. We are committed to meeting all your needs with high-quality products and attentive service. Let us help you showcase your natural beauty every day.</p>
                  </div>
                </div>
                <div id="tabs-5">
                  <ol class="tabs_accordion">
                    <li class="accordion-block js-accordion is-active">
                      <div class="accordion_heading">
                        <h2 class="accordion_title">Why choose us</h2><span class="accordion_btn"></span>
                      </div>
                      <div class="accordion_content" style="display: block">
                        <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long...</p>
                      </div>
                    </li>
                    <li class="accordion-block js-accordion">
                      <div class="accordion_heading">
                        <h2 class="accordion_title">How do you today?</h2><span class="accordion_btn"></span>
                      </div>
                      <div class="accordion_content">
                        <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long...</p>
                      </div>
                    </li>
                    <li class="accordion-block js-accordion">
                      <div class="accordion_heading">
                        <h2 class="accordion_title">Where you from?</h2><span class="accordion_btn"></span>
                      </div>
                      <div class="accordion_content">
                        <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long...</p>
                      </div>
                    </li>
                    <li class="accordion-block js-accordion">
                      <div class="accordion_heading">
                        <h2 class="accordion_title">How do you today?</h2><span class="accordion_btn"></span>
                      </div>
                      <div class="accordion_content">
                        <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long...</p>
                      </div>
                    </li>
                    <li class="accordion-block js-accordion">
                      <div class="accordion_heading">
                        <h2 class="accordion_title">How do you today?</h2><span class="accordion_btn"></span>
                      </div>
                      <div class="accordion_content">
                        <p>With dedication and cutting-edge craftsmanship, our hair extensions not only ensure durability and quality but also provide maximum comfort. You can easily transform your appearance, from long...</p>
                      </div>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-recommended-product">
          <div class="wrapper">
            <h2 class="product_title font-vogue">Recommended products</h2>
            <ul class="product_list">
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
              <li class="l-product_item">
                <div class="item_image"><img src="./assets/images/product/product_img_01.jpg" alt=""></div>
                <div class="image_small"><img src="./assets/images/product/product_img_01.jpg" alt=""><a class="view_btn" href="#">QUICK VIEW</a></div>
                <div class="item_detail">
                  <p class="detail_type">Remy Tape-In</p>
                  <h3 class="detail_title">Fall-Ready Remy Tape-in 24" Cool Golden Blonde 24</h3>
                  <div class="review_star-wrapper">
                    <ul class="review_star">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <div class="review_star_active" style="width: 53%">
                      <ul class="review_star is-active">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <p class="detail_price">$ 40.00</p><a class="detail_btn" href="#">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 2.05568L13.4444 7.50012H4.40411M14.2222 10.6112H4.88889L3.33333 0.500122H1M11.1111 2.44457H9.16667M9.16667 2.44457H7.22222M9.16667 2.44457V4.38901M9.16667 2.44457V0.500122M5.66667 13.7223C5.66667 14.1519 5.31844 14.5001 4.88889 14.5001C4.45933 14.5001 4.11111 14.1519 4.11111 13.7223C4.11111 13.2928 4.45933 12.9446 4.88889 12.9446C5.31844 12.9446 5.66667 13.2928 5.66667 13.7223ZM14.2222 13.7223C14.2222 14.1519 13.874 14.5001 13.4444 14.5001C13.0149 14.5001 12.6667 14.1519 12.6667 13.7223C12.6667 13.2928 13.0149 12.9446 13.4444 12.9446C13.874 12.9446 14.2222 13.2928 14.2222 13.7223Z" stroke="#F3F4F6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>ADD TO CART</a>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="section-product-review">
          <div class="wrapper">
            <h1 class="review_title">REVIEW</h1>
            <h2 class="review_sub-title">Customer’s reviews</h2>
            <div class="review_wrapper">
              <div class="review_star-wrapper">
                <ul class="review_star">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="review_star_active" style="width: 50%">
                  <ul class="review_star is-active">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <p class="review_value">( 24 reviews )</p>
            </div>
            <div class="review_block">
              <h3 class="block_title">The product is awesome. Very good!</h3>
              <div class="review_star-wrapper">
                <ul class="review_star">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="review_star_active" style="width: 50%">
                  <ul class="review_star is-active">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <p class="review_user">Bob Junior</p>
              <div class="review_description">
                <p class="description_text">Wow, I am absolutely thrilled with my hair extension purchase! The quality and appearance of the hairpiece exceeded my expectations. It's incredibly natural-looking, and the texture is so soft and manageable.</p><a class="description_report trans" href="#">Report</a>
              </div>
            </div>
            <div class="review_block">
              <h3 class="block_title">The product is awesome. Very good!</h3>
              <div class="review_star-wrapper">
                <ul class="review_star">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="review_star_active" style="width: 50%">
                  <ul class="review_star is-active">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <p class="review_user">Bob Junior</p>
              <div class="review_description">
                <p class="description_text">Wow, I am absolutely thrilled with my hair extension purchase! The quality and appearance of the hairpiece exceeded my expectations. It's incredibly natural-looking, and the texture is so soft and manageable.</p><a class="description_report trans" href="#">Report</a>
              </div>
            </div>
            <div class="review_block">
              <h3 class="block_title">The product is awesome. Very good!</h3>
              <div class="review_star-wrapper">
                <ul class="review_star">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="review_star_active" style="width: 50%">
                  <ul class="review_star is-active">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <p class="review_user">Bob Junior</p>
              <div class="review_description">
                <p class="description_text">Wow, I am absolutely thrilled with my hair extension purchase! The quality and appearance of the hairpiece exceeded my expectations. It's incredibly natural-looking, and the texture is so soft and manageable.</p><a class="description_report trans" href="#">Report</a>
              </div>
            </div>
            <div class="review_btn"><a href="#js-modal-review" rel="modal:open">WRITE A REVIEW</a></div>
          </div>
        </section>
        <section class="section-contact-form"><span class="decoration_circle is-white is-right"></span><span class="decoration_circle is-white is-left"></span>
          <div class="wrapper">
            <h2 class="form_title">Contact us</h2>
            <p class="form_text">We will contact you shortly</p>
            <form class="form_contact">
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">First name</label>
                  <div class="form-input-wrapper">
                    <input class="form-input" type="text" placeholder="Alex">
                  </div>
                </div>
                <div class="form-item">
                  <label class="form-label">Last name</label>
                  <div class="form-input-wrapper">
                    <input class="form-input" type="text" placeholder="Bloggs">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Phone number</label>
                  <div class="form-input-wrapper">
                    <input class="form-input" type="text" placeholder="0123456789">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Email address</label>
                  <div class="form-input-wrapper">
                    <input class="form-input" type="text" placeholder="alex.bloggs@email.com">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Your message</label>
                  <div class="form-input-wrapper">
                    <textarea class="form-input is-textarea" type="text" placeholder="Please enter your message"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="primary-btn is-submit">
                  <button type="submit">Submit message</button>
                </div>
              </div>
            </form>
          </div>
        </section>
        <div class="modal modal-review" id="js-modal-review">
          <div class="modal_inner section-contact-form">
            <h2 class="review_title font-vogue">YOUR REVIEW</h2>
            <form class="form_contact">
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Title</label>
                  <input class="form-input" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Name</label>
                  <input class="form-input" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <input class="star-input" id="starValue" type="text">
                  <label class="form-label">Rating</label>
                  <ul class="review_star js-review">
                    <li class="is-current"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
              <div class="form-row">
                <div class="form-item">
                  <label class="form-label">Your comment</label>
                  <textarea class="form-input is-textarea" type="text"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="primary-btn is-submit">
                  <button type="submit">Submit review</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer class="m-footer">
        <div class="wrapper"><a class="footer_logo" href="#"><img src="./assets/images/common/footer_logo.svg" alt="G"></a>
          <div class="footer_content">
            <div class="footer_link">
              <div class="link_block">
                <h2 class="block_title">Warranty</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Privacy policy</a></li>
                  <li><a class="trans" href="#">Refund policy</a></li>
                  <li><a class="trans" href="#">Payment &amp; Pricing</a></li>
                  <li><a class="trans" href="#">Return &amp; Exchange Policy</a></li>
                  <li><a class="trans" href="#">Shipping &amp; Delivery</a></li>
                </ul>
              </div>
              <div class="link_block">
                <h2 class="block_title">Help &amp; support</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Reviews</a></li>
                  <li><a class="trans" href="#">FAQs</a></li>
                  <li><a class="trans" href="#">Color chart</a></li>
                  <li><a class="trans" href="#">Texture</a></li>
                </ul>
              </div>
              <div class="link_block">
                <h2 class="block_title">Company</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Home</a></li>
                  <li><a class="trans" href="#">Collections</a></li>
                  <li><a class="trans" href="#">Products</a></li>
                  <li><a class="trans" href="#">About us</a></li>
                  <li><a class="trans" href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_contact">
              <h2 class="block_title">CONTACT US</h2>
              <ul class="contact_list">
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_facebook.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_youtube.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_telephone.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_email.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_app.svg" alt=""></a></li>
              </ul>
              <p class="contact_text"><span>Address: </span>1073/23 Cách Mạng Tháng Tám, <br class="is-sp">phường 7, Quận Tân Bình, TP.HCM</p>
              <p class="contact_text"><span>Phone: </span>0123456789</p>
            </div>
            <div class="footer_copyright">
              <p class="copyright_text">© 2023 GREATEHAIR - All rights reserved.</p>
              <ul class="copyright_links">
                <li><a class="trans" href="#">Privacy Policy</a></li>
                <li><a class="trans" href="#">Terms of Use</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/js/library/jquery/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="./assets/js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/library/aos/aos.js"></script>
    <script src="./assets/js/library/select2/select2.min.js"></script>
    <script src="./assets/js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/js/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/js/library/infinitescroll/infiniteslidev2.min.js"></script>
    <script src="./assets/js/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/js/library/jquery-star-rating-master/jquery.star-rating.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="./assets/js/library/matchheight/jquery.matchHeight.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
  </body>
</html>