<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/js/library/aos/aos.css">
    <link rel="stylesheet" href="./assets/js/library/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/js/library/select2/select2.min.css">
    <link rel="stylesheet" href="./assets/js/library/gallery/lightgallery.min.css">
    <link rel="stylesheet" href="./assets/js/library/fancybox/fancybox.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
    <title>Template</title>
  </head>
  <body class="signin">
    <div class="container">
      <header class="m-header">
        <div class="m-header_top is-pc">
          <div class="wrapper">
            <div class="header_swiper">
              <div class="js-header-swiper swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now!</p>
                  </div>
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now! 2</p>
                  </div>
                  <div class="swiper-slide">
                    <p>Join the crowd and grab our fantastic products now! 3</p>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
        <div class="m-header_main"> 
          <div class="wrapper">
            <div class="header_logo"><a class="trans" href="./"><img src="./assets/images/common/header_logo.svg" alt="G"></a></div>
            <div class="header_control is-sp"><a class="header_user trans" href="#"><img src="./assets/images/common/ico_user.svg" alt=""></a><a class="header_cart trans" href="#js-modal-cart" rel="modal:open"><img src="./assets/images/common/ico_cart.svg" alt=""></a></div>
            <div class="btn-menu js-btn-menu is-sp"> <span></span><span></span><span></span></div>
            <nav class="header_navbar js-menu">
              <ul class="list_navbar" id="menu-menu-main">
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"><a class="menu-link trans" href="#">HAIR EXTENSIONS</a><span class="js-acorrdion-menu icon-menu"><span></span></span>
                  <div class="m-menu_list header_menu js-sub-menu">
                    <div class="icon-back is-sp js-btn-back"></div>
                    <div class="m-header_service">
                      <div class="wrapper">
                        <ul class="font-helvetica">
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_shipping.svg" alt=""></div>
                            <p>Fast shipping</p>
                          </li>
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_quality.svg" alt=""></div>
                            <p>Superior Quality</p>
                          </li>
                          <li>
                            <div class="service_icon"><img src="./assets/images/common/ico_secure.svg" alt=""></div>
                            <p>Secure Shopping</p>
                          </li>
                          <li>
                            <p>Exclusive Customization Service</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="menu_inner wrapper">
                      <div class="menu_detail">
                        <h2 class="detail_title">Professional</h2>
                        <ul class="detail_list">
                          <li><a class="trans" href="#">Keratin hair extenions</a></li>
                          <li><a class="trans" href="#">Tape in hair extensions</a></li>
                          <li><a class="trans" href="#">Weft hair extensions</a></li>
                          <li><a class="trans" href="#">Bulk hair</a></li>
                        </ul>
                      </div>
                      <div class="menu_detail">
                        <h2 class="detail_title">Ready to wear</h2>
                        <ul class="detail_list">
                          <li><a class="trans" href="#">Clip in</a></li>
                          <li><a class="trans" href="#">Halo</a></li>
                          <li><a class="trans" href="#">Pony tail</a></li>
                        </ul>
                      </div>
                      <div class="menu_description">
                        <div class="description_image"><img src="./assets/images/common/header_img.jpg" alt="Luxury hair extensions"></div>
                        <div class="description_content">
                          <h2 class="detail_title">Luxury hair extensions</h2>
                          <ul class="detail_list">
                            <li><a class="trans" href="#">Silky, stranger and healthier hair</a></li>
                            <li><a class="trans" href="#">Make from 1 donor</a></li>
                            <li><a class="trans" href="#">Advanced hair bleach</a></li>
                            <li><a class="trans" href="#">Last longevity</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">WHOLESALE</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">ACCESSORIES</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">BLOG</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">ABOUT US</a></li>
                <li class="m-menu_item menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link trans" href="#">CONTACT</a></li>
              </ul>
              <div class="header_control is-sp"><span class="header_search">
                  <form class="header_search_form" action="">
                    <input class="search_input" type="text" placeholder="Search">
                    <input class="btn-submit is-sp trans" type="submit" value="Search">
                  </form></span></div>
            </nav>
            <div class="header_control is-pc"><span class="header_search js-header-search"><img class="trans" src="./assets/images/common/ico_search.svg" alt="">
                <form class="header_search_form" action="">
                  <input class="search_input" type="text" placeholder="Search">
                  <input class="btn-submit" type="submit" value="">
                </form></span><a class="header_user trans" href="#"><img src="./assets/images/common/ico_user.svg" alt=""></a><a class="header_cart trans" href="#js-modal-cart" rel="modal:open"><img src="./assets/images/common/ico_cart.svg" alt=""></a></div>
          </div>
        </div>
      </header>
      <div class="m-header_service is-pc">
        <div class="wrapper">
          <ul class="font-helvetica">
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_shipping.svg" alt=""></div>
              <p>Fast shipping</p>
            </li>
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_quality.svg" alt=""></div>
              <p>Superior Quality</p>
            </li>
            <li>
              <div class="service_icon"><img src="./assets/images/common/ico_secure.svg" alt=""></div>
              <p>Secure Shopping</p>
            </li>
            <li>
              <p>Exclusive Customization Service</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal modal-cart" id="js-modal-cart">
        <div class="cart_inner">
          <h2 class="cart_title">MY SHOPPING BAG <span>( 2 )</span></h2>
          <div class="view_cart-products-unit">
            <table class="products-cart">
              <tr class="item">
                <td>
                  <div class="product-detail">
                    <div class="product-detail-img"><img src="/assets/images/product.png" alt=""></div>
                    <div class="product-detail-content">
                      <div class="d-flex">
                        <p>Invisi Clip - in 22” Espresso 1C</p>
                        <div class="product-delete">
                          <button type="button"><img src="/assets/images/viewcart/btn-trash.svg" alt=""></button>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="product-calculate">
                          <div class="product-quantity">
                            <div class="product-quantity-minus">
                              <button class="minus-btn" type="button"></button>
                            </div>
                            <div class="product-quantity-number">
                              <input class="input-update-count" type="text" value="1">
                            </div>
                            <div class="product-quantity-plus">
                              <button class="plus-btn" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-price">
                          <div class="price">$ 40.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="item">
                <td>
                  <div class="product-detail">
                    <div class="product-detail-img"><img src="/assets/images/product.png" alt=""></div>
                    <div class="product-detail-content">
                      <div class="d-flex">
                        <p>Invisi Clip - in 22” Espresso 1C</p>
                        <div class="product-delete">
                          <button type="button"><img src="/assets/images/viewcart/btn-trash.svg" alt=""></button>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="product-calculate">
                          <div class="product-quantity">
                            <div class="product-quantity-minus">
                              <button class="minus-btn" type="button"></button>
                            </div>
                            <div class="product-quantity-number">
                              <input class="input-update-count" type="text" value="1">
                            </div>
                            <div class="product-quantity-plus">
                              <button class="plus-btn" type="button"></button>
                            </div>
                          </div>
                        </div>
                        <div class="product-price">
                          <div class="price">$ 40.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="price_total">
            <p>SUBTOTAL</p>
            <p>$ 80.00</p>
          </div>
          <div class="modal_footer"><a class="footer_btn is-light" href="#">VIEW CART</a><a class="footer_btn" href="#">CHECK OUT</a></div>
        </div>
      </div>
      <main class="main">
        <section class="signin wrapper">
          <form class="signin_form">
            <div class="signin_form-title">
              <div class="signin_form-title-style">SIGN IN</div>
            </div>
            <div class="signin_form-field">
              <div class="signin_form-field-item">
                <div class="title-input">
                  <div class="title-input-style">Account</div>
                </div>
                <div class="data-input">
                  <div class="primary-input">
                    <input type="text" placeholder="Email or number">
                  </div>
                </div>
              </div>
              <div class="signin_form-field-item">
                <div class="title-input">
                  <div class="title-input-style">Password</div>
                </div>
                <div class="data-input">
                  <div class="primary-input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="signin_form-field-item">
                <div class="title-input">
                  <div class="title-input-style">Re-enter the password</div>
                </div>
                <div class="data-input">
                  <div class="primary-input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
              </div>
            </div>
            <div class="signin_form-submit">
              <div class="signin_form-submit-box">
                <div class="primary-btn">
                  <button type="submit">SIGN IN</button>
                </div>
                <div class="forgot-password"><a href="#">Forgot password?</a></div>
                <div class="linkto-login">
                  <p>Already have an account?<a href="#">Log in</a></p>
                </div>
              </div>
            </div>
          </form>
          <div class="signin_image"><img src="assets/images/signin/model_img.jpg" alt="model"></div>
        </section>
      </main>
      <footer class="m-footer">
        <div class="wrapper"><a class="footer_logo" href="#"><img src="./assets/images/common/footer_logo.svg" alt="G"></a>
          <div class="footer_content">
            <div class="footer_link">
              <div class="link_block">
                <h2 class="block_title">Warranty</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Privacy policy</a></li>
                  <li><a class="trans" href="#">Refund policy</a></li>
                  <li><a class="trans" href="#">Payment &amp; Pricing</a></li>
                  <li><a class="trans" href="#">Return &amp; Exchange Policy</a></li>
                  <li><a class="trans" href="#">Shipping &amp; Delivery</a></li>
                </ul>
              </div>
              <div class="link_block">
                <h2 class="block_title">Help &amp; support</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Reviews</a></li>
                  <li><a class="trans" href="#">FAQs</a></li>
                  <li><a class="trans" href="#">Color chart</a></li>
                  <li><a class="trans" href="#">Texture</a></li>
                </ul>
              </div>
              <div class="link_block">
                <h2 class="block_title">Company</h2>
                <ul class="block_list">
                  <li><a class="trans" href="#">Home</a></li>
                  <li><a class="trans" href="#">Collections</a></li>
                  <li><a class="trans" href="#">Products</a></li>
                  <li><a class="trans" href="#">About us</a></li>
                  <li><a class="trans" href="#">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_contact">
              <h2 class="block_title">CONTACT US</h2>
              <ul class="contact_list">
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_facebook.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_youtube.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_telephone.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_email.svg" alt=""></a></li>
                <li><a class="trans" href="#"><img src="./assets/images/common/ico_app.svg" alt=""></a></li>
              </ul>
              <p class="contact_text"><span>Address: </span>1073/23 Cách Mạng Tháng Tám, <br class="is-sp">phường 7, Quận Tân Bình, TP.HCM</p>
              <p class="contact_text"><span>Phone: </span>0123456789</p>
            </div>
            <div class="footer_copyright">
              <p class="copyright_text">© 2023 GREATEHAIR - All rights reserved.</p>
              <ul class="copyright_links">
                <li><a class="trans" href="#">Privacy Policy</a></li>
                <li><a class="trans" href="#">Terms of Use</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="./assets/js/library/jquery/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="./assets/js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/library/aos/aos.js"></script>
    <script src="./assets/js/library/select2/select2.min.js"></script>
    <script src="./assets/js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/js/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/js/library/infinitescroll/infiniteslidev2.min.js"></script>
    <script src="./assets/js/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/js/library/jquery-star-rating-master/jquery.star-rating.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="./assets/js/library/matchheight/jquery.matchHeight.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
  </body>
</html>