.breadcrumbs {
    overflow: hidden;
    width: 100%;



    &-wrap {
        // padding: var(--rowContent24) 0;
    }

    &-list {
        @include flex;
        align-items: center;
        column-gap: 1rem;
        // padding: 2.4rem 0;

        .separator {
            display: none !important;
        }



    }

    &-item {
        position: relative;
        // padding: 0 1rem;
        height: 2.4rem;
        @include mid-flex;



        &.current-item {
            a {
                color: $color-pri !important;
                pointer-events: none;
                // text-transform: uppercase;
                font-weight: 600;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;

                display: -webkit-box;
            }
        }

        &:last-child {
            padding: 0 0.05rem;
        }

        &:not(:last-child) {
            &::before {
                content: "/";
                color: $color-text;
                top: 55%;
                transform: translateY(-50%);
                position: absolute;
                background-repeat: no-repeat;

                right: -0.8rem;




            }


        }

        .last {
            @include fz-18;
            line-height: 1.5;
            color: $color-white;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            letter-spacing: 0.005em;
            font-weight: 500;
        }

        a {
            @include fz-18;
            line-height: 1.5;
            color: $color-text;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: 500;
            letter-spacing: 0.005em;
            // font-family: var(--font-sec) !important;

            // max-width: 9rem;

            @include hover {
                color: $color-pri;
            }

            img {
                width: 1.4rem;
            }

          

            @include max(600px) {
                font-size: 1.2rem;
            }
        }

        &.active {
            a {
                opacity: 1;

                @include min(1201px) {
                    &:hover {
                        color: $color-black;
                    }
                }
            }
        }

        &:not(:last-child) {
            a {
                width: max-content;
            }
        }
    }

    &.pd-t {
        padding-top: 1.5rem;
    }

    &.other {
        padding: var(--rowContent24) 0;
        // background-color: $color-pri;
        width: 100%;

        &.ab {
            position: absolute;
            top: calc(var(--size-hd) + 1.2rem);
        }

        // height: 100%;
        a {
            font-weight: 600;
            @include fz-14;
            line-height: 1.5;

            color: $color-gray2;

            @include hover {
                color: $color-pri !important;
            }
        }

        span {
            color: white;
        }

        .breadcrumbs-list {
            position: relative;
            height: 100%;
            padding: 0;
            justify-content: start;
            // padding-bottom: 1.6rem;

            // &::before {
            //     position: absolute;
            //     content: "";
            //     width: 100vw;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     border-bottom: 0.1rem solid #d1d8dc;
            // }
        }

        .breadcrumbs-item {

            a {
                color: $color-text;
                @include fz-14;
                font-weight: 700;
            }

            &:not(:last-child) {
                &::before {
                    color: $color-text;
                }
            }

            .last {
                font-weight: 500;
                color: $color-text;
            }

            &.current-item {
                a {
                    color: $color-gray !important;
                    pointer-events: none;
                    font-weight: 400;

                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }

    &Sec.section {
        padding-top: var(--pdGen);
        overflow: hidden;
    }
}

.box-breadcrumbs {
    padding-top: var(--rowContent16);
    padding-bottom: var(--rowContent16);
    background: #F3F6FA;
    margin-bottom: var(--size-pd);

    @include max(1200px){
        margin-bottom: 0;
        padding-top: var(--rowContent24);
        padding-bottom: var(--rowContent24);
    }

    &.cus{

    }

    &-wrap {
        

    }

   
}

.breadcrumbs-inside {
    position: relative;

    .breadcrumbs {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .breadcrumbs.other .breadcrumbs-list::before {
        display: none;
    }
}

.breadcrumbs-white {
    .breadcrumbs.other a {
        color: white;

        @include hover {
            color: $color-third;
        }
    }

    .breadcrumbs-item:not(:last-child)::before {
        filter: brightness(0) invert(1);
    }
}